- id_name = "assessment[job_assessment_factor_norms_attributes][#{index}][id]"
- destroy_name = "assessment[job_assessment_factor_norms_attributes][#{index}][_destroy]"
- factor_name = "assessment[job_assessment_factor_norms_attributes][#{index}][factor_id]"
- fa_name = "assessment[job_assessment_factor_norms_attributes][#{index}][functional_area_id]"
- industry_name = "assessment[job_assessment_factor_norms_attributes][#{index}][industry_id]"
- exp_name = "assessment[job_assessment_factor_norms_attributes][#{index}][job_experience_id]"
- norm_min_name = "assessment[job_assessment_factor_norms_attributes][#{index}][from_norm_bucket_id]"
- norm_max_name = "assessment[job_assessment_factor_norms_attributes][#{index}][to_norm_bucket_id]"
- check_name = "assessment[job_assessment_factor_norms_attributes][#{index}][_destroy]"
- critical_checkbox_name = "checkbox_critical"
- critical_field = "assessment[job_assessment_factor_norms_attributes][#{index}][critical]"

%li{ :id => "li_#{index}", class: "item #{assessment_factor_norm.id.present? ? 'checked':''}" }
  //please toggle .checked class, add .checked when checkbox=checked, Otherwise remove it
  - if assessment_factor_norm.norm_min.to_f.zero? && assessment_factor_norm.id.nil?
    - if assessment_factor_norm.id.present?
      %input{name: (id_name), type: 'hidden', value: assessment_factor_norm.id, index: (index), disabled: 'disabled'}
    %input{name: (destroy_name), id: "destroy_#{index}", type: 'hidden', value: 0, disabled: 'disabled', index: (index)}  
    %input{name: (fa_name), type: 'hidden', value: assessment_factor_norm.functional_area_id, disabled: 'disabled', index: (index)}
    %input{name: (industry_name), type: 'hidden', value: assessment_factor_norm.industry_id, disabled: 'disabled', index: (index)}
    %input{name: (exp_name), type: 'hidden', value: assessment_factor_norm.job_experience_id, disabled: 'disabled', index: (index)}
    %input{name: (factor_name), type: 'hidden', value: assessment_factor_norm.factor_id, disabled: 'disabled', index: (index)}
    .pull-left 
      %input{name: "selected_factor", disabled: true, type: 'checkbox', id: "checkbox_factor_#{index}", index: (index), checked: assessment_factor_norm.id.present?}
    .pull-left
      %label{ for: "checkbox_factor_#{index}" }
        %b= assessment_factor_norm.factor.name
  - else
    - if assessment_factor_norm.id.present?
      %input{name: (id_name), type: 'hidden', value: assessment_factor_norm.id, index: (index)}
    %input{name: (destroy_name), id: "destroy_#{index}", type: 'hidden', value: 0, index: (index)}  
    %input{name: (fa_name), type: 'hidden', value: assessment_factor_norm.functional_area_id, index: (index)}
    %input{name: (industry_name), type: 'hidden', value: assessment_factor_norm.industry_id, index: (index)}
    %input{name: (exp_name), type: 'hidden', value: assessment_factor_norm.job_experience_id, index: (index)}
    %input{name: (factor_name), type: 'hidden', value: assessment_factor_norm.factor_id, index: (index)}
    .pull-left 
      %input{name: "selected_factor", disabled: true, type: 'checkbox', id: "checkbox_factor_#{index}", index: (index), checked: assessment_factor_norm.id.present?}
    .pull-left
      %label{ for: "checkbox_factor_#{index}" }
        %b= assessment_factor_norm.factor.name
  .clr
  .divider1
  %p= assessment_factor_norm.factor.definition

