= form_for assessment, :as => :assessment, :url => url, multipart: true, method: method, html: { class: "creat-test-form" } do |f|
  = f.hidden_field :assessable_type, value: assessment.assessable_type
  = f.hidden_field :assessable_id, value: assessment.assessable_id
  = f.hidden_field :company_id, value: assessment.company_id
  = f.text_field :name, :placeholder => "Test Title (For example, \"Sales Manager for Oil Engine Business Unit\")"
  .divider1
  .control
    %label 
      Industry
    %select.span8{name: 'assessment[industry_id]', id: 'select_industry'}
      %option{:value => ""}
        Select Industry
      - @industries.each do |id,industry|
        %option{:value => (industry.id), selected: (assessment.industry_id.to_s == industry.id.to_s || @company.industry_id.to_s == id.to_s)}
          = industry.name

    .clr
  .control.left-offset1
    %label 
      Functional Area
    %select.span8{name: 'assessment[functional_area_id]', id: 'select_functional_area'}
      %option{:value => ""}
        Select Functional Area
      - @functional_areas.each do |id,functional_area|
        %option{:value => (functional_area.id), selected: (assessment.functional_area_id.to_s == id.to_s)}
          = functional_area.name
    .clr
  
  .control.left-offset1
    %label 
      Experience
    %select.span4{name: 'assessment[job_experience_id]', id: 'select_job_experience'}
      %option{:value => ""}
        Select Job Experience
      - @job_experiences.each do |id,job_experience|
        %option{:value => (job_experience.id), selected: (assessment.job_experience_id.to_s == id.to_s)}
          = job_experience.display_text      
    .clr
  .clr
  .divider2
  .action
    %input.button.pull-right.btn.btn-info{ type: "submit", value: "Proceed", name: "fit" }
    %input.button.pull-right.btn.btn-info{ type: "submit", value: "Proceed with Competency Framework", name: "competency", style: "margin-right:10px;" }
    .clr
