%div
  .inn.first
    .page-title.pull-left
      Benchmarks
    .pagination.pull-right
      = paginate @assessments  
  .inn.gray-gradient
    - if @assessments.empty?
      .medium-text.alert.pull-left
        No Benchmarks have been created. To create a Benchmark, 
        %a{:href => new_company_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create New Benchmark"} click here.
    - else
      .pull-left.line-height2.extra-medium-text
        You may send an existing Benchmark from the list below:
    - if can?(:create, "Suitability::CustomAssessment")    
      %a.btn.btn-info.pull-right{:href => new_company_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create New Benchmark"} 
        Create New Benchmark
    .clr
    .divider1
    - if @assessments.present?    
      .list-snippet-titles.clearfix
        .span3.first
          Benchmark ID
        .span7
          Benchmark Title 
        .span3
          Sent
        .span3
          Completed
        .span  
          Send Benchmark          
      %ul.unstyled
        - @assessments.each do |assessment|
          %li.list-snippet
            .span3
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id), :title =>  assessment.name} TEST #{assessment.id}
            .span7.first
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id), :title => assessment.name}  
                = assessment.name
            .span3.lhs-border
              - sent_count = @company.assessmentwise_statistics[:sent][assessment.id.to_s] rescue 0
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id, :search => { :status => "" }), :title=> "#{sent_count}"}  #{sent_count}
            .span3.lhs-border
              - completed_count = @company.assessmentwise_statistics[:completed][assessment.id.to_s] rescue 0
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id, :search => { :status => "scored" }), :title=>"#{completed_count}"}  #{completed_count}
            .span.lhs-border
              %a.underlined{:href => add_candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id), :title => "Send This Test"}
                Send Benchmark to more candidates  
    //.divider1         
    //%a.btn.btn-info.pull-right{:href => new_company_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create New Test"} 
    //  Create New Test
    //.clr
  .inn
    .pagination.pull-right
      = paginate @assessments
