.create-test.creat-test-show
  .inn.first
    .page-title.pull-left
      Test #{@assessment.id} - #{@assessment.name}
    %a.btn.pull-right{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
      .link-color Send This Test
  .clr
  .inn.gray-gradient
    .pull-left
      = render :partial => "shared/candidate-content-sub-nav"
    .pagination.pull-right
      = paginate @candidates
    .clr
    .divider2
    - if @candidates.empty?
      .medium-text.alert
        Test not sent to any candidate. To send this test, 
        %a{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), title: "Send test" } Click here
    - else    
      .list-snippet-titles.clearfix
        .span2
          = sort_link "ID", candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :id
        .span10
          = sort_link "Candidate Name", candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :name
        .span6
          = sort_link "Test Status", candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :status
        .span
          //Action
      %ul.unstyled
        - @candidates.each do |candidate|
          - candidate_assessment = @candidate_assessments.select{|x| x.candidate_id == candidate.id }.first
          - status = "Pending"
          - if candidate_assessment && candidate_assessment.overall_fitment_grade_id.present?
            - report = candidate_assessment.candidate_assessment_reports[0] 
            - status = "Complete" if report.status == "uploaded"
          %li.list-snippet
            .span2
              %a.default-color{:href=> candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=>"JOM#{candidate.id}"} JOM#{candidate.id}
            .span10.first.lhs-border
              %a.default-color{:href=> candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=>"Candidate1 Name"} 
                = h candidate.name
            .span6.lhs-border
              %a.default-color{:href=> candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=> "#{candidate_assessment.overall_fitment_grade_id.present? ? 'Complete' : 'Pending'}" }  
                = status
            .span.lhs-border
              - if report
                - if report.status == "uploaded"
                  - url =  company_assessment_candidate_candidate_assessment_report_url(:company_id => params[:company_id], :candidate_id => candidate.id, :assessment_id => @assessment.id, :id => report.id)
                  %a.underlined{:href => url, :title => "View Report", target: "_blank"}
                    View Report
                - else
                  Generating report...  
              - else    
                %a.underlined{:href => send_reminder_to_candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title => "Send Reminder"}
                  Send Reminder
  .inn
    .pagination.pull-right
      = paginate @candidates
      .clr
