.create-test.creat-test-show
  .inn.first
    .page-title
      Test #{@assessment.id} - #{@assessment.name}
  .inn
    .pull-left
      = render :partial => "shared/candidate-summary-nav"
    .clr
    .divider2

    .candidate-details
      %b Name: 
      #{@candidate.name}
      .divider1
      %ul.unstyled.clearfix
        %li
          %b Email id:
          #{@candidate.email}
        %li
          %b Current Company Name:
          #{@candidate.current_company || "-"}
        %li
          %b Contact no.:
          #{@candidate.mobile || "-"}
        %li
          %b Industry:
          #{@candidate.industry.name rescue '-'}
        %li
          %b Current Location:
          #{@candidate.location.name rescue '-'}
        %li
          %b Current Functional area:
          #{@candidate.functional_area.name rescue '-'}
        %li
          %b Age:
          #{@candidate.birth_date.present? ? (Time.now.year - Date.parse(@candidate.birth_date).year) : "-"}
        %li
          %b Experience in Current Company:
          #{@candidate.current_company_experience || '-'}
        %li
          %b Gender:
          = raw(t "gender.#{@candidate.gender || '-'}")
        %li
          %b Total Work Experience:
          #{@candidate.total_experience.present? ? "#{@candidate.total_experience} Years" : "-"} 
        %li
          %b Marital Status:
          = raw(t "marital_status.#{@candidate.marital_status || '-'}")
        %li
          %b Current CTC:
          #{@candidate.current_ctc.present? ? "#{@candidate.current_ctc} Lakhs" : "-"} 
        %li
          %b Degree with Specialization:
          TODO
        %li
          %b Number of Dependants:
          #{@candidate.no_of_dependents || '-'}
    .divider3
    .candidate-report
      .large-text
        Reports
      .divider2
      .list-snippet-titles.clearfix
        .span13.first
          Test ID &amp; Name
        .span8
          Recommendation
        
      %ul.unstyled
        - @candidate_assessments.each do |candidate_assessment|
          %li.list-snippet
            .span13
              %a.default-color{:href=> company_assessment_path(:id => candidate_assessment.assessment.id, :company_id => @company.id), :title=>"TEST043"} 
                #{@company.name}#{candidate_assessment.assessment.id} - #{candidate_assessment.assessment.name}
            .span5.first.lhs-border
              = Vger::Resources::Suitability::Recommendation.where(:query_options => { :overall_fitment_grade_id => candidate_assessment.overall_fitment_grade_id, :candidate_stage => candidate_assessment.candidate_stage }).all[0].body rescue '-' 
            .span3.lhs-border
              %a.default-color{:href=> page1_assessment_report_company_assessment_path(:id => params[:id], :company_id => params[:company_id], :page => 1, :candidate_id => candidate_assessment.candidate_id), :title=>"Click here to View Report"}  
                View Report
