.create-test.norms
  .inn.first
    .page-title
      %b Test Title:
      #{@assessment.name}      
  .inn.gray-gradient
    = render :partial => "shared/test-flow-sub-nav"
    .divider1
    .description-section.medium-text.clearfix
      .divider1
      .span.first
        %b Industry:
      .span4
        #{@assessment.industry.name rescue '-'}
      .span.left-offset1
        %b Functional Area:
      .span4
        #{@assessment.functional_area.name rescue '-'}
      .span.left-offset1
        %b Experience in Years:
      .span3
        #{@assessment.job_experience.display_text rescue '-'}
      .clr
      .divider1
      .span3.first
        %b Competencies Selected:
      .span19
        = @competencies.map(&:name).join(", ")
      .clr
    .clr
    .divider1
    = form_for @assessment, :as => :assessment, :url => competency_norms_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
      %input{type: 'hidden', name: 'assessment[industry_id]', value: @assessment.industry_id}
      %input{type: 'hidden', name: 'assessment[functional_area_id]', value: @assessment.functional_area_id}
      %input{type: 'hidden', name: 'assessment[job_experience_id]', value: @assessment.job_experience_id}
      .alert.alert-info
        Please select the qualifying ranges for the behavioral factors under the selected competencies
      .factors
        .titles.clearfix
          .span15.first.medium-text
            Factors
          .pull-left.medium-text
            .span7.first.text-center
              Qualifying ranges
            / /.span2
            / /  Critical
        .divider1
        %ul.unstyled.factor-snippet
          - aindex = 0
          - @factor_norms_by_competency.each do |competency,norms|
            - norms[:factors].each_with_index do |assessment_factor_norm,index|
              - aindex = aindex + 1
              = render :partial => 'assessment_competency_norm_fields', :locals => { :assessment_factor_norm => assessment_factor_norm, :index => aindex }
            - norms[:alarm_factors].each_with_index do |assessment_factor_norm,index|
              - aindex = aindex + 1
              = render :partial => 'assessment_alarm_competency_norm_fields', :locals => { :assessment_factor_norm => assessment_factor_norm, :index => aindex }    
      .divider2
      .pull-right
        %a.padding-right1.underlined.medium-text{:href=> competencies_company_assessment_path(:company_id => @company.id, :id => params[:id]), :title=>"Back"} 
          Back
        %button.btn.btn-info
          Proceed
        .clr
        .divider1
