- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.create-test.norms
  .inn.first
    .page-title 
      %b Tests
  .inn.gray-gradient
    = render :partial => "shared/test-flow-sub-nav"
    .divider1
    .description-section.medium-text.clearfix
      .span.first
        %b Test Title: 
      .span18
        #{@assessment.name}
      .clr
      .divider1
      .span.first
        %b Industry:  
      .span4
        #{@assessment.industry.name rescue '-'}
      .span.left-offset1
        %b Functional Area: 
      .span4
        #{@assessment.functional_area.name rescue '-'}
      .span.left-offset1
        %b Experience in Years: 
      .span2
        #{@assessment.job_experience.display_text rescue '-'}
    .clr
    = form_for @assessment, :as => :assessment, :url => competencies_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
      .action
        .pull-left
          %b.large-text Select the Competencies you would like to measure:
        %button.pull-right.btn.btn-info
          Proceed
        .clearfix
      
      .medium-text
        %b Custom Competencies
      - if !@local_competencies.present? 
        No custom competencies present for the company
      - else
        .test-competency-list
          .global_selector
            %input{:type=>"checkbox", checked: ((@local_competencies.map(&:id) - @assessment.competency_ids).size == 0), id: "check_all_local"}
            %label{ for: "check_all_local" }
              Select All
          .test-competency-list-container
            %ul
              - @local_competencies.each do |competency|
                %li
                  %input{:type=>"checkbox", checked: @assessment.competency_ids.include?(competency.id), name: "assessment[competencies][]", value: competency.id, class: "local_competency", :id=>"competency_#{competency.id}"}
                  %label{:for=>"competency_#{competency.id}"}
                    %b
                    = competency.name
                    %br
                  .factors{ style: "padding-left:32px;" }
                    %b
                      Factors: 
                    = competency.factors.collect{|factor| factor[:factor][:name] }.join(", ")
            .clr
      .medium-text
        %b Standard Competencies
      - if !@global_competencies.present? 
        No standard competencies present
      - else 
        .test-competency-list
          .global_selector
            %input{:type=>"checkbox", checked: ((@global_competencies.map(&:id) - @assessment.competency_ids).size == 0), id: "check_all_global"}
            %label{:for => "check_all_global"}
              Select All
          .test-competency-list-container.last
            %ul
              - @global_competencies.each do |competency|
                %li
                  %input{:type=>"checkbox", checked: @assessment.competency_ids.include?(competency.id), name: "assessment[competencies][]", value: competency.id, class: "global_competency", :id=>"competency_#{competency.id}"}
                  %label{:for=>"competency_#{competency.id}"}
                    %b
                      = competency.name
                  %br
                  .factors{ style: "padding-left:32px;" }
                    %b
                      Factors: 
                    = competency.factors.collect{|factor| factor[:factor][:name] }.join(", ")
            .clr
      %button.pull-right.btn.btn-info
        Proceed
= javascript_include_tag 'competencies'

