%div
  .inn.first
    .page-title.pull-left
      Tests
    .pagination.pull-right
      = paginate @assessments  
  .inn.gray-gradient
    - if @assessments.empty?
      .medium-text.alert.pull-left
        No tests have been created. To create a test, 
        %a{:href => new_company_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create New Test"} click here.
    - else
      .pull-left.line-height2.extra-medium-text
        You may send an existing test from the list below:
    - if can?(:create, "Suitability::Assessment")    
      %a.btn.btn-info.pull-right{:href => new_company_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create New Test"} 
        Create New Test
    .clr
    .divider1
    - if @assessments.present?    
      .list-snippet-titles.clearfix
        .span2
          Test ID
        .span8
          Test Title 
        .span4
          Tests Sent
        .span4
          Tests Taken
        .span            
      %ul.unstyled
        - @assessments.each do |assessment|
          %li.list-snippet
            .span2
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id), :title =>  assessment.name} TEST #{assessment.id}
            .span8.first.lhs-border
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id), :title => assessment.name}  
                = assessment.name
            .span4.lhs-border
              - sent_count = @company.assessmentwise_statistics[:sent][assessment.id.to_s] rescue 0
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id, :search => { :status => "" }), :title=> "#{sent_count}"}  #{sent_count}
            .span4.lhs-border
              - completed_count = @company.assessmentwise_statistics[:completed][assessment.id.to_s] rescue 0
              %a.default-color{:href=> candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id, :search => { :status => "scored" }), :title=>"#{completed_count}"}  #{completed_count}
            .span.lhs-border
              %a.underlined{:href => add_candidates_company_assessment_path(:company_id => params[:company_id], :id => assessment.id), :title => "Send This Test"}
                Send This Test   
    //.divider1         
    //%a.btn.btn-info.pull-right{:href => new_company_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create New Test"} 
    //  Create New Test
    //.clr
  .inn
    .pagination.pull-right
      = paginate @assessments
