.creat-test-show
  .span15.page-title.first
    .divider1
    AID  #{@assessment.id} - #{@assessment.name}
  %a.btn.btn-warning.pull-right.big-text.big.span{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
    Send this Assessment
  - if current_user.type == "SuperAdmin"  
    %a.extra-medium-text.pull-right.line-height3{ :href=>home_company_path(@company), :title => "View Ready-to-Send Assessments" }
      View Ready-to-Send Assessments
  .clr
  .divider2
  = render :partial => "shared/candidate-content-sub-nav"
  .clr
  .padding-all2.border-warning.shifted-up1
    
    / .filter-status.pull-right
    /   = form_for :search, url: candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), method: :get do |f|
    /     - params[:search] ||= {}
    /     .medium-text.muted.line-height2.pull-left Show Assessment takers with Status
    /     %select.span3{name: "search[status]"}
    /       - test_statuses.each do |status,name|  
    /         %option{ value: status, selected: (params[:search][:status] == status) }
    /           = name
    /     .clr
    / .clr
    /.divider2
    .list-snippet-titles.big-text.clearfix
      .span3.first
        %a{:href => "#", :title => ""}
          ATID 
          %i.icon-chevron-down.small-text.line-height1 
      .span8
        %a{:href => "#", :title => ""}
          Assessment Taker 
          %i.icon-chevron-down.small-text.line-height1 
      .span10
        %a{:href => "#", :title => ""}
          Assessment Status 
          %i.icon-chevron-down.small-text.line-height1 
        
      .clr
      .divider1
    %ul.unstyled
      -@candidate_assessments.each do |candidate_assessment|
        %li.list-snippet
          .divider1
            - candidate_profile_url =  candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate_assessment.candidate_id)

          .span3.first
            %a.default-color{:href=> candidate_profile_url, :title => candidate_assessment.id} 
              = candidate_assessment.id 
          .span8            
            %a.default-color{:href=> candidate_profile_url } 
              = candidate_assessment.candidate.name
          .span10
            %a.default-color{:href=> candidate_profile_url, :title => candidate_assessment.completed_at}
              Completed as of
              #{htime(candidate_assessment.completed_at)} Hrs,

              #{hdate(candidate_assessment.completed_at)}
          .span
            - report = candidate_assessment.candidate_assessment_reports.first
            - url =  company_assessment_candidate_candidate_assessment_report_url(:company_id => params[:company_id], :candidate_id => candidate_assessment.candidate_id, :assessment_id => @assessment.id, :id => report.id, :view_mode => "html")
            %a{:href => url, :title => "View Report", target: "_blank"}
              %i.icon-file              
              View Report
          .clr
    .divider2
    .pull-right
      - if (@candidate_assessments.present?)
        .muted.extra-medium-text
          .span.line-height2
            Go to Page
          %select.span2{onchange:"location = this.options[this.selectedIndex].value;"}
            - @candidate_assessments.total_pages.times do |page|
              %option{selected: params[:page].to_i == (page + 1),value:reports_company_assessment_path(@company, @assessment, :page => page + 1), }
                = page + 1
          .clr
    .clr
  / .inn
  /   .pagination.pull-right
  /     = paginate @candidates
  /     .clr
