= form_for @assessment, :as => :assessment, :url => send_test_to_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
  %input{ type:'hidden', name: 'candidate_stage', value: params[:candidate_stage] } 
  %input{:type => "hidden", name: "candidate_ids", value: @candidates.map(&:id).join(",") }
  .create-test.send-test-to-candidate
    .inn.first
      .page-title Test - #{@assessment.name}
      
    .inn
      = render :partial => "shared/test-flow-sub-nav"
      .divider1
      .medium-text
        %b Test will be sent to the following candidates: (Please uncheck the candidates you don't wish to send the test to)
      %ul.unstyled.clearfix.candidate-list-to-send
        - @candidates.each do |candidate|
          %li
            %label
              %input{:type => "checkbox", name: "candidates[#{candidate.id}]", checked: true}
              %input{:type => "hidden", name: "candidate_names[#{candidate.email}][name]", value: params[:candidate_names][candidate.email][:name]}
              #{params[:candidate_names][candidate.email][:name]} &lt;#{candidate.email}&gt;
      .divider2
      .test-text-to-send
        .title
          Test Title
        .massage-body.subject
          = @assessment.name
        .title
          Subject
        .massage-body.subject
          #{@company.name} - #{@assessment.name}
        .title
          Message
        .massage-body.massage
          %p 
            Hello &lt;Candidate Name&gt;,
          %p 
            %b #{@company.name} 
            has arranged for you to complete a Jombay Suitability Questionaire.
          %p 
            To proceed, please click the weblink listed below or visit it by copy-pasting the URL into your web browser's address bar.
          %p 
            %b
              URL: &lt;candidate specific url&gt;
          %p
            If you face any technical difficulties or have any queries please feel free to reach us at 
            %a{:href=>"mailto:prakhar@jombay.com", :title=>"For any queries Mail to Prakhar"} 
              prakhar@jombay.com. 
            %br  
            You can also call us at 
            %b+91 87960 29607
          %p 
            Best Regards
            %br/
            Prakhar Srivastava,
            %br/
            Jombay
      .pull-right
        %a.span.line-height2{:href=> add_candidates_company_assessment_path(:company_id => params[:company_id], :id => @assessment.id), :title => "cancel"}
          Cancel
        %button.btn.btn-info.span
          Send
      .clr

