.create-test.send-reminder
  .inn.first
    .page-title Send Reminder
  .inn
    .test-text-to-send
      .title
        To,
      .massage-body.test-title
        = @candidate.name
      .title
        Subject
      .massage-body.subject
        "Company Name" - "#{@company.name}"
      .title
        Message
      .massage-body.massage
        %p 
          Hello "#{@candidate.name}",
        %p 
          "#{@company.name}" has arranged for you to complate a Jombay Suitability Questionaire.
        %p 
          To Complete, please click the weblink listed below or copy paste the URL into your web browser address bar.
        %p 
          %b
            URL: 
            %a{:href=>"#", :title => "Some Title goes Here"} 
              https://www.google.co.in/webhp?source=search
        %p
          If you have any questions about taking the Jombay Suitability Questionnaire, Call on 
          %b +91 - 87960 - 29607 
          or Email 
          %a{:href=>"mailto:prakhar@jombay.com", :title=>"For any queries Mail to Prakhar"} 
            prakhar@jombay.com
        %p 
          Best Regards
          %br/
          Prakhar Srivastava,
          %br/
          Jombay
    .pull-right
      %a.span.line-height2{:href=> "#", :title => "cancel"}
        Cancel
      = form_for @assessment, as: :assessment, url: send_reminder_to_candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => params[:candidate_id], :candidate_assessment_id => @candidate_assessment.id), method: :put do |f|
        %button.btn.btn-info.span
          Send
    .clr

