.create-test.creat-test-show
  .inn.first
    .page-title.pull-left
      Test #{@assessment.id} - #{@assessment.name}
    %a.btn.pull-right{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
      .link-color Send This Test
  .clr
  .inn
    .pull-left
      = render :partial => "shared/candidate-summary-nav"
    //%a.btn.btn-info.pull-right{:href => norms_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Edit Test"}
    //  Edit Test
    .clr
    .divider2
    .summary.padding-all1.clearfix
      .span
        %b.show.pull-left 
          Industry: 
        .span6
          = @assessment_factor_norms.collect{|x| x.industry.name}.compact.uniq.join(", ")
      .span
        %b.show.pull-left 
          Functional Area: 
        .span6
          = @assessment_factor_norms.collect{|x| x.functional_area.name}.compact.uniq.join(", ")
      .span
        %b.show.span
          Experience level: 
        .span #{@assessment_factor_norms.collect{|x| x.job_experience.display_text}.compact.uniq.join(", ")}
    .divider1
    .text-right
      %span.medium-text Tests Sent: 
      %span.large-text 753

      %span.left-offset1
        %span.medium-text Tests Taken: 
        %span.large-text 453
    .divider1
    .medium-text 
      %b Selected Factors
    .divider1
    .left-offset1
      %b.span12
        Suitability Factors
      %b.span6
        Desired/Acceptable Score Range
      %b.span
        Critical
      .clr.divider1
      %ul.unstyled.selected-factors
        - @assessment_factor_norms.each do |factor_norm|
          %li
            .selected-factors-title.clearfix
              .span12
                = factor_norm.factor.name
              .span6.lhs-border
                #{factor_norm.from_norm_bucket.name} - #{factor_norm.to_norm_bucket.name}
              .span.lhs-border
                #{factor_norm.critical? ? "Yes":"No"}
            %p
              = factor_norm.factor.definition
    .divider1
    .medium-text 
      %b Additional Factors
    .clr.divider1
    .left-offset1
      %ul.unstyled.selected-factors
        - @other_norms.each do |factor_norm|
          %li
            .selected-factors-title.clearfix
              .span12
                = factor_norm.factor.name
            %p
              = factor_norm.factor.definition          

    .divider1
    //%a.btn.btn-info.pull-right{:href => norms_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Edit Test"}
    //  Edit Test
    //.clr
