- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
  
.create-test.styles
  .inn.first
    .page-title 
      %b Test Title: 
      #{@assessment.name}
  .inn
    = render :partial => "shared/test-flow-sub-nav"
    .divider1
    = form_for @assessment, :as => :assessment, :url => styles_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put, :html => { :class => "creat-test-form" } do |f|
      .medium-text
        .span.first
          %b Functional Area: 
        .span4
          #{@assessment.functional_area.name}
        .span.left-offset1
          %b Industry:  
        .span4
          #{@assessment.industry.name}
        .span.left-offset1
          %b Experience Level: 
        .span4
          #{@assessment.job_experience.display_text}
      .clr
      .divider2
      //%button.pull-right.btn.btn-success.disabled
      //  Modify
      .clr
      .divider1
      %b.medium-text
        Selected Factors: 
      = @assessment.job_assessment_factor_norms.where(:methods => [ :factor ]).collect{|x| "\"#{x.factor.name}\"" }.join(", ")
      .divider2
      .action
      .alert.alert-info.padding-all1.text-center
        %b.extra-medium-text
          Miscellaneous Factors - You may select one or more to measure.
      .factors
        %ul.unstyled.factor-snippet
          - @job_assessment_factor_norms.each_with_index do |job_factor_norm,index|
            = render :partial => 'assessment_direct_predictor_fields', :locals => { :job_factor_norm => job_factor_norm, :index => index }
      .divider2
      %button.pull-right.btn.btn-info.left-offset1
        Proceed
      %a.line-height2.pull-right.medium-text{:href => norms_company_assessment_path(:company_id => params[:company_id], :id => @assessment.id), :title => "Click Here to Go back"} 
        Back
      .clr
      .divider1


%script{type: 'text/javascript'} 
  jQuery(document).ready(function($){
  $("input[name='selected_factor']").change(function(){
  var index = $(this).attr("index");
  if($(this).is(":checked")){
  $("#li_"+index).addClass("checked");
  $("input:not(:checkbox)[index='"+index+"']").removeAttr("disabled");
  }else{
  var id = $("#id_"+index).val();
  if(id != null && id != ""){
  $("#destroy_"+index).val(true);
  }else{
  $("input:not(:checkbox)[index='"+index+"']").attr("disabled",'disabled');
  $("#li_"+index).removeClass("checked");
  }
  }
  });
  $("input[name='checkbox_critical']").change(function(){
  var index = $(this).attr("index");
  if($(this).is(":checked")){
  $("#critical_"+index).val("on");
  }else{
  $("#critical_"+index).val("off");
  }
  });
  });    
