.payment_success
  .page-title
    Check-out and Billing Information
  .divider1
  = render :partial => "shared/billing-navigation-sub-nav"
  .divider4
  .span15.margin-auto.text-center.extra-large-text
    Congratulations! Your payment was successful
  .divider4
  .span12.margin-auto.big-text
    .border-bottom-grayLighter.less-padding-all1.padding-lr2
      .span7.first.gray-darker
        Order ID
      .span3
        = @payment_data["TxId"]
      .clr
    .border-bottom-grayLighter.less-padding-all1.padding-lr2
      .span7.first.gray-darker
        Package Type
      .span3
        = @plan.name
      .clr
    .border-bottom-grayLighter.less-padding-all1.padding-lr2
      .span7.first.gray-darker
        Number of Assessments
      .span3
        = @plan.no_of_assessments
      .clr
    .border-bottom-grayLighter.less-padding-all1.padding-lr2
      .span7.first.gray-darker
        Package Expires on
      .span3
        #{hdate(Date.today + @plan.validity_in_months.months)}
      .clr
    .less-padding-all1.padding-lr2
      .span7.first.gray-darker
        Amount Paid
      .span3
        &#8377;
        = @plan.price
      .clr
    .divider3
    .text-center
      %a.btn.btn-warning.large-text{:href =>'/', :title => "Start Using Jombay"}
        Start Using Jombay
