- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.package_review
  .page-title 
    Check-out and Billing Information
  .divider1
  = render :partial => "shared/billing-navigation-sub-nav"
  .divider4
  .span21.border-right-gray.large-text.first.less-padding-all1
    .gray-darker.text-center 
      Following contact information is required by our Payment Partner to enable a purchase
    .divider2
    = form_for @company, :as => :company, :url => upgrade_subscription_company_path(@company, @plan), :html => { :class => "text-right"}  do |f|
      = f.hidden_field :hq_location_id, :id => "input_hq_location_id"
      .control-group
        %label.span7.big-text.line-height2.gray-darker
          Company Address
        = f.text_field :address, {:class =>'medium-text span11 left-offset1', :type=> "text", required: true}
        .clr
      .control-group
        %label.span7.big-text.line-height2.gray-darker
          Country
        = f.select :country, @countries,{ :prompt => "Select Country" }, { :id => "select_country" , :class => 'medium-text span7 left-offset1', required: true}
        .clr
      .control-group
        %label.span7.big-text.line-height2.gray-darker
          State
        = f.select :state, {}, { :prompt => "Select State" }, { :id => "select_state" , :class => 'medium-text span7 left-offset1', required: true}
        .clr
      .control-group
        %label.span7.big-text.line-height2.gray-darker
          City
        = f.select :city, {@company.city => @company.hq_location_id }, { :prompt => "Select City" }, { :id => "select_city", :class => 'medium-text span7 left-offset1', required: true}
        .clr
      .control-group
        %label.span7.big-text.line-height2.gray-darker
          Pin code
        = f.text_field :pincode, {:class =>'medium-text span7 left-offset1', :type=> "text", required: true}
        .clr
      .control-group
        %label.span7.big-text.line-height2.gray-darker
          Company Contact Person
        = f.text_field :contact_person, {:class =>'medium-text span7 left-offset1', :type=> "text", required: true}
        .clr
      .control-group
        %label.span7.big-text.gray-darker
          Company Contact Person's contact number
        = f.text_field :contact_person_mobile, {:type =>"text", :class => "medium-text span7 left-offset1", required: true}
        .clr
      .divider2
      %i.big-text.gray-dark.show.text-center
        Stay assured that your contact information is strictly confidential and completely secure.
      .divider4
      %button.btn.btn-warning.large-text.pull-right
        Submit
      .clr

  .span7.left-offset1.text-center
    .gray-dark.large-text
      Our Trusted Payment Partner
    .divider1
    = image_tag("plans/ccavenue.png")
    .divider4
    .gray-dark.large-text
      Supported by
    .divider1
    = image_tag("plans/supported.png")

  .clr

= javascript_include_tag 'edit_company' 
