.package_review
  .page-title 
    Checkout and Billing Information
  .divider1
  = render :partial => "shared/billing-navigation-sub-nav"
  .divider4
  .span21.border-right-gray.big-text.first
    .gray-dark.text-center 
      Please review the details of the package that you selected
    .divider2
    .span10.margin-auto.gray-darker
      .border-bottom-grayLighter.less-padding-all1.padding-lr1
        .span6.first
          Package Name
        .span3
          = @plan.name
        .clr
      .border-bottom-grayLighter.less-padding-all1.padding-lr1
        .span6.first
          Number of Assessments
        .span3
          = @plan.no_of_assessments
        .clr
      .border-bottom-grayLighter.less-padding-all1.padding-lr1
        .span6.first
          Expiry date of the Package
        .span3
          #{hdate(Date.today + @plan.validity_in_months.months)}
        .clr
      .less-padding-all1.padding-lr1
        .span6.first
          Amount
        .span3
          &#8377; 
          = @plan.price
        .clr
    .divider4

    .gray-dark.text-center
      Clicking on proceed will allow you to buy the package
    .divider2
    .span12.margin-auto
      %a.btn.btn-warning.inverse.large-text.pull-left{:href => "#", :title => "Change Package"}
        Change Package
      %a.button.btn.btn-warning.large-text.pull-right{:href =>contact_plan_company_path(:id=>@company.id, :plan_id=> @plan.id), :title => "Proceed"}
        Proceed
      .clr


  .span7.left-offset1.text-center
    .gray-dark.large-text
      Our Trusted Payment Partner
    .divider1
    = image_tag("plans/ccavenue.png")
    .divider4
    .gray-dark.large-text
      Supported by
    .divider1
    = image_tag("plans/supported.png")

  .clr
        
  