.container  
  .span14.page-title.first
    Create a new Engagement Survey
  .clr.divider2
  = render :partial => "shared/engagement/navigation-sub-nav"
  .divider2
  = form_for :survey, as: :survey, url: company_engagement_surveys_path(@company) do |f|
    .border-primary
      .padding-all2.border-bottom-grayLighter
        = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
          %label.pull-left.big-text.line-height2 
            Enter a title for this Engagement Survey
          %input.span20.pull-right{:type => "text", name: "survey[name]"}

        = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
          %input.span26.show.margin-auto{:type => "text", :placeholder=>"Enter a title for this Engagement Survey", name: "survey[name]"}
        .clr
        .divider2
        = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
          %label.pull-left.big-text.line-height2 
            Page size
          %input.span20.pull-right{:type => "text", name: "survey[page_size]"}

        = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
          %input.span26.show.margin-auto{:type => "text", :placeholder=>"Page size", name: "survey[page_size]"}
        .clr
        .divider2
        %input.btn.btn-info.large-text.bold.pull-right{:name=>"submit",:type=>"submit", :value=>"Proceed"}
        .clr
        - if is_superadmin?
          %select.span{ name: "defined_form_id" }
            - @defined_forms.each do |defined_form|
              %option{ value: defined_form.id }
                = defined_form.name
          .clr
        .divider2        
      .clr
