#distribution_data_points 
  .span10.first
    .large-text
      Overall Scores
    .divider1
    .panel.bg-white
      .span7.margin-auto
        .divider1
        .rating_snippet
          .rating_title.green
            360&#176; Score
          .value
            = competency_scores[:score][:points] || "-"
          .clr
        .divider1
        .rating_snippet
          .rating_title.blue_light
            Self Rating
          .value
            = competency_scores[:average_score_self][:points] || "-"
          .clr
        .divider1
        .rating_snippet
          .rating_title.brown
            360&#176; (Including Self)
          .value
            = competency_scores[:average_score_including_self][:points] || "-"
          .clr
        .divider1
  .span18
    .large-text
      - total_stakeholders = competency_scores[:role_wise_scores].map{|role, score| score[:count].to_i }.sum
      Average rating given by #{pluralize(total_stakeholders,"Stakeholder")}
    .divider1
    .panel.bg-white
      - if competency_scores[:role_wise_scores].present?
        .span13.margin-auto
          - competency_scores[:role_wise_scores].select{|role,score| score[:points] }.each_with_index do |(role, score),index|
            .span6{ class: index.odd? ? "first" : "left-offset1" }
              .divider1
              .rating_snippet
                .rating_title.blue
                  #{pluralize(score[:count],role.titleize)}
                .value
                  = score[:points]
                .clr
          .clr
        .divider1
      - else
        .text-center
          No Responses
  .clr