- sorted_trait_scores = @report.report_data[:competency_scores].collect{|competency,competency_score| competency_score[:trait_scores] }.flatten.sort_by{|trait_score| trait_score[:average_score_excluding_self][:points] }.reverse.uniq
.scores_competencies_graph.descending_order.section02
  .divider2
  .container
    .title
      360&#176; Traits: Scores in Descending Order
    .divider2
    .graph_instructions.medium-text
      .stakeholder_rating_icon.span.first
      .span
        %span.bold
          360&#176; 
        Rating
      .classic_user_icon.span
      .span.bold
        Self Rating
      
      .clr

    .traits_under_graph
      .graph_container
        .left_sec.pull-left
          .graph_instructions.left-offset4
            .span1.divider2.stakeholder_rating_icon
            .span1.divider2.classic_user_icon
            .clr
          %ul
            - sorted_trait_scores.each do |trait_score|
              %li
                .span6.extra-medium-text.first.trait_title
                  = trait_score[:trait][:name]
                  
                .stakeholder_rating.medium-text.pull-left
                  = trait_score[:average_score_excluding_self][:points] || "-"
                .self_rating.medium-text.span
                  = trait_score[:average_score_self][:points] || "-"
                .clr
              
        .right_sec.span21.pull-right
          .classic_competency_graph
            .classic_competency_graph_scale
              .block.pull-left
                = @trait_graph_buckets.first.min_val
              - @trait_graph_buckets[1..@trait_graph_buckets.length-1].each do |trait_graph_bucket|
                .block.pull-left{:style=>"width: #{830/4}px; text-align: right"}
                  = trait_graph_bucket.min_val

              .clr
            .graph
              .graph_content
                - old_min = @trait_graph_buckets.first.min_val
                - old_max = @trait_graph_buckets.last.max_val
                - sorted_trait_scores.each do |trait_score|
                  - percent_360 = convertToRange(old_min, old_max, 0, 100, trait_score[:average_score_excluding_self][:points])
                  - percent_360 = percent_360 == 0 ? 2 : percent_360
                  - if trait_score[:average_score_self][:points]
                    - percent_self = convertToRange(old_min, old_max, 0, 100, trait_score[:average_score_self][:points])
                    - percent_self = percent_self == 0 ? 2 : percent_self
                  - else
                    - percent_self = 0
                  .divider1
                  .descending_graph_bar.max{:style => "width: #{percent_360}%; background: #a119a6"}
                  .descending_graph_bar.min{:style => "width: #{percent_self}%; background: #24d8ba"}
                  .divider1
        .clr
