- sorted_perception_gap = sort_perception_gap_section(@report.report_data[:competency_scores], @report.report_hash[:perception_gap]) 
- perception_gap_trait_details = Hash[@report.report_hash[:perception_gap_section_names].to_a.reverse]
.competency_perception_gap_on_traits
  .divider2
  .container
    .title
      Perception Gap on Traits
    .divider1
    %p.extra-medium-text.gray-darker
      This section enlists traits in three parts, based on the gap between self ratings and stakeholder ratings on those traits:    
    
    - perception_gap_trait_details.each do |name, details|
      .span10.large-text.first
        = details[:name].titleize()
    .clr
    .divider1
    %table{:cellpadding=>"0", :cellspacing=>"0"}
      %tr
        - perception_gap_trait_details.each do |name, details|
          %td.description
            .span9.first
              = details[:description]
          %td.space
      %tr
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - sorted_perception_gap[:aggrement].each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - sorted_perception_gap[:negative].each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
        %td
          .span9
            .divider1
            %ul.disc.large-text
              - sorted_perception_gap[:positive].each do |trait_name, value|
                %li
                  #{trait_name}
            .divider1
          .clr
        %td.space
.divider2.border-bottom-grayLighter

