#trait_wise_frequency_data_points.section03
  .container
    .divider2
    .scores.container
      .title
        Data Points on 360&#176; Scores: Traits Under Competencies
      .divider2
      - @report.report_data[:competency_scores].each do |competency,competency_scores|
        .frame
          .heading.pull-left
            = competency
          .clr
          - competency_scores[:trait_scores].each do |trait_score|
            .divider2
            .section03
              .span28.margin-auto
                %b.large-text
                  = trait_score[:trait][:name]
                .divider1
                = render :partial => "mrf/assessments/reports/competency_report/html/traits_textual_data_points", :locals => {:trait_score => trait_score }
                = render :partial => "mrf/assessments/reports/competency_report/html/trait_wise_best_worst_scores", locals: { trait_scores: trait_score }
                = render :partial => "mrf/assessments/reports/competency_report/html/descending_trait_wise_overall_score", locals: { trait_scores: trait_score }
                = render :partial => "mrf/assessments/reports/competency_report/html/descending_trait_wise_average_rating", locals: { trait_scores: trait_score }
                .divider1
                = render :partial => "mrf/assessments/reports/competency_report/html/frequency_rating_table", locals: { role_wise_scores: trait_score[:role_wise_scores], trait_wise: true, graph_buckets: @trait_graph_buckets }
                .divider1
        .divider2
