#trait_wise_frequecy_data_points.section03
  .container
    .divider2
    .scores.container
      .title
        Data Points on 360&#176; Scores: Traits Under Competencies
      .divider2
      - @report.report_data[:competency_scores].each do |competency,competency_scores|
        .frame
          .heading.pull-left
            = competency
          .clr
         
          - competency_scores[:trait_scores].each do |trait_score|
            .divider2
            .section03
              .span28.margin-auto
                %b.large-text
                  = trait_score[:trait][:name]
                .divider1
                - if @report.report_data[:competency360_traits_textual_data_points]
                  #distribution_data_points 
                    .span7.first
                      .big-text
                        Overall Score
                      .divider1
                      .panel.bg-white
                        .divider1
                        .rating_snippet
                          .rating_title.green
                            360&#176; Score
                          .value
                            = trait_score[:average_score_excluding_self][:points] || "-"
                          .clr
                        .divider1
                        .rating_snippet
                          .rating_title.blue
                            Self Rating
                          .value
                            = trait_score[:average_score_self][:points] || "-"
                          .clr
                        .divider1
                        .rating_snippet
                          .rating_title.brown
                            360&#176; (Including Self)
                          .value
                            = trait_score[:average_score_including_self][:points] || "-"
                          .clr
                        .divider1

                    .span7.left-offset1
                      .divider2
                      .panel.bg-white
                        .divider2
                        .trait_rating.max
                          .left
                            Maximum Rating
                          .right
                            = trait_score[:max_score_excluding_self][:points] || "-"
                          .clr

                        .divider1
                        .trait_rating.min
                          .left
                            Minimum Rating
                          .right
                            = trait_score[:min_score_excluding_self][:points] || "-"
                          .clr
                        .divider2

                    .span12.left-offset1
                      .big-text
                        Average rating given by Stakeholders
                      .divider1
                      .panel.bg-white
                        .span13.margin-auto
                          - trait_score[:role_wise_scores].each_with_index do |(role, score),index|
                            .span6{ class: index.odd? ? "first" : "" }
                              .divider1
                              .rating_snippet
                                .rating_title.blue
                                  = role.titleize
                                .value
                                  = score[:points] || "-"
                                .clr
                          .clr
                        .divider1
                    .clr
                = render :partial => "mrf/assessments/reports/competency_report/html/descending_trait_wise_overall_score", locals: { trait_scores: trait_score }
                = render :partial => "mrf/assessments/reports/competency_report/html/descending_trait_wise_average_rating", locals: { trait_scores: trait_score }
                .divider1
                - if @report.report_data[:competency360_traits_frequency_of_ratings]
                  = render :partial => "mrf/assessments/reports/competency_report/html/frequecy_rating_table", locals: { role_wise_scores: trait_score[:role_wise_scores], trait_wise: true, graph_buckets: @trait_graph_buckets }
                  .divider1
        .divider2
