- candidate_data = get_user_wise_competency_scores(@report.report_hash[:competency_individual_scores])
- candidate_data.each_slice(15) do |step_data|
  = render :partial => "shared/360/group_report_header"
  .report_content.border-bottom-grayLighter
    .competencies_wise_individual_ratings
      .color-info.big-text
        Competency-wise Individual Ratings
      .divider1
      %table.text-center{:cellspacing=>"0", :cellpadding=>"0"}
        %tr
          %td
            Candidate names
          %td
            Overall Score
          - @report.report_hash[:competency_individual_scores].each do |competency, competency_data|
            %td
              = competency

        -step_data.each do |candidate, candidate_scores|
          %tr
            %td
              = candidate
            - overall_score = 0
            - candidate_scores.each do |key, value|
              - overall_score += value[:score]
            - overall_score = overall_score / @report.report_hash[:competency_individual_scores].size
            %td
              = overall_score.round(2)
            - candidate_scores.each do |key, value|
              %td
                = value[:score]
      .divider1
.page-break