.overall_report
  .divider1
  .j-logo.pull-left
  .clr
  .divider28
  .divider1
  .banner
    .banner-heading.pull-left
      #{get_assessment_purpose(@report)}&#176;
    .pull-right
      .divider2
      .banner-sub-heading
        = @report.report_hash[:name]
        .large-text
          - if @report.report_data[:mrf_report_show_completion_status]
            - completed_count = 0
            - sent_count = 0
            - Hash[@report.report_data[:feedback_stats]].each do |role, status|
              - completed_count += status[:completed]
              - sent_count += status[:sent]

            Completion Status: #{completed_count} out of #{sent_count}
          %br  
          Candidates Included: #{@report.candidate_ids.size}  
    .clr
    
  .divider2
  .left-offset1
    .extra-large-text
      = @report.report_data[:assessment][:name]

    .divider1
    .large-text
      Report Generated On:
      = hdate @report.report_hash[:generated_at]
.page-break
