- if @report.report_data[:perception_gap]
  - if @report.report_data[:competency_scores].any?{|key,value| value[:perception_gap].present? }
    - @report.report_data[:competency_scores].each do |competency, competency_scores|
      = render :partial => "shared/360/group_report_header"
      .report_content
        .perception_gap.border-bottom-grayLighter
          .color-info.big-text
            Perception Gap
            .divider1
          .frame.bg-gray
            .heading.pull-left
              = competency
            .clr
            .span18.margin-auto.border-bottom-grayLighter
              .extra-medium-text.pull-left
                .divider1
                Overall
              .chart_indication.line-height1.black.pull-right
                .icons.span.color-agreement
                  &#8226;
                .span
                  \% 
                  of raters in Agreement
                .clr
                .icons.span.color-positive
                  &#8226;
                .span
                  \% 
                  of raters with Perceived Positive Difference
                .clr
                .icons.span.color-negative
                  &#8226;
                .span
                  \% 
                  of raters with Perceived Negative Difference
                .clr
              .clr

              .chart
                - total = competency_scores[:perception_gap][:overall].values.sum
                - aggrement_percentage = ((competency_scores[:perception_gap][:overall][:aggrement]*100).to_f/total).round(2)
                - negative_percentage = ((competency_scores[:perception_gap][:overall][:negative_difference]*100).to_f/total).round(2)
                - positive_percentage = ((competency_scores[:perception_gap][:overall][:positive_difference]*100).to_f/total).round(2)
                .pie_chart.margin-auto
                  .pie-chart{ id: "pie_#{competency}", "data-positive-percentage" => positive_percentage, "data-negative-percentage" => negative_percentage, "data-aggrement-percentage" => aggrement_percentage, style: "width: 170px;height: 170px;" }
                .pie_chart_rate.span6.margin-auto
                  .span2.color-positive
                    %div &#8226;
                    .rate
                      = "#{positive_percentage}%"
                  .span2.first.color-agreement
                    %div &#8226;
                    .rate
                      = "#{aggrement_percentage}%"
                  .span2.first.color-negative
                    %div &#8226;
                    .rate
                      = "#{negative_percentage}%"
                  .clr
                .divider1
            .divider1
            - competency_scores[:perception_gap][:role_wise_frequencies].each_slice(4) do |step_data|
              %ul.chart.small.clearfix
                - step_data.each_with_index do |(role, role_wise_scores),index|
                  - total = role_wise_scores.values.sum
                  - aggrement_percentage = ((role_wise_scores[:aggrement]*100).to_f/total).round(2)
                  - negative_percentage = ((role_wise_scores[:negative_difference]*100).to_f/total).round(2)
                  - positive_percentage = ((role_wise_scores[:positive_difference]*100).to_f/total).round(2)
                  %li
                    .medium-text.black{:style=>"margin-top: -35px"}
                      = role.titleize
                    .pie_chart.margin-auto
                      .pie-chart{ id: "pie_#{index}", "data-positive-percentage" => positive_percentage, "data-negative-percentage" => negative_percentage, "data-aggrement-percentage" => aggrement_percentage, style: "width: 110px;height: 110px;" }
                    .pie_chart_rate
                      .pull-left.color-positive
                        %div &#8226;
                        .rate
                          = positive_percentage
                      .pull-left.color-agreement
                        %div &#8226;
                        .rate
                          = aggrement_percentage
                      .pull-left.color-negative
                        %div &#8226;
                        .rate
                          = negative_percentage
                      .clr
      .page-break