.benchmark_report
  .inner{ style: "margin-top:0px;" }
    .overall_report
      .blue_bg_heading Score distribution for each factor (%)
      - factor_benchmarks.each do |factor_name, benchmarks|
        .graph_section.clearfix
          .pull-left
            .factor_title
              = factor_name
            %p.factor_description
              = benchmarks[:factor_definition]
          .bargraph.pull-right
            %ul.bars.clearfix
              %li.bar1{style: "height: #{benchmarks[:scores]["Low"][:score]}%;background: #{benchmarks[:scores]["Low"][:color]}"}
              %li.bar2{style: "height: #{benchmarks[:scores]["Below Average"][:score]}%;background: #{benchmarks[:scores]["Below Average"][:color]}"}
              %li.bar3{style: "height: #{benchmarks[:scores]["Average"][:score]}%;background: #{benchmarks[:scores]["Average"][:color]}"}
              %li.bar4{style: "height: #{benchmarks[:scores]["Above Average"][:score]}%;background: #{benchmarks[:scores]["Above Average"][:color]}"}
              %li.bar5{style: "height: #{benchmarks[:scores]["High"][:score]}%;background: #{benchmarks[:scores]["High"][:color]}"}
            %ul.label
              %li Low
              %li Below Average
              %li Average
              %li Above Average
              %li High
            %ul.y-axis
              %li 100%
              %li 80%
              %li 60%
              %li 40%
              %li 20%
              %li 0%
              %li.units

            .graph_title
              Score distribution for each factor (%)
      .notification
        Factor scores are measured relative to Industry standards for this job role and experience level
        %span.star *
              
