.trait-name.span7{ :id => "span_#{index}" }
  %label{id: "label_#{index}"}
    .trait-info
      %span.font-bold
        ATID =
      %span
        = user.id
      %br/
      %span.font-bold
        Email = 
      %span
        = user.email
    .arrow
    %input{name: "user_ids[#{user.id}]", class: "check_trait", type: 'checkbox', id: "checkbox_trait_#{index}", index: (index)}
    = user.name