.user-mrf-show
  .span15.huge-text.first
    .divider1
    #{@user.id} - #{@user.name}
  .span7.pull-right.medium-text
    %a.btn.btn-info.big-text.big.bold{:href => add_stakeholders_company_mrf_assessment_path(@company.id,@assessment.id, user_ids: @user.id)}
      Add Stakeholders
  .clr
  .span7.pull-right.medium-text  
    %a{:href => details_company_mrf_assessment_path(@company.id,@assessment.id)}
      Return to 360&#176; Profiling Exercise Details
  .span7.pull-right.medium-text
    = link_to "Disable all stakeholders for this user", expire_feedback_urls_company_mrf_assessment_path(@company.id,@assessment.id, options: { user_id: @user.id }), confirm: "Are you sure?"
  .clr  
  .divider2
  = render :partial => "shared/360/user-details-sub-nav"

  .padding-all2.border-warning.shifted-up1    
    .list-snippet-titles.big-text.clearfix
      .span1.first
        = sort_link "ID", user_stakeholders_company_mrf_assessment_path(@company.id, @assessment.id), "stakeholders.id", params[:search]
      .span5
        = sort_link "Stakeholder", user_stakeholders_company_mrf_assessment_path(@company.id, @assessment.id), "stakeholders.name", params[:search]
      .span6
        Email Id
      .span4
        Role
      .span3
        Status
      .span6
        Send Reminder
      .span2
        Enable/Disable
      .clr
      .divider1          
      %ul
        - @stakeholders.each do |stakeholder|
          - stakeholder_assessment = @stakeholder_assessments[stakeholder.id].first
          - feedback = @feedbacks[stakeholder_assessment.id].first
          %li.list-snippet.extra-medium-text
            .divider1
            .span1.first
              = stakeholder.id
            .span5.info-block
              = link_to (truncate stakeholder.name, :length => 25), stakeholder_company_mrf_assessment_path(@company.id, @assessment.id, stakeholder.id)
              .info
                = stakeholder.name
              .arrow
            .span6.info-block
              %a{:href => stakeholder_company_mrf_assessment_path(@company.id, @assessment.id, stakeholder.id)}
                =  truncate stakeholder.email, :length => 20
              .info
                = stakeholder.email
              .arrow
            .span4
              = feedback.role.titleize
            .span3
              = Vger::Resources::Mrf::Feedback.completed_statuses.include?(feedback.status) ? "Completed" : "Pending"
            .span6
              - if !Vger::Resources::Mrf::Feedback.completed_statuses.include?(feedback.status)
                %a{:href => send_reminder_company_mrf_assessment_path(@company.id, @assessment.id, :options => { user_id: @user.id, stakeholder_id: stakeholder.id }), :title => "Send Reminders"}
                  Send Reminder
                - if stakeholder_assessment.last_reminder_sent_at
                  .small-text
                    = "Last reminder sent on #{hdate(stakeholder_assessment.last_reminder_sent_at, "-")} #{htime(stakeholder_assessment.last_reminder_sent_at, "-")} Hrs"  
              - else
                = "-"
            .span2
              - if !Vger::Resources::Mrf::Feedback.completed_statuses.include?(feedback.status)
                = link_to "#{feedback.active ? 'Disable':'Enable'}", update_feedback_company_mrf_assessment_path(@company.id, @assessment.id, @user.id, feedback_id: feedback.id, active: !feedback.active)
              - else
                = "-"  
            .clr
    .divider2
    .pull-right
      = render :partial => "shared/pagination", :locals => { :objects => @stakeholders}
    .clr
= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'       
