- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.new
  = form_for(:assessment_group, method: :post, url: company_assessment_groups_path(@company)) do |f|
    = f.hidden_field :company_id
    .inn.first
      .page-title.pull-left
        Create Walk-In Index Page
    .inn.gray-gradient
      .pull-left
        .test-flow-sub-nav.clearfix.pull-left
          .menu.active 1 &nbsp; Create Page             
          .menu 2 &nbsp; Customize           
          .menu 3 &nbsp; Summary              
      .pull-right
        %input.btn.btn-info.medium-text.span{:title => "Proceed", type: "submit", name: "Proceed", value: "Proceed"}
      .clr

      .divider1
      = f.text_field :title, :placeholder => "Title for Index Page", :class => "padding-all1 span21 float-none first"
      .divider1
      %b.extra-medium-text
        Please select tests to be added to the Index Page

      .divider2

      .list
        %ul.unstyled.clearfix
          %li.titles
            .control-group
              %b.pull-left Test
              %b.pull-right Include in Page
              .clr  
          %li.titles
            .control-group
              %b.pull-left Test
              %b.pull-right Include in Page
              .clr
          - @assessments.each do |assessment|
            %li
              -# add class ".checked" to ".control-group" when user clicks on checkbox
              .control-group{ id: "control_group_#{assessment.id}" }
                %label{ for: "chk_assessment_#{assessment.id}" }
                  = assessment.name
                %input{:type => "hidden", id: "enable_assessment_#{assessment.id}", name: "assessment_group[assessment_hash][#{assessment.id}][enabled]", value: "false"}  
                %input{:type => "checkbox", class: "assessment_checkbox", toggle_element: "#control_group_#{assessment.id}", checked: (@assessment_group.assessment_hash["#{assessment.id}"]['enabled'] == "true" rescue false), value: assessment.id, id: "chk_assessment_#{assessment.id}", assessment_id: assessment.id}
                .clr
        .pull-right
          %input.btn.btn-info.medium-text.span{:title => "Proceed", type: "submit", name: "Proceed", value: "Proceed"}
        .clr
        
= javascript_include_tag 'walk_ins' 
