%h1 All job experiences
- if can? :create, "JobExperience"
  = link_to "Manage Job Experiences", manage_job_experiences_path    

.pagination.pull-right        
  = paginate @job_experiences        
.clr       
  
%table
  %tr
    %th ID
    %th Name
    %th Min
    %th Max
    %th Active
  - for job_experience in @job_experiences do
    %tr
      %td 
        = job_experience.id
      %td 
        = job_experience.display_text
      %td 
        = job_experience.min
      %td 
        = job_experience.max
      %td 
        = job_experience.active      

%br
.pagination.pull-right        
  = paginate @job_experiences        
.clr       

