.competency-container
  .heading.pull-left{ title: "competency_name" }
    = competency
  .heading.pull-right
    = competency_data[:avg_score][:bucket]
  .clr
   
  .factors_container
    .factors_list  
      - competency_data[:factor_scores].each_with_index do |(factor_name,factor_score), index|
        - margin = factor_name.split(" ").size > 1 ? 15 : 30
        %div{:class=>"factor_#{index+1} #{factor_score[:percentage_candidates] == 0 ? 'favorable' : 'less_favorable underlined'}"}
          .text-wrap{:style=>"margin-top: #{margin}px;"}
            = factor_name.gsub(" ","<br/>").html_safe
.divider1  
