= render :partial => "assessment_reports/training_requirements_report/pdf/header"
.divider2
#details
  .title.extra-large-text.pull-left
    Tips on Areas of Improvement
  .divider2
  .pull-left
    .divider1
    .score-indicator
      .indicator.less-favorable.first
        Candidates with Less Favorable scores
      .indicator.favorable
        Candidates with Favorable scores
      .clr
      .divider1
      .indicator.mid-favorable.first
        Most frequent score amongst less favourable scores
      .clr
  
  .scale.pull-right
    .line
    .marker-container
      -@norm_buckets.each do |norm_bucket|
        .marker
          - if norm_bucket.name.split(" ").size == 1
            %br/
          = norm_bucket.name
      .clr
  .clr
  .divider1
  %ul.improvement-tips-list
    - limiter = Rails.application.config.reports["html"]["graph_limiter_on_training_requirement_report"]
    - @report_data[:factor_scores].each_with_index do |(factor_name, factor_score), index|
      - if (index + 1) <= limiter
        %li
          .trait-name.span7
            .divider2
            = factor_name
          .pie-snippet.span4
            .divider1
            .left
              - left = 100 - factor_score[:percentage_candidates]
              #{left}%
            .pie-visual 
              %canvas{:width => "57", :height => "57", "data-plot" => factor_score[:percentage_candidates]} 
            .right.favorable
              #{factor_score[:percentage_candidates]}%
          .rating-slider.pull-right
            - @norm_buckets.each do |norm_bucket|
              .marker{:class => norm_bucket.name == factor_score[:most_scored_norm_bucket] ? 'active': ''}
                .arrow
                .score
                  = norm_bucket.name
            .clr
          .clr
          .divider1
          %p
            #{factor_score[:tip]}
  .divider2
