= render :partial => "assessment_reports/training_requirements_report/pdf/header"
.divider2
#trait-score
  .title.extra-large-text.pull-left
    Top Training Needs
  .pull-left
    .score-indicator
      .indicator.less_favorable
        Candidates with Less Favorable scores
      .indicator.favorable
        Candidates with Favorable scores
      .clr
  .clr
  .divider1
  
  %ul.training-need-list
    - counter = step
    - limiter = Rails.application.config.reports["html"]["graph_limiter_on_training_requirement_report"]
    - factor_scores.keys.each_slice(3) do |factor_names|
      - factor_scores = @report_data[:factor_scores].slice(*factor_names)
      %li
        - factor_scores.each_with_index do |(factor_name,factor_score), index|
          - counter = counter + 1
          .snippet
            .count.pull-left
              = counter
            .trait-title.pull-left
              = factor_name
            .clr
            .pie-visual
              .pie-chart{ id: "pie_#{index}", "data-percentage-candidates" => factor_score[:percentage_candidates], style: "width: 115px;height: 115px;" }
            .divider1
            .score
              #{factor_score[:percentage_candidates]}% Less Favourable
        .clr
