- counter = 0
= render :partial => "assessment_reports/training_requirements_report/pdf/header"
.divider1
#trait-score.training-need
  .title.extra-large-text.span.pull-left
    Top Training Needs
  .instruction_container.pull-right
    .instructions
      .instruction1.pull-left
        Candidates with Favorable scores
      .instruction2.less_favorable.pull-left
        Candidates with Less Favorable scores
      .label.span.medium-text
        Average Score
      .clr
  .clr
  %ul.training-need-list.small
    - limiter = Rails.application.config.reports["html"]["graph_limiter_on_training_requirement_report"]
    - factor_scores.keys.each_slice(3) do |factor_names|
      - factor_scores = @report_data[:factor_scores].slice(*factor_names)
      %li
        - factor_scores.each_with_index do |(factor_name,factor_score), index|
          - counter = counter + 1
          .snippet
            .count.pull-left
              = counter
            .trait-title.pull-left
              = factor_name
            .clr
            .pie-visual
              .pie-chart{ id: "pie_#{index}", "data-percentage-users" => factor_score[:percentage_users], style: "width: 100px;height: 100px;" }
            .score
              #{factor_score[:percentage_users]}% Less Favourable
            - if @report.average_scores_in_top_training_needs
              .label.medium-text
                = factor_score[:avg_score][:bucket]
        .clr
