= render partial: "shared/reports/report_header.html.haml"
.inner
  .scores.miscellaneous_factors
    .blue_bg_heading.pull-left
      %b Miscellaneous Factors
    .clr
    .left-offset5.pull-left.extra-medium-text
      %b Measured
    .left-offset2.pull-left.extra-medium-text
      %b Preferred
    .clr
    .divider1
    %ul.miscellaneous_listing
      - @report.report_hash[:direct_predictor_scores].each do |factor_name,factor_score|
        %li
          .span1.first.hexagon-icon.mid_favorable
          //use ".mid_favorable" or ".less_favorable" or ".favorable" to change the color of hexagon
          .span4.mid_favorable.pull-left
            %b.extra-medium-text #{factor_score[:parent_name]}
          .measured.pull-left.medium-text
            = factor_score[:direct_predictors].join(",<br/>").html_safe
          .preferred.pull-left
            %b.mid_favorable.extra-medium-text
              = factor_name
          .description.pull-left
            = factor_score[:description]
          .clr
