= render partial: "shared/reports/report_header.html.haml"
.inner
  .scores.favorable_factors
    .blue_bg_heading.iconic.pull-left
      Scores of Factors measured under  
      %b #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["job_role_fit"]}
      = "(continued)" if step != 0
      .thumbnails
        .thumbnails_inn3
    .clr
    .indication
      .pull-left
        .pull-left.box
        .pull-left
          %b Desired/Acceptable Score
        .clr

      .left-offset1.pull-left 
        .pull-left.hexagon-icon.mid_favorable
        .pull-left
          %b Obtained Score

      .clr
    .scale
      .marker
        %br/
        Low
      .marker
        Below Average
      .marker
        %br/
        Average
      .marker
        Above Average
      .marker
        %br/
        High
      .clr
    .clr
    %ul.unstyled.clearfix.scores_listing
      - job_fit_scores.each_with_index do |(factor_name,factor_score),index|
        %li
          .lhs-sec.pull-left
            %div{ class: "span1 first hexagon-icon #{factor_score[:pass] ? 'favorable' : 'less_favorable'}" }
            -#use ".mid_favorable" or ".less_favorable" or ".favorable" to change the color of hexagon
            .span10
              .factor-name
                = factor_name
          .rhs-sec.pull-left
            .slider
              - scale = factor_score[:scale]
              .pointer{ class: "position#{scale[:position]}" }
              -# Use position1, postion2...5. for pointer position
              .range{ class: "offset#{scale[:offset]} width#{scale[:width]}" }
              -#use offset0..offset4 and with this class use .width0...width4 (.width4 is 100%)

          .clr
          .factor-description
            = factor_score[:description]

          .divider1
          .optional_feedback
            .title
              Optional feedback on the score:
            .options
              %label
                %input{:type=>"radio"}
                Accurate
              %label
                %input{:type=>"radio"}
                Should be more 
              %label.last
                %input{:type=>"radio"}
                Should be less 
            .clr
            .divider1
