= form_tag import_via_s3_suitability_default_factor_norm_ranges_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload default factor norm ranges
    = fields_for "import" do |f|
      %p
        Zipped CSV File
        = f.file_field "file"
      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"

    .actions
      = submit_tag 'Upload Default factor norm ranges'
