%h1 All Suitability Default Factor Norm Ranges
- if can? :create, "Suitability::DefaultFactorNormRange"
  = link_to "Manage Suitability Default Factor Norm Ranges", manage_suitability_default_factor_norm_ranges_path
.pagination.pull-right
  = paginate @default_factor_norm_ranges        
.clr  
%table
  %tr
    %th
      ID
    %th
      Factor
    %th
      Functional Area
    %th
      Industry
    %th
      Job Experience  
    %th
      From Norm Bucket
    %th
      To Norm Bucket 
  - @default_factor_norm_ranges.each do |default_factor_norm_range|
    %tr 
      %td
        = default_factor_norm_range.id
      %td
        = default_factor_norm_range.factor.name
      %td
        = default_factor_norm_range.functional_area.name
      %td
        = default_factor_norm_range.industry.name
      %td
        = default_factor_norm_range.job_experience.display_text
      %td
        = default_factor_norm_range.from_norm_bucket.name
      %td
        = default_factor_norm_range.to_norm_bucket.name      
.pagination.pull-right
  = paginate @default_factor_norm_ranges
.clr   
