<% @messages.each_pair do |section, section_messages| %>
  <p>
    <%= section.to_s.humanize %>
    <br />
    <% if section_messages.present? %>
      <% if section_messages.is_a? Array %>
        <ul>
          <% section_messages.each do |text|%>
            <li> <%=raw RedCloth.new(text).to_html %> </li>
          <% end %>  
        </ul> 
      <% else %>
        <ul>
          <% section_messages.each do |title, message| %>
            <li>
              <% if message.is_a? Enumerable %>
                <%= title.to_s.humanize %>
                <ul>
                  <% message.each do |text|%>
                    <li> <%= text.html_safe %> </li>
                  <% end %>  
                </ul> 
              <% else %>
                <%= title.to_s.humanize %> : <%= message %>
              <% end %>
            </li>
          <% end %>
        </ul>  
      <% end %>
    <% end %>
  </p>  
<% end %>

