Hello,
<p>
  <b>
    Company ID <%= @order_data["companyID"] %>
  </b>'s 
    payment of amount <%= @order_data["amount"] %> has failed for some reason! They were trying to buy plan ID: <%= @order_data["planID"] %>. 
</p>
<p>
  Parameters received from Payment Gateway are
</p>
<p>
  <ul>
  <% @order_data.each do |key,value| %>
    <li><%= key %> : <%= value %></li>
  <% end %>
  </ul>
</p>
<br/>
<br/>
<%= render :partial => 'shared/unsubscribe' %>
