Hi, 
<p>
  360 Degree Group Report is ready for <%= @report_hash[:assessment][:id] %>.
</p>
<p>
  Report URL: 
  <%= s3_group_report_company_mrf_assessment_url(:company_id => @report_hash[:company][:id], :id => @report_hash[:assessment][:id], :report_id => @report_id, :view_mode => "html")
    %>
</p>
<p>
  You may alternatively view the report by copy-pasting the link in your web browser's address bar and visiting the link or by logging into your Jombay Account. 
</p>
<%= render :partial => 'shared/mailer/contact' %>
<%= render :partial => 'shared/mailer/regards' %>
<%= render :partial => 'shared/mailer/footer' %>
