Hi, 
<p>
  <%= @report_hash[:candidate][:name] %> has completed the assessment - <%= @report_hash[:assessment][:name] %> on <%= @report_hash[:completed_at] %>. You may view the candidate report by clicking on the web-link below.
</p>
<p>
  Report URL: <%= company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report_hash[:company][:id], :candidate_id => @report_hash[:candidate][:id], :custom_assessment_id => @report_hash[:assessment][:id], :id => @report_hash[:report_id], :view_mode => "html")  %>
</p>
<p>
  You may alternatively view the report by copy-pasting the link in your web browser's address bar and visiting the link or by logging into your Jombay Account. 
</p>
<%= render :partial => 'shared/mailer/contact' %>
<%= render :partial => 'shared/mailer/regards' %>
<%= render :partial => 'shared/mailer/footer' %>
