%h1 All functional areas
- if can? :create, "FunctionalArea"
  = link_to "Manage Functional Areas", manage_functional_areas_path  
  
.pagination.pull-right        
  = paginate @functional_areas        
.clr     

%table
  %tr
    %th ID
    %th Name
  - for functional_area in @functional_areas do
    %tr
      %td 
        = functional_area.id
      %td 
        = functional_area.name

%br
.pagination.pull-right        
  = paginate @functional_areas        
.clr     
