.badge_label.clearfix.span9.first{"data-snippet" => skills_snippet.id}
  -#
    .badge_count
      1
  .badge_content
    #{ skills_snippet.name }
    -if show_exp
      = "- #{ skills_snippet.experience } years" if skills_snippet.experience
  %a.close{"data-dismiss" => "alert", :type => "button"} ×
  = hidden_field_tag("skill[must][query_options][id][]", skills_snippet.id)
  = hidden_field_tag("skill[nice][query_options][id][]", skills_snippet.id)