= form_tag export_norm_population_jq_user_assessment_reports_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Download norm population
    = fields_for "args" do |f|
      %p
        Assessment ID : 
        = f.text_field :assessment_id
        
      = f.hidden_field :email, :value => current_user.email

    .actions
      = submit_tag 'Download Norm Population'
