%h1 All Suitability FitmentGradeMapping
- if can? :create, "Suitability::FitmentGradeMapping"
  = link_to "Manage Suitability FitmentGradeMapping", manage_suitability_fitment_grade_mappings_path
.pagination.pull-right
  = paginate @fitment_grade_mappings        
.clr  
%table
  %tr
    %th
      ID
    %th
      Fitment grades
    %th
      Overall fitment grade
  - @fitment_grade_mappings.each do |fitment_grade_mapping|
    %tr 
      %td
        = fitment_grade_mapping.id
      %td
        = fitment_grade_mapping.fitment_grades
      %td
        = fitment_grade_mapping.overall_fitment_grade.name
.pagination.pull-right
  = paginate @fitment_grade_mappings
.clr   
