.competency_report
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page1"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/mrf_rating_competency_overview"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page2"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page3"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page4"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/competency_wise_ratings"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page5"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page6"
  .page-break
  .classic_report
    = render :partial => "mrf/assessments/reports/competency_report/pdf/scores_competencies"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/scores_traits_competencies"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page7"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page8"
  .page-break
  .classic_report
    = render :partial => "mrf/assessments/reports/competency_report/pdf/competencie_wise_data_points"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/frequency_rating_table"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/trait_wise_data_points"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/frequency_rating_table"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/response_distribution"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/response_distribution"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/competencies_descending_order"
    .page-break
    = render :partial => "mrf/assessments/reports/competency_report/pdf/competencies_traits_descending_order"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page9"
  .page-break
  
  .common-top-trangle
    .common-bottom-trangle 
      = render :partial => "shared/reports/pdf/about_us"
      .page-break

      = render :partial => "shared/reports/pdf/legal_disclaimer"
      .page-break
