.competency_report
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page1"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page2"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page3"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page4"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page5"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page6"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page7"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page8"
  .page-break
  = render :partial => "mrf/assessments/reports/competency_report/pdf/page9"
  = render :partial => "shared/reports/pdf/about_us"
  = render :partial => "shared/reports/pdf/legal_disclaimer"
