.competency_report
  = render :partial => "mrf/assessments/reports/competency_report/html/page1"
  = render :partial => "mrf/assessments/reports/competency_report/html/page2"
  = render :partial => "mrf/assessments/reports/competency_report/html/page3"
  = render :partial => "mrf/assessments/reports/competency_report/html/page4"
  = render :partial => "mrf/assessments/reports/competency_report/html/page5"
  = render :partial => "mrf/assessments/reports/competency_report/html/page6"
  = render :partial => "mrf/assessments/reports/competency_report/html/page7"
  = render :partial => "mrf/assessments/reports/competency_report/html/page8"
  = render :partial => "mrf/assessments/reports/competency_report/html/subjective_all"
  = render :partial => "mrf/assessments/reports/competency_report/html/page9"
  = render :partial => "shared/reports/html/about_us"
  = render :partial => "shared/reports/html/legal_disclaimer"
