.mrf_report.fit
  = render :partial => "mrf/assessments/reports/fit_report/pdf/page1"
  = render :partial => "mrf/assessments/reports/fit_report/pdf/page2"
  = render :partial => "mrf/assessments/reports/fit_report/pdf/page3"
  = render :partial => "mrf/assessments/reports/fit_report/pdf/page4"
  = render :partial => "mrf/assessments/reports/fit_report/pdf/trait_comments"
  = render :partial => "mrf/assessments/reports/fit_report/pdf/subjective_all"
  = render :partial => "mrf/assessments/reports/fit_report/pdf/page5"
  = render :partial => "shared/reports/pdf/about_us"
  = render :partial => "shared/reports/pdf/legal_disclaimer"
