.mrf_report
  = render :partial => "mrf/assessments/reports/fit_report/page1"
  = render :partial => "mrf/assessments/reports/fit_report/page2"
  = render :partial => "mrf/assessments/reports/fit_report/page3"
  = render :partial => "mrf/assessments/reports/fit_report/page4"
  = render :partial => "mrf/assessments/reports/fit_report/page5"
  = render :partial => "shared/reports/html/about_us"
  = render :partial => "shared/reports/html/legal_disclaimer"