.competency_report
  = render :partial => "mrf/assessments/reports/page1"
  = render :partial => "mrf/assessments/reports/page2"
  = render :partial => "mrf/assessments/reports/page3"
  = render :partial => "mrf/assessments/reports/page4"
  = render :partial => "mrf/assessments/reports/page5"
  = render :partial => "shared/reports/html/about_us"
  = render :partial => "shared/reports/html/legal_disclaimer"