= form_for :candidate, url: export_candidate_report_urls_candidates_path, multipart: true, :method => :post do |f|
  %input{ type: "hidden", name: "candidate[job_klass]", value: "Suitability::CandidateReportUrlsExporter" }
  %fieldset
    %legend 
      %strong Download Candidate Report Urls
    = f.fields_for "args" do |f|
      %p
        Assessment ID : 
        = f.text_field :assessment_id
      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"

  .actions
    = submit_tag 'Download'
