%div{ style: "margin-left:50px;" }
  %br/
  = render :partial => 'candidates_management/import_form'
  %br/
  = render :partial => 'candidates_management/export_form'
  %br/
  = render :partial => 'candidates_management/validation_progress'
  %br/
  = render :partial => 'candidates_management/candidate_responses'
  %br/
  = render :partial => 'candidates_management/candidate_reports'
  %br/
  = render :partial => 'candidates_management/candidate_report_urls'
  %br/
  = render :partial => 'candidates_management/candidate_factor_scores'
  %br/
  = render :partial => 'candidates_management/update_candidate_stage'
  %br/
  = render :partial => 'candidates_management/import_candidate_scores'
  %br/
  = render :partial => 'candidates_management/send_360_invitations_to_candidates'
  %br/
  = link_to 'Back', candidates_path
