- params[:candidate_ids] ||= []
- if params[:candidate_ids].size > 1  || params[:include_all]
  - page_title = "Add Stakeholders for Candidates in #{@custom_assessment.name}"
  - help_text = "Please add stakeholders for all candidates, in bulk via file upload."
  - bulk_addition_text = "Add stakeholders for candidates in #{@custom_assessment.name} in bulk. More candidates and their stakeholders can also be added using this method."
  - manual_addition_text = nil
  - stakeholders_text = nil
- elsif  params[:candidate_ids].size == 1
  - @candidate = Vger::Resources::Candidate.find(params[:candidate_ids].first)
  - params[:candidate][:name] = @candidate.name
  - params[:candidate][:email] = @candidate.email
  - page_title = "Add Stakeholders for #{@candidate.name}"  
  - help_text = "You can use either one of the two methods to add stakeholders for #{@candidate.name} - in bulk via file upload or manually by entering details in the text fields. Only one method of upload is used by the system at a time."
  - bulk_addition_text = "Add stakeholders for #{@candidate.name} in bulk. More candidates and their stakeholders can also be added using this method."
  - manual_addition_text = "Add Stakeholders for #{@candidate.name}"
  - stakeholders_text = ""
- else
  - page_title = "Add Candidates & Stakeholders"  
  - help_text = "You can use either one of the two methods of adding candidates and stakeholders - in bulk via file upload or manually by entering details in the text fields. Only one method of upload is used by the system at a time."  
  - bulk_addition_text = "Add candidates and stake in bulk via file upload"
  - manual_addition_text = "Add a single candidate for 360ยบ Profiling"
  - stakeholders_text = "Please add stakeholders who will provide feedback for the added candidate"

.span25.huge-text.page-title
  = page_title
  .divider1
.span25.extra-medium-text
  = help_text
  .divider2
.span30
  .extra-medium-text.color-info
    = bulk_addition_text
  .divider2
  = form_for :assessment, as: :assessment, url: bulk_upload_company_mrf_assessment_path(@company.id, @assessment.id), method: :put, html: { multipart: true } do |f|
    .span25.first.left-offset4.extra-medium-text
      .bulk-upload
        .span.left-offset1.pull-left
          .control-group
            .span6.extra-medium-text.pull-left
              .span.pull-left{:style => 'padding: 5px 0px 0px 0px;'}
              = fields_for :bulk_upload do |ff|
                = ff.file_field(:file, accept: '.csv')
              .span.default-text
                (File format supported: CSV)
            .span14.extra-medium-text
              %a{:target => "_blank", :href => download_sample_csv_for_mrf_bulk_upload_company_mrf_assessment_path(@company.id, @assessment.id)}
                Download Sample File for adding Candidates and Stakeholders
    .divider4
    .span7.pull-right.medium-text
      %input.btn.btn-info.big-text.big.font-bold{ type: "submit", value: "Send Invitations" }
    .clr  
  
  .divider2.border-bottom-grayLighter{ class: manual_addition_text.nil? ? 'hide':'' }


.span30{ class: manual_addition_text.nil? ? 'hide':'' }
  .divider2
  = form_for @assessment, as: :assessment, url: add_stakeholders_company_mrf_assessment_path(@company.id, @assessment.id), method: :put do |f|
    .extra-medium-text.color-info
      = manual_addition_text
    .divider2
    %div
      %ul.add-candidates.clearfix
        %li
          .control-group
            .span14.extra-medium-text.pull-left
              .span.pull-left{:style => 'padding: 5px 0px 0px 0px;'}
                Candidate Name
              %span
                %input.span9.medium-text{type: "text", placeholder: "Name", name: "candidate[name]", value: params[:candidate][:name] }
              .clr
            .span14.extra-medium-text
              .span.pull-left{:style => 'padding: 5px 0px 0px 0px;'}
                Candidate Email
              %span
                %input.span9.medium-text{type: "text", placeholder: "Email", name: "candidate[email]", value: params[:candidate][:email] }
              .clr
    .divider2

    .extra-medium-text
      = stakeholders_text
    
    .divider1

    %div{class: 'activated'}
      .left-offset1.first
        .span8.first.extra-medium-text
          Name
        .span8.extra-medium-text.left-offset1
          Email ID
        .span8.extra-medium-text.left-offset1
          Role
        .clr
      .divider1
      %ul.add-candidates.clearfix
        - 10.times do |index|
          %li
            .control-group
              .span1
                .count.badge.badge-small.inverse 
                  = index + 1
              %input.span8.medium-text{type: "text", placeholder: "Full Name", name: "feedbacks[#{index}][name]", value: params[:feedbacks][index.to_s][:name] }
              %input.span8.medium-text.left-offset1{type: "text", placeholder: "example@example.com", name: "feedbacks[#{index}][email]", value: params[:feedbacks][index.to_s][:email]}
              %select.span8.medium-text.left-offset1{ name: "feedbacks[#{index}][role]" }
                %option{ value: "" }
                  Select Role
                - Vger::Resources::Mrf::Feedback::ROLES.each do |role|
                  %option{ value: role, selected: (params[:feedbacks][index.to_s][:role] == role) }
                    = role.titleize
              .clr
      .divider2
      .span.pull-left
        %a.big-text{:href => home_company_mrf_assessments_path(@company.id)}
          Add Candidates/Stakeholders Later
      .span.pull-right.boxed
        .span.medium-text.pull-left
          %label.line-height2
            %input{name: "send_and_add_more", type: "checkbox", value: "send_and_add_more"}
            Invite More After Sending
        .span.pull-right
          %input.btn.btn-info.large-text.font-bold{name: "send", type: "submit", value: "Send Invitations"}
        .clr
      .clr

