.candidate-mrf-show
  .span15.huge-text.first
    .divider1
    #{@candidate.id} - #{@candidate.name}
  .span7.pull-right.medium-text
    %a{:href => details_company_mrf_assessment_path(@company.id,@assessment.id)}
      Return to 360&#176; Profiling Exercise Details
    .divider1
    %a.btn.btn-info.big-text.big.bold{:href => add_stakeholders_company_mrf_assessment_path(@company.id,@assessment.id)}
      Add Stakeholders
  .clr
  .divider2
  = render :partial => "shared/360/candidate-details-sub-nav"

  .padding-all2.border-warning.shifted-up1    
    .list-snippet-titles.big-text.clearfix
      .span3.first
        %a{:href => "#", :title => "360 ID"}
          360&#176;CID
          %i.icon-chevron-down.small-text.line-height1
      .span10
        %a{:href => "#", :title => "Created On"}
          Stakeholders
          %i.icon-chevron-down.small-text.line-height1
      .span5
        %a{:href => "#", :title => "Profiling Exercises Title "}
          Stakeholders Role
          %i.icon-chevron-down.small-text.line-height1
      .span5
        %a{:href => "#", :title => "Candidates"}
          Response Status
          %i.icon-chevron-down.small-text.line-height1
      .span5
        Send Reminder
      .clr
      .divider1          
      %ul
        - @feedbacks.each do |feedback|
          - stakeholder = @stakeholder_assessments[feedback.stakeholder_assessment_id].first.stakeholder
          %li.list-snippet.extra-medium-text
            .divider1
            .span3.first
              = feedback.id
            .span10
              = stakeholder.name
            .span5
              = feedback.role.titleize
            .span5
              = Vger::Resources::Mrf::Feedback.completed_statuses.include?(feedback.status) ? "Completed" : "Pending"
            .span5
              %a{:href => send_reminder_company_mrf_assessment_path(@company.id, @assessment.id, :options => { candidate_id: @candidate.id, stakeholder_id: stakeholder.id }), :title => "Send Reminders"}
                Send Reminder
            .clr
    .divider2
    .pull-right
      .muted.extra-medium-text
        .span.line-height2
          Go to Page
        %select.span2
          %option 01
        .clr
    .clr
