.details-mrf
  .span15.huge-text.first
    .divider1
    #{@candidate.id} - #{@candidate.name}
  .span7.pull-right.medium-text
    %a{:href => details_company_mrf_assessment_path(@company.id,@assessment.id)}
      Return to 360&#176; Profiling Exercise Details
    .divider1
    %a.btn.btn-info.big-text.big.bold{:href => add_stakeholders_company_mrf_assessment_path(@company.id,@assessment.id, :candidate_ids => @candidate.id)}
      Add Stakeholders
  .clr
  .divider2
  = render :partial => "shared/360/candidate-details-sub-nav"


  .padding-all2.border-warning.shifted-up1
    .pull-left.extra-medium-text
      .span10.first
        #{@assessment.id} - #{@assessment.name}
      .clr.divider1
      .pull-left
        %i.icon-file
        360 Report For #{@candidate.name}:
        - if @report && @report.status == Vger::Resources::Mrf::Report::Status::UPLOADED
          %a{:href => s3_report_company_mrf_assessment_path(@company.id, @assessment.id, @candidate.id, @report.id), :title => "View Report", :target => '_blank'}
            %i.icon-file
            View
        - elsif @report
          %i.icon-spinner.icon-spin 
          Generating Report...  
        - else
          Pending
      .clr
    .clr.divider2
    %table.extra-medium-text{:width => "710", :align => "center", cellpadding: "0", :cellspacing => "0"}
      %tbody
        %tr.color-info.heading
          %td 
            Stakeholders
          %td 
            Invited
          %td 
            Responded
          %td 
            Status
          %td 
            Reminders
        - @feedbacks.each do |role,count|
          %tr
            %td 
              = role.titleize
            %td 
              = count
            %td 
              = @completed_feedbacks[role].to_i
            %td 
              - pending = count - @completed_feedbacks[role].to_i
              = pending == 0 ? "Completed" : (pending < count) ? "Partially Complete" : "Pending"
            %td
              - if @completed_feedbacks[role].to_i != count
                %a.default{:href => send_reminder_company_mrf_assessment_path(@company.id, @assessment.id, :options => { candidate_id: @candidate.id, role: role }), :title => "Send reminder"}
                  Send reminder
              - else
                = "-"    
        %tr.font-bold
          %td 
            Total
          %td 
            = @feedbacks.values.sum
          %td 
            = @completed_feedbacks.values.sum
          %td 
            - total = @feedbacks.values.sum
            - pending = total - @completed_feedbacks.values.sum
            = pending == 0 ? "Completed" : (pending < total) ? "Partially Complete" : "Pending"
          %td
            - if pending > 0 
              %a{:href => send_reminder_company_mrf_assessment_path(@company.id, @assessment.id, :options => { candidate_id: @candidate.id }), :title => "Send Reminder to all pending"} 
                Send Reminder to all pending
            - else
              = "-"    
    .divider1
    - unless @self_feedback
      .extra-medium-text.margin-auto{:style => "width: 710px"}
        Self Ratings: Currently Disabled - 
        %a{:href => enable_self_ratings_company_mrf_assessment_path(@company.id, @assessment.id, candidate_id: @candidate.id), :title => "Enable for all?"}
          Enable?
    - else     
      .extra-medium-text.margin-auto{:style => "width: 710px"}
        Self Ratings Enabled
      .divider2
