%ul.competency-list.pull-left
  - competency_scores.each do |competency_name, competency_score|
    - scale_values = get_scale_calculations_for_competency(competency_score, @company_norm_buckets)
    %li
      .span1.first.hexagon-icon{:class =>  scale_values[:klass]}
      -#toggle class".less_favorable" and "favorable"
      .competency-name.span12.line-height-normal.no-border.first
        = competency_name
      .scale.span8.pull-right.overview_scale
        .scale_inner
          .desire_range_container{ style: "left: #{scale_values[:scale_offset]}%; width: #{scale_values[:scale_width] }%" }
            .desire_range{:style=>"width: #{scale_values[:range_width]}%; margin-left: #{scale_values[:range_offset]}%"}
          .line{ style: "left: #{scale_values[:scale_offset]}%; width: #{scale_values[:scale_width] }%" }
          .marker_container
            - @company_norm_buckets.each do |company_norm_bucket|
              .marker{ class: company_norm_bucket.norm_bucket_ids.include?(competency_score[:grade_uid]) ? "active #{scale_values[:klass]}" : "#{scale_values[:klass]}", style: "width: #{scale_values[:marker_width]}%"}
                %span
                  = company_norm_bucket.norm_bucket_ids.include?(competency_score[:grade_uid]) ? company_norm_bucket.name : ""
            .clr
      .clr
.clr
