.create-test.norms.add
  .inn.first
    .page-title #{@assessment.name}
  .inn.gray-gradient
    = render :partial => "shared/test-flow-sub-nav"
    %a.underlined.pull-right{:href => "#"}
      View Instructions
    .clr
    .divider1
    .select-candidate-type 
      %b.span.show.left-offset1
        Please select the candidate type:
      .show.left-offset1.span12
        %label.pull-left
          - checked = (params[:candidate_stage] == Vger::Resources::Candidate::Stage::EMPLOYED)
          %input{:type => "radio", :name => "candidate_stage", value: Vger::Resources::Candidate::Stage::EMPLOYED, :onClick => "window.location='#{request.path}?upload_method=#{params[:upload_method]}&candidate_stage=#{Vger::Resources::Candidate::Stage::EMPLOYED}';", checked: checked}
          Existing Employees
        %label.pull-left.left-offset1
          - checked = (params[:candidate_stage] == Vger::Resources::Candidate::Stage::CANDIDATE)
          %input{:type => "radio", :name => "candidate_stage", value: Vger::Resources::Candidate::Stage::CANDIDATE, checked: checked, :onClick => "window.location='#{request.path}?upload_method=#{params[:upload_method]}&candidate_stage=#{Vger::Resources::Candidate::Stage::CANDIDATE}';"}
          Potential Employees
        .clr 
      .clr 
    .divider1
    - if current_user.type == "SuperAdmin"
      = render :partial => "candidate_assessments/bulk_upload"
    = form_for @assessment, :as => :assessment, :url => add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
      .divider1
      - checked = (params[:upload_method] == "manual")
      %input{ type: "hidden", value: "#{params[:candidate_stage]}", name: "candidate_stage" }
      %div{class: "#{checked ? 'activated':'de-activated'}"}
        - if current_user.type == "SuperAdmin"
          %label
            %input{:type => "radio", :name => "upload_method", :onClick => "window.location='#{request.path}?upload_method=manual&candidate_stage=#{params[:candidate_stage]}'", :checked => checked}
            %b.extra-medium-text Add candidates manually: 
          .divider1
        .span6.left-offset1
          %b.show Full name
          (Required)
        .span6.first
          %b.show Email id
          (Required)
        .span4  
          %b.show Mobile number
          (Optional)
        .span5
          %b.show Functional Area
          (For existing employees only)
        .clr
        .divider1
        %ul.add-candidates.unstyled.clearfix
          - 10.times do |index|
            = render :partial => "candidate_assessments/assessment_candidate_assessment_fields", :locals => { :index => (index+1), :candidate => (params[:candidates].to_a[index][1] rescue {}) } 
        %button.pull-right.btn.btn-info{ disabled: !checked }
          Proceed
        .clr
