.heading.gray_bg
  Hiring Preferences
  - if allow_edit ||= false
    .pull-right
      %a{:href => edit_recruiters_jobs_path(:id => @job.uuid, :section => "hiring-preferences"), :title => "Edit this section"}
        Edit
- if @job.candidate.present?
  - if @job.candidate.industry.present?
    .section  
      .medium_text.text_right.span5
        %strong Industries
      .description.span10
        - @job.candidate.industry.id.each do |industry|
          .highlight_badge
            = Vger::Spartan::Opus::Recommendation.find(industry).name
  - if @job.candidate.location.present?
    .section  
      .medium_text.text_right.span5
        %strong Locations
      .description.span10
        - @job.candidate.location.id.each do |location|
          .highlight_badge.span
            = Vger::Penumbra::Geography.find(location).name
.section  
  .medium_text.text_right.span5
    %strong Communication Skills
  .description.span10
    .span3
      Spoken English
    - if @job.spoken_skill.present?
      .span3
        %div{data: {"star" => true, "star_rating" => @job.spoken_skill.to_i}}
      .span3
        = skill_level_display(@job.spoken_skill.to_i)
    .clr
    .span3
      Written English
    - if @job.written_skill.present?
      .span3
        %div{data: {"star" => true, "star_rating" => @job.written_skill.to_i}}
      .span3
        = skill_level_display(@job.written_skill.to_i)
.section  
  .medium_text.text_right.span5
    %strong Behavioral Traits
  .description.span10
    - (@job.trait || []).each do |trait|
      .highlight_badge.span
        #{Vger::Spartan::Dilios::Trait.find(trait).name}
- if @job.candidate.present?
  - if @job.candidate.personal.gender.present?
    .section  
      .medium_text.text_right.span5
        %strong Gender
      .description.span10
        #{Vger::Spartan::Dilios::Gender.find(@job.candidate.personal.gender).name}
  - if @job.candidate.personal.marital_status.present?
    .section
      .medium_text.text_right.span5
        %strong Marital Status
      .description.span10
        #{Vger::Spartan::Dilios::MaritalStatus.find(@job.candidate.personal.marital_status).name}