.heading.gray_bg
  Job Requirements
  - if allow_edit ||= false
    .pull-right
      %a{:href => edit_recruiters_jobs_path(:id => @job.uuid, :section => "job-requirements"), :title => "Edit this section"}
        Edit
- if @job.work_experience.present?
  .section  
    .medium_text.text_right.span5
      %strong Years of Work Experience
    .description.span10
      - if @job.work_experience.type.to_s == "true"
        #{@job.work_experience.min_range} - #{@job.work_experience.max_range} yrs of Experience
      - else
        Fresher
- if @job.qualification.present?
  .section  
    .medium_text.text_right.span5
      %strong Qualifications
    - degrees = @job.qualification.degree_diploma
    - specializations = @job.qualification.specialization
    - degrees.zip(specializations).each do |degree, specialization|
      .description.span10
        #{Vger::Spartan::Opus::Recommendation.find(degree).name} in #{Vger::Spartan::Opus::Recommendation.find(specialization).name}
- if @job.skill.present?
  - if @job.skill.must.present?
    .section  
      .medium_text.text_right.span5
        %strong Must Have Skills
      .description.span10
        - if @job.skill.must
          - skill_ids = @job.skill.must.skill_id
          - experiences = @job.skill.must.experience
          - skill_ids.zip(experiences).each do |skill, exp|
            .highlight_badge.span
              = Vger::Spartan::Opus::Recommendation.find(skill).name
              #{exp} years
  - if @job.skill.nice.present?
    .section  
      .medium_text.text_right.span5
        %strong Nice to have Skills
      .description.span10
        - (@job.skill.nice.skill_id || []).each do |skill|
          .highlight_badge.span
            = Vger::Spartan::Opus::Recommendation.find(skill).name
- if @job.description.present?
  .section  
    .medium_text.text_right.span5
      %strong Job Description
    .description.span10
      = @job.description