.heading.gray_bg
  Recruiter Details
  - if allow_edit ||= false
    .pull-right
      %a{:href => edit_recruiters_jobs_path(:id => @job.uuid, :section => "company-details"), :title => "Edit this section"}
        Edit
.section  
  .medium_text.text_right.span5
    %strong Company Name    
  .description.span10
    #{@job.company.name}
.section  
  .medium_text.text_right.span5
    %strong About Company    
  .description.span10
    #{@job.company.description}
.section  
  .medium_text.text_right.span5
    %strong Company  Website    
  .description.span10
    #{@job.company.url}
.section  
  .medium_text.text_right.span5
    %strong Location    
  .description.span10
    #{@job.company.address}
.section  
  .medium_text.text_right.span5
    %strong Address    
  .description.span10
    #{Vger::Penumbra::Geography.find(@job.company.location.geography_id.first).name}