.heading.gray_bg
  Recruiter Contact Details
  - if allow_edit ||= false
    .pull-right
      %a{:href => edit_recruiters_jobs_path(:id => @job.uuid, :section => "company-details"), :title => "Edit this section"}
        Edit
.section  
  .medium_text.text_right.span5
    %strong Job ID (Internal)    
  .description.span10
    - if @job.contact_detail.present?
      #{@job.contact_detail.job_id}
.section  
  .medium_text.text_right.span5
    %strong Application URL (if any)    
  .description.span10
    - if @job.contact_detail.present?
      #{@job.contact_detail.application_url}
.section  
  .medium_text.text_right.span5
    %strong Hiring Manager Name    
  .description.span10
    = current_user.name
.section  
  .medium_text.text_right.span5
    %strong Phone Number    
  .description.span10
    = current_user.phone
.section  
  .medium_text.text_right.span5
    %strong Email id    
  .description.span10
    = current_user.email