.add-user
  = render :partial => "shared/sub-nav"
  .inn.first
    .page-title
      Settings
  .inn.gray-gradient
    .pull-left.sub-nav
      = render :partial => "shared/settings-content-sub-nav"
    .clr
    .divider2
    = form_for @company, :as => :company, :url => add_users_company_path(@company), method: :put do |f|
      .large-text.pull-left
        Add New User
      .pull-right.medium-text.actions
        %a.line-height2.show.span{:href => user_settings_company_path(@company)}
          Cancel&nbsp;
        %input{ class: "button btn btn-info span show", type: "submit", value: "Add" }
        .clr
      .clr
      .clearfix
        %b.left Full Name
        %b.right Email ID
      .divider1

      %ul.add-users-listing
        - 10.times do |index|
          - candidate = params[:users].to_a[index][1] rescue {}
          %li.clearfix
            .sr-no
              #{index+1}
            %input.left{:type => "hidden", name: "users[#{index}][company_id]", value: @company.id}  
            %input.left{:type => "text", name: "users[#{index}][name]", :placeholder => "Enter Name Here", value: (candidate[:name])}
            %input.right{:type => "text", name: "users[#{index}][email]", :placeholder => "your_email@domain.com", value: (candidate[:email])}
      .pull-right.medium-text.actions
        %a.line-height2.show.span{:href => user_settings_company_path(@company)}
          Cancel&nbsp;
        %input{ class: "button btn btn-info span show", type: "submit", value: "Add" }
        .clr
      .clr
