- if params[:users].present?
  = content_for :alert do
    .alert.alert-error.large-text.line-height2
      %b
        .pull-left
          Are you sure you want to remove these Users  
        .pull-right
          = link_to "YES",confirm_remove_users_company_path(@company, :user_ids => params[:users].keys.join("|"))
          \| 
          = link_to "NO", user_settings_company_path(@company)
        .clr  
.company_profile
  = form_for @company, :as => :company, url: remove_users_company_path(@company), method: :put do |f|
    .page-title.pull-left
      .divider1
      Settings
    .pull-right
      %button.btn.btn-warning.inverse.large-text.pull-left
        Remove Users
      %a.btn.btn-warning.large-text.span{ href: add_users_company_path(@company) }
        Add New User
      .clr
    .clr
    .divider2
    = render :partial => "shared/settings-content-sub-nav"
    .padding-all2.border-warning.shifted-up1
      .list-snippet-titles.large-text.clearfix
        %a.span3.left-offset1.first{:href => "#", :title => "User ID"}
          User ID
          %i.icon-chevron-down.small-text.line-height1
        %a.span10{:href => "#", :title => "Name"}
          Name
          %i.icon-chevron-down.small-text.line-height1
        .span10
          Email id
        %a.span{:href => "#", :title => "Date Added"}
          Date Added
          %i.icon-chevron-down.small-text.line-height1
        .clr
        .divider1
      %ul
        - @users.each do |user|
          %li.list-snippet.border-bottom-grayLighter
            .divider1
            .span1.first
              %input{:type => "checkbox", name: "users[#{user.id}]", checked: (params[:users].keys.include?(user.id.to_s))}
            .span3
              JOM#{user.id}
            .span10
              = user.name
            .span10
              = user.email
            .span
              = hdate user.created_at
            .clr
            .divider1
