%ul.mrf_scores_listing
  - trait_scores.each do |trait_score|
    %li
      .divider3
      .span8.left-sec.first
        .rounded.pull-left
        .span7
          .title.medium-text
            = trait_score[:trait][:name]
          .discription
            = trait_score[:trait][:definition]
        .clr
      .right-sec.pull-right.right-offset1
        .rating-slider.mrf-benchmark-ranges
          .rating-marker-container
            - window = (380/(@norm_buckets.size-1))
            - margin_left = ((383 - (@norm_buckets.size * 20)) / (@norm_buckets.size-1))
            - flag = 0
            - @norm_buckets.each_with_index do |norm_bucket, index|   
              - self_rating_index = ''
              - mrf_rating_index = ''
              - klass = ''
              - if norm_bucket.name == trait_score[:average_score_self][:bucket]
                - self_rating_index = index
                - flag = 1
              - if norm_bucket.name == trait_score[:average_score_excluding_self][:bucket]
                - mrf_rating_index = index
                - flag = 1
              
              - if index == self_rating_index && index != mrf_rating_index
                - klass = 'self-rating'
              - if index == mrf_rating_index && index != self_rating_index
                - klass = 'mrf-rating'
              - if index == mrf_rating_index && index == self_rating_index
                - klass = 'self-rating mrf-rating'
            
              .marker{:class => klass,style: "margin-left:#{margin_left}px"}
                .arrow-mrf-result
                .arrow-self-result
                .mrf-result
                  .left
                    360 Rating
                  .right
                    = norm_bucket.name
                  .clr
                .self-result
                  .left
                    = norm_bucket.name
                  .right
                    Self Rating
                  .clr
            - if flag == 0
              .error-full-width
                No Responses Yet

          .clr
          - if @report.report_data[:assessment][:set_ranges]
            - from = @norm_buckets_by_id[trait_score[:trait][:from_norm_bucket][:id]]
            - to = @norm_buckets_by_id[trait_score[:trait][:to_norm_bucket][:id]]
            - width = to.weight - from.weight
            - window = 365 / (@norm_buckets.size-1)
            - range_width = (width * window)
            - offset = ((from.weight-1) * window)
            - range_width = 10 if range_width == 0
            .line{ style: "margin-left: #{offset}px;width:#{range_width}px" }
          - else
            .line
      .clr
      .divider3
.divider1
