.page-title 
  .divider1
  Survey - #{@survey.name}
.divider2
= render :partial => "shared/exit/navigation-sub-nav"
.divider3
- if params[:candidates]
  - url = send_survey_to_candidates_company_exit_survey_path(:company_id => params[:company_id], :id => params[:id])
- else
  - url = bulk_send_survey_to_candidates_company_exit_survey_path(:company_id => params[:company_id], :id => params[:id])  
= form_for @survey, :as => :survey, :url => url, multipart: true, method: :put, html: { class: "create-survey-form" } do |f|
  %input{ type:'hidden', name: 'candidate_stage', value: params[:candidate_stage] }
  - if params[:candidates]
    %input{:type => "hidden", name: "candidate_ids", value: params[:candidates].keys.join(",") }
    %input{:type => "hidden", name: "upload_type", value: "manual" }
    - params[:candidates].each do |id,candidate_data|
      %input{:type => "checkbox", name: "selected_candidates[#{id}]", checked: true, style: "display:none;"}
      %input{:type => "hidden", name: "candidates[#{id}][name]", value: candidate_data[:name]}
      %input{:type => "hidden", name: "candidates[#{id}][email]", value: candidate_data[:email]}
  - else
    %input{:type => "hidden", name: "upload_type", value: "bulk" }
    %input{:type => "hidden", name: "s3_bucket", value: @s3_bucket }
    %input{:type => "hidden", name: "s3_key", value: @s3_key }
    %input{:type => "hidden", name: "functional_area_id", value: @functional_area_id }
  .send-survey
    .span8.left-offset1
      - if @templates.size > 1
        .big-text.line-height2
          Choose Email Template
      %select{ id: "select_template", name: "template_id", class: (@templates.size <= 1 ? 'hide':''), onchange: "selectTemplate()" }
        -# add this class when template isnt availble "hide" to %select
        - @templates.each do |template|
          %option{value: template.id, body: template.preview(:body), subject: template.preview(:subject), from: template.preview(:from)}
            = template.name
    .email-template.pull-left{ class: (@templates.size <= 1 ? 'span18 margin-auto no-border':'') }
      -# add this classes when template isnt availble "span18 margin-auto no-border" to .email-template
      .gray-dark
        .span17
          .large-text
            Following is the Preview of the email that Survey takers will receive.
          .divider1   
          - template = @templates[0]
          .exit-email.hide
            .test-text-to-send
              %span.extra-medium-text.span2.first.show
                From
              .massage-body.italic.span15.medium-text.email-from
                - if template && template.from
                  = template.preview(:from).html_safe
                - else
                  = "<Sender Name> at #{@company.name}"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Subject
              .massage-body.italic.span15.medium-text.email-subject
                - if template && template.subject
                  = template.preview(:subject).html_safe
                - else
                  = "<Survey Taker's Name>, #{@company.name} has chosen you to write an Survey"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Message
              .massage-body.italic.span15.medium-text.email-body

          .default-email
            .test-text-to-send
              %span.extra-medium-text.span2.first.show
                From
              .massage-body.italic.span15.medium-text
                - if template && template.from
                  = template.preview(:from).html_safe
                - else
                  = "<Sender Name> at #{@company.name}"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Subject
              .massage-body.italic.span15.medium-text
                - if template && template.subject
                  = template.preview(:subject).html_safe
                - else
                  = "<Survey Taker's Name>, #{@company.name} has chosen you to write an Survey"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Message
              .massage-body.italic.span15.medium-text
                - if template
                  = template.preview(:body).html_safe
                - else
                  = render :partial => "exit/surveys/candidates/mail_body_for_candidate"
              .clr                    
    .clr
    .divider2.border-bottom-grayLighter
    .divider2
    %input.btn.btn-warning.large-text.pull-right.right-offset2{:type => "submit", :value => "Send Survey"}

    %div.pull-left{style: "display:#{current_user.type == 'SuperAdmin' ? 'block': 'none'}"}
      -#
        %label.medium-text.pull-left.left-offset1{ :for => "send_report_to_candidate", :class => "font-normal"}
          %input{ type:'checkbox', name: 'send_report_to_candidate', id: "send_report_to_candidate" }
          Send report to candidate
        %label.medium-text.pull-left.left-offset1{:for =>"send_sms"}
          %input{:type=>"checkbox", name: "send_sms"}
          Also send survey invitations to candidates via SMS
      %label.medium-text.pull-left.left-offset1{:for =>"send_email"}
        %input{:type=>"checkbox", name: "send_email", checked: true}
        Send default email
      .clr
    .clr
= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'
= javascript_include_tag 'add_candidates'
