- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Company Details
- content_for :sidebar do
  .divider1
  .divider9.span5.fl_none.gray_border.margin_auto
  .divider1
  %strong.show.medium_text.padding_left_right2
    ZS Associates Company Pvt. Limited

.rec_rhs.margin
  .inn.clearfix
    .title.pull-left.faded_dark
      Profile
    %a.pull-right{:href => edit_recruiters_company_profile_path, :title => "Edit info"}
      %strong
        + Edit
    .clr
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Account Type
      .span8
        Employer
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        About Company
      .span8
        = @company.description
        -#
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Company Website
      .span8
        = @company.url
        -# ww.dfg.fg
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Location
      .span8
        -# = @company.location.first.geography_id
        Pune
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Address
      .span8
        = @company.address
        -# Lorem ipsum dolor sit amet, 

  .inn.clearfix
    .title.pull-left.faded_dark
      Account Details
    %a.pull-right{:href => edit_recruiters_company_profile_path, :title => "Edit info"}
      %strong
        + Edit
    .clr
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Name
      .span8
        = current_user.name
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Phone Number
      .span8
        = current_user.phone
    .divider1
    .content.clearfix.medium_text
      %strong.span6.text_right  
        Email ID
      .span8
        = current_user.email








     