- if is_superadmin?
  - assessment_sections = Rails.application.config.mrf_report_competency_sections["html"]
  %h1.text-center
    HTML Report Sections
  %ul.report_sections
    - assessment_sections.each do |name, settings|
      %li.padding-all1.parent
        .span14.large-text
          = settings["name"]
        .span14
          %input.section{:type => "checkbox", :name => "assessment[report_configuration][#{name}]", :section => name}
        .clr
        - if settings["subsections"].length > 0
          .divider1
          %ul.left-offset1
            - settings["subsections"].each do |key, value|
              %li.medium-text.child
                .span10
                  = value["name"]
                .span10
                  %input{:type => "checkbox", :name => "assessment[report_configuration][#{name}][#{key}]", :disabled => true, :class => "subsection_#{name}"}
              .clr
      %hr
