.header-container
  #header
    .container
      .logo.pull-left
        = image_tag(asset_path("jombay-logo.png"))
      - if @report.report_data[:company][:logo_url]
        .logo.pull-left
          - imagePath = @report.report_data[:company][:logo_url]
          %img{:src => "#{imagePath}", :alt=> "Company Logo", :style => "max-height: 25px"}
      .big-text.gray-dark.padding-all1.pull-left
        = truncate @report.report_data[:user][:name], length: 20
      .pull-right
        - section_value.each do |section|
          = render :partial => section["path"], locals: { section_value: section["children"] }
= wicked_pdf_javascript_include_tag 'common'

