
.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag("#{Rails.application.config.action_controller.asset_host}/#{asset_path("jombay-logo.png")}")
      .big-text.gray-dark.padding-all1.pull-left
        = @report.report_data[:candidate][:name]
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          
          - if @report.report_data[:plain_mrf_report_cover] || @report.report_data[:mrf_report_cover]
            %li
              %a.scroll{:href => "#overview", :title => "Overview"}
                Overview
          
          - if @report.report_data[:plain_mrf_traits_overview] || @report.report_data[:mrf_report_competencies_measured]
            %li 
              %a.scroll{:href => "#traits", :title => "Traits Measured in this Assessment"}
                Traits
          - if @report.report_data[:plain_mrf_report_traits_self_360] || @report.report_data[:mrf_report_competency_self_360]
            %li
              %a.scroll{:href => "#scores", :title => "Scores of Traits measured in this Assessment"}
                Scores
          
          - if @report.report_data[:assessment][:use_competencies] && (@report.report_data[:mrf_report_data_pts_competencies] || @report.report_data[:mrf_report_data_pts_competencies_avg])
            %li
              %a.scroll{:href => "#developement_guide_competencies", :title => "Development Guide for the Assessment Taker"}
                Data Points For Competencies
          
          - if @report.report_data[:mrf_report_data_pts_traits]
            %li
              %a.scroll{:href => "#developement_guide_traits", :title => "Development Guide for the Assessment Taker"}
                Data Points For Traits                
          
          - if @report.report_data[:mrf_report_360_feedback_stats]
            %li
              %a.scroll{:href => "#manager_guideline", :title => "Guidelines for Assessment Taker's Manager"}
                Summary
          %li.right
          / %a.btn.btn-warning.span{:href => "#"}
          /   Printable PDF

= wicked_pdf_javascript_include_tag 'common'
       