%h3 Item #{@item.id}
%p
  %b Body:
  = @item.body
  %br
= link_to "Edit", edit_objective_item_path(params[:id])
\|
= link_to "Back", objective_items_path()


%br
%br
%div
  %h3
    Options added for this item
    %br
%table
  %tr
    %th
      ID
    %th
      Body
    %th
      Score
    %th
      Order
  - @item.objective_options.each do |option|
    %tr
      %td
        = option.id
      %td
        = option.body
      %td
        = option.score
      %td
        = option.option_order
