.span14.margin-auto
  = form_for(@company, as: :company, url: sign_up_path, method: :post, html: { class: "" }) do |f|
    = f.fields_for :admin do |af|  
      .control-group
        %label.ie  Full Name
        = af.text_field :name, class: "lfw",title:"Enter your full name", required: true
        .clr
      .control-group
        %label.ie Company Email
        .info-tooltip-control.pull-right
          .info-tooltip.gray-darker
            We encourage you to enter your company email address (not personal email address) for getting full access & privileges.
            .left-caret
        = af.text_field :email, class: "lfw",title:"Enter your company email", required: true
        .clr
      .control-group
        %label.ie Password
        = af.password_field :password, class: "lfw",title:"Enter a password of your choice", required: true
        .clr
      .control-group
        %label.ie Contact Number
        .info-tooltip-control.pull-right
          .info-tooltip.gray-darker
            Required to ensure that nobody misused your identity. Don't worry all information you provide is completely confidential
            .left-caret
        = af.text_field :mobile, class: "lfw",title:"Provide your mobile number", required: true
        .clr
    .control-group
      %label.ie Company Name
      = f.text_field :name, title: "Provide your company name", class: "lfw", required: true
      .clr
    .control-group
      %label.ie Select Location
      = f.select :country, @countries.map(&:name), { prompt: "Country" }, { class: "lfw", required: true, title:"Please select a country from the list", oninvalid:"this.setCustomValidity('This field is mandatory')"  }
      .clr
    .control-group
      %label.ie Select Purpose
      - f.object.purpose = ''
      - options = ["To know my psychometric profile","To try psychometric assessments for my organization"]
      = f.select :purpose, options, { prompt: "I want to use Jombay for" }, { class: "fw", required: true, title:"Please select a purpose from the list", :oninvalid => "this.setCustomValidity('This field is mandatory')"}
    .divider1
    %input.btn.btn-warning.large-text.fw{:id => "sign-up", :type => "submit", :value => "Sign Up and Get Started!"}
    .divider1
    .text-center.default-text
      By Signing Up, you agree to
      %a.underlined{:href => "/terms-and-conditions/", :target=>"_blank", :title => "Jombay Terms and Conditions"}
        Jombay's Terms & Policies