- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

#error
.sign-up
  .container
    .span17.first
      .divider1
      %span.huge-text.font-bold
        Sign Up for your Free Trial
      %span.gray-dark.medium-text
        (less than 60 seconds)

      .divider1
      .big-text
        Get 5 Assessments for Free. No Obligation. No Credit Card required.
      .divider1
      .border-primary.border-radius3.padding-all2
        = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
          = render :partial => "signup/sign_up_ie"
        = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
          = render :partial => "signup/sign_up_all"
        

    .span9.left-offset2
      .divider1
      .extra-large-text.gray-dark.line-height2
        Already a user?
        %a{:href => "/login", :title => "Sign In to Jombay"}
          %b Sign In
      .clr
      .divider2
      .gray-darker
        .big-text
          5 reasons you will love Jombay
        .divider1
        %ol.medium-text
          %li
            Library of Ready-to-Send Assessments 
            .divider1
          %li
            Create your own Custom Assessments
            .divider1
          %li
            Send Assessments in less than 60 seconds
            .divider1
          %li
            Intuitive Reports 
            .divider1
          %li
            24X7 Customer Support
            .divider1
        .divider2
        .big-text
          Some of our happy customers
        .divider1
        = image_tag ("customers.png")
    .clr

= javascript_include_tag 'sign_up'