- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.alert.alert-error{:hidden =>"hidden"}
  %strong{:id=>"error"}
.sign-up
  .container
    .span17.first
      .divider1
      %strong.huge-text
        Sign Up for your Free Trial
      .divider1
      .big-text
        Get 5 Assessments for Free. No Obligation. No Credit Card required.
      .divider1
      .border-primary.border-radius3.padding-all2
        .span11.margin-auto
          = form_for(@company, as: :company, url: sign_up_path, method: :post, html: { class: "" }) do |f|
            = f.fields_for :admin do |af|  
              .control-group
                = af.text_field :name, class: "fw", placeholder: "Full Name", required: true
              .control-group
                = af.text_field :email, placeholder: "Company Email", class: "fw pull-left", required: true
                .info-tooltip-control.pull-left
                  .info-tooltip.gray-darker
                    We encourage you to enter your company email address (not personal email address) for getting full access &amp; privileges
                    .left-caret
                .clr
              .control-group
                = af.password_field :password, placeholder: "Enter a password of your choice", class: "fw", required: true
              .control-group
                = af.text_field :mobile, placeholder: "Contact Number", class: "fw pull-left", required: true
                .info-tooltip-control.pull-left
                  .info-tooltip.gray-darker
                    Required to ensure that nobody misused your identity. Don't worry all information you provide is completely confidential
                    .left-caret
                .clr
            .control-group
              = f.text_field :name, title: "Sign to Jombay", placeholder: "Company Name", class: "fw", required: true
            .control-group
              = f.select :country, @countries.map(&:name), { prompt: "Country" }, { class: "fw", required: true }
            %button.btn.btn-warning.large-text.fw{:id => "sign-up"}
              Sign Up
            .divider1
            .text-center.default-text
              By Clicking “Sign Up” above you agree to the 
              %a.underlined{:href => "http://products.jombay.com/terms-and-conditions/", :target=>"_blank", :title => "Jombay Terms and Conditions"}
                Terms and Conditions
        

    .span9.left-offset2
      .divider1
      .extra-large-text.gray-dark.line-height2
        Already a user?
        %a{:href => "/login", :title => "Sign In to Jombay"}
          %b Sign In
      .clr
      .divider2
      .gray-darker
        .big-text
          5 reasons you will love Jombay
        .divider1
        %ol.medium-text
          %li
            Library of Ready-to-Send Assessments 
            .divider1
          %li
            Create your own Custom Assessments
            .divider1
          %li
            Send Assessments in less than 60 seconds
            .divider1
          %li
            Intuitive Reports 
            .divider1
          %li
            24X7 Customer Support
            .divider1
        .divider2
        .big-text
          Some of our happy customers
        .divider1
        = image_tag ("customers.png")
    .clr

= javascript_include_tag 'sign_up'