= form_for :factor_display_name, :url => import_display_names_suitability_factors_path, html: { multipart: true }, :method => :post do |f|
  %fieldset
    %legend
      %strong Import Display Names for #{controller.resource_name.humanize}
    = fields_for "import" do |f|
      %p
        Excel File :
        = f.file_field "file"
    .actions
      = submit_tag "Import"
