%h3 #{params[:type]}
- if can? :create, "All Suitability Factors"
  = link_to "Manage Suitability Factors", manage_suitability_factors_path
  \|
  = link_to "Suitability Factors", suitability_factors_path(:type => "Suitability::Factor")
  \|
  = link_to "Direct Predictors", suitability_factors_path(:type => "Suitability::DirectPredictor")
  \|
  = link_to "Alarm Factors", suitability_factors_path(:type => "Suitability::AlarmFactor")
.pagination.pull-right
  = paginate @factors        
.clr  
%table
  %tr
    %th
      ID
    %th
      Name
    %th
      Definition
    %th
      Parent    
  - @factors.each do |factor|
    %tr 
      %td{ width: "5%" }
        = factor.id
      %td{ width: "20%" }
        %a{ href: suitability_factor_path(:id => "#{factor.id}") }
          = factor.name
      %td{ width: "55%" }
        = factor.definition
      %td
        - if factor.parent
          = link_to factor.parent.name, suitability_factor_path(factor.parent.id)
.pagination.pull-right
  = paginate @factors       
.clr   

