%h3 All Suitability Factors : Showing #{params[:type]}
- if can? :create, "Suitability::Factor"
  = link_to "Manage Suitability Factors", manage_suitability_factors_path
  \|
  = link_to "Suitability Factors", suitability_factors_path(:type => "Suitability::Factor")
  \|
  = link_to "Direct Predictors", suitability_factors_path(:type => "Suitability::DirectPredictor")
  \|
  = link_to "Alarm Factors", suitability_factors_path(:type => "Suitability::AlarmFactor")
  \|
  = link_to "Lie Detectors", suitability_factors_path(:type => "Suitability::LieDetector")
.pagination.pull-right
  = paginate @factors
.clr
%table
  %tr
    %th
      ID
    %th
      UID
    %th
      Name
    %th
      Definition
    %th
      Parent
    %th
      Active
    %th
      Factor Order
    %th
      Companies
    %th
      Edit
    
  - @factors.each do |factor|
    %tr
      %td{ width: "5%" }
        = factor.id
      %td{ width: "5%" }
        = factor.uid rescue 'Not Found'
      %td{ width: "15%" }
        %a{ href: suitability_factor_path(:id => "#{factor.id}") }
          = factor.name
      %td{ width: "40%" }
        = factor.definition
      %td
        - if factor.parent_id
          = link_to factor.parent_id, suitability_factor_path(factor.parent_id)
      %td
        = factor.active
      %td
        = factor.factor_order
      %td
        = factor.company_names
      %td
        = link_to "Edit", edit_suitability_factor_path(factor.id)
.pagination.pull-right
  = paginate @factors
.clr

