%h1
  Suitability Factor ::
  = @factor.name
 
%div 
  Suitability Factor Definition ::
  = @factor.definition
  
= link_to "Add Text Item", new_suitability_factor_item_path(@factor, item_type: "Suitability::Item")

= link_to "Add Image Item", new_suitability_factor_item_path(@factor, item_type: "Suitability::ImageItem")

= link_to "Back", suitability_factors_path

%div
  %h3
    Items added for this factor
    
  - Vger::Resources::Suitability::Item.where(:query_options => { :factor_id => @factor.id }).all.each do |item|
    = link_to item.body, suitability_factor_item_path(params[:id],item.id)
    %br
    

