%h3 Suitability Factor #{@factor.id}
%p
  %b Name:
  = @factor.name
  %br
  %b Definition:
  = @factor.definition
  %br
  %b Visibility:
  = @factor.modules.join(", ")
  
= link_to "Add Item", new_suitability_item_path(item_type: "Suitability::Item", :item => { :factor_id => @factor.id })
\|
= link_to "Edit", edit_suitability_factor_path(@factor)
\|
= link_to "Back", suitability_factors_path
%br
%br
%div
  %h3 Suitability Items
    
= render :partial => "suitability/items/index", locals: { objects: @suitability_items }
%br
%br
%h3 360 Degree Items
= render partial: 'mrf/items/index', locals: { items: @mrf_items }
