%h1 All Items / Item Groups
- if can? :create, "Suitability::ItemGroup"
  = link_to "Manage Suitability ItemGroups", manage_suitability_item_groups_path
  \| 
  = link_to "Add New", new_suitability_item_group_path

.pagination.pull-right        
  = paginate @item_groups    
.clr
%table
  %tr
    %th Id
    %th Body
    %th Behavior
    %th Active
  - @item_groups.each do |item_group|
    %tr 
      %td{ width: "13%" }
        = link_to item_group.id, suitability_item_group_path(item_group.id)
      %td{ width: "13%" }
        = link_to item_group.body, suitability_item_group_path(item_group.id)
      %td{ width: "13%" }
        = item_group.behaviour
      %td{ width: "13%" }
        = item_group.active  
      
.pagination.pull-right        
  = paginate @item_groups    
.clr
