= form_for :item_group, :url => import_with_options_from_google_drive_suitability_item_groups_path, html: { multipart: true }, :method => :post do |f|
  %fieldset
    %legend
      Import Suitability Items
    %br
    Assessment ID
    = f.text_field :assessment_id
    %br
    %br
    = f.fields_for :file do |ff|
      File
      = ff.text_field "url", value: ""
    %br
    %br  
    = f.fields_for :zip_file do |ff|
      Image Zip
      = file_field_tag "zip"
    = f.hidden_field :email, :value => current_user.email
    %br
    %br
    .actions
      = submit_tag 'Import Suitability Items'
%br
%br/
= render :partial => "master_data/#{controller.import_from}"
%br/
= render :partial => "master_data/export_form"
%br/
= link_to 'Back', suitability_item_groups_path     
=# link_to 'Destroy All', destroy_all_suitability_item_groups_path     
