- content_for :javascripts do
  = javascript_include_tag "users/login"
- content_for :recruiter_title do
  .t_heading.clearfix.padding_left_right1
    .pull-left.biggest_text.white.font_normal.line_height2
      Recruiter Log In
    .pull-right.medium_text.white.line_height2
      New to Jombay.com?
      %a{:href => new_user_registration_path(:redirect_to => ""), :title => "Register to Jombay"}
        %strong.white Register
      here
  .clr

- content_for :sidebar do
  = render :partial => "recruiters/shared/help_block"
  
.rec_rhs
  .divider2
  .registration_form
    = form_tag user_session_path(:redirect_to => @redirect_to), :id => "loginForm", :class => "form-horizontal" do
      = fields_for :user do |f|
        .control-group
          = f.label :email, "Email id", :class => "control-label"
          .controls
            = f.text_field :email, :placeholder => "Email id", :class => "span9"
        .control-group
          = f.label :password, "Password", :class => "control-label"
          .controls
            = f.password_field :password, :placeholder => "Password", :class => "span9"
          .offset12
            %a.pull-left.black.line_height2.padding_left_right1.paddin_right{:href => new_user_password_path, :title => "Forgot Password?"}
              Forgot Password?
        .form-actions
          %button.pull-right{:class => "btn btn-warning offset1", :type => "submit"}
            %strong Log In
          .clr