- width = 66.66
.overview-title{:style=>"padding-left: 32px"}
  .pull-left.text-left
    .extra-large-text 
      Competency Scores
    .divider1
    .instruction_container
      .instructions
    .clr
  .scale
    .line{:style => "width:#{@score_buckets.size*width-10}px"}
    .marker-container
      - @score_buckets.each do |score_bucket|
        .marker
          .arrow
          .marker-info
            = @custom_score_bucket_names["#{score_bucket.uid}"]['description']
          = @custom_score_bucket_names["#{score_bucket.uid}"]['name']
      .clr
  .clr
.clr
%ul.competency-list
  - @report.report_data[:super_competency_scores].each do |id, data|
    - config = @report.report_data[:super_competency_configuration][:overall_configuration][id.to_s]
    - from_bucket_weight = @combined_score_buckets_by_id[config['desired_range']['from_bucket'].to_i].weight
    - to_bucket_weight = @combined_score_buckets_by_id[config['desired_range']['to_bucket'].to_i].weight
    - scored_bucket_weight = data[:score][:weight].to_i
    - scored_bucket = data[:score][:bucket]
    - range = (to_bucket_weight - from_bucket_weight)*80
    - left = (from_bucket_weight-1)*80
    %li
      .competency-name.pull-left
        = data[:name]
      .competency-value.pull-right
        .scale
          .line{:style => "width:#{@score_buckets.size*width-14}px"}
          .marker-container
            .desire_range{:style => "left: 0px; width: 0px; margin-left: 0px"}
            - @score_buckets.each do |score_bucket|
              - klass = score_bucket.name == scored_bucket ? "active" : ""
              .marker{ class: klass }
                - if score_bucket.name == data[:score][:bucket]
                  = @custom_score_bucket_names["#{score_bucket.uid}"]['name']
            .clr
        .clr
      .clr     
