- width = 66.66
.overview-title{:style=>"padding-left: 32px"}
  .pull-left.text-left
    .extra-large-text 
      Competency Scores
    .divider1
    .instruction_container
      .instructions
        - section_value.each do |value|
          = render :partial => value["path"]
    .clr
  .scale
    .line{:style => "width:#{@score_buckets.size*width-10}px"}
    .marker-container
      - @score_buckets.each do |score_bucket|
        .marker
          .arrow
          .marker-info
            = @custom_score_bucket_names["#{score_bucket.uid}"]['description']
          = @custom_score_bucket_names["#{score_bucket.uid}"]['name']
      .clr
  .clr
.clr
