-if @report.report_hash[:factor_scores].present?
  #traits
    .trait_fit
      .divider3
      .container
        .title
          Traits measured in this Assessment
        .divider2
        .instruction_container
          .instructions
            .instruction1.pull-left
              Favorable Traits
            .instruction2.less_favorable.pull-left
              Less Favorable Traits
            .clr
        .divider4
        .factors_container
          .factors_list
            - @report.report_hash[:factor_scores].each_with_index do |(factor_name,factor_score),index|
              - factor_name_link = factor_name
              - margin = centralAlignTraitNames(factor_name, "html")
              %div{ class: "factor_#{index+1}" }
                .text-wrap{:style=>"margin-top: #{margin}px;"}
                  %a{:href => "#"+"#{factor_name_link}", :title => "#{factor_name}", :class => "#{factor_score[:pass] ? 'favorable' : 'less_favorable'}"}
                    = factor_name.gsub(" ","<br/>").html_safe
            .clr
        .divider4
        .bottom-sec
          Empty Hexagons represent behavioural traits that are not included in the scope of this Assessment
        .divider2
