-if @report.report_hash[:trait_scores_plain]
  #scores.section03
    .divider2
    .scores.container
      .title
        Scores of Traits measured in this Assessment
      .divider1
      .instruction_container.pull-left
        .instructions
          .box.pull-left
            .box-icon.pull-left
            .box-title.pull-left Expected Score Range
            .clr
          .instruction1.pull-left
            Favorable Traits
          .instruction2.less_favorable.pull-left
            Less Favorable Traits
          .clr

      .scale
        .line{:style=>"width:#{(@company_norm_buckets.size-1)*80}px"}
        .marker-container
          - marker_width = 80
          - @company_norm_buckets.each do |norm_bucket|
            .marker{ style: "width: #{marker_width}px;" }
              .arrow
              .marker-info
                = norm_bucket.description
              - if norm_bucket.name.split(" ").size == 1
                %br/
              = norm_bucket.name.split(" ").join("<br/>").html_safe
          .clr
      .clr
      .divider4
      %ul.clearfix.scores_listing.first
        - factor_scores.each_with_index do |(factor_name,factor_score),index|

          %li{:id => "#{factor_name}"}
            .divider1
            .lhs-sec.pull-left{:style=> "width: 730px;"}
              %div{ class: "span1 first hexagon-icon #{factor_score[:pass] ? 'favorable' : 'less_favorable'}" }
              -#use ".mid-favorable" or ".less_favorable" or ".favorable" to change the color of hexagon
              .span16.first
                .factor-name.pull-left
                  = factor_name
                  .info
                    = factor_score[:factor_definition]
                  .arrow
                .clr
            .rhs-sec.pull-left
              .slider{:style=>"width:#{(@company_norm_buckets.size-1)*80}px"}
                - scale = factor_score[:scale]
                - norm_bucket_uid = factor_score[:norm_bucket_uid]
                - from_norm_bucket = @company_norm_buckets.detect{|company_norm_bucket| company_norm_bucket.norm_bucket_ids.include? scale[:from_norm_bucket_uid] }
                - to_norm_bucket = @company_norm_buckets.detect{|company_norm_bucket| company_norm_bucket.norm_bucket_ids.include? scale[:to_norm_bucket_uid] }
                - company_norm_bucket = @company_norm_buckets.detect{|company_norm_bucket| company_norm_bucket.norm_bucket_ids.include?(norm_bucket_uid)}
                - position = (company_norm_bucket.weight - 1) * marker_width
                - offset = ((from_norm_bucket.weight - 1) * marker_width)
                - width = (to_norm_bucket.weight - from_norm_bucket.weight) * marker_width
                .pointer{ class: "#{factor_score[:pass] ? '' : 'less_favorable'}", style: "left: #{position-14}px;" }
                  -# Use position1, postion2...5. for pointer position, and also add ".less_favorable" for first two buckets- "low" and "below average"
                  .score-indicater
                    = company_norm_bucket.name
                  .arrow
                .range{ style: "margin-left: #{offset}px;width: #{width}px;" }
                -#use offset0..offset4 and with this class use .width0...width4 (.width4 is 100%)

            .clr
            .divider1
            .factor-description
              = factor_score[:description]

            - if @report.report_hash[:enable_factor_consistency]
              .divider1
              .responses
                %i.icon-align-justify
                Reliability of Candidate's Responses for this Factor:
                %span.score
                  = factor_score[:consistency_bucket]
