= form_for :assessment, url: mrf_export_scores_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend 
      %strong Download 360 Scores
    %p
      Company ID : 
      = f.text_field :company_id
    %p
      Assessment ID : 
      = f.text_field :assessment_id
      
  .actions
    = submit_tag 'Download'
.divider1
    
= form_for :assessment, url: mrf_export_raw_scores_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend 
      %strong Download 360 Raw Scores
    %p
      Company ID : 
      = f.text_field :company_id
    %p
      Assessment ID : 
      = f.text_field :assessment_id
      

  .actions
    = submit_tag 'Download'    
    
.divider1    
= form_for :assessment, url: mrf_export_mrf_responses_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend 
      %strong Download 360 Responses
    %p
      Company ID : 
      = f.text_field :company_id
    %p
      Assessment ID : 
      = f.text_field :assessment_id

  .actions
    = submit_tag 'Download'    
