- url = @resource.id.present? ? self.send("#{resource_name.singularize}_path",@resource) : self.send("#{resource_name}_path")
= form_for @resource, as: resource_name.singularize, url: url do |f|
  .pull-left
    -# %input{:type => "hidden", :name => "template[body]", :value => ""}
    = f.hidden_field :body, :id => "template_body"
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :company_ids
      = f.text_field :company_ids, value: @resource.company_ids.to_a.join(",")
    .field
      = f.label :category
      = f.select :template_category_id, Hash[@template_categories.map{|tc| [tc.name, tc.id] }]
    .field
      = f.label :from
      = f.text_field :from, id: "template_from"
    .field
      = f.label :subject
      = f.text_field :subject, id: "template_subject"
      
  .pull-left
    %h3
      Template Variables (Click on a template variable to add it to the template body)
    %ul#template_variables
      - @template_variables.sort_by(&:id).each_with_index do |template_variable,index|    
        %li{ title: template_variable.value }
          = template_variable.id
          = link_to template_variable.name, "#", template_variable_name: template_variable.id, class: "template_variable_link"
          
  .clr    

  %text_area{:id => "template_html_editor"}
  -# .field
  -#   = f.label :body
  -#   = f.text_area :body, id: "template_body"
  .action
    = f.submit      

- content_for :javascripts do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
  = javascript_include_tag "trumbowyg"
  = javascript_include_tag 'template'

- content_for :stylesheets do
  = stylesheet_link_tag "trumbowyg"