%h2
  Showing details of #{resource_name.singularize.titleize} - #{@resource.id}
%table{ cellspacing: 5, cellpadding: 5 }
  %tr
    %td 
      %h4 Name:
    %td #{@resource.name}
  %tr
    %td 
      %h4 Category:
    %td #{@resource.category}  
  %tr
    %td
      %h4 Preview:
    %td 
      %i #{@resource.preview_body.html_safe}
        
.links
  = link_to "Edit", send("edit_#{resource_name.singularize}_path",@resource)
  \|
  = link_to "Back", send("#{resource_name}_path")
