= render "shared/reports/pdf/report_header"  
#overview.cover_page.compact
  .overall_report
    .divider2
    .container
      .pull-left
        .user-name.extra-large-text
          = @report.report_hash[:user][:name]
        .divider1
        .extra-medium-text
          Assessment: 
          = @report.report_hash[:assessment][:name]
          %br/
          Assessment Answered On: 
          = @report.report_hash[:completed_at]
      .pull-right
        - section_value.each do |section|
          = render :partial => section["path"], :locals => { :section_value => section["children"] }
        .clr
      .clr  
    .divider1
    .divider2
    - competency_scores = @report.report_hash[:competency_scores].map{|key,value| [key,value] }
    .overview.compact
      .container
        .content
          - locals_hash = { competency_scores: competency_scores }
          - children = section_value.find{|x| x['id'] == 'pdf_cover_page_compact_overview_competencies_measured'}['children']
          - children.each do |section|
            - locals = Hash[section["locals"].map { |key, value| [key.to_sym, locals_hash[key.to_sym]] }]
            - locals[:section_value] = section["children"]
            = render :partial => section["path"], :locals => locals
        .divider2  
.page-break
