= render "shared/reports/pdf/report_header"  
#overview.cover_page.compact
  .overall_report
    .divider2
    .container
      .user-name.extra-large-text
        = @report.report_hash[:user][:name]
      .divider1
      .extra-medium-text
        Assessment: 
        = @report.report_hash[:assessment][:name]
        %br/
        Assessment Answered On: 
        = @report.report_hash[:completed_at]
    .divider1
    - section_value.each do |section|
      = render :partial => section["path"], :locals => { :section_value => section["children"] }
    .clr
    .divider1

.page-break
