- step_competency_scores.each do |competency_name,competency_data|
  .frame.competency-container
    .heading.pull-left{ title: competency_name }
      = competency_name.to_s[0..50]
    .heading.pull-right
    .clr
    .factors_container
      .factors_list  
        - competency_data[:factor_scores].each_with_index do |(factor_name,factor_score), index|
          - scale_values = get_scale_calculations(factor_score, @company_norm_buckets, 10)
          - factor_name_link = factor_name
          - margin = centralAlignTraitNames(factor_name, "pdf")
          %div{:class=>"factor_#{index+1} #{scale_values[:genericKlass]}"}
            .text-wrap{:style=>"margin-top: #{margin}px;"}
              %a{:href => "#"+"#{competency_name}#{factor_name}", :class => "#{scale_values[:genericKlass]}"}
                = factor_name.gsub(" ","<br/>").html_safe
        -#use ".less_favorable" or ".favorable" to change the color of text and ".underlined" for underlined Text.
