.frame
  .heading.pull-left
    #{competency_name} #{(step > 0 ? "(continued)":"")}
  .heading.pull-right 
    #{competency_data[:grade]}
  .clr 
  %ul.clearfix.scores_listing.first
    - factor_scores.each do |factor_name, factor_score|
      %li
        .lhs-sec.pull-left
          .hexagon-icon{ class: "#{factor_score[:pass] ? 'favorable' : 'less_favorable'}" }
            -#use ".mid_favorable" or ".less_favorable" or ".favorable" to change the color of hexagon
          .span.first
            .factor-name
              = factor_name
        .rhs-sec.pull-right
          .slider
            - scale = factor_score[:scale]
            .pointer{ class: "position#{scale[:position]} #{factor_score[:pass] ? '' : 'less-favorable'}" }

              -# Use position1, postion2...5. for pointer position, and also add ".less-favorable" for first two buckets- "low" and "below average"
              .score-indicater
                = factor_score[:norm_bucket]
              .arrow
            .range{ class: "offset#{scale[:offset]} width#{scale[:width]}" }
            -#use offset0..offset4 and with this class use .width0...width4 (.width4 is 100%)
        .clr
        .divider1
        .factor-description
          = factor_score[:description]

        - if @report.report_hash[:enable_factor_consistency]
          .responses  
            %i.icon-align-justify
            Reliability of Candidate's Responses for this Factor:
            %span.score 
              = factor_score[:consistency_bucket]
        .divider1
.divider2
        