- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.walk-ins-edit
  = form_for(:walkin_group, url: company_walkin_group_path(@company, @walkin_group), method: :put) do |f|
    .page-title
      .divider1
      = @walkin_group.title
    .divider2

    .expire-container
      .expire.pull-left
        %b.show.line-height2.medium-text.pull-left
          Expire page on (Date and Time): 
        &nbsp;
        = f.datetime_select :expires_on  
        .clr
      %a.expire-btn.btn.btn-warning.inverse.pull-right.big-text{:href => expire_company_walkin_group_path(@company, @walkin_group), :title => "Expire Page Now"}
        Expire Page Now
      .clr 
    
      .divider1
    .divider2
    .text-right
      %a.extra-medium-text.line-height3{:href => company_walkin_group_path(@company, @walkin_group), :title => "Cancel"}
        Cancel
      %input.btn.btn-warning.big-text.left-offset1{:type => "Submit", :title => "Update", :name => "Update", value: "Update"}
    .divider1
    .enable-assessment-list
      %ul.clearfix
        %li.titles
          .control-group.extra-medium-text
            .span5.text-center.first
              %b Included
            .span25
              %b Selected Assessments
            .clr  
          .divider1
        - @assessments.each do |assessment|
          %li
            -# add class ".checked" to "<label>" when user clicks on checkbox/label
            .divider1
            .control-group
              .span5.first.text-center
                %input{:type => "hidden", id: "enable_assessment_#{assessment.id}", name: "walkin_group[assessment_hash][#{assessment.id}][enabled]", value: @walkin_group.assessment_hash["#{assessment.id}"]['enabled']}
                %input{:type => "checkbox", :class => "assessment_checkbox", toggle_element: "#label_assessment_#{assessment.id}", id: "chk_assessment_#{assessment.id}", checked: @walkin_group.assessment_hash["#{assessment.id}"]['enabled'] == "true", assessment_id: assessment.id}
              .span25
                %label.checked{ for: "chk_assessment_#{assessment.id}", id: "label_assessment_#{assessment.id}" }
                  = assessment.name
              .clr
            .control-group
              .span5.medium-text.line-height2.first.text-center
                Display Name (Optional):
              .span25
                %input{:type => "hidden", name: "walkin_group[assessment_hash][#{assessment.id}][name]", value: assessment.name}
                = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
                  %input.fw{:type => "text", name: "walkin_group[assessment_hash][#{assessment.id}][display_text]", value: @walkin_group.assessment_hash["#{assessment.id}"]['display_text']}
                  .ie
                    Enter Display Name for the Assessments. This name is displayed on the Index Page. If left blank, existing assessments title will be shown.
                = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
                  %input.fw{:type => "text", :placeholder => "Enter Display Name for the Assessments. This name is displayed on the Index Page. If left blank, existing assessments title will be shown.", name: "walkin_group[assessment_hash][#{assessment.id}][display_text]", value: @walkin_group.assessment_hash["#{assessment.id}"]['display_text']}


              .clr
      .divider2
      .text-right
        %a.extra-medium-text.line-height3{:href => company_walkin_group_path(@company, @walkin_group), :title => "Cancel"}
          Cancel
        %input.btn.btn-warning.big-text.left-offset1{:type => "Submit", :title => "Update", :name => "Update", value: "Update"}

= javascript_include_tag "walk_ins"        
