.walk-ins-details
  .page-title.pull-left
    .divider1
    = @walkin_group.title
  
  %a.btn.btn-warning.pull-right.big-text.big.span{:href => edit_company_walkin_group_path(@company, @walkin_group), :title => "Edit Walk-In List"}
    Edit
  %span.extra-medium-text.pull-right.line-height3
    Page expires on:   
    %b #{ htime @walkin_group.expires_on } hrs
    %b 
      \|  
    %b #{ hdate @walkin_group.expires_on }
  .clr

  .divider1

  .index-page-link
    .span
      %b URL to access Index page:
    .span15
      %a{:href => @walkin_group.url, target: "_blank", :title => "URL to access Index page"}
        = @walkin_group.url
    .clr
  .divider2    
  .content-sub-nav.clearfix
    %a.menu{:title => "Candidates", :href => company_walkin_group_path(@company, @walkin_group), :class => "active"}
      Summary   
  .padding-all2.border-warning.shifted-up1
    .list-snippet-titles.large-text.clearfix
      .span3.first
        %a{:href=>"#"}
          AID
          %i.icon-chevron-down.small-text.line-height1
      .span13
        %a{:href=>"#"}
          Assessment Name
          %i.icon-chevron-down.small-text.line-height1
      .span6.text-center
        %a{:href=>"#"}
          Assessments Sent
          %i.icon-chevron-down.small-text.line-height1
      .span6.text-center
        %a{:href=>"#"}
          Assessments Answered
          %i.icon-chevron-down.small-text.line-height1
      .clr
    .divider1
    %ul
      - @assessments.each do |assessment|
        - if @walkin_group.assessment_hash["#{assessment.id}"]["enabled"] == "true"
          %li.list-snippet.border-bottom-grayLighter
            .divider1
            .span3.first
              %a.default-color{:title => "", :href => company_custom_assessment_path(@company, assessment)}
                #{assessment.id}
            .span13
              %a.default-color{:title => "", :href => company_custom_assessment_path(@company, assessment)}
                #{assessment.name}
            .span6.text-center
              %a.default-color{:title => "", :href => company_custom_assessment_path(@company, assessment)}
                = @company.assessmentwise_statistics[:sent][assessment.id.to_s] rescue 0
            .span6.text-center
              %a.default-color{:title => "", :href => company_custom_assessment_path(@company, assessment)}
                = @company.assessmentwise_statistics[:completed][assessment.id.to_s] rescue 0
            .clr
            .divider1
