- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.container
  #info_bar
    #info.content
      .span14.page-title.first.huge-text
        = @assessment.name
      .clr.divider1
      .divider2
.container
  .extra-large-text.text-center
    Please select the Subjective Questions to be included in this 360&#176; Profiling Exercise
  .divider1
  .span16.extra-medium-text.margin-auto
  .divider2
  = form_for @assessment, as: :assessment, url: add_subjective_items_company_mrf_assessment_path(@company.id,@assessment.id), html: { method: :put } do |f|
    %ul.big-text
      = f.hidden_field :company_id
      - index = 0
      - @subjective_items.each do |subjective_item|
        %li.less-padding-all1
          - index += 1    
          .span18
            %input.pull-left{ name: "subjective_items[#{subjective_item.id}][included]", 
              type: "checkbox", 
              id: "subjective_item_#{subjective_item.id}",
              checked: @assessment.configuration["subjective_items"][subjective_item.id.to_s].present? }
            %label.left-offset1.pull-left{ for: "subjective_item_#{subjective_item.id}" }
              = subjective_item.body
            .clr
          .span5
            %input.pull-left{ name: "subjective_items[#{subjective_item.id}][compulsory]", 
              type: "checkbox", 
              id: "subjective_item_compulsory_#{subjective_item.id}",
              checked: @assessment.configuration["subjective_items"][subjective_item.id.to_s][:compulsory] }
            %label.pull-left.left-offset1{ for: "subjective_item_compulsory_#{subjective_item.id}" }
              Compulsory  
            .clr
          .clr
      .divider1
    .divider3
    %input.btn.btn-info.large-text.bold.pull-right{:type=>"submit", :value=>"Proceed"}
    .clr
  .divider2
= javascript_include_tag 'add_traits'
