.details-mrf
  .span18.huge-text.first
    .divider1
    #{@assessment.id} - #{@assessment.name}
  %a.btn.btn-info.pull-right.big-text.big.bold{:href => new_company_mrf_assessment_path(@company)}
    Create a new 360&#176; Profiling Exercise 
  .clr
  .divider2
  = render :partial => "shared/360/candidate-content-sub-nav"


  .padding-all2.border-warning.shifted-up1
    .pull-left.extra-medium-text
      .span5.first
        Total Candidates: #{@feedbacks.values.flatten.map(&:candidate_id).uniq.size}
      .span5.first
        Traits Included: #{@assessment.assessment_traits.size}
      .clr.divider1
      .pull-left
        Assessment Included: 
      .span14 #{@custom_assessment ? @custom_assessment.name : "-"}
      .clr
    %a.btn.btn-info.pull-right.big-text.big.bold{:href => add_stakeholders_company_mrf_assessment_path(@company.id,@assessment.id)}
      Add Candidates / Stakeholders
    .clr.divider2
    %table.extra-medium-text{:width => "710", :align => "center", cellpadding: "0", :cellspacing => "0"}
      %tbody
        %tr.color-info.heading
          %td 
            Stakeholders
          %td 
            Invited
          %td 
            Responded
          %td 
            Status
          %td 
            Reminders
        - @feedbacks.each do |role,feedbacks|
          %tr
            %td 
              = role.titleize
            %td 
              = feedbacks.size
            %td 
              = completed_feedbacks = feedbacks.select{|feedback| feedback.status == Vger::Resources::Mrf::Feedback::Status::COMPLETED }
              = completed_feedbacks.size
            %td 
              = completed_feedbacks.size == feedbacks.size ? "Completed" : "Pending"
            %td 
              %a.default{:href => send_reminder_company_mrf_assessment_path(@company.id, @assessment.id, :options => { role: role }), :title => "Send reminder"}
                Send reminder
        %tr.font-bold
          %td 
            Total
          %td 
            = @feedbacks.values.flatten.size
          %td 
            = completed_feedbacks = @feedbacks.values.flatten.select{|feedback| feedback.status == Vger::Resources::Mrf::Feedback::Status::COMPLETED }
            = completed_feedbacks.size
          %td 
            Completed
          %td 
            %a{:href => send_reminder_company_mrf_assessment_path(@company.id, @assessment.id), :title => "Send Reminder to all pending"} 
              Send Reminder to all pending
    .divider1
    .extra-medium-text.margin-auto{:style => "width: 710px"}
      Self Ratings: Enabled for some candidates - 
      %a{:href => enable_self_ratings_company_mrf_assessment_path(@company.id, @assessment.id), :title => "Enable for all?"}
        Enable for all?
    .divider2
