.container
  .span14.page-title.first
  %h1 Edit a 360&#176; Profiling Exercise
  .clr.divider2
  = form_for :assessment, as: :assessment, url: company_mrf_assessment_path(@company.id,@assessment.id), multipart: true, method: :put do |f|
    .border-primary
      .padding-all2
        = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
          %label.pull-left.big-text.line-height2
            Enter a title for this 360&#176; Exercise
          %input.span20.pull-right{:type => "text", :value => "#{@assessment.name}", name: "assessment[name]", required: true}

        = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
          %input.span26.show.margin-auto{:type => "text", :value=>"#{@assessment.name}", name: "assessment[name]", required: true}
        .clr
      %select.span26.show.margin-auto{name: "assessment[assessment_type]"}
        %option{value: ''} Choose assessment type
        %option{ value: "jombay", selected: @assessment.configuration["assessment_type"] == "jombay" }
          Jombay
        %option{ value: "classic", selected: @assessment.configuration["assessment_type"] == "classic" }
          Classic  
      .divider1
      
      .span26.margin-auto
        - if is_superadmin?
          %label.big-text.default
            = f.check_box :use_competencies, checked: @assessment.use_competencies
            Use competencies
          .divider1
          %label.big-text.default
            = f.check_box :set_ranges, checked: @assessment.set_ranges
            Add Traits Range
          .divider1
          %label.big-text.default
            = f.check_box :show_company_logo, checked: @assessment.show_company_logo
            Show Company Logo
        .divider1
      .hw.pull-left
      
      .span26.margin-auto
        = render :partial => "shared/360/assessment_flags", :locals => { :f => f}
        
        .divider2
        %input.btn.btn-info.large-text.bold.text-center.pull-right{:name=>"save_and_next",:type=>"submit", :value=>"Update"}
      .clr
      .divider2
    .clr
