.profiling-exercises-list
  .span10.page-title.first
    .divider1
    360&#176; Profiling Exercises
  .pull-right.span  
    %a.btn.btn-info.big.big-text{:href => new_company_mrf_assessment_path(@company.id), :title => "Click Here To Create new 360 Assessment"} 
      Create a new 360&#176; Profiling Exercise
    %br  
    %br
    %a.big.big-text.text-center.pull-right{:href => candidates_company_mrf_assessments_path(@company.id), :title => "Click Here To Create new 360 Assessment"} 
      Search Candidates / Stakeholders
    .clr  
  .clr
  .divider2
  .list-snippet-titles.big-text.clearfix
    - if @assessments.present?
      .span3.first
        = sort_link "360&#176; ID", home_company_mrf_assessments_path(:company_id => params[:company_id]), :id, params[:search]
      .span4
        = sort_link "Created On", home_company_mrf_assessments_path(:company_id => params[:company_id]), :created_at, params[:search]
      .span8
        = sort_link "Title", home_company_mrf_assessments_path(:company_id => params[:company_id]), :name, params[:search]
      .span3.text-center
        Candidates
      .span4.text-center
        Stakeholders
      .span5.text-center
        Responses From
      .span3.text-center
        Add More
      .clr
      .divider2          
      %ul
        - @assessments.each do |assessment|
          %li.list-snippet.border-top-grayLighter.extra.medium-text
            .divider1
            .span3.first
              = link_to assessment.id, details_company_mrf_assessment_path(@company,assessment)
            .span4
              = link_to hdate(assessment.created_at), details_company_mrf_assessment_path(@company,assessment)
            .span8
              = link_to assessment.name, details_company_mrf_assessment_path(@company,assessment)
            .span3.text-center
              = @candidate_counts[assessment.id.to_s] || 0
            .span4.text-center
              = @stakeholder_counts[assessment.id.to_s] || 0
            .span5.text-center
              = @completed_counts[assessment.id.to_s] || 0
            .span3.text-center
              %a.icon-plus-sign.large-text{:href => add_stakeholders_company_mrf_assessment_path(@company.id, assessment.id), :title => "Add more"}
            .clr
    - else
      .alert.medium-text.text-center
        No 360 Degree Profiling Exercises present. 
  .divider2
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @assessments}
  .clr
