.trait-show.mrf
  .span18.huge-text.first
    .divider1
    #{@assessment.id} - #{@assessment.name}
  %a.btn.btn-info.pull-right.big-text.big.bold{:href => new_company_mrf_assessment_path(@company)}
    Create a new 360&#176; Profiling Exercise
  .clr
  .divider2
  = render :partial => "shared/360/user-content-competency-sub-nav"
  .padding-all2.border-warning.shifted-up1
    - if (@assessment.assessment_competencies.present?)
      .big-text.font-bold
        .pull-left
          Competencies Measured: #{@assessment.assessment_competencies.size}
       
        .pull-right.span7.first.text-center
          Expected Score Range
        .clr
      .divider1
      .scale.pull-right
        .line
        - @norm_buckets.each_with_index do |norm_bucket,index|
          - marker_left = (271/(@norm_buckets.size-1)) * index - 7.5
          .m{style: "margin-left:#{marker_left}px"}
            .hexagon
              .bucket-name
                = norm_bucket.name
      .clr
      %ul.clearfix.scores_listing.first
        - @assessment.assessment_competencies.each do |assessment_competency|
          - from = @norm_buckets_by_id[assessment_competency.from_norm_bucket_id]
          - to = @norm_buckets_by_id[assessment_competency.to_norm_bucket_id]
          - width = (to.weight - from.weight)
          %li
            .lhs-sec.span20.first
              .factor-name
                = assessment_competency.competency.name
              .factor-description
                = (assessment_competency.competency.factor_names + assessment_competency.competency.mrf_trait_names).join(", ")
            .rhs-sec.pull-right
              .marker-set
                - marker_width = 270 / @norm_buckets.size
                - @norm_buckets.each do |norm_bucket|
                  .marker{ class: (from.weight == norm_bucket.id || to.weight == norm_bucket.id) ? "show marker#{@norm_buckets.size}" : "marker#{@norm_buckets.size}", style:"width: #{marker_width}px" }
                    = norm_bucket.name
                .clr
              .slider
                - window = 271/(@norm_buckets.size-1)
                .vi
                  - (@norm_buckets.size - 2).times do |index|
                    - left = window + (index * window)
                    %div{ style: "position:absolute;height:3px;width:3px;background:black;border-radius:50%;left: #{left}px;top:2px;" }
                - range_width = width * window + 3
                - offset = (from.weight-1) * window
                .range{ style: "margin-left: #{offset}px;width:#{range_width}px" }
                .clr
            .divider2
      .divider2

