- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.container  
  .page-title
    Create a new 360&#176; Profiling Exercise
  .divider1
  = render :partial => "shared/mrf/360_navigation-sub-nav"
  .divider2
  = form_for :assessment, as: :assessment, url: company_mrf_assessments_path(@company), html:{id:"assessment_form"} do |f|
    %input{:id => "input_assessment_id", :value => @assessment.id, :type => "hidden"}
    %input{:id => "input_config", :name => "assessment[report_configuration]", :value => "" ,:type => "hidden"}
    %input{:id => "input_company_id", :value => @company.id, :type => "hidden"}
    %input{:id => "report_type", :value => "mrf", :type => "hidden"}
    %input{:id => "set_assessment_type", :value => "fit", :type => "hidden"}
    .border-primary
      .padding-all2.border-bottom-grayLighter
        = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
          %label.pull-left.big-text.line-height2 
            Enter a title for this 360&#176; Exercise
          %input.span20.pull-right{:type => "text", name: "assessment[name]"}
        = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
          %input.span26.show.margin-auto{:type => "text", :placeholder=>"Enter a title for this 360 Degree Exercise", name: "assessment[name]"}
        .clr
      .hw.border-right-gray.pull-left
        .span10.margin-auto
          .divider1
          %select.fw{name: "assessment[assessment_type]"}
            %option{value: ''} Choose assessment type
            %option{ value: "jombay" }
              Jombay
            %option{ value: "classic" }
              Classic
          .divider1
          - if is_superuser?
            %label.medium-text.default
              Page Size
            = f.text_field :page_size, placeholder: "Page Size", class: "fw"
            .divider1
            %label.big-text.default
              = f.check_box :use_competencies, :id => "check_use_competencies"
              Use competencies
            .divider1
            %label.big-text.default
              = f.check_box :set_ranges
              Add Traits Range
            .divider1
            %label.big-text.default
              = f.check_box :show_company_logo
              Show Company Logo
            .divider1
          .divider1
          %input.btn.btn-info.large-text.bold.pull-right{:name=>"proceed_with_competencies",:type=>"submit", :value=>"Proceed"}
          .clr
          .divider2
      .hw.pull-right
        .span11.margin-auto
          .divider7
          %input.big-text.btn-link.color-info{:name => "build_from_scratch", type: "submit", value: "Build 360 Degree from Scratch with New Traits"}
          .divider1 
          %p.medium-text.text-justify
            If you wish to build the 360&#176; Profiling without an existing assessment, by selecting Traits of your choice, choose this option.      
      .clr
      .divider2
  = render :partial => "shared/report_configuration"
  .clr
  .divider1
.divider1
