- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

= form_for @assessment, as: :assessment, url: order_enable_items_company_mrf_assessment_path(@company.id,@assessment.id), html: { method: :put } do |f|
  .order_enable_items
    .page-title 
      = @assessment.name
    .divider1
    .big-text
      .pull-left
        Items for: 
        %span.big-text.color-info Others
      .pull-right
        %label
          %input{ type: "checkbox", id: "checkAllOther", checked: true }
          Select All Other Items
      .clr  
    %br  
    %br
    - total_items = @trait_wise_items.values.flatten.select{|item| item.role != Vger::Resources::Mrf::Feedback::Role::SELF }.size
    - total_index = 0    
    - @trait_wise_items.each do |trait, items|
      - assessment_trait = @assessment_traits[trait]
      - items = items.select{|item| item.role != Vger::Resources::Mrf::Feedback::Role::SELF }
      = render partial: "trait_items", locals: { trait: trait, items: items, total_items: total_items, total_index: total_index, role: "other", selected_items: params[:selected_items_other], assessment_trait: assessment_trait }
      - total_index += items.size
    
    .big-text
      .pull-left
        Items for: 
        %span.big-text.color-info Self
      .pull-right
        %label
          %input{ type: "checkbox", id: "checkAllSelf", checked: true }
          Select All Self Items
      .clr  
    %br
    %br  
    - total_items = @trait_wise_items.values.flatten.select{|item| item.role == Vger::Resources::Mrf::Feedback::Role::SELF }.size
    - total_index = 0
    - @trait_wise_items.each do |trait, items|
      - assessment_trait = @assessment_traits[trait]
      - items = items.select{|item| item.role == Vger::Resources::Mrf::Feedback::Role::SELF }
      = render partial: "trait_items", locals: { trait: trait, items: items, total_items: total_items, total_index: total_index, role: "self", selected_items: params[:selected_items_self], assessment_trait: assessment_trait }
      - total_index += items.size
    %input.btn.btn-info.large-text.pull-right{:type => "submit", :value => "Proceed"}
    .clr
    
= javascript_include_tag "mrf/order_enable_items"    
