= form_tag import_from_google_drive_suitability_factor_norm_bucket_descriptions_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload new suitability factor norm bucket descriptions
    = fields_for "import" do |f|
      = f.fields_for "file" do |f|
        %p
          Google Spreadsheet Url : 
          = f.text_field "url"
        %p
          Worksheet Names(separated by comma,keep empty to import all)
          = f.text_field "worksheets", :value => 'FactorNormBucketDescription'
      %p
        Notification Email : 
        = f.text_field :email, :value => "notifications@jombay.com"

    .actions
      = submit_tag 'Upload Suitability factor norm bucket descriptions'
