- if can? :create, "Suitability::FactorNormBucketDescription"
  = link_to "Manage Suitability FactorNormBucketDescriptions", manage_suitability_factor_norm_bucket_descriptions_path

%h1 All Suitability FactorNormBucketDescription
  
= render :partial => "suitability/master_data/search"
  
.pagination.pull-right
  = paginate @objects        
.clr  
%table
  %tr
    %th
      ID
    %th
      Description
    %th
      Factor
    %th
      Norm Bucket
  - @objects.each do |factor_norm_bucket_description|
    %tr 
      %td
        = factor_norm_bucket_description.id
      %td
        = factor_norm_bucket_description.description
      %td
        = factor_norm_bucket_description.factor.name
      %td
        = factor_norm_bucket_description.norm_bucket.name
.pagination.pull-right
  = paginate @objects       
.clr   
