= form_for(:walkin_group, url: url, method: :put) do |f|
  %input{type: "hidden", class: "user_invitation_template_id", name: "walkin_group[user_invitation_template_id]", value: @walkin_group.user_invitation_template_id}
  %input{type: "hidden", class: "stakeholder_invitation_template_id", name: "walkin_group[stakeholder_invitation_template_id]", value: @walkin_group.stakeholder_invitation_template_id}
  .page-title
    .divider1
    = @walkin_group.title.html_safe
  .divider2
  = render :partial => "navigation", locals: { index: 1 }
  .divider2

  .expire-container
    .expire.pull-left
      %b.show.line-height2.medium-text.pull-left
        Expire page on (Date and Time): 
      &nbsp;
      = f.datetime_select :expires_on  
      .clr
    %a.expire-btn.btn.btn-warning.inverse.pull-right.big-text{:href => expire_company_mrf_walkin_group_path(@company.id, @walkin_group.id), :title => "Expire Page Now"}
      Expire Page Now
    .clr 
    .divider1


  = f.text_field :title, :placeholder => "Title for Index Page", :class => "padding-all1 span21 float-none first"
  .divider1

  = f.text_field :page_title, :placeholder => "Page Title", :class => "padding-all1 span21 float-none first"
  .divider1

  = f.text_field :page_description, :placeholder => "Page Description", :class => "padding-all1 span21 float-none first"
  .divider2
  .enable-assessment-list
    .divider2
    = render :partial => "mrf/assessments/user_assessments/email_settings_for_user"
    .divider2
    .text-right
      %a.extra-medium-text.line-height3{:href => company_mrf_walkin_group_path(@company.id, @walkin_group.id), :title => "Cancel"}
        Cancel
      %input.btn.btn-warning.big-text.left-offset1{:type => "Submit", :title => "Update", :name => "Update", value: "Update"}

