- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
.walk-ins-edit
  = render :partial => "mrf/walkin_groups/assessments", locals: { url: company_mrf_walkin_group_path(@company.id, @walkin_group.id) }
= javascript_include_tag "walk_ins"
= javascript_include_tag "mrf/walkins/email_settings"
