.walk-ins-details
  .page-title.pull-left
    .divider1
    = @walkin_group.title.html_safe
  
  %a.btn.btn-warning.pull-right.big-text.big.span{:href => edit_company_mrf_walkin_group_path(@company.id, @walkin_group.id), :title => "Edit Walk-In List"}
    Edit
  %span.extra-medium-text.pull-right.line-height3
    Page expires on:   
    %b #{ htime @walkin_group.expires_on } hrs
    %b 
      \|  
    %b #{ hdate @walkin_group.expires_on }
  .clr

  .divider1

  .index-page-link
    .span
      %b URL to access Index page:
    .span15
      %a{:href => @walkin_group.url, target: "_blank", :title => "URL to access Index page"}
        = @walkin_group.url
    .clr
  .divider2    
  %span.span.medium-text.line-height2
    Assessment:   
    %b #{ @assessment.name.html_safe }
  .clr
  .divider1
  %span.span.medium-text.line-height2
    Page Title:   
    %b #{ @walkin_group.page_title.html_safe }
  .clr
  .divider1
  %span.span.medium-text.line-height2
    Page Description:   
    %b #{ @walkin_group.page_description.html_safe }
  .clr
  .divider1
  .divider2
