- content_for :stylesheets do
  = wicked_pdf_stylesheet_link_tag "training_requirements"

- content_for :javascripts do
  = wicked_pdf_javascript_include_tag "pie.min"      
  = wicked_pdf_javascript_include_tag 'plotPie'

- if @view_mode == "html"
  :css
    .training_requirements_report .inner{margin-top:80px;} 
    .about_us {margin-top:0px;} 
- else
  :css
    .training_requirements_report .inner{margin-top:0px;min-height:800px}     
    .about_us {margin-top:100px;} 

- content_for :report_link do
  - if @view_mode == "html"
    - url = download_training_requirements_report_company_custom_assessment_url(:company_id => @report_data[:company_id], :id => @training_requirement_group.id, :format => "pdf", :host => Rails.application.config.action_mailer.default_url_options[:host])
    = link_to("View Printable PDF", url, :class => "btn btn-warning")

= render :template => "assessment_group_reports/training_requirements_report/html/page1"
.page-break
= render :template => "assessment_reports/training_requirements_report/html/page2"
.page-break  
= render :partial => "assessment_reports/training_requirements_report/html/page3"
.page-break  
= render :partial => "shared/reports/html/about_us.html.haml"
= render :partial => "shared/reports/html/legal_disclaimer.html.haml"
