- content_for :javascripts do
  = javascript_include_tag "dashboard/dashboard"
- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Dashboard
    .content
      .main_sub
        Hello #{current_user.name}
      .medium_text
        Welcome back! Here are few of your latest activities on Jombay.com.
      .divider1
- content_for :sidebar do
  =render :partial => "recruiters/shared/help_block"
  .solution_info.medium_text
    How does our 
    %strong
      recruitment solution
    work?
    .divider2
    %a.btn.btn-primary.medium_text.span3.margin{:href => "#", :title => "How does our recruitment solution work?"}
      Find Out
    .clr
    .divider1

.wrapper
  = form_tag job_posting_recruiters_dashboard_index_path, :method => :put do
    = fields_for :job_posting do |f|
      = f.submit "Post job"
  .post_job
    %a.btn-post{:href => "#", :title => "Click here to post job"}
      %i.icon-plus-sign
      Post a Job
    %div
      %a{:href => "#"}
        Post a New Job
      OR
      %a{:href => "#"}
        Duplicate An Existing Job
    .listing_container
      .medium_text
        Select a job thet you wish to duplicate. You can select only one job
      .divider1
      %form.margin
        .inner_listing
          - 6.times do
            .control-group
              %label.radio.pull-left
                %input#optionsRadios1{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
                  %strong.medium_text 
                    Java Developer
                  at Pune, Mumbai....
              .date.pull-right
                Dec 24
              .clr
        .divider1
        .pull-right
          %button.span{:class => "btn", :type => "button"}
            Cancel
          %button.span{:class => "btn btn-primary", :type => "button"}
            Duplicate this Job
        .clr
  .divider2

  - if @jobs[:pending].present?
    .dash_listing{data: {"section" => true}}
      .dash_listing_title
        .pull-left
          %a{:href => status_recruiters_jobs_path(:status => "pending")}
            Pending Jobs (#{Recruiters::Job.find(:status => 2).size})
        %a.pull-right.min_max{:href => "#", :title => "Minimise/Maximise Here", "data-section_collapser" => true}
          \-
        .clr
      %div{data: {"section_content" => true}}
        %ul.listing
          - @jobs[:pending].each do |job|
            = render :partial => "recruiters/dashboard/section/pending_job", :locals => {:job => job}
        %a.show_details{:href => status_recruiters_jobs_path(:status => "pending"), :title => "View all Pending jobs"}
          Show all Pending jobs
        .clr
    .divider2

  - if @jobs[:open].present?
    .dash_listing{data: {"section" => true}}
      .dash_listing_title
        .pull-left
          %a{:href => status_recruiters_jobs_path(:status => "open")}
            Open Jobs (#{Recruiters::Job.find(:status => 4).size})
        %a.pull-right.min_max{:href => "#", :title => "Minimise/Maximise Here", "data-section_collapser" => true}
          \-
        .clr
      %div{data: {"section_content" => true}}
        %ul.listing
          - @jobs[:open].each do |job|
            = render :partial => "recruiters/dashboard/section/open_job", :locals => {:job => job}
        %a.show_details{:href => status_recruiters_jobs_path(:status => "open"), :title => "View all Open jobs"}
          Show all Open jobs
        .clr
    .divider2

  - if @jobs[:incomplete].present?
    .dash_listing{data: {"section" => true}}
      .dash_listing_title
        .pull-left
          %a{:href => status_recruiters_jobs_path(:status => "incomplete")}
            Incomplete Jobs (#{Recruiters::Job.find(:status => 1).size})
        %a.pull-right.min_max{:href => "#", :title => "Minimise/Maximise Here", "data-section_collapser" => true}
          \-
        .clr
      %div{data: {"section_content" => true}}
        %ul.listing
          - @jobs[:incomplete].each do |job|
            = render :partial => "recruiters/dashboard/section/incomplete_job", :locals => {:job => job}
        %a.show_details{:href => status_recruiters_jobs_path(:status => "incomplete"), :title => "View all Incomplete jobs"}
          Show all Incomplete Jobs
      .clr
    .divider2

  - if @jobs[:closed].present?
    .dash_listing{data: {"section" => true}}
      .dash_listing_title
        .pull-left
          %a{:href => status_recruiters_jobs_path(:status => "closed")}
            Closed Jobs (#{Recruiters::Job.find(:status => 5).size})
        %a.pull-right.min_max{:href => status_recruiters_jobs_path(:status => "closed"), :title => "Minimise/Maximise Here", "data-section_collapser" => true}
          \-
        .clr
      %div{data: {"section_content" => true}}
        %ul.listing
          - @jobs[:closed].each do |job|
            = render :partial => "recruiters/dashboard/section/closed_job", :locals => {:job => job}
        %a.show_details{:href => "#", :title => "View all Closed jobs"}
          Show all Closed Jobs 
        .clr
    .divider2
