.divider1
.frame.mrf.gray-bg
  .heading.pull-left
    #{competency_name} : #{competency_scores[:score][:bucket]}
  .clr 
  .divider1
  %ul.mrf_data_points_listing
    %li
      .left_sec
        .content
          .trait_rating.max
            .left
              Maximum Rating
            .right
              = competency_scores[:max_score_excluding_self][:bucket]
            .clr

          .trait_rating.min
            .left
              Minimum Rating
            .right
              = competency_scores[:min_score_excluding_self][:bucket]
            .clr
            
          .trait_rating.self
            .left
              Self Rating
            .right
              = competency_scores[:average_score_self][:bucket] rescue 'NA'
            .clr
          - if competency_scores[:assessment_rating]
            .trait_rating.score
              .left
                Assessment Score
              .right
                = competency_scores[:assessment_rating] rescue 'NA'
              .clr

          .overall_average
            %p
              Overall Average
            .divider1
            .snippet.including
              Including Self Rating: 
              = competency_scores[:average_score_including_self][:bucket] rescue 'NA'
            .divider1
            .snippet.excluding
              Excluding Self Rating:
              = competency_scores[:score][:bucket] rescue 'NA'
            .divider1

      .right-sec  
        .caption.text-center
          Average Rating by Stakeholders
        .divider3
        - competency_scores[:role_wise_scores].each do |role_name, role_wise_score|
          .stakeholders-rating-snippet
            .stakeholders-name.pull-left
              = role_name.titleize
            .stakeholders-rating-slider.pull-left 
              .stakeholders-rating-marker-container
                - klass = ''
                - margin_left = ((272 - (@norm_buckets.size * 20)) / (@norm_buckets.size-1))
                -@norm_buckets.each_with_index do |norm_bucket|
                  - if norm_bucket.name == role_wise_score[:bucket]
                    - klass = 'hide'
                    .marker{:class => 'active',style: "margin-left:#{margin_left}px"}
                      .arrow
                      .score
                        = norm_bucket.name
                  - else
                    .marker{style: "margin-left:#{margin_left}px"}
                      .arrow
                      .score
                        = norm_bucket.name
                .clr
                .alert.alert-error{:class => klass}
                  No Responses Yet
            .clr
            .divider3
      .clr
      .divider1
