= render partial: "shared/360/mrf_report_header.pdf.haml"
.scores
  .divider2
  .blue_heading.large-text
    Data Points on 360&#176; Scores: Competencies
  .divider1
  .frame.mrf.gray-bg
    .heading.pull-left
      competency_name
    .heading.pull-right 
      360&#176; Score:
      100
    .clr 
    .divider1
    .small-padding
      .border-bottom-grayLighter
        .span5.first.border-right-grayLighter
          .small-text.black.bold
            Overall Scores
          .divider1
          .bold.color-stakeholder
            360&#176; Score: 100.00
          .divider1
          .bold.color-self
            Self Rating: 5
          .divider1
          .bold.color-including-self
            360&#176; (Including Self): 5
        .span9
          .small-text.black.bold.left-offset1
            Average rating given by Stakeholders
          .divider1

          -2.times do
            .color-average.span3.bold.left-offset1
              Managers: 100.00
          .clr
          .divider1

          -2.times do
            .color-average.span3.bold.left-offset1
              Super Manager: 5
          .clr
          .divider1

          -2.times do
            .color-average.span3.bold.left-offset1
              Customers: 5
          .clr
          

        .clr
        .divider1
      .scores_competencies_graph.descending_order.descending_overall_score.best_worst_scores.border-bottom-grayLighter
        .traits_under_graph
          .divider1
          .small-text.bold
            360&#176; Scores across exercise
          
          .graph_container
            .left_sec.pull-left
              .divider2
              %ul.default
                %li

                  .span2.small-text.first.trait_title
                    Lowest
                  .span1.first.divider1.min_rating_icon_small
                  .min_rating.small-text.span
                    22
                  .clr
                %li
                  .span2.small-text.first.trait_title
                    Candidate
                  .span1.first.divider1.stakeholder_rating_icon_small
                  .stakeholder_rating.small-text.span
                    22
                  .clr
                %li
                  .span2.small-text.first.trait_title
                    Highest
                  .span1.first.divider1.max_rating_icon_small
                  .max_rating.small-text.span
                    22
                  .clr
            .right_sec.span15.pull-right.first
              .classic_competency_graph
                .classic_competency_graph_scale
                  .block.pull-left
                    0
                  - 4.times do |index|
                    .block.pull-left{:style => "width: #{590/4}px; text-align: right"}
                      #{index+2}
                  
                  .clr
                .graph
                  .graph_content{style:"padding: 7px 0"}
                 
                    .divider1
                    .descending_graph_bar.max.no-margin{:style => "width: 66%; background: #ffcf36;"}
                    .divider1
                    
                    .descending_graph_bar.max{:style => "width: 34%; background: #a729ac"}
                    .divider1
                    
                    .descending_graph_bar.max{:style => "width: 67%; background: #abed74"}
                    .divider1
            .clr
      -#Overall Score section
      .scores_competencies_graph.descending_order.descending_overall_score.border-bottom-grayLighter
        .traits_under_graph
          .divider2
          .small-text.bold
            Overall Score
          .clr
          
          .graph_container
            .left_sec.pull-left
              .divider2
              %ul
                %li
                  .span3.small-text.first.trait_title
                    360&#176 Score
                    
                  .stakeholder_rating.small-text.pull-left
                    22
                  .clr

                %li
                  .span3.small-text.first.trait_title
                    Self Rating
                    
                  .self_rating.small-text.pull-left
                    22
                  .clr

                %li
                  .span3.small-text.first.trait_title
                    360&#176 (Including Self)
                    
                  .including_self_rating.small-text.pull-left
                    22
                  .clr

            .right_sec.span15.pull-right.first
              .classic_competency_graph
                .classic_competency_graph_scale
                  .block.pull-left
                    0
                  - 4.times do |index|
                    .block.pull-left{:style => "width: #{590/4}px; text-align: right"}
                      #{index+2}
                  
                  .clr
                .graph
                  .graph_content
                   
                    .divider1
                    .descending_graph_bar.max.no-margin{:style => "width: 20%; background: #a119a6"}
                  
                    .divider1
                    .descending_graph_bar.max{:style => "width: 33%; background: #24d8ba"}
                 
                    .divider1
                    .descending_graph_bar.max{:style => "width: 66%; background: #c4a655"}
                    .divider1
                .divider2    
            .clr  
            


      -#Average Stakholder Rating section
      .scores_competencies_graph.descending_order.descending_overall_score.descending_average_rating
        .traits_under_graph
          .divider2
          .small-text.bold
            Average rating given by Stakeholders
          .clr
          
          .graph_container
            .left_sec.pull-left
              .divider2
              %ul
                -3.times do
                  %li
                    .span3.small-text.first.trait_title
                      Managers
                      
                    .stakeholder_rating.small-text.pull-left
                      22
                    .clr


            .right_sec.span15.pull-right.first
              .classic_competency_graph
                .classic_competency_graph_scale
                  .block.pull-left
                    0
                  - 4.times do |index|
                    .block.pull-left{:style => "width: #{590/4}px; text-align: right"}
                      #{index+2}
                  
                  .clr
                .graph
                  .graph_content
                   
                    .divider1
                    .descending_graph_bar.max.no-margin{:style => "width: 20%; background: #6ea4be"}
                  
                    .divider1
                    .descending_graph_bar.max{:style => "width: 33%; background: #6ea4be"}
                 
                    .divider1
                    .descending_graph_bar.max{:style => "width: 66%; background: #6ea4be"}
                    .divider1
                .divider2    
            .clr  
