.bottom-trangle
  .frame
    .question
      = subjective_response_value[:body]
      .info
        = subjective_response_value[:trait_name] ? "This question was about the trait #{subjective_response_value[:trait_name]}." : ""
        = subjective_response_value[:compulsory] ? "Response to question was Mandatory" : "Response to question was Optional"
      .arrow
    .divider2
    - if subjective_response_value[:role_wise_subjective_responses].values.flatten.any?{|role_wise_response| role_wise_response[:response].present?}
      %ul
        - subjective_response_value[:role_wise_subjective_responses].each do |role, role_wise_response|
          %li
            .stakeholder.span3.first
              = role.titleize
            .comment-box.span23.pull-right
              = role_wise_response[:response] ? role_wise_response[:response] : 'No Responses'
              .arrow
            .clr
    - else
      .no-responses
        .box
          No Responses
      .divider3
.divider2
