%h1 All Suitability PostAssessmentGuidelines
- if can? :create, "Suitability::PostAssessmentGuideline"
  = link_to "Manage Suitability PostAssessmentGuideline", manage_suitability_post_assessment_guidelines_path
.pagination.pull-right
  = paginate @post_assessment_guidelines        
.clr  
%table
  %tr
    %th
      ID
    %th
      Body
    %th
      Candidate Stage
    %th
      Norm Bucket Name
  - @post_assessment_guidelines.each do |post_assessment_guideline|
    %tr 
      %td
        = post_assessment_guideline.id
      %td
        = post_assessment_guideline.body
      %td
        = post_assessment_guideline.candidate_stage
      %td
        = post_assessment_guideline.norm_bucket.name
.pagination.pull-right
  = paginate @post_assessment_guidelines
.clr   
