- if can? :create, "Suitability::PostAssessmentGuideline"
  = link_to "Manage Suitability PostAssessmentGuideline", manage_suitability_post_assessment_guidelines_path

%h1 All Suitability PostAssessmentGuidelines

= render :partial => "suitability/master_data/search"
  
.pagination.pull-right
  = paginate @objects
.clr  
%table
  %tr
    %th
      ID
    %th
      Factor
    %th
      Body
    %th
      Candidate Stage
    %th
      Norm Bucket Name
  - @objects.each do |post_assessment_guideline|
    %tr 
      %td
        = post_assessment_guideline.id
      %td
        = post_assessment_guideline.factor.name
      %td
        = post_assessment_guideline.body
      %td
        = post_assessment_guideline.candidate_stage
      %td
        = post_assessment_guideline.norm_bucket.name
.pagination.pull-right
  = paginate @objects
.clr   
