%br/
= render :partial => 'suitability/post_assessment_guidelines/import_form'
%br/
= render :partial => 'suitability/post_assessment_guidelines/export_form'
%br/
= link_to 'Back', suitability_post_assessment_guidelines_path
= link_to 'Destroy All', destroy_all_suitability_post_assessment_guidelines_path
= link_to 'Destroy All', destroy_all_suitability_post_assessment_guidelines_path
= link_to 'Destroy All', destroy_all_suitability_post_assessment_guidelines_path
= link_to 'Destroy All', destroy_all_suitability_post_assessment_guidelines_path
