- content_for :javascripts do
  = javascript_include_tag "users/signup"
- content_for :recruiter_title do
  .t_heading.clearfix.padding_left_right1
    .biggest_text.white.font_normal.line_height2
      Reset Password
    
  .clr

- content_for :sidebar do
  = render :partial => "recruiters/shared/help_block"
  
  
.rec_rhs
  .forgot_pass
    .blue_bg.info_text
      Please Enter New Password.
    .divider1
  .registration_form
    = form_for :user, :url => user_password_path, :html => {:id => "signupForm", :class => "form-horizontal"} do |f|
      .control-group
        = f.label :password, "Password", :class => "control-label"
        .controls
          = f.text_field :password, :placeholder => "At least 8 characters", :class => "span9"

      .control-group
        = f.label :password_confirmation, "Confirm Password", :class => "control-label"
        .controls
          = f.text_field :password_confirmation, :placeholder => "Confirm Password", :class => "span9"

      .form-actions
        %button.pull-right{:class => "btn btn-primary offset1", :type => "submit"}
          %strong Reset Password
        .clr
