- Rails.logger.ap @pen.errors
- content_for :javascripts do
  = javascript_include_tag "users/signup"
- content_for :recruiter_title do
  .t_heading.clearfix.padding_left_right1
    .pull-left.biggest_text.white.font_normal.line_height2
      Forgot Password
    .pull-right.medium_text.white.line_height2
      Already have Recruiter account?
      %a{:href =>  new_user_session_path(:redirect_to => ""), :title => "Jomaby sign in"}
        %strong.white Log in
      here
  .clr

- content_for :sidebar do
  = render :partial => "recruiters/shared/help_block"
  
  
.rec_rhs
  .forgot_pass
    .blue_bg.info_text
      Enter your Email id, and we will email you instructions on how to reset your password.
    .divider1
  .registration_form
    = form_for :user, :url => user_password_path, :html => {:id => "signupForm", :class => "form-horizontal"} do |f|
      .control-group
        = f.label :email, "Email", :class => "control-label"
        .controls
          = f.text_field :email, :placeholder => "Email", :class => "span9"

      .form-actions
        %button.pull-right{:class => "btn btn-primary offset1", :type => "submit"}
          %strong Send Password
        .clr
