
- content_for :notification_bar do
  = ""
= render :partial => "shared/user-alerts"
.divider5
.span14.left-offset1
  .page-title 
    Set New Password for
    .color-warning
      = current_user.email
  .divider2
  .span12.border-primary.first
    = form_for :user, url: update_password_settings_path, method: :put do |f|
      .divider2
      .span8.margin-auto.extra-medium-text
        = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
          .control-group
            %label.ie
              Old Password
            = f.password_field :current_password, :class => "fw"
    
          .control-group
            %label.ie
              New Password
            = f.password_field :password, :class => "fw"

          .control-group
            %label.ie 
              Confirm Password
            = f.password_field :password_confirmation, :class => "fw"
        = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
          .control-group
            = f.password_field :current_password, :placeholder => "Old Password", :class => "fw"
    
          .control-group
            = f.password_field :password, :placeholder => "New Password", :class => "fw"

          .control-group
            = f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "fw"
        .divider1

        %input.large-text.btn.btn-warning.pull-right{:type=>"submit", :value => "Change Password"}
          
        .clr
      .clr
      .divider2
    .clr
.span14
  .extra-large-text
    What makes a password strong (or weak)?
  .divider1
  %b.extra-medium-text.gray-dark
    A strong password:
  .divider1
  %ul.disc.extra-medium-text.gray-dark
    %li 
      Is at least eight characters long.
      .divider1

    %li 
      Does not contain your user name, real name, or company name.
      .divider1

    %li 
      Does not contain a complete word.
      .divider1

    %li 
      Is significantly different from previous passwords.
      .divider1
.clr
.divider3
