.divider2
= render :partial => "shared/user-alerts"
.divider1
= form_for :user, url: update_password_settings_path, method: :put do |f|
  .control
    %label
      Old Password
    = f.password_field :current_password
    .clr
  .control
    %label
      New Password
    = f.password_field :password
    .clr
  .control
    %label
      Confirm Password
    = f.password_field :password_confirmation
    .clr
  %button.btn.btn-info.pull-right
    Change Password
  .clr
