.user_profile
  .page-title
    .divider1
    Edit Candidate
  .divider2
  .padding-all2.border-warning.shifted-up1
    .divider2
    = form_for(@user, :as => :user, url: user_path(@user), method: :put, html: { :class => "edit_user_page" }) do |f|
      .error
        - @user.error_messages ||= []
        - @user.error_messages.each do |message|
          = message
      .pull-left.span15
        .control-group
          %label.span2.first.big-text.line-height2.gray-darker
            Name:
          = f.text_field :name, :class => "first span7 medium-text left-offset1"
          .clr
        .control-group
          %label.span2.first.big-text.line-height2.gray-darker
            Email:
          = f.text_field :email, :class => "first span7 medium-text left-offset1"
          .clr
        .control-group
          %label.span2.first.big-text.line-height2.gray-darker
            Mobile:
          = f.text_field :mobile, :class => "first span7 medium-text left-offset1"
          .clr  
        .control-group
          %label.span2.first.big-text.line-height2.gray-darker
            Age:
          = f.select :age, [*16..90], {}, { :class => "first span7 medium-text left-offset1" }
          .clr
        .control-group
          %label.span2.first.big-text.line-height2.gray-darker
            Gender:
          = f.select :gender, { "Male" => "m", "Female" => "f", "Other" => "o" }, {}, { :class => "first span7 medium-text left-offset1" }
          .clr
        .clr
      .clr  
      .pull-left.span28
        %label.big-text.line-height2.gray-darker.span5
          Add Roles:
        .clr  
        - @roles.each do |role|
          %label.span5.medium-text.line-height2.gray-darker
            %input{ type: "checkbox", name: "user[role_ids][]", value: role.id, checked: @user.role_ids.include?(role.id) }
            = role.name
        .clr
        .span24
          %input.btn.btn-warning.large-text.pull-right{:type => "submit", :value => "Submit"}
          .clr
        .clr 
      .clr
        
