- content_for :notification_bar do
  = ""
= render :partial => "shared/user-alerts"
.divider5
.span16.left-offset1
  .page-title 
    Reset Password
  .divider2
  .span12.border-primary.first.form-horizontal
    = form_for(:user, :url => send_reset_password_path, method: :post) do |f|
      .divider2
      .span10.margin-auto.extra-medium-text
        .control-group
          %label.gray-dark.medium-text
            Enter the email id to which your Jombay account is linked
          .divider1
          = f.text_field :email, :placeholder => "E-mail ID", :class => "fw"
       
        .divider1
       
        %button.large-text.btn.btn-warning.pull-right{:title=>"Log In To Jombay!"}
          Submit
        .clr
      .clr
      .divider2
    .clr

= render :partial => "shared/users/jombay-benefits"
.clr
.divider2
