.companies-list
  .page-title
    .divider1
    Search Users
    \|
    = link_to "Search Companies", companies_path
    .divider1
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @users }
  .clr
  .search
    = form_for :search, url: users_path, method: :get do |f|
      .field
        = f.text_field :id, :placeholder => "Candidate ID", value: params[:search][:id]
        = f.text_field :name, :placeholder => "Candidate Name", value: params[:search][:name]
        = f.text_field :email, :placeholder => "Candidate Email", value: params[:search][:email]
        = f.select "roles.name", options_for_select(Vger::Resources::Role::ROLE_NAMES.sort, params[:search]["roles.name"]), { :prompt => "Candidate Type" }
        = f.submit "Search"
  .divider2
  .list-snippet-titles.medium-text.clearfix
    .span2.first
      = sort_link "ID", users_path, "id", params[:search]
    .span5
      = sort_link "Name", users_path, :name, params[:search]
    .span8
      = sort_link "Email", users_path, :email, params[:search]
    .span6
      Company ID
    .span6
      Assessment ID
    .span2
      Roles
    .clr
    .divider2
  %ul
    - @users.each do |user|
      %li.list-snippet.border-bottom-grayLighter
        .span2.first
          %a.extra-medium-text{:href => self.send("get_link_for_#{user.role}",user), target: "_blank", :title => "Go to #{user.name}"}
            = user.id
        .span5
          %a.extra-medium-text{:href => self.send("get_link_for_#{user.role}",user), target: "_blank", :title => user.name}
            = user.name ? user.name[0..30] : "-"
        .span8
          %a.extra-medium-text{:href => self.send("get_link_for_#{user.role}",user), target: "_blank", :title => user.email}
            = user.email ? user.email[0..30] : "-"
        .span6
          - company_ids = (user.company_ids + [user.company_id].compact).uniq
          = company_ids.present? ? company_ids.join(", ") : "-"
        .span6
          = user.assessment_ids.present? ? user.assessment_ids.join(", ") : "-"
        .span2.first
          = user.role_names.join(", ")
        .clr
        .divider1
  .divider2
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @users}
  .clr
