%b.large-text
  Log In
.divider1
- if flash[:error].present?
  .text-center
    =  render :partial => "shared/alert-error"
%div
  = form_for(:user, :url => login_path) do |f|
    = f.text_field :email, :placeholder => "Email ID"
    = f.password_field :password, :placeholder => "Password"
    = f.submit "Login", :class=>"btn btn-info pull-right"
    .clr
