%b.large-text
  Log In
.divider2
.medium-text
  Please enter your Email id & Password
.divider1
- if flash[:error].present?
  .text-center
    =  render :partial => "shared/alert-error"
%div
  = form_for(:user, :url => login_path) do |f|
    = f.text_field :email, :placeholder => "Email ID"
    = f.password_field :password, :placeholder => "Password"
    .pull-left
      = f.check_box :remember_password
      = f.label "Remember me", :for => "user_remember_password"
    .pull-right
      %a.default-color{:href=>"#", :title=>"Forgot Password?"}
        Forgot Password?
    .clr
    .divider1
    = f.submit "Login", :class=>"medium-text btn btn-info pull-right"
    .clr

