- if is_superadmin?
  = render :partial => "users/password_settings"    
- else
  .company_profile
    .page-title
      .divider1
      Settings
      
    .divider2
    = render :partial => "shared/settings-content-sub-nav"

    .padding-all2.border-warning.shifted-up1.extra-medium-text
      .divider2
      .span8.margin-auto
        .large-text
          Set new password for 
          .color-warning
            = current_user.email
        .divider2  
        = form_for :user, url: update_password_settings_path, method: :put do |f|
          = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
            .control-group
              %label.ie
                Old Password
              = f.password_field :current_password, :class => "fw"
      
            .control-group
              %label.ie
                New Password
              = f.password_field :password, :class => "fw"

            .control-group
              %label.ie
                Confirm Password
              = f.password_field :password_confirmation, :class => "fw"
          = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
            .control-group
              = f.password_field :current_password, :placeholder => "Old Password", :class => "fw"
      
            .control-group
              = f.password_field :password, :placeholder => "New Password", :class => "fw"

            .control-group
              = f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "fw"

          .divider1

          %input.large-text.btn.btn-warning.pull-right{:type=>"submit", :value => "Change Password"}
          .clr
        .clr
        .divider4
