- if is_superadmin?
  = render :partial => "users/password_settings"    
- else
  .company_profile
    .page-title
      .divider1
      Settings
      
    .divider2
    = render :partial => "shared/settings-content-sub-nav"

    .padding-all2.border-warning.shifted-up1.extra-medium-text
      .divider2
      .span8.margin-auto
        .large-text
          Set new password for 
          .color-warning
            = current_user.email
        .divider2  
        = form_for :user, url: update_password_settings_path, method: :put do |f|
          .control-group
            = f.password_field :current_password, :placeholder => "Old Password", :class => "fw"
    
          .control-group
            = f.password_field :password, :placeholder => "New Password", :class => "fw"

          .control-group
            = f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "fw"
          .divider1

          %button.big-text.btn.btn-warning.pull-right{:title=>"Change Password"}
            Change Password
          .clr
        .clr
        .divider4
