#overview.section01
  .overall_report.container
    .divider3
    .pull-left
      .user-name
        = @report.report_data[:user][:name]
      .divider1
      .extra-medium-text
        Assessment:
        = @report.report_data[:exercise][:name]
        %br/
        Assessment Answered On:
        = hdate @report.report_data[:completed_at]
      
    .pull-right
      .final-score.score_band{:style => "background-color: #128975"}
        Aggregate Score: #{@report.report_data[:aggregate_score][:bucket]}
      .final-score.overall_score_rating{:style => "background-color: ##{@report.report_data[:aggregate_score][:color]}; width: 360px"}
        .score_rating_title.pull-left{:style => "color: ##{@report.report_data[:aggregate_score][:color]}"}
          Score Rating
        .span
          = @report.report_data[:aggregate_score][:rating]
        .clr
      .clr
      .divider1
    .clr
    .divider2
