.bottom-trangle
  .frame
    .question
      = subjective_response_value[:body]
      .info
        = subjective_response_value[:trait_name].present? ? "This question was about the trait #{subjective_response_value[:trait_name]}." : ""
        = subjective_response_value[:compulsory] ? "Response to question was Mandatory" : "Response to question was Optional"
      .arrow
    .divider2
    - if subjective_response_value[:role_wise_subjective_responses].values.flatten.any?{|role_wise_response| role_wise_response.present?}
      %ul
        - subjective_response_value[:role_wise_subjective_responses].each do |role, role_wise_response|
          %li
            - role_wise_response.each do |comments|
              - if @report.report_data[:show_stakeholder_type_in_comments_subjective_items]
                .stakeholder.span3.first
                  = role.titleize
                .comment-box.span23.pull-right
                  = comments
                  .arrow
              - else
                .comment-box.span26.pull-right
                  = comments
                  .arrow      
              .clr
              .divider1
    - else
      .no-responses
        .box
          No Responses
      .divider3
.divider2
