= form_tag controller.export_to_google_drive_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Download #{controller.resource_name.humanize}
    = fields_for "export" do |f|
      = f.fields_for "folder" do |f|
        %p
          Google Drive Folder Url : 
          = f.text_field "url"
      - if controller.search_columns.present?    
        %p
          Industry :
            
          %select{ name: "export[filters][industry_id][]", multiple: true, size: 10 }    
            - controller.send("select_industry_id").each do |name, id|
              %option{ value: id }
                = name      
          Functional Area :
          %select{ name: "export[filters][functional_area_id][]", multiple: true, size: 10 }    
            - controller.send("select_functional_area_id").each do |name, id|
              %option{ value: id }
                = name
          %br
          %br
          Job Experiences :
          %select{ name: "export[filters][job_experience_id][]", multiple: true, size: 10 }    
            - controller.send("select_job_experience_id").each do |name, id|
              %option{ value: id }
                = name          

      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"
    .actions
      = submit_tag "Download #{controller.resource_name.humanize}"

