= form_tag controller.import_via_s3_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload #{controller.resource_name.humanize}
    = fields_for "import" do |f|
      %p
        Zipped CSV File
        = f.file_field "file"
      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"

    .actions
      = submit_tag "Upload #{controller.resource_name.humanize}"
