- if controller.search_columns.present?
  = form_for :search, url: controller.index_path, method: :get do |f|
    - f.object = OpenStruct.new
    - controller.search_columns.each do |column|
      - f.object.send("#{column}=",params[:search][column.to_sym])
    .search
      - controller.search_columns.each do |column|
        .field.pull-left
          = f.label column.to_sym
          = f.select column.to_sym, controller.send("select_#{column.to_s}"), { }, { style: "width:200px;" }
      .field.pull-left
        = f.submit :search
      .clr
  %br    
