%h1 #{controller.resource_name.humanize}

= link_to "Manage #{controller.resource_name.humanize}", controller.manage_path
%br
%br
= render :partial => "master_data/search"

.pagination.pull-right
  = paginate @objects
.clr  
%fieldset
  %legend
    Results  
  %table
    %tr
      - controller.index_columns.each do |column|
        %th
          = column.to_s.humanize
    - @objects.each do |object|
      %tr 
        - controller.index_columns.each do |column|
          %td
            = object.send(column)
%br
%br
.pagination.pull-right
  = paginate @objects
.clr   
