%h1 #{controller.resource_name.humanize}

= link_to "Manage #{controller.resource_name.humanize}", controller.manage_path
- if respond_to?("new_#{resource_name.singularize}_path")
  \|
  = link_to "New #{controller.resource_name.singularize.titleize}", send("new_#{resource_name.singularize}_path")
%br
%br
= render :partial => "master_data/search"

.pagination.pull-right
  = paginate @objects
.clr  
%fieldset
  %legend
    Results  
  %table
    %tr
      - controller.index_columns.each do |column|
        %th
          = column.to_s.humanize
      %th
        Show
      %th  
        Edit
    - @objects.each do |object|
      %tr 
        - controller.index_columns.each do |column|
          %td
            = object.send(column)
        %td    
          - if respond_to?("#{resource_name.singularize}_path")
            = link_to "Show", send("#{resource_name.singularize}_path",object)
        %td  
          - if respond_to?("edit_#{resource_name.singularize}_path")
            = link_to "Edit", send("edit_#{resource_name.singularize}_path",object)
%br
%br
.pagination.pull-right
  = paginate @objects
.clr   
