%h2
  Showing details of #{resource_name.singularize.titleize} - #{@resource.id}
%table{ cellspacing: 5, cellpadding: 5 }
  - index_columns.each do |index_column|
    %tr
      %td 
        %h4
          #{index_column.to_s.titleize}:
      %td #{@resource.send(index_column).to_s}
.links
  = link_to "Edit", send("edit_#{resource_name.singularize}_path",@resource)
  \|
  = link_to "Back", send("#{resource_name}_path")
