#exports.popup_container.hide
  = form_tag url, method: :post, :name => "Export Fields" do
    .popup_modal.span23.padding-all1.margin-auto.bg-white.border-primary
      %a.btn-close.huge-text{:id => "popup_close", :href => "#", :title => "Close"}
        &times;
      .divider1
      .large-text.text-center
        Please select the fields and their order for the export
      .divider1.border-bottom-grayLighter
      .divider1
      .span20.margin-auto
        = yield :daterangepicker    
        %ul.clearfix 
          - fields.each_with_index do |(field, config),field_index|
            %li
              %label.span7.extra-medium-text.line-height2
                %input{:type=>"checkbox", :name => "options[#{field}][enabled]", checked: config['checked']}
                #{config['name']}
              %select.span2{:name => "options[#{field}][order]"}
                - fields.size.times do |index|
                  %option{ selected: index == field_index }
                    #{index+1}
              .clr
              .divider1
        .divider2

        %input.form-action.btn.btn-warning.pull-right.medium-text.bold{:type =>"submit", :value => "Export"}
        .clr
        .divider1
