- logo_url = "/"
- target = "_self"
- if !current_user
  - logo_url = Rails.application.config.hosts["products.jombay.com"]
  - target = "_blank"
#header
  .container
    .logo.pull-left
      = link_to(image_tag("jombay-logo.png"), logo_url, :target=> target)
      .divider1
    - if current_user
      - if defined?(@company)
        .span3.company_name{:title => "#{@company.name}"}
          = @company.name.to_s[0..10]
      .span23.pull-right
        %ul#sub-nav.pull-right
          %li
            %a.setting{href: "#", title: "Account"}
            %ul.medium-text
              - if defined?(@company)
                %li
                  %a{:href=>statistics_company_path(@company)} Usage
                %li
                  %a{:href=>company_path(@company)} Settings
                - if  is_superadmin?
                  %li
                    %a{:href=>company_training_requirement_groups_path(@company)} Training Requirements
                  %li
                    %a{:href=>company_walkin_groups_path(@company)} Walk-Ins
                  %li
                    %a{:href=>company_benchmarks_path(@company)} Benchmarks
              %li
                %a{href: "/logout"} Logout
        - if defined?(@company)
          %a.label.label-warning.label-small.pull-right{:href=>plans_company_path(@company), :title=> "UPGRADE ACCOUNT"}
            BUY PACKAGE

        %ul.navbar.pull-right.clearfix
          - if defined?(@company)
            - if current_user.type == "SuperAdmin"
              %li
                %a{:href=>companies_path(), :title=> "COMPANIES"}
                  COMPANIES
            - else
              %li
                %a{:href=>home_company_path(@company), :title=> "HOME", class: (["companies/home"].include?("#{params[:controller]}/#{params[:action]}") ? "active" : "")}
                  HOME
            %li
              %a{:href=>company_custom_assessments_path(@company), :title=> "ASSESSMENTS",class: (["suitability/custom_assessments/index"].include?("#{params[:controller]}/#{params[:action]}") ? "active" : "")}
                ASSESSMENTS
            %li
              - if is_superadmin?
                %a.mrf{:href=>home_company_mrf_assessments_path(@company), :title=> "360 Degree",class: (["mrf/assessments","mrf/assessments/candidate_feedback"].include?("#{params[:controller]}") ? "active" : "")}
                  360 DEGREE
            %li
              - if is_superadmin?
                %a.mrf{:href=>home_company_engagement_surveys_path(@company), :title=> "Engagement",class: (["engagement/surveys","engagement/candidate_surveys"].include?("#{params[:controller]}") ? "active" : "")}
                  ENGAGEMENT
            %li
              - if is_superadmin?
                %a.mrf{:href=>home_company_exit_surveys_path(@company), :title=> "Exit",class: (["exit/surveys","exit/candidate_surveys"].include?("#{params[:controller]}") ? "active" : "")}
                  EXIT      
            %li
              %a{:href=>reports_company_path(@company), :title=> "REPORTS",class: (["companies/reports"].include?("#{params[:controller]}/#{params[:action]}") ? "active" : "")}
                REPORTS
            %li
              %a.search-menu{:href=>candidates_search_company_path(@company), :title=> "Search"}
                

          - elsif current_user.type == "SuperAdmin"
            %li
              %a{:href=>companies_path(), :title=> "COMPANIES",class: (["companies/index"].include?("#{params[:controller]}/#{params[:action]}") ? "active" : "")}
                COMPANIES
          - else
            %li
              %a{:href=> root_path, :title=> "HOME"}
                HOME

          -#
            %li
              %a{:href=>help_adding_candidates_path(), :title=> "HELP",class: (["help/adding_candidates"].include?("#{params[:controller]}/#{params[:action]}") ? "active" : "")}
                HELP
        .clr
      .clr
    - else
      .span19.pull-right
        %ul.navbar.pull-right.clearfix
          -#
            %li
              %a{:href=> "#", :title=> "What differentiates Jombay?"}
                What differentiates Jombay?
            %li
              %a{:href=> "#", :title=> "Jombay Analytics"}
                Analytics
          -#
            %li
              %a{:title=> "Jombay Help Number"}
                .icon-phone-sign.large-text.line-height1.color-success.pull-left
                .pull-left +91 96733 35243
                .clr
          %li
            %a{:href=> "/login", :title=> "Sign In to Jombay"}
              %b.color-warning.extra-medium-text
                Sign In
      .clr

  
