- logo_url = "/"
- target = "_self"
- if !current_user
  - logo_url = Rails.application.config.hosts["products.jombay.com"]
  - target = "_blank"
#header
  .container
    .logo.pull-left
      = link_to(image_tag("jombay-logo.png"), logo_url, :target=> target)
      .divider1
    - if current_user
      - if defined?(@company)
        .span8.company_name{:title => "#{@company.name}"}
          = truncate @company.name, :length   => 28
      = render :partial => "shared/header/#{current_user.type.underscore}"
    - else
      = render :partial => "shared/header/guest"


