- if @view_mode != "html"
  .header.clearfix
    .logo
      - if @view_mode == "html"
        = image_tag ('report/jombay-logo-icon.png')
      - else
        = wicked_pdf_image_tag ('report/jombay-logo-icon.png')
    .left-side
      .user_name
        = @report.report_hash[:candidate][:name]
      .date
        Assessment Date: #{@report.report_hash[:completed_at]}
    .right-side
      .pull-left
        Assessment Name: 
      .pull-left.span
        = @report.report_hash[:assessment][:name]
      .clr

