- roles = @report.report_data[:competency_scores].first[1][:role_wise_scores].keys
- role_limit = 5
- @report.report_data[:competency_scores].each do |competency, competency_scores|
  = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Details on 360 Degree Ratings on Competencies/Values"}
  .scores.border-bottom-grayLighter.mrf_data_points
    .color-info.big-text
      Details on 360&#176 Ratings on Competencies/Values
    .divider1
    .frame
      .heading.pull-left
        #{competency}
      .heading.pull-right
        360&#176; Score: 
        = competency_scores[:score][:points] || "-"
      .clr
      .final_data_points.pull-right.small
        .high_low_scores{:style => "padding: 10px"}
          .black.pull-left
            360&#176; Scores across exercise
          .border_gray_light.span
            .high.left.pull-left
              Highest
            .right.pull-left
              #{@assessment.report_data[:competency_scores][competency][:max_score][:score] || "-"}
            .clr
          .border_gray_light.span
            .low.left.pull-left
              Lowest
            .right.pull-left
              #{@assessment.report_data[:competency_scores][competency][:min_score][:score] || "-"}
            .clr
          .clr
      .clr 
      
      .padding-all1
        .extra-medium-text
          Average rating given by Stakeholders
        %p.medium-text.gray-darker
          This section shows the comparison of 360 rating of the candidate with the lowest and highest ratings obtained by any candidate across the exercise for this competency.
        .scores_competencies_graph.descending_order.border-bottom-grayLighter
          .traits_under_graph
            .graph_container
              .left_sec.pull-left
                .graph_instructions{:style=>"margin-left: 137px"}
                  .span1.divider2.graph_stakeholder_rating_icon
                  .clr
                %ul
                  - competency_scores[:role_wise_scores].each do |role, scores|
                    %li
                      .trait_title.first.span4
                        = role.pluralize.titleize
                      .stakeholder_rating.pull-left
                        = (scores[:points] == 0 || scores[:point].nil?) ? "-" : scores[:points]
                      .clr
                    
              .right_sec.span13.pull-right
                .classic_competency_graph
                  .classic_competency_graph_scale
                    .block.pull-left
                      = @competency_graph_buckets.first.min_val
                    - @competency_graph_buckets[1..@competency_graph_buckets.length-1].each do |competency_graph_bucket|
                      .block.pull-left{:style=>"width: #{510/(@competency_graph_buckets.size-1)}px; text-align: right"}
                        = competency_graph_bucket.min_val

                    .clr
                  .graph
                    .graph_content
                      - competency_scores[:role_wise_scores].each do |role, scores|
                        - if scores[:points]
                          - old_min = @competency_graph_buckets.first.min_val
                          - old_max = @competency_graph_buckets.last.max_val
                          - percent = convertToRange(old_min, old_max, 0, 100, scores[:points])
                          - percent = percent == 0 ? 2 : percent
                          .divider1
                          .descending_graph_bar.max{:style => "width: #{percent}%; background: #a119a6"}
                          .divider1
              .clr
          .divider1
    
      - if roles.size < role_limit
        .padding-all1
          = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/frequency_rating_table", locals: { role_wise_scores: competency_scores[:role_wise_scores], name: competency, average_score_excluding_self: competency_scores[:score][:points], graph_buckets: @competency_graph_buckets, :is_trait => false  }
          .clr
        .divider1
  .page-break


  - if roles.size >= role_limit
    = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Data Points on Scores: Competencies"}
    .scores.border-bottom-grayLighter.mrf_data_points
      .color-info.big-text
        Details on 360&#176 Ratings on Competencies/Values
      .divider1

      .frame
        .heading.pull-left
          #{competency}
        .heading.pull-right
          360&#176; Score: 
          = competency_scores[:score][:points] || "-"
        .clr

        .padding-all1
          = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/frequency_rating_table", locals: { role_wise_scores: competency_scores[:role_wise_scores], name: competency, average_score_excluding_self: competency_scores[:score][:points], graph_buckets: @competency_graph_buckets, :is_trait => false  }
          .clr
        .divider1
    .page-break    
