- if @report.report_data[:mrf_report_data_pts_competencies_with_frequencies]
  - @report.report_data[:competency_scores].each_slice(2) do |step_competency_scores|
    = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Data Points on Scores: Competencies"}
    - step_competency_scores.each do |competency, competency_scores|
      .scores.border-bottom-grayLighter.mrf_data_points
        .divider1
        .green_heading.big-text
          Competency 
          %span.font-bold
            "#{competency}"
        .divider1
        - if @report.report_data[:competency360_competencies_textual_data_points]
          .small-padding
            .border-left-grayLighter.span
              .final_data_points
                .border_gray_light.span
                  .left.pull-left.stakeholder_rating_icon
                    
                  .right.pull-left
                    .medium-text.color-average
                      360&#176; Score: 
                      = competency_scores[:score][:points] || "-"
                  .clr
                .border_gray_light.span
                  .left.pull-left.classic_user_icon
                  .right.pull-left
                    .medium-text.color-average
                      Self Rating: 
                      = competency_scores[:average_score_self][:points] || "-"
                  .clr
                .border_gray_light.span
                  .left.pull-left.self_rating_icon
                  .right.pull-left
                    .medium-text.color-average
                      360&#176; (Including Self): 
                      = competency_scores[:average_score_including_self][:points] || "-"
                  .clr
                .clr
              .divider1
              .rating_by_all_takeholders
                .medium-text.black.span.bold.line-height2
                  - total_stakeholders = competency_scores[:role_wise_scores].map{|role, score| score[:count].to_i }.sum
                  Average rating given by #{pluralize(total_stakeholders,"Stakeholder")}
                .clr

                .border_gray_light.span
                  - if competency_scores[:role_wise_scores].present?
                    - competency_scores[:role_wise_scores].each_with_index do |(role, score),index|
                      .span.color-average
                        #{pluralize(score[:count],role.titleize)}:  #{score[:points]}

                        = index  < competency_scores[:role_wise_scores].size-1 ? "|" : ""
                    .clr
                .clr
              - if @report.report_data[:competency360_competencies_best_worst_scores]
                .span14.final_data_points
                  .medium-text.black.span.first.bold.line-height2
                    360&#176; Scores across exercise
                  .clr
                  .high_low_scores{:style => "padding-top: 10px"}
                    .border_gray_light.span.first
                      .low.left.pull-left

                      .right.pull-left
                        .color-average.medium-text
                          Lowest: #{@assessment.report_data[:competency_scores][competency][:min_score][:score] || "-"}
                      .clr
                    .border_gray_light.span
                      .stakeholder_rating_icon.left.pull-left
                      .right.pull-left
                        .color-average.medium-text
                          Candidate: #{competency_scores[:score][:points] || "-"}
                      .clr
                    .border_gray_light.span
                      .high.left.pull-left
                      .right.pull-left
                        .color-average.medium-text
                          Highest: #{@assessment.report_data[:competency_scores][competency][:max_score][:score] || "-"}
                      .clr
                    .clr
              .clr
              .divider1
              - if @report.report_data[:competency360_competencies_frequency_of_ratings]
                = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/frequency_rating_table", locals: { role_wise_scores: competency_scores[:role_wise_scores], name: competency, average_score_excluding_self: competency_scores[:score][:points], graph_buckets: @competency_graph_buckets, :is_trait => false  }
                .clr
            .clr
    .clr
    .page-break    
