= render partial: "shared/360/compact_mrf_report_header.pdf.haml"
.overall_report.compact.clearfix
  .divider2
  .span10
    .extra-large-text
      = @report.report_hash[:user][:name]
    .divider1
    .extra-medium-text.gray-darker
      .span3.first 360&#176; Profiling:
      .span7.first 
        = truncate @report.report_hash[:assessment][:name], :length => 30
      .clr
      Report Generated On:
      = hdate @report[:updated_at]
  .heading.large-text.pull-right
    360&#176; Profiling Report
  .clr
  - section_value.each do |section|
    = render :partial => section["path"], :locals => { :section_value => section["children"] }


