.overall_report
  .divider1
  .j-logo.pull-left
  .clr
  .divider28
  .huge-text.left-offset1
    = @report.report_hash[:candidate][:name]
  .divider1
  .banner
    .banner-heading.pull-left
      360&#176;
    .pull-right
      .divider3
      .banner-sub-heading
        Profiling Report
      - if @report.report_data[:mrf_report_numerical_aggregate_score_pdf]
        .extra-medium-text{:style => "padding: 2px 0px 25px 0px;"}
          Aggregate Score: #{@report.report_data[:aggregate_competencies_score]}%
        .clr
      - if @report.report_data[:mrf_report_show_completion_status]
        - completed_count = 0
        - sent_count = 0
        - @report.report_data[:feedback_stats].each do |role, status|
          - completed_count += status[:completed]
          - sent_count += status[:sent]
        Completion Status: #{completed_count} out of #{sent_count}
    .clr
  .divider2
  .extra-large-text
    .span.left-offset1
      360&#176; Profiling:
    .span13
      = @report.report_hash[:assessment][:name]
    .clr
    .divider2

    .span.left-offset1
      Report Generated On:
    .span
      = hdate @report.report_hash[:generated_at]
    .clr
.page-break
