- items = get_response_distribution(@report)
- slice_value = 10
- items.each_slice(slice_value) do |step_data|
  = render partial: "shared/360/compact_mrf_report_header",  :locals => { :display_text => "Response distribution on Questions"}    
  .response_distribution_six_points
    .scores
      .pull-left.color-info.big-text
        Response distribution on Questions
      .pull-left
        .span.stakeholder_label
          Question to stakeholder
        .span.candidate_label
          Question to candidate
      .clr
      %p.medium-text.gray-darker
        This section presents the questions asked in the exercise and frequency of responses on each of the options.
      .divider1
    .scores.border-bottom-grayLighter
      - step_data.group_by{|item_data| item_data["trait_name"] }.each do |trait_name, trait_items|
        .response_distribution_six_points_titles.clearfix
          .span10.no-bg.pull-left
            &nbsp; 
          .pull-left
            .span.medium-text.float-none.line-height1
              Numbers of stakeholders
            .clr
            - trait_items.first[:responses].each do |body,response_count|
              .span2
                = body
            .clr
          .clr
        .extra-medium-text.span10{:style=>"padding-bottom: 10px"}
          Questions on
          = truncate "#{trait_name}", length: 80
        .clr
        %ul
          - trait_items.each_with_index do |item_data, index|
            - if item_data[:responses].present?
              - klass = item_data["role"] == "other" ? "" : "candidate_answer"
              %li.clearfix{ class: klass }
                .span10
                  .question{:style => "padding-top: 5px;"}
                    %span.bold
                      Q.
                    #{item_data[:item]}
                - item_data[:responses].each_with_index do |(body,response_count),index1|
                  - klass = response_count > 0 ? "active" : ""
                  .span2{:class => klass}
                    = response_count
        .divider1
  .page-break           
