- items = get_response_distribution(@report)
- slice_value = 8
- scale_visibility_counter = 0
- items.each_slice(slice_value) do |step_data|
  = render partial: "shared/360/compact_mrf_report_header",  :locals => { :display_text => "Response distribution on Questions"}    
  - scale_visibility_counter += 1
  .response_distribution_six_points
    .scores
      .pull-left.color-info.big-text
        Response distribution on Questions
      .pull-left
        .span.stakeholder_label
          Question to stakeholder
        .span.candidate_label
          Question to candidate
      .clr
      %p.medium-text.gray-darker
        This section presents the questions asked in the exercise and frequency of responses on each of the options.
      .divider1
    - step_data.group_by{|item_data| item_data["trait_name"] }.each do |trait_name, items|
      - if scale_visibility_counter == 1
        - scale_visibility_counter = 0
        .response_distribution_six_points_titles.clearfix
          .span10.no-bg
            &nbsp; 
          .pull-left
            .span.medium-text.float-none.line-height1
              Numbers of stakeholders
            .clr
            - items.first[:responses].each do |body,response_count|
              .span2
                = body
            .clr
          .clr
      .scores.border-bottom-grayLighter
        .extra-medium-text.span9{:style=>"padding-bottom: 10px"}
          Questions on
          = truncate "#{trait_name}", length: 80
        .clr
        %ul
          -#
            %li.response_distribution_six_points_titles.clearfix
              .span9
              - items.first[:responses].each do |body,response_count|                
                .span2
                  = body

          - items.each_with_index do |item_data, index|
            - if item_data["role"] == "other"
              - if item_data[:responses].present?
                %li.clearfix
                  .span9
                    .question{:style => "padding-top: 5px;"}
                      %span.bold
                        Q#{index+1}
                      #{item_data[:item]}
                  - item_data[:responses].each_with_index do |(body,response_count),index|
                    .span2
                      = response_count
            -else 
              - if item_data[:responses].present?
                %li.clearfix.candidate_answer
                  .span9
                    .question{:style => "padding-top: 5px;"}
                      %span.bold
                        Q#{index+1}
                      #{item_data[:item]}
                  - item_data[:responses].each_with_index do |(body,response_count),index|
                    - klass = response_count > 0 ? "active" : ""
                    .span2{:class => klass}
                      = response_count
  
  .page-break           