- roles = @report.report_data[:competency_scores].first[1][:role_wise_scores].keys
- step_size = roles.size > 4 ? 1 : 2
- @report.report_data[:competency_scores].each do |competency, competency_scores|
  - competency_scores[:trait_scores].each_slice(step_size) do |step_trait_score|
    = render partial: "shared/360/compact_mrf_report_header" , :locals => { :display_text => "Details on #{get_assessment_purpose(@report)} Degree Ratings on Traits (Under Competencies / Values)"}

    .scores.mrf_data_points  
      .color-info.big-text
        Details on #{get_assessment_purpose(@report)}&#176; Ratings on Traits (Under Competencies / Values)  
      .divider1
      - step_trait_score.each do |trait_score|
        - value_hash = HashWithIndifferentAccess.new({trait_score: trait_score, competency: competency})
        .divider1
        .frame
          .heading.pull-left
            #{competency}
          .clr
          .padding-all1
            .medium-text.pull-left{:style=>"padding-top: 10px"}
              - section_value.each do |section|
                - locals = Hash[section["locals"].map { |key, value| [key.to_sym, value_hash[key.to_sym]] }]
                = render :partial => section["path"], :locals => locals
            .final_data_points.pull-left.small
              .high_low_scores{:style => "padding: 10px"}
                .heading.span
                  #{get_assessment_purpose(@report)}&#176; Rating : 
                  = trait_score[:average_score_excluding_self][:points] || "-"
                .border_gray_light.span
                  .high.left.pull-left
                    Highest
                  .right.pull-left
                    = @assessment.report_data[:trait_scores][trait_score[:trait][:name]][:max_score][:score] || "-"
                  .clr
                .border_gray_light.span
                  .low.left.pull-left
                    Lowest
                  .right.pull-left
                    = @assessment.report_data[:trait_scores][trait_score[:trait][:name]][:min_score][:score] || "-"
                  .clr
                .clr
            .clr
            .border-bottom-greyLighte
              = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/frequency_rating_table_trait", locals: { role_wise_scores: trait_score[:role_wise_scores], trait_wise: true, graph_buckets: @trait_graph_buckets, trait_score: trait_score }
              .clr
    .page-break
