- if @report.report_data[:mrf_report_data_pts_traits_under_competencies_with_frequencies]
  - @report.report_data[:competency_scores].each do |competency, competency_scores|
    = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Data Points on Scores: Traits Under Competencies"}
    - iterator = 0
    - competency_scores[:trait_scores].each do |trait_score|
      - iterator += 1
      .scores.border-bottom-grayLighter.mrf_data_points
        .divider1
        .green_heading.big-text
          - if @report.report_data[:competency360_traits_data_pts_trait_name_as_title]
            Trait "#{trait_score[:trait][:name]}" Under Competency "#{competency}"
          - if @report.report_data[:competency360_traits_data_pts_items_as_title]
            - trait_score[:items][:self_responses].each do |item|
              .color-warning.medium-text
                = item[:item]
        .divider1
        - if @report.report_data[:competency360_traits_textual_data_points]
          .small-padding
            .border-left-grayLighter.span
              .final_data_points
                .border_gray_light.span
                  .left.pull-left.stakeholder_rating_icon
                    
                  .right.pull-left
                    .medium-text.color-average
                      360&#176; Score: 
                      = trait_score[:average_score_excluding_self][:points] || "-"

                .border_gray_light.span
                  .left.pull-left.classic_user_icon
                  .right.pull-left
                    .medium-text.color-average
                      Self Rating: 
                      = trait_score[:average_score_self][:points] || "-"
                  .clr
                .border_gray_light.span
                  .left.pull-left.self_rating_icon
                  .right.pull-left
                    .medium-text.color-average
                      360&#176; (Including Self): 
                      = trait_score[:average_score_including_self][:points] || "-"
                  .clr
                .clr
              .divider1
              .rating_by_all_takeholders
                .medium-text.black.span.bold.line-height2
                  - total_stakeholders = trait_score[:role_wise_scores].map{|role, score| score[:count].to_i }.sum
                  Average rating given by #{pluralize(total_stakeholders,"Stakeholder")}
                .clr
                .border_gray_light.span
                  - if trait_score[:role_wise_scores].present?
                    - trait_score[:role_wise_scores].each_with_index do |(role, score),index|
                      .span.color-average
                        #{pluralize(score[:count],role.titleize)}: #{score[:points] || "-"}

                        = index  < trait_score[:role_wise_scores].size-1 ? "|" : ""
                    .clr
                .clr
              - if @report.report_data[:competency360_traits_best_worst_scores]
                .span.final_data_points
                  .medium-text.black.span.first.bold.line-height2
                    360&#176; Scores across exercise
                  .clr
                  .high_low_scores
                    .border_gray_light.span.first
                      .low.left.pull-left

                      .right.pull-left
                        .color-average.medium-text
                          Lowest: #{@assessment.report_data[:trait_scores][trait_score[:trait][:name]][:min_score][:score]}
                      .clr
                    .border_gray_light.span
                      .stakeholder_rating_icon.left.pull-left

                      .right.pull-left
                        .color-average.medium-text
                          Candidate: #{trait_score[:average_score_excluding_self][:points] || "-"}
                      .clr
                    .border_gray_light.span
                      .high.left.pull-left
                      .right.pull-left
                        .color-average.medium-text
                          Highest: #{@assessment.report_data[:trait_scores][trait_score[:trait][:name]][:max_score][:score]}
                      .clr
                    .clr
              %div{ :class => @report.report_data[:competency360_traits_best_worst_scores] ? 'pull-right': 'pull-left'}
                .medium-text.black.span.bold.line-height2
                  Ratings given to Candidate
                .clr
                .min_max_scores
                  .min.span
                    Maximum Rating: #{trait_score[:max_score_excluding_self][:points] || "-"}
                  .max.span
                    Minimum Rating: #{trait_score[:min_score_excluding_self][:points] || "-"}
                   
                  .clr
              .clr
              - if @report.report_data[:competency360_traits_frequency_of_ratings]
                .small-padding
                  = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/frequency_rating_table", locals: { role_wise_scores: trait_score[:role_wise_scores], trait_wise: true, graph_buckets: @trait_graph_buckets }
                  .clr
                  .divider1
            .clr
      - if ((iterator % 2 == 0) && (iterator < competency_scores[:trait_scores].length))
        .page-break
        .clr
        = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Data Points on Scores: Traits Under Competencies"}
    .page-break
  .clr
