- roles = @report.report_data[:competency_scores].first[1][:role_wise_scores].keys
- step = roles.size >= 5 ? 1 : 2
- @report.report_data[:competency_scores].each do |competency, competency_scores|
  - competency_scores[:trait_scores].each_slice(step) do |step_traitwise_score|
    = render partial: "shared/360/compact_mrf_report_header.pdf.haml" , :locals => { :display_text => "Data Points on Scores: Traits Under Competencies"}
    - step_traitwise_score.each do |trait_score|
      - value_hash = HashWithIndifferentAccess.new({trait_score: trait_score, competency: competency})
      .scores.border-bottom-grayLighter.mrf_data_points
        .color-info.big-text
          Details on 360&#176 Ratings on Traits (Under Competencies / Values)
        .divider1
        .frame
          .heading.pull-left
            #{competency}
          .heading.pull-right
            360&#176 Rating : #{trait_score[:average_score_excluding_self][:points]}
          .clr
          .padding-all1
            .medium-text.pull-left{:style=>"padding-top: 10px"}
              - section_value.each do |section|
                - locals = Hash[section["locals"].map { |key, value| [key.to_sym, value_hash[key.to_sym]] }]
                = render :partial => section["path"], :locals => locals
            = render :partial => "mrf/assessments/reports/competency_report/pdf/compact_reports/competency360_traits_textual_data_points", locals: { trait_score: trait_score}
    .page-break
.clr