%h1 All Suitability CompetencyGrades
- if can? :create, "Suitability::CompetencyGrade"
  = link_to "Manage Suitability CompetencyGrade", manage_suitability_competency_grades_path
.pagination.pull-right
  = paginate @competency_grades        
.clr  
%table
  %tr
    %th
      ID
    %th
      UID
    %th
      Name
    %th
      Min factors pass percent
    %th
      Max factors pass percent
  - @competency_grades.each do |competency_grade|
    %tr 
      %td
        = competency_grade.id
      %td
        = competency_grade.uid
      %td
        = competency_grade.name
      %td
        = competency_grade.min_factors_pass_percent
      %td
        = competency_grade.max_factors_pass_percent  
.pagination.pull-right
  = paginate @competency_grades
.clr   
