- url = @competency.id.present? ? self.send("#{resource_name.singularize}_path",@resource) : self.send("#{resource_name}_path")
- button = @competency.id.present? ? 'Update' : 'Create New Competency'
= form_for @competency, :as => :competency, :url => url, method: :post do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :active
    = f.check_box :active
  %label
    Company IDs
    %input{:id => 'company_ids', :type =>'text', :name => "competency[company_ids]"}
  %div{:class => "load_traits"}
    %a{:href => "#"}
      Load Traits
  #traits
    .field.suitability
      %label
        Suitability Factors
      %br
      %ul.trait-list
    .field.mrf
      %label
        MRF Traits
      %br
      %ul.trait-list
    .field.functional
      %label
        Functional Traits
      %br
      %ul.trait-list

  .actions
    = f.submit button
