- url = @competency.id.present? ? resource_path(@competency) : self.send("#{resource_name}_path")
- button = @competency.id.present? ? 'Update' : 'Create New Competency'
= form_for @competency, url: url, :as => :competency, remote: true do |f|
  .field
    = f.label :active
    = f.check_box :active
  %label
    Company IDs
    %input{:id => 'company_ids',:class => index, :type =>'text', :name => "company_ids", value: @competency.company_ids.join(",")}
  .actions
    = f.submit button, disable_with: "Wait..."
