= form_for "report", :url => report_generator_scores_path() do |f|
  %p
    %label.field
      Candidate Name
    = f.text_field :candidate_name, required: true
  %p
    %label.field
      Candidate Email
    = f.text_field :candidate_email, required: true
  %p
    %label.field
      Candidate Type
    = f.select :candidate_type, Vger::Resources::Candidate::STAGES - ["manager"], required: true
  %p
    %label.field
      Assessment
    = f.radio_button :assessment, 'new'
    = f.label :assessment_new, "New Assessment"
    = f.radio_button :assessment, 'existing'
    = f.label :assessment_existing, "Existing Assessment"
  %p.assessment-fields
    %fieldset#new-assessment{ style: "display:none;"}
      %legend
        %strong
          New Assessment
      = fields_for "assessment" do |f|
        %p
          Company ID :
          = f.text_field :company_id, :value => ""
        %p
          Assessment Name :
          = f.text_field :name, :value => ""
        %p
          .control-group
            %label
              Select the Industry your Company belongs to
            %select{name: 'assessment[industry_id]', id: 'select_industry'}
              %option{:value => ""}
                Industry
              - @industries.each do |id,industry|
                %option{:value => (industry.id)}
                  = industry.name

            .clr
        %p
          .control-group
            %label
              Select the Department (or Function) for which you are creating this Assessment
            %select{name: 'assessment[functional_area_id]', id: 'select_functional_area'}
              %option{:value => ""}
                Department
              - @functional_areas.each do |id,functional_area|
                %option{:value => (functional_area.id)}
                  = functional_area.name
            .clr
        %p

          %label
            Select Experience Range of the Job Role that you are creating this Assessment for
          %select{name: 'assessment[job_experience_id]', id: 'select_job_experience'}
            %option{:value => ""}
              Experience
            - @job_experiences.each do |id,job_experience|
              %option{:value => (job_experience.id)}
                = job_experience.display_text
          .clr
        %p
          Assessment Type:
          = f.select :assessment_type, ["Type",Vger::Resources::Suitability::CustomAssessment::AssessmentType::FIT,Vger::Resources::Suitability::CustomAssessment::AssessmentType::COMPETENCY]
        %p
          Brand Partner
          = f.select :brand_partner, [""]+Rails.application.config.brand_partners.keys
        %p#competencies{style: "display:none;"}
          %label
            Competencies
            %ul.competencies-list
        %p#traits{style:"display:none;"}
          %label
            Factors
            %ul.trait-list.suitability
        %p#functional_traits{style:"display:none;"}
          %label
            Functional Traits
          %ul.functional-trait-list.functional
          %label
            Objective Questions
          %ul
            - @objective_items.each_with_index do |objective_item,index|
              %li
                - name = "objective_items[#{index}][#{objective_item.id}]"
                %input{type:'checkbox', value:"#{objective_item.id}",name:"#{name}",id:"#{name}"}
                %label{for: "#{name}"}
                  = objective_item.body
          %label
            Subjective Questions
          %ul
            - @subjective_items.each_with_index do |subjective_item,index|
              %li
                - name = "subjective_items[#{index}][#{subjective_item.id}]"
                %input{type:'checkbox', value:"#{subjective_item.id}",name:"#{name}",id:"#{name}"}
                %label{for: "#{name}"}
                  = subjective_item.body


        %p
          = f.button :Proceed


  %p.assessment-fields
    %fieldset#existing-assessment{ style: "display:none;"}
      %legend
        %strong
          Existing Assessment
      = fields_for "assessment" do |f|
        %p
          Assessment ID
          = f.text_field :assessment_id, :value => ""
          = f.button :Proceed


= javascript_include_tag 'report_generator'
