.inn.gray-gradient
  .test-text-to-send
    .title
      To
    .massage-body.test-title
      = @candidate.name
    .title
      Subject
    .massage-body.subject
      #{@candidate.name}, you have not answered #{@company.name}'s Assessment.
    .title
      Message
    .massage-body.massage
      %p 
        Hello #{@candidate.name},
      %p
        This is a reminder email.  
        %b #{@company.name} 
        has arranged for you to complete a Jombay Suitability Questionaire.
      %p 
        To proceed, please click the weblink listed below or visit it by copy-pasting the URL into your web browser's address bar.
      %p 
        %b
          URL: &lt;candidate specific url&gt;
      %p
        If you face any technical difficulties or have any queries please feel free to reach us at 
        %a{:href=>"mailto:prakhar@jombay.com", :title=>"For any queries Mail to Prakhar"} 
          prakhar@jombay.com. 
        %br  
        You can also call us at 
        %b+91 87960 29607
      %p 
        Best Regards,
        %br/
        Prakhar Srivastava
        %br/
        Jombay
    .pull-right
      %a.span.line-height2{:href=> request.env["HTTP_REFERER"], :title => "cancel"}
        Cancel
      = form_for @assessment, as: :assessment, url: controller.send_reminder_to_candidate_url, method: :put, html: { class: 'span' } do |f|
        %button.btn.btn-info
          Send
    .clr    
