.create-test.creat-test-show
  .inn.first
    .page-title.pull-left
      Test #{@assessment.id} - #{@assessment.name}
    %a.btn.pull-right{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
      .link-color Send This Test
    - if current_user.type == "SuperAdmin"  
      %a.pull-right{ href: email_reports_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), style: "line-height: 34px;margin-right: 10px;" }
        .link-color Email Reports Summary 
  .clr
  .inn.gray-gradient
    .pull-left
      = render :partial => "shared/candidate-content-sub-nav"
    .pagination.pull-right
      = paginate @candidates
    .clr
    .divider2
    .list-snippet-titles.clearfix
      .span2
        = sort_link "ID", candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :id, params[:search]
      .span7
        = sort_link "Candidate Name", candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :name, params[:search]
      .span
        = sort_link "Test Status", candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :status, params[:search]
      .filter-status.pull-right
        = form_for :search, url: candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), method: :get do |f|
          - params[:search] ||= {}
          Filter by Test Status: 
          %select{name: "search[status]"}
            - test_statuses.each do |status,name|  
              %option{ value: status, selected: (params[:search][:status] == status) }
                = name
          %button.btn.btn-link
            Apply
      .clr
    - if @candidates.empty?
      .medium-text.alert
        - if params[:search].present?
          No results found!
        - else
          Test not sent to any candidate. To send this test, 
          %a{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), title: "Send test" } Click here
    - else    
      %ul.unstyled
        - @candidates.each do |candidate|
          - candidate_assessment = @candidate_assessments.select{|x| x.candidate_id == candidate.id }.first
          - status = test_statuses[candidate_assessment.status]
          - if candidate_assessment && candidate_assessment.candidate_assessment_reports.present?
            - report = candidate_assessment.candidate_assessment_reports[0] 
            -# status = report_statuses[report.status]
          %li.list-snippet
            .span2
              %a.default-color{:href=> candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=>"JOM#{candidate.id}"} JOM#{candidate.id}
            .span7.first.lhs-border
              %a.default-color{:href=> candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=>"Candidate1 Name"} 
                = h candidate.name
            .span9.lhs-border
              %a.default-color{:href=> candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=> "#{candidate_assessment.candidate_assessment_reports.present? ? 'Complete' : 'Pending'}" }
                = status
                as of #{htime candidate_assessment.updated_at} Hrs, #{hdate candidate_assessment.updated_at}
                //remember Hrs & Hr 
            .span.lhs-border
              - if report
                - if report.status == Vger::Resources::Suitability::CandidateAssessmentReport::Status::UPLOADED
                  - url =  company_assessment_candidate_candidate_assessment_report_url(:company_id => params[:company_id], :candidate_id => candidate.id, :assessment_id => @assessment.id, :id => report.id, :view_mode => "html")
                  %a.underlined{:href => url, :title => "View Report", target: "_blank"}
                    View Report
                - else
                  Generating report...  
              - else 
                - if candidate_assessment.status == Vger::Resources::Suitability::CandidateAssessment::Status::EXPIRED
                  = status  
                - else   
                  %a.underlined{:href => send_reminder_to_candidate_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title => "Send Reminder"}
                    Send Reminder
            .clr
  .inn
    .pagination.pull-right
      = paginate @candidates
      .clr
