- content_for :javascripts do
  = javascript_include_tag "candidates/index"
.inn.border_bottom
  .span22.fl_none.clearfix
    -# 
      link_to_jobseeker_app("jobs/#{@job.id}-") - Link to job details page on jombay (jobseeker) app.
      Link to Job can't be generated here. The '-' at end is required to redirect to correct url.
    %a{:href => link_to_jobseeker_app("jobs/#{@job.id}-"), :title => "See this Job Posting"}
      %strong See this Job Posting
    .divider1
    .biggest_text
      #{ @job.name }

= render :partial => "recruiters/candidates/index/top_section", locals: { applications: @applications }
= render :partial => "recruiters/candidates/index/candidate_list_snippet", collection: @applications, locals: {job: @job}

.divider1
.inn.border_bottom
  .span22.fl_none.clearfix
    .pull-right
      = bootstrap_paginate(@applications, :inner_window => 0, :outer_window => 0,)
    .clr
.divider2