- @report.report_data["items"].sort_by{|item_hash| item_hash["report_order"] }.each do |item_hash|
  - responses = item_hash["responses"]
  - if responses.present?
    .snippet{ class: item_hash["selectable_options"] == 1 ? "recommendation":"" }
      .container
        .snippet_title.bracket-left-arrow-icon
          = item_hash["report_body"]
      - if item_hash["selectable_options"] == 1 && responses.size == 1
        .discriminated_status.margin-auto
          = item_hash["responses"][0]["option_body"]
      - else
        .divider2
        %ul.striped_list.numbered-list
          - responses.each_with_index do |response_hash,index|
            %li
              .container
                .count.pull-left
                  #{index+1}
                .big-text.span
                  = response_hash["option_body"]
                .clr
  - else
    - responses = item_hash["items"]
    - if responses.present?
      - happy_responses = responses.select{|item_hash| item_hash["responses"].first["score"] == 1 }
      - unhappy_responses = responses.select{|item_hash| item_hash["responses"].first["score"] == 0 }
      .snippet.mood
        .container
          .snippet_title.group-talk-bubble-icon
            = item_hash["report_body"]
        .divider2
        .span24.margin-auto
          .happy.span8.first
            .title.huge-text
              - happy_percentage = (happy_responses.size*100.to_f/responses.size.to_f).round
              #{happy_percentage}% Happy :)
            .divider1
            %ul
              - happy_responses.each do |happy_response|
                %li
                  = happy_response["item_body"]
          .span7
            .pie-chart.span3.margin-auto{ "data-0" => "Happy-:-#{happy_percentage}-:-#82D23F", "data-1" => "Unhappy-:-#{100-happy_percentage}-:-#1068b1" }
          .unhappy.span8
            .title.huge-text
              #{(unhappy_responses.size*100.to_f/responses.size.to_f).round}% Unhappy :(
            .divider1
            %ul
              - unhappy_responses.each do |unhappy_response|
                %li
                  = unhappy_response["item_body"]
          .clr

- if @report.report_data["subjective_items"]
  - @report.report_data["subjective_items"].each do |subjective_item_data|
    .snippet.company_feedback 
      .container
        .snippet_title.talk-bubble-icon
          = subjective_item_data[:item_body].gsub("<text_box>","")
        .divider2
        .comments
          .icon.pull-left
          .span27.pull-right
            - subjective_item_data[:response].each do |index,response|
              .comment-box
                .arrow
                = response.html_safe
              %br  
          .clr
    .divider2
