.test-text-to-send
  %span.extra-medium-text.span2.first.show
    Subject
  .massage-body.italic.span13
    &lt;Assessment Taker's Name&gt;, #{@company.name} has chosen you to write an Assessment
  .clr
  .divider1
  %span.extra-medium-text.span2.first.show
    Message

  .massage-body.italic.span13
    %p
      Dear &lt;Assessment Taker's Name&gt;,
    %p
      You have been chosen by #{@company.name} to complete the Jombay Questionnaire.
    %p
      Please click on the following link and fill out the Questionnaire.
      %br
      URL: &lt;assessment taker specific url&gt;

    %p
      The Questionnaire results will be used to help #{@company.name} better support your job satisfaction and career development. There are no right or wrong answers. The questionnaire will take approximately 20 minutes to complete.
    %p
      If you face any technical difficulties or have any queries please feel free to reach us at  
      %a.muted{:href=>"mailto:prakhar@jombay.com", :title=>"For any queries Mail to Prakhar"}
        prakhar@jombay.com.  
      %br
      You can also call us at +91 87960 29607
     
    %p
      Best Regards,
      %br/
      - if ["SuperAdmin"].include? current_user.type
        Prakhar Srivastava
        %br
        Jombay
      - else
        = current_user.name
        %br/
        #{@company.name}
      %br/
    %p
      P.S.: If the link above does not work, or wraps over 2 or more lines, please copy and paste the link directly into your browser and ensure that there are no spaces in between.
  .clr