.add-candidates
  .page-title.pull-left #{@assessment.name}
  %a.pull-right.medium-text.line-height2{:href=>"/help/process-explanation", :target=>"_blank", :title=>"Need help in adding Assessment Takers to this Assessment?"}
    Need help in adding Assessment Takers?
  .clr
  .divider1
  = render :partial => "shared/navigation-sub-nav"
  .divider2
  -#%a.underlined.pull-right{:href => help_adding_candidates_path, :target => "_blank"}
    -#View Instructions
  .clr
  .span14.first.big-text.text-center
    What is the purpose of assessing these assessment takers?
  .purpose.span8
    %label
      - checked = (params[:candidate_stage] == Vger::Resources::Candidate::Stage::EMPLOYED)
      %input.span1{:type => "radio", :name => "candidate_stage", value: Vger::Resources::Candidate::Stage::EMPLOYED, :onClick => "getCandidateType('#{Vger::Resources::Candidate::Stage::EMPLOYED}');", checked: checked}
      #employee
        -#toggle class ".checked" to "#employee"
        .title.span.extra-medium-text.default
          For Development 
        %i.muted.span.medium-text
          (Existing Employees)
        .clr
    .divider1
    %label
      - checked = (params[:candidate_stage] == Vger::Resources::Candidate::Stage::CANDIDATE)
      %input.span1{:type => "radio", :name => "candidate_stage", value: Vger::Resources::Candidate::Stage::CANDIDATE, :onClick => "getCandidateType('#{Vger::Resources::Candidate::Stage::CANDIDATE}');", checked: checked}
      #candidate
        -#toggle class ".checked" to "#candidate"
        .title.span.extra-medium-text.default
          For Hiring 
        %i.muted.span.medium-text
          (Potential Candidates)
        .clr
    .clr 

  %a.label.label-warning.label-small.pull-left{:href => "#", :title => "USE BULK UPLOAD"}
    %b USE BULK UPLOAD
  .clr 

  .divider1

  .margin-auto.span22
    -#Bulk Upload old code
      .select-candidate-type 
        - if current_user.type == "SuperAdmin"
          = render :partial => "suitability/custom_assessments/candidate_assessments/bulk_upload"
      .divider1
    - checked = (params[:upload_method] == "manual")
    -# if current_user.type == "SuperAdmin"
      %label
        %input{:type => "radio", :name => "upload_type", value: "manual", :onClick => "window.location='#{request.path}?upload_method=manual&candidate_stage=#{params[:candidate_stage]}'", :checked => checked}
        %b.extra-medium-text{ class: checked ? 'checked': '' }
          Add Assessment takers manually: 
      .divider1
    = form_for @assessment, :as => :assessment, :url => add_candidates_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
      .divider1
      %input{ type: "hidden", value: "#{params[:candidate_stage]}", name: "candidate_stage" }
      %input{ type: "hidden", value: "#{params[:upload_method]}", name: "upload_method" }
      %input{ id:"candidate_stage", type: "hidden", value: "", name: "candidate_stage" }
      %div{class: "#{checked ? 'activated':'de-activated'}"}
        .left-offset2.first
          .span9.first.big-text
            Assessment taker’s name
          .span8.big-text.left-offset1
            .span Assessment taker’s email address
          .clr
        %ul.add-candidates.clearfix
          - 10.times do |index|
            = render :partial => "suitability/custom_assessments/candidate_assessments/assessment_candidate_assessment_fields", :locals => { :index => (index+1), :candidate => (params[:candidates].to_a[index][1] rescue {}) } 
        .divider2
      
      %a.button.pull-left.btn.btn-warning.inverse.large-text{ disabled: !checked, href: company_custom_assessment_path(@company,@assessment) }
        Add Assessment Takers Later
      %input.pull-right.btn.btn-warning.large-text{ disabled: !checked, type: "submit", value: "Submit"}
      .clr

= javascript_include_tag 'add_candidates'