.candidate-assessemnt-link-management
  .span22.first.page-title
    .divider1
    Assessment #{@assessment.id} - #{@assessment.name}

  %a.btn.btn-warning.big.pull-right.span{:href=>candidates_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title=>"View All Candidates"}
    View All Candidates
  .clr
  .divider2
  = render :partial => "shared/candidate-content-sub-nav"

  .padding-all2.border-warning.shifted-up1.extra-medium-text
    .span16.margin-auto
      .huge-text
        #{@candidate.name}
      %ul.big-text
        %li
          .span6
            ATID
          .span8
            #{@candidate.id}
          .clr
        %li
          .span6
            Assessment Status
          .span8
            Pending as of 18:56 Hrs, 27/02/2015                   

          .clr
        %li
          .span6
            Assessment Status Link
          .span8
            Active till 19:17 Hrs, 28/12/2014                   
          .clr
        %li
          .span6
            Extended validity by
          .span9.no-r-padding
            %select.fw
              %option
                Number of Days
          .clr
        %li.no-background
          .divider1
          .span6.no-padding
            %input.default.btn.btn-link.big-text{:type=>"button", :value=>"Cancel and Go back"}
          .span10.no-padding
            %input.btn.btn-warning.big-text.pull-right{:type=>"button", :value=>"Update"}
            .clr
          .clr

  .divider1
