= form_for :assessment, url: resend_invitations_company_custom_assessment_path(@company.id, @assessment.id), :method => :put do |f|
  %fieldset
    %legend
      %strong Resend Invitation Emails to Pending Candidates
    .pull-left.span8
      = f.fields_for "args" do |f|
        %p
          Template :
          %select{ id: "select_template", name: "assessment[args][template_id]", class: (@templates.size <= 1 ? 'hide':''), onchange: "selectTemplate()" }
            - @templates.each do |template|
              %option{value: template.id, body: template.preview(:body), subject: template.preview(:subject), from: template.preview(:from)}
                = template.name
        %p
          %label 
            %input{:type => "checkbox", :name => "assessment[args][pending]", value: "pending"}
            Pending Candidates
        %p
          %label 
            %input{:type => "checkbox", :name => "assessment[args][started]", value: "started"}
            Candidates who have started the test
        %p
          Notification Email :
          = f.text_field :email, :value => "product@jombay.com"
    .email-template.pull-left.span16
      -# add this classes when template isnt availble "span18 margin-auto no-border" to .email-template
      .gray-dark
        .span17
          .large-text
            Following is the Preview of the email that Assessment takers will receive.
          .divider1   
          - template = @templates[0]
          .custom-email.hide
            .test-text-to-send
              %span.extra-medium-text.span2.first.show
                From
              .massage-body.italic.span15.medium-text.email-from
                - if template && template.from
                  = template.preview(:from).html_safe
                - else
                  = "<Sender Name> at #{@company.name}"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Subject
              .massage-body.italic.span15.medium-text.email-subject
                - if template && template.subject
                  = template.preview(:subject).html_safe
                - else
                  = "<Assessment Taker's Name>, #{@company.name} has chosen you to write an Assessment"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Message
              .massage-body.italic.span15.medium-text.email-body

          .default-email
            .test-text-to-send
              %span.extra-medium-text.span2.first.show
                From
              .massage-body.italic.span15.medium-text
                - if template && template.from
                  = template.preview(:from).html_safe
                - else
                  = "<Sender Name> at #{@company.name}"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Subject
              .massage-body.italic.span15.medium-text
                - if template && template.subject
                  = template.preview(:subject).html_safe
                - else
                  = "<Assessment Taker's Name>, #{@company.name} has chosen you to write an Assessment"
              .clr
              .divider1
              %span.extra-medium-text.span2.first.show
                Message
              .massage-body.italic.span15.medium-text
                - if template
                  = template.preview(:body).html_safe
                - else
                  - if params[:candidate_stage] == Vger::Resources::Candidate::Stage::CANDIDATE
                    = render :partial => "suitability/custom_assessments/candidate_assessments/mail_body_for_candidate"
                  - else
                    = render :partial => "suitability/custom_assessments/candidate_assessments/mail_body_for_employee"
              .clr                    
    .clr        

  .actions
    %input.btn.btn-warning.large-text.pull-right.right-offset1{:type => "submit", :value => "Send Emails"}
= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'
= javascript_include_tag 'add_candidates'    
