.pull-left
  Company Pages
  %br
  %br
  = link_to "Companies", companies_path
  %br
  %br
  = link_to "Subscriptions", subscriptions_path
  %br
  %br
  = link_to "Plans", plans_path
  %br
  %br
  Finance
  %br
  %br
  = link_to "Mutual Fund", finance_mutual_funds_path
  %br

.pull-left{ style: "margin-left:20px" }
  Master Data Links
  %br
  %br
  = link_to "Locations", locations_path
  %br
  %br
  = link_to "Degrees", degrees_path
  %br
  %br
  = link_to "Functional Areas", functional_areas_path
  %br
  %br
  = link_to "Industries", industries_path
  %br
  %br
  = link_to "Job Experiences", job_experiences_path
  %br
  %br
.pull-left{ style: "margin-left:20px" }
  Master Data Links
  %br
  %br
  = link_to "Suitability Factors", suitability_factors_path
  %br
  %br
  = link_to "Competencies", suitability_competencies_path
  %br
  %br
  = link_to "Competency Grades", suitability_competency_grades_path
  %br
  %br
  = link_to "Aggregate Competency Score Buckets", suitability_aggregate_competency_score_buckets_path
  %br
  %br
  = link_to "Suitability Job Factor Norms", suitability_job_factor_norms_path
  %br
  %br
  = link_to "Suitability Item Groups", suitability_item_groups_path
  %br
  %br
  = link_to "Norm Buckets", suitability_norm_buckets_path
  %br
  %br
  = link_to "Fits", suitability_fits_path
  %br
  %br
  = link_to "Overall Consistency Buckets", suitability_consistency_buckets_path
  %br
  %br
  = link_to "Pattern Response Buckets", suitability_pattern_response_buckets_path
  %br
  %br
  = link_to "Overall Factor Score Buckets", suitability_overall_factor_score_buckets_path
  %br
  %br
.pull-left{ style: "margin-left:20px" }
  Master Data Links
  %br
  %br
  = link_to "Overall Fitment Grades", suitability_overall_fitment_grades_path
  %br
  %br
  = link_to "Factor Norm Bucket Descriptions", suitability_factor_norm_bucket_descriptions_path
  %br
  %br
  = link_to "Fitment Grades", suitability_fitment_grades_path
  %br
  %br
  = link_to "Fitment Grade Mappings", suitability_fitment_grade_mappings_path
  %br
  %br
  = link_to "Default Factor Norm Ranges", suitability_default_factor_norm_ranges_path
  %br
  %br
  = link_to "Post Assessment Guidelines", suitability_post_assessment_guidelines_path
  %br
  %br
  = link_to "Recommendations", suitability_recommendations_path

.clr
