= form_for "report", :url => generate_report_path() do |f|
  %p
    %label.field
      Candidate Name
    = f.text_field :candidate_name, required: true, value: @candidate_details["candidate_name"]
  %p
    %label.field
      Candidate Email
    = f.text_field :candidate_email, required: true, value: @candidate_details["candidate_email"]
  %p
    %label.field
      Candidate Type
    = f.text_field :candidate_type,required: true,  value:@candidate_details["candidate_type"]
  %input{name: "report[assessment_id]", type: 'hidden', value: @assessment.id}
  %input{name: "report[assessment_name]", type: 'hidden', value: @assessment.name}
  %input{name: "report[company_id]", type: 'hidden', value: @assessment.company_id}
  %input{name: "report[assessment_type]", type: 'hidden', value: @assessment.assessment_type}
  %input{name: "report[is_jombay_pearson_test]", type: 'hidden', value: @assessment.is_jombay_pearson_test}
  %input{name: "report[competency_ids]", type: 'hidden', value: @competency_ids}
  %p
    %label.field
      Report Flags
    = f.check_box :interview_guide
    = f.label :interview_guide, "Show Interview Guide"
    = f.check_box :development_guide_manager
    = f.label :development_guide_manager, "Show Development Guide - Manager"
    = f.check_box :development_guide_candidate
    = f.label :development_guide_candidate, "Show Development Guide - Candidate"
    = f.check_box :include_subjective_questions
    = f.label :include_subjective_questions
    = f.check_box :include_objective_questions
    = f.label :include_objective_questions
    / %p
    /   = f.check_box :include_functional_trait_scores
    /   = f.label :include_functional_trait_scores
  %p
    %label.field
      Assessment Name
    = f.text_field :assessment_name, required: true, value: @assessment.name, disabled: true
  %p
    %label.field
      Company ID
    = f.text_field :company_id, required: true, value: @assessment.company_id, disabled: true
  %p
    %label.field
      Assessment Type
    = f.text_field :assessment_type, required: true, value: @assessment.assessment_type, disabled: true
  %p
    %label.field
      Pearson?
    = f.text_field :is_jombay_pearson_test, required: true, value: @assessment.is_jombay_pearson_test, disabled: true
  %br

  - if @assessment.assessment_type == "competency" && @competencies.present?
    %p
      %label.field
        Competencies
    %table
      %th
        Competency Name
      %th
        Desired Grade

      - @competencies.each do |competency|
        %tr
          %td
            = competency.name
          %td
            %select{name:"report[competency_grades][grade_#{competency.id}]"}
              - @norm_buckets.each do |norm_bucket|
                %option{value: norm_bucket.name}
                  = norm_bucket.name
    %p
      %input{type:'checkbox', value:"1",name:"report[competency_grades_compute]",id:"report[competency_grades_compute]"}
      %label{for: "report[competency_grades_compute]"}
        Compute Based on Factor Scores Below



  - if @assessment_factor_norms.present?
    %p
      %label.field
        Assessment Factor Norms
    %table{width: "80%"}
      %th{width: "40%"}
        Factor Name
      %th{width: "20%"}
        From Norm Bucket
      %th{width: "20%"}
        To Norm Bucket
      %th{width: "20%"}
        Desired Score
      - @assessment_factor_norms.each do |afn|
        %tr
          %td
            = afn.factor.name
          %td
            %select{name:"report[norm_ranges][#{afn.factor_id}][from_norm_bucket_id]"}
              - @norm_buckets.each do |norm_bucket|
                - if afn.from_norm_bucket_id == norm_bucket.id
                  %option{value: norm_bucket.id, selected:'selected'}
                    = norm_bucket.name
                - else
                  %option{value: norm_bucket.id}
                    = norm_bucket.name
          %td
            %select{name:"report[norm_ranges][#{afn.factor_id}][to_norm_bucket_id]"}
              - @norm_buckets.each do |norm_bucket|
                - if afn.to_norm_bucket_id == norm_bucket.id
                  %option{value: norm_bucket.id, selected:'selected'}
                    = norm_bucket.name
                - else
                  %option{value: norm_bucket.id}
                    = norm_bucket.name
          %td
            %select.factor-scores{name:"report[desired_score][#{afn.factor_id}][norm_bucket_id]", index:"#{afn.factor_id}"}
              - @norm_buckets.each do |norm_bucket|
                %option{value: norm_bucket.id}
                  = norm_bucket.name
    %p
      %input{type:'button', value:"Randomise Factor Scores",name:"randomise_factor_scores",id:"randomise_factor_scores",onclick:"randomiseOptions('.factor-scores')" }

    %br



  - if !@functional_assessment_traits.empty?
    %p
      %label.field
        Functional Assessment Traits
    %table{width: "100%"}
      %th{width: "40%"}
        Functional Trait Name
      %th{width: "20%"}
        From Norm Bucket
      %th{width: "20%"}
        To Norm Bucket
      %th{width: "20%"}
        Desired Score
      - @functional_assessment_traits.each do |at|
        %tr
          %td
            %input{type:'checkbox', name:"report[functional_traits][#{at.trait_id}]",id:"report[functional_traits][#{at.trait_id}]"}
            %label{for: "report[functional_traits][#{at.trait_id}]"}
              = at.trait.name
          %td
            %select{name:"report[functional_norm_ranges][#{at.trait_id}][from_norm_bucket_id]"}
              - @functional_norm_buckets.each do |norm_bucket|
                - if at.from_norm_bucket_id == norm_bucket.id
                  %option{value: norm_bucket.id, selected:'selected'}
                    = norm_bucket.name
                - else
                  %option{value: norm_bucket.id}
                    = norm_bucket.name
          %td
            %select{name:"report[functional_norm_ranges][#{at.trait_id}][to_norm_bucket_id]"}
              - @functional_norm_buckets.each do |norm_bucket|
                - if at.to_norm_bucket_id == norm_bucket.id
                  %option{value: norm_bucket.id, selected:'selected'}
                    = norm_bucket.name
                - else
                  %option{value: norm_bucket.id}
                    = norm_bucket.name
          %td
            %select.trait-scores{name:"report[functional_desired_score][#{at.trait_id}][norm_bucket_id]"}
              - @functional_norm_buckets.each do |norm_bucket|
                %option{value: norm_bucket.id}
                  = norm_bucket.name
    %p
      %input{type:'button', value:"Randomise Trait Scores",name:"randomise_trait_scores",id:"randomise_trait_scores",onclick:"randomiseOptions('.trait-scores')" }

    %br

  - if @objective_items.present?
    %p
      %label
        Objective Items
      %ul
        - @objective_items.each do |objective_item|
          %li
            = objective_item.body
            %p
              - name = "report[objective_item][#{objective_item.id}][option]"
              %select.objective-item-options{name: name, id: name}
                - objective_item.options.each do |option|
                  %option{:value => (option.id)}
                    = option.body
    %input{type:'button', value:"Randomise Options",name:"randomise_objective_options",id:"randomise_objective_options",onclick:"randomiseOptions('.objective-item-options')" }

    %br
    %br

  - if @subjective_items.present?
    %p
      %label
        Subjective Items
      %ul
        - @subjective_items.each do |subjective_item|
          %li
            = subjective_item.body
            %p
              - subjective_item.body.scan("<text_box>").each_with_index do | i, index|
                - name = "report[subjective_item][#{subjective_item.id}][#{index}]"
                %input{type:'text',name: name,id: name}




  .divider3
  = f.button "Generate Report"




= javascript_include_tag 'report_generator'
