.create-test.creat-test-show
  .page-title.pull-left
    .divider1
    Test #{@assessment.id} - #{@assessment.name}
  %a.btn.btn-warning.pull-right.big-text.big.span{ href: add_candidates_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
    Send This Test
  - if @assessment_report && @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
    %a.extra-medium-text.pull-right.line-height3{:href => download_training_requirements_report_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id], :format => :pdf), :title => "Download Training Requirements Report as PDF", target: "_blank"}
      Download a PDF version of Training Requirements Report    
  .clr
  .divider2
  .clr
  = render :partial => "shared/candidate-content-sub-nav"
  .padding-all2.border-warning.shifted-up1
    - if @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
      .span10.extra-medium-text.first
        Training requirements Report
      .span
        %a.extra-medium-text{:href => download_training_requirements_report_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id], :format => :html), :title => "Download Training Requirements Report as PDF", target: "_blank"}
          %i.icon-file              
          View Report
    - elsif @assessment_report.id.present?
      .alert-info.alert.text-center
        %i.icon-spinner.icon-spin
        Training Requirements calculation is in progress.
      .extra-medium-text.alert-text
        You could update the settings of this report by using the form below.
    - else
      .extra-medium-text.alert-text
        Training Requirements not enabled for this assessment. Submit the form below to generate a training requirement report.         
    - competency_based = @assessment.assessment_type == Vger::Resources::Assessment::AssessmentType::COMPETENCY    
    - if @assessment_report.id.present?    
      - url = update_training_requirements_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id], :assessment_report_id => @assessment_report.id)
    - else
      - url = create_training_requirements_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id])      
    = form_for @assessment_report, as: :assessment_report, url: url do |f|
      = f.hidden_field :report_type, value: "training_requirement"
      = f.hidden_field :assessment_id, value: params[:id]
      = f.hidden_field :status, value: Vger::Resources::Suitability::AssessmentReport::Status::NEW
      -  Vger::Resources::Suitability::AssessmentReport.configuration.each do |name, settings|
        - if settings[:flag_type] == 'competency'
          - if competency_based
            - if ["TrueClass","FalseClass"].include? settings[:type]
              .control-group
                %label.span10.first.big-text.line-height2.gray-darker
                  = f.check_box name.to_sym, :checked => @assessment_report.send(name.to_sym)
                  #{name}
              .clr
            - else
              .control-group
                %label.span10.first.big-text.line-height2.gray-darker
                  #{name}:
                  = f.text_field name.to_sym, :checked => @assessment_report.send(name.to_sym)
              .clr
        - else
          - if ["TrueClass","FalseClass"].include? settings[:type]
            .control-group
              %label.span10.first.big-text.line-height2.gray-darker
                = f.check_box name.to_sym, :checked => @assessment_report.send(name.to_sym)
                #{name}
            .clr
          - else
            .control-group
              %label.span10.first.big-text.line-height2.gray-darker
                #{name}:
                = f.text_field name.to_sym, :checked => @assessment_report.send(name.to_sym)
            .clr      
          %br       
      %input.btn.btn-warning.large-text.pull-right{:type => "submit", :value => "Update Report"}
        .clr
    .divider2
