= form_for :assessment, url: export_assessment_trr_candidates_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend
      %strong Export Candidate List(Single Assessment TRR)
    %p
      Assessment ID :
      = f.text_field :id

    = f.fields_for "folder" do |f|
      %p
        Google Drive Folder Url :
        = f.text_field "url"

    %p
      Notification Email :
      = f.text_field :email, :value => "product@jombay.com"

  .actions
    = submit_tag 'Download Candidate List'
