= form_for :assessment, url: import_assessment_trr_users_path, multipart: true, :method => :post do |f|
  %fieldset
    %legend
      %strong Import Candidate List(Single Assessment TRR)
    %p
      Assessment ID :
      = f.text_field :id
    %p
      Google Spreadsheet Url :
      = f.text_field "url"
    = f.hidden_field :email, :value => current_user.email

  .actions
    = submit_tag 'Regenerate TRR'
