= form_tag import_assessment_trr_users_path, multipart: true, :method => :post do
  %fieldset
    %legend
      %strong Import Candidate List(Single Assessment TRR)
    %p
      Assessment ID :
      = text_field_tag :assessment_id
    %p
      = fields_for :import do |ff|
        XLS File
        = ff.file_field "file"

  .actions
    = submit_tag 'Regenerate TRR'
