%div
  %br/
  = render :partial => 'export_assessment_trr'
  %br/
%div
  %br/
  = render :partial => 'export_group_trr'
  %br/
%div
  %br/
  = render :partial => 'import_assessment_trr'
  %br/
%div
  %br/
  = render :partial => 'import_group_trr'
  %br/
  = link_to 'Back', trr_manage_path

