#scores.section03
  .divider2
  .scores.container
    .title
      Scores of Traits measured under different Competencies / Values
    .divider1
    .pull-left
      .instruction_container
        .divider2
        .instructions
          .box.pull-left
            .box-icon.pull-left
            .box-title.pull-left 
              Expected Score Range
            .clr
          .instruction1.pull-left
            Favorable
          .instruction2.less_favorable.pull-left
            Less Favorable
          .clr
      - if (@report.report_hash[:functional_items].present?)
        .functional-traits-title
          Functional Traits (Trait Score is #{@report.report_data[:include_functional_traits_in_aggregate_scores] ? "included in":"excluded from"} competency scores)
    .scale.pull-right
      .line{:style=>"width:#{(@company_norm_buckets.size-1)*80}px"}
      .marker-container
        - @company_norm_buckets.each do |norm_bucket|
          .marker
            .arrow
            .marker-info
              = norm_bucket.description
            - if norm_bucket.name.split(" ").size == 1
              %br/
            = norm_bucket.name
        .clr
    .clr
    .divider1
    - section_value.each do |section|
      = render :partial => section["path"]