.level_02.type_01
  .column
    - score_hash.each_with_index do |(factor_name, factor_score_hash),index|
      .score_container
        .score.less_favourable
          = "#{factor_score_hash["score"].to_i.to_s}%"
        .sub_trait_name
          = factor_name
        .grid
        .right
          - factor_score_hash[:element_scores].each_with_index do |(element_name, element_score),index|
            .sub_score_container.pull-left
              .grid
              - less_favorable_klass = element_score.to_i < 40 ? "less_favorable" : ""
              %div{:class => "score #{less_favorable_klass}"}
                = "#{element_score.to_i.to_s}%"
              .trait_name
                = element_name
          .clr

  .clr
  .divider5

