.level_02.type_04
  .column
    - score_hash.each_with_index do |(factor_name, factor_score_hash),index|
      - element_scores_hash = factor_score_hash[:element_scores]
      - if element_scores_hash.keys.size > 4
        - left_keys = element_scores_hash.keys.take(4)
        - right_keys = element_scores_hash.keys - left_keys
      - else
        - left_keys = element_scores_hash.keys
        - right_keys = []

      - Rails.logger.debug("left_keys #{left_keys}")
      - Rails.logger.debug("right_keys #{right_keys}")
      - left_element_scores_hash = element_scores_hash.select{ |k,v| left_keys.include? k }
      - right_element_scores_hash = element_scores_hash.select{ |k,v| right_keys.include? k }
      - Rails.logger.debug("left_element_scores_hash #{left_element_scores_hash}")
      - Rails.logger.debug("right_element_scores_hash #{right_element_scores_hash}")
      - score = factor_score_hash["score"]
      - less_favorable_klass = score.to_i <  Rails.configuration.reports["engagement_report"]["less_favorable_score"] ? "less_favorable" : ""
      .score_container
        %div{:class => "score #{less_favorable_klass}"}
          = "#{score.to_i.to_s}%"
        .sub_trait_name
          = factor_name
        .grid
        .left
          - left_element_scores_hash.each_with_index do |(element_name,element_score),index|
            .sub_score_container.pull-right
              .grid
              - less_favorable_klass = element_score.to_i <  Rails.configuration.reports["engagement_report"]["less_favorable_score"] ? "less_favorable" : ""
              %div{:class => "score #{less_favorable_klass}"}
                = "#{element_score.to_i.to_s}%"
              .trait_name
                = element_name
          .clr
        .right
          - right_element_scores_hash.each_with_index do |(element_name,element_score),index|
            .sub_score_container.pull-left
              .grid
              - less_favorable_klass = element_score.to_i <  Rails.configuration.reports["engagement_report"]["less_favorable_score"] ? "less_favorable" : ""
              %div{:class => "score #{less_favorable_klass}"}
                = "#{element_score.to_i.to_s}%"
              .trait_name
                = element_name
          .clr

  .clr
  .divider5



