.spotlight
  .container
    .divider3
    .headings
      .huge-text
        .pull-left
          = @report.report_data[:candidate][:name]

        .pull-right
          .color-warning
            Employee Engagement Report
          .extra-medium-text
            Survey Answered On:
            = hdate(@report.report_data[:completed_at])
        .clr
      .divider1

    #overview
    .divider2
    .overall_score
      .extra-large-text.text-center
        Overall Engagement Score
      .divider2
      = render :partial =>"overall_score"

#indepth
.overall_score.depth
  .container
    .divider2
    .huge-text
      Engagement Scores: In-Depth
    .divider2
    .extra-large-text.text-center
      Overall Engagement Score
    .divider2
    = render :partial =>"overall_score_depth"

#details
- @report.report_data[:facet_scores].each_with_index do |(facet_name, score_hash),index|
  .detail_score
    .container
      .divider2
      .extra-large-text.text-center
        Details:
        %b
          = facet_name
      .divider2
      .score-chart
        = render :partial =>"score_level_01", :locals => {:facet_index => index}
        = render :partial =>"score_level_02_type_0#{index+1}", :locals =>{ :score_hash => score_hash["factor_scores"]}



#areas_of_concern
.areas_of_concern
  .container
    .heading
      Top Areas of Concern
    - @report.report_data[:top_areas_of_concern].each_with_index do |concern,index|
      %div{:class => "snippet_0#{index+1}"}
        = concern