- colors = ["#092B35", "#9D4738", "#CEAE37", "#53C531", "#FF9B2A", "#8C3278", "#CEAE37", "#00365A", "#15C1B5", "#56D3A9", "#015D6A", "#C4B864"]
- @report.report_data["items"].sort_by{|item_hash| item_hash["report_order"] }.each do |item_hash|
  - responses = item_hash["responses"]
  - if responses.present?
    .snippet.single-column-pie
      .container
        .snippet_title.bracket-left-arrow-icon
          = item_hash["report_body"]
        .divider2
        - if item_hash["report_graph_type"] == "pie"
          - responses = Hash[responses.sort_by{|id,response| response['percent'] }.reverse]
          - responses = responses.slice(*responses.keys[0..(item_hash["selectable_options"]-1)])
          - sum = responses.collect{|id,response| response['percent'].to_f }.sum
          - other = (100 - sum).round(1)
          .left.span12.pull-left
            - hash = Hash[responses.collect.with_index{|(id,response),index| ["data-#{index}","#{response['body']}-:-#{response['percent']}-:-#{colors[index]}"] }]
            - if item_hash["selectable_options"] == 1 && responses.size == 1
              - percent = responses[responses.keys[0]]['percent']
              - hash["data-1"] = "No-:-#{100-percent}-:-#9D4738"
            - if other > 0 && item_hash["selectable_options"] > 1
              - hash["data-other"] = "No-:-#{other}-:-#C4B864"
            .span6.margin-auto.pie-chart{ hash }
        .right.pull-left 
          .divider2
          %ul
            - responses = Hash[responses.sort_by{|id,response| response['percent'] }.reverse]
            - responses = responses.slice(*responses.keys[0..(item_hash["selectable_options"]-1)])
            - sum = responses.collect{|id,response| response['percent'].to_f }.sum
            - other = (100 - sum).round(1)
            - responses.each.with_index do |(id, response_hash),index|
              %li
                .count{:style=>"background: #{colors[index]}"}
                  = response_hash["percent"]
                .span14
                  .divider1
                  = response_hash["body"]
                .clr
                .divider1
            - if item_hash["selectable_options"] == 1 && responses.size == 1
              - response = responses[responses.keys[0]]
              - percent = response['percent']
              %li
                .count{:style=>"background: #9D4738"}
                  = 100 - percent
                .span14
                  .divider1
                  = response["body"] == "No" ? "Yes" : "No"
                .clr
                .divider1      
            - if other > 0 && item_hash["selectable_options"] > 1
              %li
                .count{:style=>"background: #C4B864"}
                  = other
                .span14
                  .divider1
                  Other
                .clr
                .divider1      
                
        .clr
  - else
    - if item_hash["items"] && item_hash["items"].size > 0
      .snippet.mood
        - happy_items = item_hash["items"].select{|id, item_data| item_data["happy"]["percentage"] > 60 }
        - unhappy_items = item_hash["items"].select{|id, item_data| item_data["happy"]["percentage"] <= 70 }
        - happy_items_percentage = ((happy_items.size * 100).to_f / item_hash["items"].size).round
        .container
          .snippet_title.group-talk-bubble-icon
            = item_hash["report_body"]
        .divider2
        .span24.margin-auto
          .happy.span8.first
            .title.huge-text
              #{happy_items_percentage}% Happy :)
            .divider1
            %ul
              - happy_items.each do |id, item|
                %li
                  = item["item_body"]
          .span7
            .pie-chart.span3.margin-auto{ "data-0" => "Happy-:-#{happy_items_percentage}-:-#82D23F", "data-1" => "Unhappy-:-#{100-happy_items_percentage}-:-#1068b1" }
              PIE CHART GOES HERE
          .unhappy.span8
            .title.huge-text
              #{100-happy_items_percentage}% Unappy :(
            .divider1
            %ul
              - unhappy_items.each do |id, item|
                %li
                  = item["item_body"]
          .clr         
