.benchmark-list
  .span14.page-title.first
    .divider1
    Benchmarks
  
  - if can?(:create, "Suitability::CustomAssessment")    
    %a.btn.btn-warning.big-text.big.pull-right{:href => new_company_benchmark_path(:company_id => params[:company_id]), :title => "Click Here To Create New Benchmark"} 
      Create New Benchmark
  .clr
  .divider2
  - if @assessments.present?    
    .list-snippet-titles.large-text.clearfix
      .span5.first
        Benchmark ID
        %i.icon-chevron-down.small-text.line-height1
      .span11
        Benchmark Title 
        %i.icon-chevron-down.small-text.line-height1
      .span3.text-center
        Sent
        %i.icon-chevron-down.small-text.line-height1
      .span3.text-center
        Taken
        %i.icon-chevron-down.small-text.line-height1
      .span 
        Send Benchmark  
      .clr
      .divider2

    %ul
      - @assessments.each do |assessment|
        %li.list-snippet.border-bottom-grayLighter
          .span5.first
            %a{:href=> candidates_company_benchmark_path(:company_id => params[:company_id], :id => assessment.id), :title =>  assessment.name} 
              #{assessment.id}
          .span11
            %a{:href=> candidates_company_benchmark_path(:company_id => params[:company_id], :id => assessment.id), :title => assessment.name}  
              = assessment.name
          .span3.text-center
            - sent_count = @company.assessmentwise_statistics[:sent][assessment.id.to_s] rescue 0
            %a{:href=> candidates_company_benchmark_path(:company_id => params[:company_id], :id => assessment.id, :search => { :status => "" }), :title=> "#{sent_count}"}  #{sent_count}
          .span3.text-center
            - completed_count = @company.assessmentwise_statistics[:completed][assessment.id.to_s] rescue 0
            %a{:href=> candidates_company_benchmark_path(:company_id => params[:company_id], :id => assessment.id, :search => { :status => "scored" }), :title=>"#{completed_count}"}  #{completed_count}
          .span
            %a{:href => add_candidates_company_benchmark_path(:company_id => params[:company_id], :id => assessment.id), :title => "Send This Test"}
              Send Benchmark to more candidates  
          .clr 
          .divider1
    .divider1       
  - if @assessments.empty?
    .alert
      No benchmarks have been created. To create a Benchmarks, 
      %a{:href => new_company_benchmark_path(:company_id => params[:company_id]), :title => "Click Here To Create New Benchmark"} click here. 
  .divider2 
  - if !@assessments.empty?
    .pull-right
      .muted.extra-medium-text
        .span.line-height2
          Go to Page
        %select.span2{onchange:"location = this.options[this.selectedIndex].value;"}
          - @assessments.total_pages.times do |page|
            %option{selected: params[:page].to_i == (page + 1),value:company_benchmarks_path(@company, params.merge(:page => page + 1)), }
              = page + 1
        .clr
  .clr      