- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.summary.benchmarks
  .span22.page-title.pull-left
    .divider1
    Benchmark #{@assessment.id} - #{@assessment.name}
  
  %a.btn.btn-warning.big.big-text.pull-right.span{ href: add_candidates_company_benchmark_path(:company_id => params[:company_id], :id => params[:id]) }
    Send This Benchmark
  .clr
  .divider2
  = render :partial => "shared/candidate-content-benchmark-sub-nav"
  
  .pull-right
    %a{:class=>"extra-medium-text line-height3", :href=> download_benchmark_report_company_benchmark_path(:id => params[:id],:company_id => params[:company_id], format: "pdf"), target: "_blank"}
      Download a PDF version of the Benchmark Report
  .clr
  .divider2
  - if @assessment_report && @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
    .summary.padding-all1.clearfix
      .span
        %b.show.pull-left 
          Industry: 
        .span6
          Hr finance
      .span
        %b.show.pull-left 
          Functional Area: 
        .span6
          Office boy
      .span
        %b.show.span
          Experience Level: 
        .span 
          expert
    .divider1
    .pull-left.medium-text
      Results last updated: 28/12/20045
    .pull-right.text-right
      %b.medium-text Sent: 
      %b.large-text 0
      %span.left-offset1
        %b.medium-text Taken: 
        %b.large-text 0
    .clr.divider1
    .medium-text 
      %b Selected Factors
    .divider1
    %div
      %ul.selected-factors
        - @assessment_report.report_data[:factor_benchmarks].each_pair do |factor_name, factor_scores|
          %li.clearfix
            .pull-left.span9.first
              .selected-factors-title.clearfix
                = factor_name
              .description
                = factor_scores[:factor_definition]
            .pull-right
              = render :partial=> "shared/reports/benchmarks/factor_benchkmark", :locals=>{:benchmarks=>factor_scores}
            .clr.divider1
    .divider1
  - else
    .alert-info.alert
      %span{ class: "medium-text", style: "color: black;" }
        Benchmark calculation is in progress.   
  
