- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.create-test.creat-test-show.benchmarks
  .inn.first
    .page-title.pull-left
      Benchmark #{@assessment.id} - #{@assessment.name}
    %a.btn.pull-right{ href: add_candidates_company_benchmark_path(:company_id => params[:company_id], :id => params[:id]) }
      .color-warning Send This Benchmark
  .clr
  .inn.gray-gradient
    .pull-left
      = render :partial => "shared/candidate-content-benchmark-sub-nav"
    - if @assessment_report && @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
      .pull-right
        = link_to "Download a PDF version of the Benchmark Report", download_benchmark_report_company_benchmark_path(:id => params[:id],:company_id => params[:company_id], format: "pdf"), target: "_blank", class: "line-height2 span"
    / .sapn6.pull-right.text-right
    /   %a.line-height2{:href => company_assessments_path(@company)}
    /     Back to all Benchmarks
    .clr
    .divider2
    - if @assessment_report && @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
      .summary.padding-all1.clearfix
        .span
          %b.show.pull-left 
            Industry: 
          .span6
            = @assessment.industry.name rescue '-'
        .span
          %b.show.pull-left 
            Functional Area: 
          .span6
            = @assessment.functional_area.name rescue '-'
        .span
          %b.show.span
            Experience Level: 
          .span 
            = @assessment.job_experience.display_text rescue '-'
      .divider1
      .pull-left.medium-text
        Results last updated: #{htime @assessment.updated_at} Hrs, #{hdate @assessment.updated_at}
      .pull-right.text-right
        %b.medium-text Sent: 
        %b.large-text #{@company.assessmentwise_statistics[:sent][@assessment.id.to_s] rescue 0}
        %span.left-offset1
          %b.medium-text Taken: 
          %b.large-text #{@company.assessmentwise_statistics[:completed][@assessment.id.to_s] rescue 0}
      .clr.divider1
      .medium-text 
        %b Selected Factors
      .divider1
      %div
        %ul.unstyled.selected-factors
          - @assessment_report.report_data[:factor_benchmarks].each_pair do |factor_name, factor_scores|
            %li.clearfix
              .pull-left.span9.first
                .selected-factors-title.clearfix
                  = factor_name
                .description
                  = factor_scores[:factor_definition]
              .pull-right
                = render :partial=> "shared/reports/benchmarks/factor_benchkmark", :locals=>{:benchmarks=>factor_scores}
              .clr.divider1
      .divider1
    - else
      .alert-info.padding-all1
        %b{ class: "medium-text", style: "color: black;" }
          Benchmark calculation is in progress. 
