%h1 All Candidates
- if can? :create, "Candidate"
  = link_to "Manage Candidates", manage_users_path
.search
  = form_for :search, url: users_path, method: :get do |f|
    %fieldset
      %legend
        Search
      .field
        %label ID
        = f.text_field :id
      .field
        %label Email
        = f.text_field :email    
      .field
        = f.submit "Search"
%br        
%br
.table        
  %fieldset
    %legend
      Candidates List
    %table{width: "100%"}
      %th{width: "10%"}
        = sort_link "ID", users_path, :id, params[:search]
      %th{width: "40%"} 
        = sort_link "Name", users_path, :name, params[:search]
      %th{width: "40%"}
        = sort_link "Email", users_path, :email, params[:search]
      %th{width: "10%"} 
      - @users.each do |user|
        %tr
          %td 
            = link_to user.id, user_path(user)
          %td #{user.name}
          %td #{user.email}
          %td 
            = link_to "Edit", edit_user_path(user)
  %br          
  = paginate(@users)                  
