%div{ style: "margin-left:50px;" }
  %br/
  = render :partial => 'candidates/import_form'
  %br/
  = render :partial => 'candidates/export_form'
  %br/
  = render :partial => 'candidates/validation_progress'
  %br/
  = render :partial => 'candidates/candidate_responses'
  %br/
  = render :partial => 'candidates/candidate_reports'
  %br/
  = render :partial => 'candidates/candidate_factor_scores'
  %br/
  = link_to 'Back', candidates_path
