.candidate_profile
  .page-title
    .divider1
    Candidate Details
  .divider2
  .padding-all2.border-warning.shifted-up1
    %table
      %tr
        %td{width: "30%"} Name:
        %td
          = @candidate.name
      %tr
        %td Email:
        %td
          = @candidate.email
      %tr
        %td Alternate Email:
        %td
          = @candidate.alternate_email
      %tr
        %td Mobile:
        %td
          = @candidate.mobile
      %tr
        %td Age:
        %td
          = @candidate.age
      %tr
        %td Gender:
        %td
          = @candidate.gender
      %tr
        %td Marital Status:
        %td
          = @candidate.marital_status
      %tr
        %td Companies worked for:
        %td
          = @candidate.companies_worked_for
      %tr
        %td Current Company:
        %td
          = @candidate.current_company
      %tr
        %td Total Experience:
        %td
          = @candidate.total_experience
      %tr
        %td Current Company Experience:
        %td
          = @candidate.current_company_experience
      %tr
        %td Current CTC:
        %td
          = @candidate.current_ctc
      %tr
        %td Current Designation:
        %td
          = @candidate.current_designation
      %tr
        %td Industry:
        %td
          = @candidate.industry.name rescue "-"
      %tr
        %td Functional area:
        %td
          = @candidate.functional_area.name rescue "-"
      %tr
        %td Degree with Specialization:
        %td
          = @candidate.degree.name rescue "-"
      %tr
        %td Current Location:
        %td
          = @candidate.location.name rescue "-"
      %tr
        %td Number of Dependants:
        %td
          = @candidate.no_of_dependents
    %br      
    %br
    .span8.generate_link.pull-left
      %b
        Generate Assessment Link
      %br  
      = form_tag generate_assessment_link_candidate_path(@candidate) do
        .control-group
          %label Assessment ID:
          = text_field_tag :assessment_id
          .clr
        .control-group  
          = submit_tag "Generate Assessment Link"  
    .span8.deactivate_link.pull-left
      %b
        Deactivate Assessment Link
      %br  
      = form_tag deactivate_assessment_link_candidate_path(@candidate) do
        .control-group
          %label Assessment ID:
          = text_field_tag :assessment_id
          .clr
        .control-group  
          = submit_tag "Deactivate Assessment Link"        
    .pull-left
      %b
        Update Candidate Type
      %br  
      = form_tag update_candidate_stage_candidate_path(@candidate) do
        .control-group
          %label Assessment ID:
          = text_field_tag :assessment_id
          .clr
        .control-group
          %label Candidate Type:
          = select_tag :candidate_stage, options_for_select(Vger::Resources::Candidate::STAGES)
          .clr
        .control-group  
          = submit_tag "Update Candidate Stage"             
    .clr      
  .divider3
  = link_to "Back", candidates_path
  \|
  = link_to "Edit", edit_candidate_path(@candidate)
