.bg-gray.distribution.black
  .divider2
  .container
    .title
      Distribution of Overall  360&#176; scores: Competencies
    - color_index = 0
    - @report.report_hash[:competency_scores].each_slice(2) do |step_data|
      .border-bottom-grayDark
        - step_data.each_with_index do |(competency, competency_scores), index|
          - hex_code = @bucket_colors[color_index]
          - color_index += 1
          .span15.first{:class => (index+1) == 2 ? "pull-right" : ""}
            .divider2
            .large-text.left-offset1
              #{competency}
            .divider2
            .grid_graph.span13.left-offset1
              .columns
                - competency_scores[:overall_bucket_wise_percentages].each do |bucket, values|
                  - bar_height = values[:percentage]
                  - multiplier = 100 - bar_height
                  .column.span1.left-offset1{:style=>"background: #{hex_code}; margin-top: #{(300*multiplier/100)}px; height: #{bar_height}%"}
                    .rating_range
                      = bucket
                .clr
              .counts
                -counter = 110
                -11.times do |index|
                  - counter = counter-10
                  .count
                    #{counter} 
            .clr

        .clr  
        .divider3
    .divider3