.large-text.black
  Set Weightage for Traits (Value should be between 0 to 1)
.divider2

- factor_index = 0
%ul.trait-snippet.clearfix
  - @weights.each_with_index do |factor_weight, index|
    %li.span10.first{ class: (index+1)%3!=0 ? 'border-right-grayLighter':'' }
      - if factor_weight.id.present?
        %input{:type=>"hidden", name: "assessment[assessment_factor_weights_attributes][#{index}][id]", value: factor_weight.id}
        
      %input{:type=>"hidden", name: "assessment[assessment_factor_weights_attributes][#{index}][assessment_id]", value: factor_weight.assessment_id}
      %input{:type=>"hidden", name: "assessment[assessment_factor_weights_attributes][#{index}][factor_id]", value: factor_weight.factor_id}
      - if (index%3)!=0
        .span1
          &nbsp;
      %label.first.medium-text{ class: index%3==1 ? 'span6': 'span7' }
        = factor_weight.factor.name
      .span2
        %input.fw{:type=>"text", name: "assessment[assessment_factor_weights_attributes][#{index}][weight]", value: factor_weight.weight}
      .clr
      .divider1
  .divider1
.divider1  
