= form_for assessment, :as => :assessment, :url => url, multipart: true, method: method, html: { class: "creat-test-form" } do |f|
  = f.hidden_field :company_id, value: assessment.company_id
  = render :partial => "assessments/assessment_fields", :locals => { :assessment => assessment, :f => f }
  .pull-left
    - if current_user.type == "SuperAdmin"
      .control-group
        %label
          Select the Brand Partner
        %select.span10.first{name: 'assessment[brand_partner]', id: 'select_language'}
          %option{:value => ""}
            Select Brand Partner
          - Rails.application.config.brand_partners.each do |brand_partner,content|
            %option{:value => brand_partner, selected: (assessment.brand_partner == brand_partner)}
              = brand_partner.titleize
        .clr      
      %label
        %input{ type: "checkbox", name: "enable_training_requirements_report", id: "enable_training_requirements_report" }
        Enable Training Requirements Report for this assessment
      %label
        = f.check_box :show_help_text, id: "show_help_text"
        Show Help Text for Items?

  .pull-right
    - if current_user.type == "SuperAdmin"
      %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed with Competency Framework", name: "competency", style: "margin-right:10px;" }
    %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed", name: "fit" }
  .clr
