= form_for assessment, :as => :assessment, :url => url, multipart: true, method: method, html: { class: "creat-test-form" } do |f|
  = f.hidden_field :company_id, value: assessment.company_id
  = render :partial => "assessments/assessment_fields", :locals => { :assessment => assessment, :f => f }
  .pull-left
    - if is_superadmin?
      .control-group
        %label
          Select the Brand Partner
        %select.span10.first{name: 'assessment[brand_partner]', id: 'select_brand_partner'}
          %option{:value => ""}
            Select Brand Partner
          - Rails.application.config.brand_partners.each do |brand_partner,content|
            %option{:value => brand_partner, selected: (assessment.brand_partner == brand_partner)}
              = brand_partner.titleize
        .clr
      .control-group
        %label
          Post Assessment Redirect URL (URL should start with 'http' or 'https')
        %input.span10.first{ name: 'assessment[redirect_url]', value: @assessment.redirect_url }
        .clr   
      .control-group
        %label
          Custom Thank You Message
        %textarea.span10.first{ name: 'assessment[thank_you_message]'}
          = @assessment.thank_you_message
        .clr
      %label
        %input{ type: "checkbox", name: "enable_training_requirements_report", id: "enable_training_requirements_report" }
        Enable Training Requirements Report for this assessment
      %label
        = f.check_box :show_help_text, id: "show_help_text"
        Show Help Text for Items?
      .clr  
      %label
        = f.check_box :set_applicant_id, id: "set_applicant_id"
        Set Applicant Id
      .clr
      %label
        = f.check_box :should_send_notifications, id: "should_send_notifications"
        Send Report Notifications
      .clr
      %label
        = f.check_box :is_functional_assessment, id: "is_functional_assessment"
        Is Functional Assessment
      .clr
  .pull-right
    - if current_user.type == "SuperAdmin"
      %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed with Competency Framework", name: "competency", style: "margin-right:10px;" }
    %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed", name: "fit" }
  .clr
