.competency_norms
  .page-title
    #{@assessment.name}      
  .divider1
  = render :partial => "shared/navigation-sub-nav"
  .divider2

  = form_for @assessment, :as => :assessment, :url => competency_norms_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
    %input{type: 'hidden', name: 'assessment[industry_id]', value: @assessment.industry_id}
    %input{type: 'hidden', name: 'assessment[functional_area_id]', value: @assessment.functional_area_id}
    %input{type: 'hidden', name: 'assessment[job_experience_id]', value: @assessment.job_experience_id}
    
    - 2.times do 
      .span15.first
        .factor-list
          .titles.clearfix
            .span6.first
              .big-text
                Behavioral Trait
              .muted
                Place the cursor on individual Traits below to see their definition
                
            .span6.left-offset1
              .big-text
                Expected Score Range
              .muted
                Choose Minimum and Maximum score
            .clr
            .divider1 
            .semi-muted
              .left-offset7.first.span3
                Minimum
              .span3 
                Maximum
    .clr                
    - aindex = 0
    .factor-list
      %ul.factor-snippet.clearfix         
        - @factor_norms.each_with_index do |assessment_factor_norm,index|
          - aindex = aindex + 1
          = render :partial => 'assessment_competency_norm_fields', :locals => { :assessment_factor_norm => assessment_factor_norm, :index => aindex }
        - @alarm_factor_norms.each_with_index do |assessment_factor_norm,index|
          - aindex = aindex + 1
          = render :partial => 'assessment_alarm_competency_norm_fields', :locals => { :assessment_factor_norm => assessment_factor_norm, :index => aindex }    
    
    .divider3
    %a.pull-left.btn.btn-warning.inverse.large-text{:href=> competencies_company_custom_assessment_path(:company_id => @company.id, :id => params[:id]), :title=>"Back"} 
      Back
    %button.pull-right.btn.btn-warning.large-text{name: "save_and_next", value: "Save and Proceed"}
      Proceed
    .clr
    .divider1
    