- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

- content_for :stylesheets do
  = stylesheet_link_tag "jstree"

.new
  .page-title.pull-left
    Create Custom Assessment
    %span.sub-page-title.medium-text  Takes less than a minute!
  %a.pull-right.medium-text.line-height2{:href=>"/help/process-explanation", :target=>"_blank",:title=>"Need help in creating a Custom Assessment?"}
    Need help in creating a Custom Assessment?
  .clr
  .divider1
  = render :partial => "shared/navigation-sub-nav"
  .divider2
  = form_for @assessment, :as => :assessment, :url => company_custom_assessments_path(:company_id => params[:company_id]), multipart: true, method: "post", html: {id: "assessment_form", class: "creat-test-form" } do |f|
    = render :partial => "assessments/assessment_fields", :locals => { :assessment => @assessment, :f => f }
    .pull-right
      %input.btn.btn-warning.large-text{ type: "submit", value: "Proceed", name: "fit" }
    .clr
    .divider1
  = render :partial => "shared/report_configuration"
  .divider1
