- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
  = javascript_include_tag "suitability/assessment"

- content_for :stylesheets do
  = stylesheet_link_tag "jstree"

%h1 Customize Report
= form_for @assessment, :as => :assessment, :url => report_configuration_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put , html:{id:"assessment_form"} do |f|
  %input{:id => "input_assessment_id", :value => @assessment.id, :type => "hidden"}
  = f.hidden_field :company_id, value: @assessment.company_id, :id => "input_company_id"
  = f.hidden_field :report_configuration, :id => "input_config", value: @assessment.report_configuration.to_json
  %input{:id => "report_type", :value => "suitability", :type => "hidden"}
  %input{:id => "set_assessment_type", :value => @assessment.assessment_type, :type => "hidden"}
  %input{:id => "set_candidate_type", :value => @assessment.candidate_stage, :type => "hidden"}
  %input{:id => "select_brand_partner", :value => @assessment.brand_partner, :type => "hidden"}
  = render :partial => "shared/report_configuration"
  .divider1
  %input.pull-right.btn.btn-warning.large-text{name: "save_and_next", type: "submit", value: "Update Assessment"}
  .clr
.clr
.divider2
  


