.trait-show
  .span15.page-title.first
    .divider1
    AID #{@assessment.id} - #{@assessment.name}
  %a.btn.btn-warning.pull-right.big-text.big.span{ href: add_candidates_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
    Send this Assessment
  %a.extra-medium-text.pull-right.line-height3{:href => new_company_custom_assessment_path(:company_id => params[:company_id]), :title => "Click Here To Create Custom Assessment"} 
    Create New Custom Assessment
  .clr
  .divider2
  = render :partial => "shared/candidate-content-sub-nav"

  //%a.btn.btn-warning.pull-right{:href => norms_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Edit Test"}
  //  Edit Test
  .padding-all2.border-warning.shifted-up1
    .extra-medium-text
      .span5.first
        Trait
      .span15.left-offset1
        Definition
      .span6.left-offset1
        Expected Score Range
    .clr
    .divider1

    %ul.semi-muted
      - if @assessment_factor_norms.present?
        - @assessment_factor_norms.each do |factor_norm|
          %li
            .divider1
            .medium-text
              .span5.first
                %strong
                  = factor_norm.factor.name
              .span15.left-offset1
                = factor_norm.factor.definition
              .span6.left-offset1
                #{@norm_buckets[factor_norm.from_norm_bucket_id].name} - #{@norm_buckets[factor_norm.to_norm_bucket_id].name}
              //.span
              //  #{factor_norm.critical? ? "Yes":"No"}
            .clr
            .divider1
        - if @other_norms.empty?
          .divider1
        - else
          .divider2.border-bottom-grayLighter
          .divider2
          .big-text
            .span5.first
              Miscellaneous Trait
            .span15.left-offset1
              Definition
            //.span6.left-offset1
            //  Expected Score Range
          .clr
          .divider1
          
          %ul.semi-muted
            - @other_norms.each do |factor_norm|
              %li
                .divider1
                .medium-text
                  .span5.first
                    = factor_norm.factor.name
                  .span15.left-offset1
                    = factor_norm.factor.definition
                .clr.left-offset1
                .divider1
      - else
        .alert.medium-text
          You have not added traits. To add traits to this assessment.
          %a{ href: norms_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), title: "Add Traits" } Click here
    .divider1

    //%a.btn.btn-warning.pull-right{:href => norms_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Edit Test"}
    //  Edit Test
    //.clr
