%ul.mrf_scores_listing
  - trait_scores.each do |trait_score|
    %li
      .divider4
      .span8.left-sec.first.right-offset1
        .rounded.pull-left
        .span7.pull-right
          .title
            = trait_score[:trait][:name]
          .divider1
          .discription.medium-text
            = trait_score[:trait][:definition]
        .clr
      .span17.right-sec.left-offset1
        .rating-slider.mrf-benchmark-ranges
          - @norm_buckets.each_with_index do |norm_bucket, index|   
            - self_rating_index = ''
            - mrf_rating_index = ''
            - klass = ''
            - if norm_bucket.name == trait_score[:average_score_self][:bucket]
              - self_rating_index = index
            - if norm_bucket.name == trait_score[:average_score_excluding_self][:bucket]
              - mrf_rating_index = index
            
            - if index == self_rating_index && index != mrf_rating_index
              - klass = 'self-rating'
            - if index == mrf_rating_index && index != self_rating_index
              - klass = 'mrf-rating'
            - if index == mrf_rating_index && index == self_rating_index
              - klass = 'self-rating mrf-rating'
          
            .marker{:class => klass}
              .arrow-mrf-result
              .arrow-self-result
              .mrf-result
                .left
                  360 Rating
                .right
                  = norm_bucket.name
                .clr
              .self-result
                .left
                  = norm_bucket.name
                .right
                  Self Rating
                .clr
          .clr
          - from = @norm_buckets_by_id[trait_score[:trait][:from_norm_bucket][:id]]
          - to = @norm_buckets_by_id[trait_score[:trait][:to_norm_bucket][:id]]
          - width = to.weight - from.weight
          .line{:class => "position#{from} width#{width}"}
      .clr
      .divider5
.divider1
