.measured_report
  .report_title
    .inn
      What was the candidate measured on?
  .report_content
    .report_visual
      - @factors_by_fit.each_with_index do |(fit,factors),index|    
        %div{ class: "fit#{index+1}" }
          .title
            #{fit.name} 
          .average
            %div{ class: "#{@candidate_fit_scores.select{|x| x.fit.id == fit.id }.first.fitment_grade.name.downcase}" }
              = @candidate_fit_scores.select{|x| x.fit.id == fit.id }.first.fitment_grade.name
          - factors.each_with_index do |factor,index|
            - measured = @measured_factors_ids.include?(factor.id)
            %div{ class: "behavior#{index+1} #{measured && @candidate_factor_scores[factor.id].pass ? 'strength' : 'weakness'}", title: "#{factor.name.to_s}" }
              = measured ? factor.name : ''
              
= render :partial => "shared/report_footer.html.haml"    
              
.page-break
  
- content_for :report_navigation do
  = render :partial => "assessment_reports/navigation.html.haml", :locals => { current_page: 2 }              
