- if @view_mode == "html"
  :css
    .report .inner{margin-top:0px;} 
    
= render :template => "assessment_reports/page1"
.page-break      

- if @report.report_hash[:job_fit_scores].present?
  = render :template => "assessment_reports/page2"
  .page-break      

- if @report.report_hash[:company_fit_scores].present?
  = render :template => "assessment_reports/page3"
  .page-break
 
- if @report.report_hash[:team_fit_scores].present?
  = render :template => "assessment_reports/page4"
  .page-break

- scores_step = Rails.application.config.reports[@view_mode]["scores_step"]
- if @report.report_hash[:job_fit_scores].present?
  - job_fit_scores = @report.report_hash[:job_fit_scores]
  - (0..job_fit_scores.keys.length-1).step(scores_step) do |step|  
    - step_job_fit_scores = job_fit_scores.slice(*job_fit_scores.keys[step..(step+(scores_step - 1))])
    = render :template => "assessment_reports/page5", :locals => { :job_fit_scores => step_job_fit_scores, :step => step }
    .page-break      
    

- if @report.report_hash[:company_fit_scores].present?
  - company_fit_scores = @report.report_hash[:company_fit_scores]
  - (0..company_fit_scores.keys.length-1).step(scores_step) do |step|
    - step_company_fit_scores = company_fit_scores.slice(*company_fit_scores.keys[step..(step+(scores_step - 1))])  
    = render :template => "assessment_reports/page6", :locals => { :company_fit_scores => step_company_fit_scores, :step => step }
    .page-break      


- if @report.report_hash[:team_fit_scores].present?
  - team_fit_scores = @report.report_hash[:team_fit_scores]
  - (0..team_fit_scores.keys.length-1).step(scores_step) do |step|  
    - step_team_fit_scores = team_fit_scores.slice(*team_fit_scores.keys[step..(step+(scores_step - 1))])
    = render :template => "assessment_reports/page7", :locals => { :team_fit_scores => step_team_fit_scores, :step => step }
    .page-break      

= render :template => "assessment_reports/common_pages"
