= render :template => "assessment_reports/page1.html.haml"
= render :template => "assessment_reports/page2.html.haml"
= render :template => "assessment_reports/page3.html.haml"
= render :template => "assessment_reports/page4.html.haml"
= render :template => "assessment_reports/page5.html.haml"
= render :template => "assessment_reports/page6.html.haml"
= render :template => "assessment_reports/page7.html.haml"
= render :template => "assessment_reports/page8.html.haml"
