:css
  .report .inner{margin-top:0px;} 

= render :template => "assessment_reports/fit_report/pdf/page1"
.page-break

- scores_step = Rails.application.config.reports[@view_mode]["scores_step"]    

- if @report.report_hash[:factor_scores].present?
  = render :template => "assessment_reports/fit_report/pdf/page2"
  .page-break      
    
- if @report.report_hash[:factor_scores].present?
  - factor_scores = @report.report_hash[:factor_scores]
  - (0..factor_scores.keys.length-1).step(scores_step) do |step|  
    - step_factor_scores = factor_scores.slice(*factor_scores.keys[step..(step+(scores_step - 1))])
    = render :template => "assessment_reports/fit_report/pdf/page3", :locals => { :factor_scores => step_factor_scores, :step => step }
    .page-break      

- if @report.report_hash[:functional_trait_scores].present?  
  = render :template => "assessment_reports/fit_report/pdf/scores_of_functional_traits"
  .page-break    
.competency_report
  = render :partial => "assessment_reports/functional_report/pdf/functional_overview_section"
  .page-break
= render :partial => "assessment_reports/score_scale"
.page-break  
= render :partial => "assessment_reports/functional_report/pdf/objective_questions"
.page-break
= render :partial => "assessment_reports/functional_report/pdf/subjective_questions"
.page-break          

= render :template => "assessment_reports/common_pages"
