= render :template => "assessment_reports/page1.html.haml"
.page-break      
= render :template => "assessment_reports/page2.html.haml"
.page-break      
= render :template => "assessment_reports/page3.html.haml"
.page-break      
= render :template => "assessment_reports/page4.html.haml"
.page-break      
= render :template => "assessment_reports/page5.html.haml"
.page-break      
= render :template => "assessment_reports/page6.html.haml"
.page-break      
= render :template => "assessment_reports/page7.html.haml"
.page-break      
= render :template => "assessment_reports/page8.html.haml"
.page-break      
= render :template => "assessment_reports/page9.html.haml"
.page-break      
= render :template => "assessment_reports/page10.html.haml"
