.frame
  .frame-title
    %b #{competency_name}: 
    #{competency_data[:grade]}
  %ul.unstyled.clearfix.scores_listing
    - factor_scores.each do |factor_name, factor_score|
      %li
        .lhs-sec.pull-left
          %div{ class: "span1 first hexagon-icon #{factor_score[:pass] ? 'favorable' : 'less_favorable'}" }
          -#use ".mid_favorable" or ".less_favorable" or ".favorable" to change the color of hexagon
          .span10
            .factor-name
              = factor_name
        .rhs-sec.pull-right
          .slider
            - scale = factor_score[:scale]
            .pointer{ class: "position#{scale[:position]}" }
            -#Use position1, postion2...5. for pointer position
            .range{ class: "offset#{scale[:offset]} width#{scale[:width]}" }
            -#use offset0..offset4 and with this class use .width0...width4 (.width4 is 100%)
        .clr
        .factor-description
          = factor_score[:description]
        .clr
.divider2
