- content_for :javascripts do
  = wicked_pdf_javascript_include_tag "reports"  

:css
  .report .competency_report .inner{margin-top:0px;} 

.competency_report
  - competency_step = Rails.application.config.reports[@view_mode]["competency_step"]
  - competency_scores = @report.report_hash[:competency_scores].map{|key,value| [key,value] }
  = render :template => "assessment_reports/competency_report/html/competency_report_page1", :locals => { competency_scores: competency_scores }
  = render :partial => "assessment_reports/competency_report/html/explanation_scores"
  - (0..competency_scores.length-1).step(competency_step) do |step|    
    - step_competency_scores = Hash[competency_scores[step..(step+(competency_step - 1))]]
    = render :template => "assessment_reports/competency_report/html/competency_report_page2", :locals => { competency_scores: step_competency_scores }
    .page-break
  - if @view_mode == "html"
    = render :template => "assessment_reports/competency_report/html/competency_report_page3"
  - else
    - @report.report_hash[:competency_scores].each do |competency_name, competency_data|
      - if competency_data[:factor_scores].present?
        - competency_factors_step = Rails.application.config.reports[@view_mode]["competency_factors_step"]
        - (0..competency_data[:factor_scores].keys.length-1).step(competency_factors_step) do |step|    
          - step_keys = competency_data[:factor_scores].keys[step..(step+(competency_factors_step - 1))]
          - factor_scores = competency_data[:factor_scores].select{|key,value| step_keys.include?(key) }
          = render :template => "assessment_reports/competency_report/html/competency_report_page3", :locals => { competency_name: competency_name, competency_data: competency_data, factor_scores: factor_scores, step: step }
  = render :partial => "assessment_reports/common_pages/html/objective_questions"
  = render :partial => "assessment_reports/common_pages/html/subjective_questions"
      
.report      
  = render :template => "assessment_reports/common_pages"
