- content_for :javascripts do
  = wicked_pdf_javascript_include_tag "reports"  

:css
  .report .competency_report .inner{margin-top:0px;} 
- @factor_scores = @report.report_data[:competency_scores].map{|competency, competency_scores| competency_scores[:factor_scores] }.reduce({}){|factor_scores, _hash| _hash.merge(factor_scores) }

.competency_report
  = render :partial => "assessment_reports/competency_report/html/cover_page"
  = render :partial => "assessment_reports/competency_report/html/comptencies_values_measured"
  = render :partial => "assessment_reports/competency_report/html/trait_scores_under_competencies"
  = render :partial => "assessment_reports/functional_report/html/functional_overview_section"
  = render :partial => "assessment_reports/functional_report/html/objective_questions"
  = render :partial => "assessment_reports/functional_report/html/subjective_questions"
  = render :partial => "assessment_reports/competency_report/html/guidelines_for_candidate_and_manager"
  = render :partial => "shared/reports/html/about_us"
  = render :partial => "shared/reports/html/legal_disclaimer"