= form_for :report, url: manage_company_assessment_candidate_candidate_assessment_report_url(@report, :company_id => params[:company_id], :candidate_id => params[:candidate_id], :assessment_id => params[:assessment_id]), method: :put do |f|
  %div
    %b Company: 
    #{@report.report_hash["company"]["name"]}
  %div  
    %b Candidate: 
    #{@report.report_hash["candidate"]["name"]}
  %div
    %b Assessment: 
    #{@report.report_hash["assessment"]["name"]}
  %div
    %b Send Report Email:
    = select_tag "report[send_report]", options_for_select(["No","Yes"])
  %br  
  %br
  %b Fit Grades
  %table
    %tr
      %th Fit
      %th Grade
      %th Required Grade
    = f.fields_for :fit_grades do |fits_form|  
      - fits_form.object = OpenStruct.new
      - ["job_fit_grade", "company_fit_grade", "team_fit_grade"].each do |fit_grade|
        - eval("fits_form.object.#{fit_grade} = @report.report_hash[fit_grade]")
        %tr
          %td #{fit_grade.humanize}
          %td #{@report.report_hash[fit_grade]}
          %td 
            = fits_form.select fit_grade, @fitment_grades, {}, {}
  = f.fields_for :factor_scores do |factor_scores_form|
    %div
      - ["job_fit_scores", "company_fit_scores", "team_fit_scores"].each do |fit|
        %br
        %br  
        %div
          %b #{fit.humanize}
          %table
            %tr
              %th Factor
              %th Score
              %th Pass/Fail
              %th Required Score
            - @report.report_hash[fit].each do |factor_name, factor_score|
              %tr
                %td #{factor_name}
                %td #{factor_score["norm_bucket"]}
                %td #{factor_score["pass"]}
                = factor_scores_form.fields_for factor_score["factor_id"].to_s.to_sym do |factor_form| 
                  - factor_form.object = OpenStruct.new(factor_score)
                  - factor_form.object.norm_bucket_id = @norm_buckets[factor_form.object.norm_bucket]
                  %td 
                    = factor_form.select "norm_bucket_id", @norm_buckets, {}, {}
  = f.submit "Modify"                  
