.inner{ style: "margin-top:0px;" }
  .overall_report
    .logo.pull-right
    .clr
    .heading
      .big-text
        #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["report_title"]}
      .user_name
        = @report.report_hash[:candidate][:name]
      .span.first
        Assessment: 
      .span10
        = @report.report_hash[:assessment][:name]
      .clr
      .date
        %span Date: 
        %span
          = @report.report_hash[:completed_at]
      .clr

    = render :partial => "assessment_reports/#{@report.report_hash[:candidate_stage].to_s}/recommendation"
    .sub-heading.medium-text.pull-right
      #{@report.report_hash[:candidate][:name]}&#39;s #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["fitment_scores"]}
    .clr
    .visual
      .title_company
        #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["company_fit"]}
      .strength_company
        = @report.report_hash[:company_fit_grade]
      .title_job
        #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["job_role_fit"]}
      .strength_job
        = @report.report_hash[:job_fit_grade]
      .title_team
        #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["team_fit"]}
      .strength_team
        = @report.report_hash[:team_fit_grade]
    - if @report.report_hash[:enable_lie_detection]    
      .LieDetector
        %p
          %b
            Fake Good Impression:
            %span #{@report.report_hash[:lie_detection][:bucket]}
        %p #{@report.report_hash[:lie_detection][:description]}
