.overall_report
  .logo.pull-right
  .clr
  .heading
    .user_name
      = @candidate.name
    .date
      Test Date: #{Date.parse(@candidate_assessment.updated_at).strftime("%d/%m/%Y")}
    .span.first
      Test Name: 
    .span8
      #{@assessment.name} 
    .clr

  .sub-heading.large-text.pull-right
    Jombay Recommends : #{@recommendation.body} 
  .clr
  .sub-heading.medium-text.pull-right
    #{@candidate.name}&#39;s Fitment Scores
  .clr
  .visual
    .strength_1
      = @company_fit_grade
    .strength_2
      = @job_fit_grade
    .strength_3
      = @team_fit_grade
      
    .title_1
      Company Fit
    .title_2
      Job Role Fit
    .title_3
      Team Fit

= render :partial => "shared/report_footer", :locals => { :current_page => 1 }

.page-break      
