- job_fit_grade = @candidate_fit_scores.select{ |x| ["job","role"].any?{|w| x.fit.name.downcase =~ /#{w}/ } }.first.fitment_grade.name
- company_fit_grade = @candidate_fit_scores.select{|x| ["organization","company"].any?{|w| x.fit.name.downcase =~ /#{w}/ } }.first.fitment_grade.name
- team_fit_grade = @candidate_fit_scores.select{|x| ["team","people"].any?{|w| x.fit.name.downcase =~ /#{w}/ }  }.first.fitment_grade.name
.over_all_report
  .report_title
    .inn
      .large-text Recommendation
      .extra_large_text #{@recommendation.body} 
      .font-normal Test Name: #{@assessment.name}
  .report_content
    .divider1
    .large-text.text-center
      %b Overall Scores
    
    .job_fit.title.pull-left
      Job Role Fit
    %div{ class: "report_average job_fit_name #{job_fit_grade.downcase}" } 
      = job_fit_grade
    
    .company_fit.title.pull-left
      Company Fit
    %div{ class: "report_average company_fit_name #{company_fit_grade.downcase}" } 
      = company_fit_grade
    .clr
    
    .team_fit.title
      Team Fit
    %div{ class: "report_average team_fit_name #{team_fit_grade.downcase}" } 
      = team_fit_grade
      
= render :partial => "shared/report_footer.html.haml"          
      
.page-break
  
- content_for :report_navigation do
  = render :partial => "assessment_reports/navigation.html.haml", :locals => { current_page: 1 }  
