.inner{ style: "margin-top:0px;" }
  .overall_report
    .logo.pull-right
    .clr
    .heading
      .big-text
        = @report.report_hash[:candidate_stage].to_sym == :candidate ? "Suitability" : "Employee"
        Assessment Report
      .user_name
        = @report.report_hash[:candidate][:name]
      .span.first
        Assessment: 
      .span10
        = @report.report_hash[:assessment][:name]
      .clr
      .date
        %span Date: 
        %span
          = @report.report_hash[:completed_at]
      .clr

    - if @report.report_hash[:candidate_stage].to_sym == :candidate
      .sub-heading.large-text.pull-right
        Jombay&#39;s Recommendation : #{@report.report_hash[:recommendation]} 
      .clr
    .sub-heading.medium-text.pull-right
      #{@report.report_hash[:candidate][:name]}&#39;s Fitment Scores
    .clr
    .visual
      .title_company
        Company Fit
      .strength_company
        = @report.report_hash[:company_fit_grade]
      .title_job
        Job Role Fit
      .strength_job
        = @report.report_hash[:job_fit_grade]
      .title_team
        Team Fit
      .strength_team
        = @report.report_hash[:team_fit_grade]
