.summary_report
  .report_title
    .inn
      Miscellaneous
  .report_content
    .page_inner
      - @candidate_factor_scores_for_direct_predictors.each do |factor_id, factor_score|
        - if @factor_norm_bucket_descriptions[factor_id]
          - description = @factor_norm_bucket_descriptions[factor_id].first.description
          .hexagon-box
            .content
              .lhs.span4
                %b #{factor_score.factor.name} (#{@factors_by_id[factor_score.factor.parent_id].name})
              .span1.text-center
                \|
              .rhs.span6{ title: "#{description}" }
                = description.to_s[0..50]

              .clr
  .report_title
    .inn
      Alarms
  .page_inner
    .divider1
    - @candidate_factor_scores_for_alarm_factors.each do |factor_id,factor_score|
      %p.medium-text
        = factor_score.factor.name
        %br
        = @factor_norm_bucket_descriptions[factor_id].first.description
    .divider7

= render :partial => "shared/report_footer.html.haml"    

.page-break
  
- content_for :report_navigation do
  = render :partial => "assessment_reports/navigation.html.haml", :locals => { current_page: 4 }    
