.inner
  = render :partial => "shared/report_header.html.haml"      

  .scores.interview_guide 
    .blue_bg_heading.pull-left
      - if @report.report_hash[:candidate_stage].to_sym == :candidate
        %b Interview Questions
      - else
        %b 
          Development Guide
          .normal-font
            for the Candidate
    .indication.pull-right
      .hexagon-icon.favorable.pull-left
      .pull-left
        Favorable
      .hexagon-icon.less_favorable.pull-left
      .pull-left
        Less Favorable
      - if @report.report_hash[:candidate_stage].to_sym == :candidate  
        .hexagon-icon.mid_favorable.pull-left
        .pull-left
          Miscellaneous
    .clr
    .divider1
    %ul.unstyled.clearfix.interview_guide_listing 
      - @report.report_hash[:post_assessment_guidelines].select{|factor_name, guide| guide[:pass] && guide[:factor_type] == "Suitability::Factor" }.each do |factor_name, guide|
        %li
          .span1.first.que-no.hexagon-icon.favorable
          //classes for Hexagon icon, .favorable .less_favorable .mid_favorable having green, yellow and blue borders plz delete this comment
          .factor-name.pull-left
            = factor_name
          .description.pull-left
            = guide[:body]
          .clr
      - @report.report_hash[:post_assessment_guidelines].select{|factor_name, guide| !guide[:pass] && guide[:factor_type] == "Suitability::Factor"  }.each do |factor_name, guide|
        %li
          .span1.first.que-no.hexagon-icon.less_favorable
          //classes for Hexagon icon, .favorable .less_favorable .mid_favorable having green, yellow and blue borders plz delete this comment
          .factor-name.pull-left
            = factor_name
          .description.pull-left
            = guide[:body]
          .clr     
      - if @report.report_hash[:candidate_stage].to_sym == :candidate    
        - @report.report_hash[:post_assessment_guidelines].select{|factor_name, guide| guide[:pass] && guide[:factor_type] == "Suitability::DirectPredictor"  }.each do |factor_name, guide|
          %li
            .span1.first.que-no.hexagon-icon.mid_favorable
            //classes for Hexagon icon, .favorable .less_favorable .mid_favorable having green, yellow and blue borders plz delete this comment
            .factor-name.pull-left
              = factor_name
            .description.pull-left
              = guide[:body]
            .clr        
