.summary_report
  .report_title
    .inn
      Miscellaneous
  .report_content
    .page_inner
      - @candidate_factor_scores_for_alarms.each do |factor_id, factor_score|
        - if @factor_norm_bucket_descriptions[factor_id]
          .hexagon-box
            .content
              .lhs.span4
                %b #{factor_score.factor.name} (#{@factors_by_id[factor_score.factor.parent_id].name})
              .span1.text-center
                \|
              .rhs.span6
                #{@factor_norm_bucket_descriptions[factor_id].first.description}

              .clr
  .report_title
    .inn
      Alarms
  .page_inner
    .divider1
    - @alarm_factors.each do |alarm_factor|
      %p.medium-text #{@factor_norm_bucket_descriptions[alarm_factor.id].first.description}
    .divider7

.page-break
  
- content_for :report_navigation do
  = render :partial => "assessment_reports/navigation.html.haml", :locals => { current_page: 4 }    
