= render :partial => "shared/report_header"      

.factor_fit.report_content
  .report_title
    Factors under Company Fit
  .instruction1
    Favorable 
  .instruction2
    Less Favorable 
  .factors_container
    - @factors_by_fit[@company_fit].each_with_index do |factor,index|
      - measured = @measured_factors_ids.include?(factor.id)
      %div{ class: "factor_#{index+1} #{measured && @candidate_factor_scores[factor.id].pass ? 'favorable' : 'less_favorable'}" }
        .wrapper{:style=>"margin-top: 30px;"}
          = factor.name
  .bottom_sec
    .title_1
      Company Fit
    .strength_1
      = @company_fit_grade
    .title_2
      Job Role Fit
    .strength_2
      = @job_fit_grade
    .title_3
      Team Fit
    .strength_3
      = @team_fit_grade

= render :partial => "shared/report_footer"       
      
.page-break      
