.inner
  .factor_fit.report_content
    .blue_bg_heading.iconic.pull-left
      Factors measured under 
      %b #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["team_fit"]}
      .thumbnails
        .thumbnails_inn2
    .clr
    .instruction1
      Favorable 
    .instruction2
      %u Less Favorable 
    .factors_container
      .factors_list
        - @report.report_hash[:team_fit_scores].each_with_index do |(factor_name,factor_score),index|
          - margin = factor_name.split(" ").size > 1 ? 20 : 25
          %div{ class: "factor_#{index+1} #{factor_score[:pass] ? 'favorable' : 'less_favorable'}" }
            .wrapper{:style=>"margin-top: #{margin}px;"}
              = factor_name.gsub(" ","<br/>").html_safe
      .bottom_sec
        .title_1
          #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["team_fit"]}
        .strength_1
          = @report.report_hash[:team_fit_grade]
        .title_2
          #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["job_role_fit"]}
        .strength_2
          = @report.report_hash[:job_fit_grade]
        .title_3
          #{Rails.application.config.reports["#{@report.report_hash[:candidate_stage]}"]["company_fit"]}
        .strength_3
          = @report.report_hash[:company_fit_grade]
        .indication
          Empty Hexagons represent behavioural factors that are not included in the scope of this Assessment
