.inner
  = render :partial => "shared/report_header.html.haml"      

  .scores.miscellaneous_factors
    .blue_bg_heading.pull-left
      %b Miscellaneous Factors
    .clr
    .left-offset3.pull-left
      %b Measured
    .left-offset1.pull-left
      %b Preferred
    .clr
    .divider1
    %ul.unstyled.miscellaneous_listing
      - @candidate_factor_scores_for_direct_predictors.each do |factor_id,factor_score|
        %li
          .span1.first.hexagon-icon.mid_favorable
          //use ".mid_favorable" or ".less_favorable" or ".favorable" to change the color of hexagon
          .span2.mid_favorable.pull-left
            %b #{factor_score.factor.parent.name}
          .measured.pull-left
            #{factor_score.factor.parent.definition}
          .preferred.pull-left
            %b.mid_favorable
              = factor_score.factor.name
          .description.pull-left
            #{factor_score.factor.definition}
          .clr
