.inner
  = render :partial => "shared/report_header"      

  .scores.favorable_factors
    .wrapper
      .heading.pull-left
        .large-text
          Scores for Favorable Factors
        Across Job Role  Fit. Company Fit & Team Fit
      .clr
    .divider1
    .left-offset7
      .span3.first.title
        Desired Scores 
      .span3.title
        Actual Scores 
      .clr
    %ul.unstyled.clearfix.scores_listing
      - @candidate_factor_scores.select{|factor_id,factor_score| factor_score.pass }.each_with_index do |(factor_id,factor_score),index|
        - measured = @measured_factors_ids.include?(factor_id)
        - if measured
          %li
            .lhs-sec.pull-left
              .span1.first.que-no.hexagon-icon.favorable
                = index + 1
              .span6
                .factor-name
                  = factor_score.factor.name
                .factor-description
                  = factor_score.factor.definition
              .clr 
            .span3.wrap-desire
              .wrap-inn
                = @assessment_factor_norms[factor_id].from_norm_bucket.name rescue '-'
                .small
                  to 
                = @assessment_factor_norms[factor_id].to_norm_bucket.name rescue '-'
            .span3.wrap-actual
              .wrap-inn
                = factor_score.norm_bucket.name rescue '-'
            .clr
            
  = render :partial => "shared/report_footer", :locals => { :current_page => 5 }      

.page-break          
          
