.interview_guide_report
  .report_title
    .inn
      Interview Guide
  .report_content
    .page_inner
      - @candidate_factor_scores.each_with_index do |(factor_id, factor_score), index|
        - if @post_assessment_guidelines[factor_score.factor_id] and @post_assessment_guidelines[factor_score.factor_id][factor_score.norm_bucket_id]
          - body = @post_assessment_guidelines[factor_score.factor_id][factor_score.norm_bucket_id].first.body  
          %div{ class: "hexagon-box #{factor_score.score_bucket == Vger::Resources::Suitability::Factor::ScoreBucket::MATCH ? '':'red'}" }
            .content
              .lhs.span4
                %b #{factor_score.factor.name}
              .span1.text-center
                Q
              .rhs.span6{ title: "#{body}" }
                = body.to_s[0..50]
              .clr
          - if (index+1) % 10 == 0   
            .page-break   
    .divider4
    
= render :partial => "shared/report_footer.html.haml"    

- content_for :report_navigation do
  = render :partial => "assessment_reports/navigation.html.haml", :locals => { current_page: 5 }    
