- content_for :stylesheets do
  = stylesheet_link_tag "training_requirements"

- content_for :javascripts do
  = javascript_include_tag "pie.min"      
  = javascript_include_tag 'plotPie'

- if @view_mode == "html"
  :css
    .training_requirements_report .inner{margin-top:80px;} 
    .about_us {margin-top:0px;} 
- else
  :css
    .training_requirements_report .inner{margin-top:0px;min-height:800px}     
    .about_us {margin-top:100px;} 

- content_for :report_link do
  - if @view_mode == "html"
    = link_to "View Printable PDF", download_training_requirements_report_company_custom_assessment_url(:company_id => @assessment.company_id, :id => @assessment.id, :format => "pdf", :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "btn btn-warning"

= render :template => "assessment_reports/training_requirements_report/page1"
.page-break
= render :template => "assessment_reports/training_requirements_report/page2"
.page-break  
= render :partial => "assessment_reports/training_requirements_report/page3"
.page-break  
= render :partial => "shared/reports/html/about_us.html.haml"
= render :partial => "shared/reports/html/legal_disclaimer.html.haml"