= form_tag controller.import_from_google_drive_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload new #{controller.resource_name.humanize}
    = fields_for "import" do |f|
      = f.fields_for "file" do |f|
        %p
          Google Spreadsheet Url : 
          = f.text_field "url"
        %p
          Worksheet Names(separated by comma,keep empty to import all)
          = f.text_field "worksheets", :value => ''
      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"
      %p
        = f.check_box :send_activate_account_instructions
        Send Activation Instructions
      %p
        Activation Host
        = f.select :activation_host, activation_hosts.html_safe  

    .actions
      = submit_tag "Upload #{controller.resource_name.humanize}"
