#acdc-assessments-edit-component.new{"data-user_id" => "#{current_user.id}", "data-company_id" => "#{@company.id}", "data-assessment_id" => "#{@assessment.id}"}
  %acdc-assessments-edit-component
= javascript_pack_tag 'acdc/assessments/edit'
= stylesheet_pack_tag 'acdc/assessments/edit'