#acdc-assessments-index-component.new{"data-user_id" => "#{current_user.id}", "data-company_id" => "#{@company.id}", "data-can_create" => "#{(can? :create, "Acdc::Assessment")}", "data-can_approve" => "#{(can? :approve, "Acdc::Assessment")}"}
  %acdc-assessments-index-component
= javascript_pack_tag 'acdc/assessments/index'
= stylesheet_pack_tag 'acdc/assessments/index'