= form_for :company, url: export_monthly_partner_usage_companies_path, :method => :post do |f|
  %fieldset
    %legend 
      %strong Download monthly partner usage
    = f.fields_for "args" do |af|
      = af.hidden_field :email, :value => current_user.email
      %p
        Company Ids (Keep Blank to export all): 
        = af.text_field :company_ids, :value => ""
      %p
        Months : 
        = af.text_field :months, :value => 1

    .actions
      = f.submit 'Download Companies'
