.company_profile
  .page-title
    .divider1
    Settings
    
  .divider2
  = render :partial => "shared/settings-content-sub-nav"

  .padding-all2.border-warning.shifted-up1
    .extra-large-text.text-center
      Please provide the following information
    .divider2
    = form_for :subsciption, :url => add_subscription_company_path(@company), method: :put, :html => { :class => "add_subscription text-right span14 margin-auto"}  do |f|
      = f.hidden_field :company_id, value: @company.id, :name => "merchant_param3"
      = f.hidden_field :callback_url, value: @callback_url, :name => "merchant_param4"
      = f.hidden_field :customer_id, value: @company.id, :name => "customer_id"
      = f.hidden_field :order_id, value: Time.now.strftime("%Y%m%d%H%M%S"), :name => "order_id"
      
      
      .control-group
        %label.span6.first.big-text.line-height2.gray-darker
          Number of Assessments:
        = f.text_field :assessments_purchased, :name => "merchant_param1", :class => "first span7 medium-text left-offset1", required: true
        .clr

      .control-group
        %label.span6.first.big-text.line-height2.gray-darker
          Expiry Date of Subscription
        = f.text_field :valid_to, :name => "merchant_param2", :class => "first span7 medium-text left-offset1", required: true

        .clr
      
      .control-group
        %label.span6.first.big-text.line-height2.gray-darker
          Amount
        = f.number_field :price, :name => "amount", :class => "first span7 medium-text left-offset1", required: true

        .clr
      
      %input.btn.btn-warning.large-text.pull-right{:type => "submit", :value => "Submit"}
      .clr
