- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

.company_profile
  = render :partial => "shared/sub-nav"
  .inn.first
    .page-title
      Settings
  .inn.gray-gradient
    = render :partial => "shared/settings-content-sub-nav"
    .clr
    .divider1
  .inn
    .page-title.text-center
      Please provide the following information
  = form_for(@company, :as => :company, url: company_path(@company), method: :put, html: { class: "edit_company_page" }) do |f|
    .error
      - @company.error_messages ||= []
      - @company.error_messages.each do |message|
        = message
    = f.hidden_field :hq_location_id, :id => "input_hq_location_id"
    .left-offset1.pull-left
      %label
        Company Pan Card Number:
      = f.text_field :pancard

    .left-offset1.pull-left
      %label
        Country:
      = f.select :country, @countries, { :prompt => "Select Country" }, { :id => "select_country" }

    .clr
    .left-offset1.pull-left
      %label
        State:
      = f.select :state, {}, { :prompt => "Select State" }, { :id => "select_state" }

    .left-offset1.pull-left
      %label
        City:
      = f.select :city, {@company.city => @company.hq_location_id }, { :prompt => "Select City" }, { :id => "select_city" }
    .clr

    .left-offset1.pull-left
      %label
        Company Address:
      = f.text_area :address, :rows => 5

    .left-offset1.pull-left
      %label
        Pincode:
      = f.text_field :pincode

    .clr

    .left-offset1.pull-left
      %label
        Contact Person's Name:
      = f.text_field :contact_person

    .left-offset1.pull-left
      %label
        Contact Person's Number:
      = f.text_field :contact_person_mobile

    .clr
    
    .form-action.pull-right
      %button.btn.btn-info
        Submit
= javascript_include_tag 'edit_company'        
