.inn.first
  .page-title.pull-left
    Companies
  .pagination.pull-right
    = paginate @companies
.inn
  .companies-list
    %ul.unstyled
      - @companies.each do |company|
        %li
          .inn
            .lhs.span13
              %a.extra-medium-text{:href => company_assessments_path(:company_id => company.id), :title => "Go to #{company.name}"}
                EMP#{company.company_code} - #{company.name}
              //%br/
              //%br/
              //Account Manager Name
              //%br/
              //%br/
              //manager@email.com
            .rhs.span5
              %a{:href => "#", :title =>"Test bought"}
                Test bought: 
                %sapn.extra-medium-text #{company.subscription.assessments_purchased rescue 0}
              %br/
              %br/
              %a{:href => "#", :title =>"Test used"}
                Validity: 
                %sapn.extra-medium-text #{ company.subscription.present? ? hdate(company.subscription.valid_to) : h(nil) }
              %br/
            .text-center.span
              //Validity
              //.big-text
              //  04
              //Days 
            
            .clr
            .divider1
.inn
  .pagination.pull-right
    = paginate @companies
