.companies-list
  .page-title
    .divider1
    Companies
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @companies}
  .clr
  .search
    = form_for :search, url: companies_path, method: :get do |f|
      .field
        = f.text_field :id, :placeholder => "Company ID"
        = f.text_field :name, :placeholder => "Company Name"
        = f.submit "Search"
  .divider2
  .list-snippet-titles.medium-text.clearfix
    .span2.first
      = sort_link "ID", companies_path, "id", params[:search]
    .span5
      = sort_link "Company Title", companies_path, :name, params[:search]
    .span3.first
      = sort_link "Created On", companies_path, "created_at", params[:search]
    .span3.first
      No Of Assessments
    .span3.first
      Assessments Sent
    .span3.first
      Assessments Completed
    .span3.first
      Total Packages
    .span3.first
      Active Packages
    .span3.first
      Assessments Remaining
    .span3.first
      Valid till
    .clr
    .divider2
  %ul
    - @companies.each do |company|
      %li.list-snippet.border-bottom-grayLighter
        .span2.first
          %a.extra-medium-text{:href => company_custom_assessments_path(:company_id => company.id), :title => "Go to #{company.name}"}
            = company.id
        .span5
          %a.extra-medium-text{:href => company_custom_assessments_path(:company_id => company.id), :title => "Go to #{company.name}"}
            = company.name
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = hdate company.created_at
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = h @invitations[company.id.to_s],0
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = company.assessment_statistics[:assessments_sent] rescue '-'
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = company.assessment_statistics[:assessments_completed] rescue '-'
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = h @subscriptions[company.id.to_s]
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = h @active_subscriptions[company.id.to_s], 0
        .span3.first
          %a.extra-medium-text{:href => company_path(company.id), :title => "Go to #{company.name}"}
            = h @remaining_invitations[company.id.to_s], 0
        .span3.first
          = (company.subscription ? hdate(company.subscription.valid_to) : h(nil)) rescue "-"
        .clr
        .divider1
  .divider2
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @companies}
  .clr