%br/
= render :partial => 'companies/import_form'
%br/
= render :partial => 'companies/export_form'
%br/
= render :partial => 'companies/export_companies_form'
%br/
= link_to 'Back', companies_path
= link_to 'Destroy All', destroy_all_companies_path
