.report-list
  .span14.page-title.first
    .divider1.big.big-text
    Reports
  .pull-right
    - if @company.enable_all_assessments_reports_summary_export    
      %a.btn.btn-warning.big.medium-text.pull-right.span{:href => email_reports_summary_company_path(@company.id), :title => "Email Overall Reports Summary"}
        Email Overall Reports Summary  
  .clr

  .divider2
  .list-snippet-titles.extra-medium-text.clearfix
    .span3.first
      = sort_link "ATID", reports_company_path(@company), :id, params[:search]
    .span7
      = sort_link "Assessment Taker", reports_company_path(@company), :name, params[:search]
    .span9
      = sort_link "Assessment Title", reports_company_path(@company), "suitability_custom_assessments.name", params[:search]
    .span5.left-offset1
      = sort_link "Completed On", reports_company_path(@company), :completed_at, params[:search]
    .span4.text-center
      %a{:href=>"#"}
        Report
    .clr
    .divider2          
  %ul
    - if (@candidate_assessments.present?)
      -@candidate_assessments.each do |candidate_assessment|
        %li.list-snippet.border-bottom-grayLighter.medium-text
          .span3.first
            - candidate_profile_url =  candidate_company_custom_assessment_path(:company_id => candidate_assessment.assessment.company_id, :id => candidate_assessment.assessment_id, :candidate_id => candidate_assessment.candidate_id)

            - assessment_url = candidates_company_custom_assessment_path(:company_id => candidate_assessment.assessment.company_id, :id => candidate_assessment.assessment_id)

            %a{:href=> assessment_url, :title => candidate_assessment.assessment_id}
              = candidate_assessment.assessment_id
          .span7
            %a{:href => candidate_profile_url, :title => candidate_assessment.candidate.name} 
              = candidate_assessment.candidate.name
          .span9
            %a{:href=>assessment_url, :title => candidate_assessment.assessment.name}
              = candidate_assessment.assessment.name
          .span5.left-offset1
            %a{:href => "#", :title => candidate_assessment.completed_at}
              #{htime(candidate_assessment.completed_at)} Hrs,
              #{hdate(candidate_assessment.completed_at)}
          .span4.text-center          
            - report = candidate_assessment.candidate_assessment_reports.first
            - if report.configuration[:notifications_sent_at]
              - url = company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => candidate_assessment.assessment.company_id,:candidate_id => candidate_assessment.candidate_id, :custom_assessment_id => candidate_assessment.assessment_id, :id => report.id, :view_mode => "html")
              
              %a{:href=> url, :title => "Click to View Report", :target => "_blank"}
                %i.icon-file        
            - else
              %i.icon-spinner.icon-spin
              Generating Report...      
          .clr
          .divider1
    - else
      .alert
        No reports available! This can happen if no assessments have been completely answered or if reports are still being generated. You can send assessments or reminders by visiting the 
        %a{:href=>company_custom_assessments_path(@company), :title=> "ASSESSMENTS",}Assessments
        tab.
  .divider1
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @candidate_assessments}
  .clr
