.companies-list
  .page-title
    .divider1
    = link_to "Search Companies", search_assessments_companies_path
    \|
    Search Users
    .divider1
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @users }
  .clr
  .search
    = form_for :search, url: users_path, method: :get do |f|
      .field
        = f.text_field :id, :placeholder => "Assessment name", value: "assessment_search"
        = f.submit "Search"
  .divider2
