.companies-list
  .divider1
  .page-title.pull-left
    Your Accounts
    .clr
    .span6.extra-medium-text.gray-dark.first
      Click on Account Name or ID to go to an Account
  .border-primary.padding-all1.pull-right
    .extra-medium-text.pull-left
      Export and Email Overall Data (All Accounts)
    .span.border-left-grayLighter
      .span
        %a.btn.btn-warning.default-text{:href => email_assessment_stats_company_managers_path}
          %i.icon-file
          Assessment Status Summary
      .span
        %a.btn.btn-warning.default-text{:href => email_reports_summary_company_managers_path}
          %i.icon-file
          Reports Summary    
      .span
        %a.btn.btn-warning.default-text{:href => email_usage_stats_company_managers_path}
          %i.icon-bar-chart
          Usage Summary

    .clr
  .clr
  .divider2
  .border-primary.padding-all1
    .span20.margin-auto
      - if @companies.present?
        .divider2
        .list-snippet-titles.big-text.clearfix
          .span8.first
            = sort_link "Account ID", select_companies_path, "id", params[:search]
          .span8
            = sort_link "Account Name", select_companies_path, :name, params[:search]
          .span.text-center
            %a{:href=>"#"} Export and Email
          .clr
          .divider2
        %ul
          - @companies.each do |company|
            %li.list-snippet
              .span8.first
                %a.medium-text{:href => company_custom_assessments_path(:company_id => company.id), :title => "Go to #{company.name}"}
                  = company.id
              .span8
                %a.medium-text{:href => company_custom_assessments_path(:company_id => company.id), :title => "Go to #{company.name}"}
                  = company.name
              .span4.text-center
                .span3.margin-auto
                  %a.huge-text.span1.first.info-block{:href => email_assessment_stats_company_path(company.id), :title => "Assessment Status Summary"}
                    %i.icon-file
                    .info
                      Assessment Status Summary
                    .arrow
                  %a.huge-text.span1.first.info-block{:href => email_reports_summary_company_managers_path(:company_ids => company.id), :title => "Reports Summary"}
                    %i.icon-file
                    .info
                      Reports Summary
                    .arrow
                  %a.huge-text.span1.info-block{:href => email_usage_stats_company_path(company.id), :title => "Usage Summary"}
                    %i.icon-bar-chart
                    .info
                      Usage Summary
                    .arrow
                  .clr
                .clr
              .clr
              .divider1
        .divider2
        .pull-right
          = render :partial => "shared/pagination", :locals => { :objects => @companies}
        .clr
      - else
        No companies found under your account! Please contact <a href="mailto:prakhar@jombay.com">prakhar@jombay.com</a>
