.company_profile
  .page-title
    .divider1
    Settings
    
  .divider2
  = render :partial => "shared/settings-content-sub-nav"

  .padding-all2.border-warning.shifted-up1.extra-medium-text
    .span19.margin-auto
      %ul
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Company Name: 
          .span8
            #{@company.name}
          .clr
        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Company Code: 
          .span8
            #{@company.company_code}
          .clr

        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Company website URL: 
          -if h @company.website
            %a.span8{:href => "#{h @company.website}", :title => "Click Here to go #{h @company.website} website"}
              = h @company.website
          - else
            Not available 
          .clr

        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Company Head Quarter Location:
          .span8
            - if @hq_location
              = @hq_location.address
            - else
              = h nil
          .clr

        %li.border-bottom-grayLighter.padding-all1
          .span9.big-text
            Company Head Quarter Address:
          .span8.do
            = h @company.hq_address
          .clr
      .divider2
      .description
        .big-text
          %b Employer Description
        .divider1
        %p.extra-medium-text 
          = h(@company.description).html_safe
      .clr
      .divider2
      - if current_user.type == "SuperAdmin"
        %a.btn.btn-warning.inverse.large-text.pull-left{href: edit_company_path(@company)}
          Edit Company Profile
        
        %a.btn.btn-warning.large-text.pull-right{href: add_subscription_company_path(@company.id)}
          Add Subscription
      .clr
