.company_profile
  .page-title
    .divider1
    Settings
    
  .divider2
  = render :partial => "shared/settings-content-sub-nav"

  .padding-all2.border-warning.shifted-up1.extra-medium-text
    .span19.margin-auto
      %ul
        %li.padding-all1.big-text
          .span10.gray-dark
            %i.icon-group
            Company Name: 
          .span7
            #{@company.name}
          .clr
        %li.padding-all1.big-text
          .span10.gray-dark
            %i.icon-barcode
            Company Code: 
          .span7
            #{@company.company_code}
          .clr

        %li.padding-all1.big-text
          .span10.gray-dark
            %i.icon-globe 
            Company website URL: 
          -if @company.website
            %a.span7{:href => "#{h @company.website}", :title => "Click Here to go #{@company.website} website"}
              = @company.website
          - else
            .span7
              Not Available
          .clr

        %li.padding-all1.big-text
          .span10.gray-dark
            %i.icon-home
            Company Head Quarter Location:
          .span7
            - if @hq_location
              = @hq_location.address
            - else
              = h nil
          .clr

        %li.padding-all1.big-text
          .span10.gray-dark
            %i.icon-map-marker 
            Company Head Quarter Address:
          .span7
            = h @company.hq_address
          .clr
      .divider2
      - if current_user.type == "SuperAdmin"
        %a.btn.btn-warning.inverse.big-text.pull-left{href: edit_company_path(@company)}
          %b Edit Company Profile
        
        %a.btn.btn-warning.big-text.pull-right{href: add_subscription_company_path(@company.id)}
          Add Subscription
      .clr
      .divider4
.divider4


