.user-search
  .page-title
    Search Assessment Takers
  .divider2
  %form{ url: users_search_company_path(@company), method: :get }
    %input.search-field.pull-left{type: "text",
                       placeholder: "Assessment Taker Name or Email id",
                       name: "search[user_name_or_email]",
                       value: params[:search][:user_name_or_email]}
    .search-btn.pull-left.span
      %input{:type=>"submit", :value => "Search"}
    .clr
    .span.info-text.line-height2
      Please enter an Assessment Taker's name or email address and press the button to search
    .clr

  .divider2
  - if params[:search][:user_name_or_email].present?
    - if @user_assessments.present?
      .big-text
        Showing results for “#{params[:search][:user_name_or_email]}”

      .divider2

      .list-snippet-titles.big-text.clearfix
        .span3.first
          = sort_link "ATID", users_search_company_path(@company), "id", params[:search]
        .span7
          = sort_link "Assessment Taker", users_search_company_path(@company), "name", params[:search]
        .span7
          = sort_link "Assessment Title", users_search_company_path(@company), "assessment_name", params[:search]
        .span8
          = sort_link "Assessment Status", users_search_company_path(@company), "status", params[:search]
        .span
        .clr
        .divider1
      %ul
        - @user_assessments.each do |user_assessment|
          - user = user_assessment.user
          - assessment = user_assessment.assessment
          - status = test_statuses[user_assessment.status]
          - link_status = test_link_statuses[user_assessment.link_status]
          - if user_assessment.user_assessment_reports.present?
            - report = user_assessment.user_assessment_reports[0]
          - if report && report.status == Vger::Resources::Suitability::UserAssessmentReport::Status::HIVE_SCORES_PENDING
            - status = 'Pending'  
          - show_status = ''
          - if status == Vger::Resources::Suitability::UserAssessmentReport::Status::SCORED
            - show_status = status+" as of "+htime(user_assessment.completed_at)+"Hrs, "+hdate(user_assessment.completed_at)
          - else
            - show_status = status+" as of "+htime(user_assessment.updated_at)+"Hrs, "+hdate(user_assessment.updated_at)
          %li.list-snippet.extra-medium-text
            .divider1
            .span3.first
              %a{:href => user_company_custom_assessment_path(:company_id => @company.id, :id => assessment.id, :user_id => user.id), :title => user.id}
                = user.id
            .span7.info-block
              %a{:href => user_company_custom_assessment_path(:company_id => @company.id, :id => assessment.id, :user_id => user.id), :title => user.name}
                = user.name
            .span7
              %a{:href => company_custom_assessment_path(:company_id => @company.id, :id => assessment.id), :title => assessment.name}
                = assessment.name
            .span8
              %a.down{:href => "javascript:void(0);", :title => ""}
                #{show_status}
            .span
              - if report
                = render :partial => "suitability/custom_assessments/user_assessments/report_status/#{report.status}", locals: { report: report, user_assessment: user_assessment }
              - else
                = render :partial => "companies/users/user_assessment_status/#{user_assessment.status}", locals: { user_assessment: user_assessment, assessment: @assessment, company: @company, user: user }
            .clr
        .divider2
        .pull-right
          = render :partial => "shared/pagination", :locals => { :objects => @user_assessments}
        .clr

    - else
      .big-text
        Your search - "#{params[:search][:user_name_or_email]}" - did not match any Assessment Takers
        .divider2
        Suggestions:
        .divider2
        %ul.styled
          %li If searching using name, please ensure correct spelling
          %li If searching using email ID, please use a valid email address associated with an assessment, without any spaces
          %li Type the name or email ID - avoid copying & pasting from another source
