.report_header.clearfix
  .logo.full-logo
    = image_tag('report/pdf/jombay-logo-icon.png')
  - if @report.report_hash[:assessment][:brand_partner] && @report.report_hash[:assessment][:brand_partner] == "cocubes"
    - logo_url = asset_path("#{@report.report_hash[:assessment][:brand_partner].underscore}.png")
    .logo-partner.with-full-logo
      = image_tag(logo_url)
  .text-right
    .user_name
      = @report.report_hash[:user][:name]
    .medium-text
      Assessment: 
      = @report.report_hash[:assessment][:name]

