.feedback_rating
  .divider1
  .scores.container
    .title.span15.line-height2
      Please rate #{@report.report_hash[:user][:name]} on the following traits
    .scale.span12.right
      - range_offset = 100 / (@company_norm_buckets.size * 2) 
      - range_width = 100 - (100/@company_norm_buckets.size) 
      - line_width = 100 - (100/(@company_norm_buckets.size - 1)) 
      - marker_width = 100 / @company_norm_buckets.size 
      - range_right_offset = marker_width / 2 
      .scale_inner{ style: "margin-right: #{ -range_right_offset }%" }

        .line{ style: "left: #{ range_offset }%; width: #{line_width }%" }
        .marker_container
          - @company_norm_buckets.each do |norm_bucket|
            .marker{ style: "width: #{ marker_width }%" }
              %span
                - if norm_bucket.name.split(" ").size == 1
                  %br/
                = norm_bucket.name.split(" ").join("<br/>").html_safe
              .arrow_box
                .arrow
            .marker_info{ style: "left: #{ range_offset / 2 }%; width: #{ line_width }%" }
              = norm_bucket.description
          .clr
    .clr
    
    .divider1
    %ul
      - factor_scores.each_with_index do |(factor_name,factor_score),index|
        %li.border-bottom-d-grayLighter
          .divider1
          .big-text.bold.span4
            = factor_name
          .extra-medium-text.gray-dark.span19
            = factor_score[:factor_definition]
          .medium-text.span.line-height2.gray-dark
            Your rating is
          %input{:type=>"hidden", name: "feedback[factor_feedback][#{factor_score[:factor_score_id]}][score]", value: 0}
          %select.span4{ name: "feedback[factor_feedback][#{factor_score[:factor_score_id]}][company_norm_bucket_id]" }
            %option{ value: "" }
              Select Rating
            - @company_norm_buckets.each do |norm_bucket|
              %option{ value: norm_bucket.id }
                = norm_bucket.name
          .clr
          .divider1
