= form_tag export_to_google_drive_subscriptions_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Download subscriptions
    = fields_for "export" do |f|
      = f.fields_for "folder" do |f|
        %p
          Google Drive Folder Url : 
          = f.text_field "url"

      %p
        Rows per sheet: 
        = f.text_field "rows_per_sheet", :value => "10000"

      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"

    .actions
      = submit_tag 'Download Subscriptions'
