= form_tag export_subscription_mrf_subscriptions_path multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Download MRF Subscription
    = fields_for "export" do |f|
      = f.fields_for "folder" do |f|
        %p
          Google Drive Folder Url : 
          = f.text_field "url"
      %p
        Number of hours:
        =f.text_field  :hours
      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"
    .actions
      = submit_tag "Download MRF Subscription", :confirm => "Are you sure?"

