= form_for item, :as => :item, :url => url, multipart: true, method: method do |f|
  - if @item.error_messages.present?
    %ul
    - @item.error_messages.each do |msg|
      %li #{msg}
  .field
    = f.label :body
    = f.text_field :body
  .actions
    = submit_tag 'Submit'
