%h1 All Items / Item Groups
- if can? :create, "Suitability::Item"
  = link_to "Manage Suitability Items", manage_mrf_items_path

.pagination.pull-right        
  = paginate @items    
.clr
%table
  %tr
    %th Id
    %th Body
    %th Role
    %th Trait Type
    %th Trait ID
    %th Active
    %th Edit
  - @items.each do |item|
    %tr 
      %td{ width: "5%" }
        = link_to item.id, mrf_item_path(item.id)
      %td{ width: "30%" }
        = link_to item.body, mrf_item_path(item.id)
      %td{ width: "10%" }
        = item.role
      %td{ width: "10%" }
        = item.trait_type
      %td{ width: "10%" }
        = item.trait_id
      %td{ width: "10%" }
        = item.active
      %td{ width: "20%" }
        = link_to "Edit", edit_mrf_item_path(item.id)  
      
.pagination.pull-right        
  = paginate @items    
.clr
