= form_for :item, :url => import_with_options_from_google_drive_mrf_items_path, html: { multipart: true }, :method => :post do |f|
  %fieldset
    %legend
      Import NEW Mrf Items alongwith Options
    %br
    %br
    = f.fields_for :file do |ff|
      Google Drive Sheet Url
      = ff.text_field "url", value: ""
    %br
    %br
    Company ID
    = f.text_field :company_id
    = f.hidden_field :email, :value => current_user.email
    %br
    %br
    .actions
      = submit_tag 'Import Mrf Items', :confirm => "Are you sure?"
%br

%br/
= render :partial => "export_form"

%br/
= render :partial => "master_data/import_from_google_drive"

= link_to 'Back', mrf_items_path
=# link_to 'Destroy All', destroy_all_mrf_items_path
