.data_points.competency_report
  .container
    .divider2
    .title
      Data Points: Competencies
    .divider2
    - @report_data[:competency_scores].each do |competency, competency_data|
      .frame
        .heading.pull-left
          = competency

        .heading.pull-right
          = competency_data[:avg_score][:bucket]
        .clr
        .divider2

        .left.span18
          - @norm_buckets.each do |norm_bucket|
            .span2.across_score
              .score
                #{competency_data[:bucket_wise_percentages][norm_bucket.name] || 0}%
              .divider1
              = norm_bucket.name
          .clr
          .divider2
          .medium-text.black
            Percentage of Assessment Takers across scores
          .divider5

        .right.span11
          .divider1
          .big-text.text-center.black
            Across all Assessment Takers
          .divider1
          .pannel.span7.margin-auto
            .score_snippet.max
              Maximum Score: #{competency_data[:max_score][:bucket]}
            .score_snippet.min
              Minimum Score: #{competency_data[:min_score][:bucket]}
            .score_snippet.average
              Average Score: #{competency_data[:avg_score][:bucket]}

        .clr
        .divider1
      .divider1
