- competency_scores = @report_data[:competency_scores].sort_by{|competency, competency_data| competency_data[:avg_score][:score] }.reverse
- marker_width = 100.0 / @norm_buckets.size 
- line_width = marker_width * (@norm_buckets.size-1) 
- range_offset = marker_width / 2
.overview
  .bottom-triangle
    .container
      .divider3
      .content
        - if !@report.cover_page
          .divider2
        
        .overview-title
          .pull-left.text-left
            .divider2
            Overview of Competencies / Values Measured
          .scale.span12.pull-right
            .scale_inner{ style: "margin-right: #{ -range_offset }%" }

              .line{ style: "left: #{ range_offset }%; width: #{line_width }%" }
              .marker_container
                - @norm_buckets.each do |norm_bucket|
                  .marker{ style: "width: #{ marker_width }%" }
                    %span
                      - if norm_bucket.name.split(" ").size == 1
                        %br/
                      = norm_bucket.name.split(" ").join("<br/>").html_safe
                    .arrow_box
                      .arrow
                  .marker_info{ style: "left: #{ range_offset / 2 }%; width: #{ line_width }%" }
                    = norm_bucket.description
                .clr
          .clr
        %ul.competency-list
          - competency_scores.each do |competency, competency_data|
            %li
              .competency-name.span14.line-height-normal.no-border
                = competency
              .scale.overview_scale.span12.pull-right
                .scale_inner{ style: "margin-right: #{ -range_offset }%" }
                  .line{ style: "left: #{ range_offset }%; width: #{line_width }%" }
                  .marker_container
                    - @norm_buckets.each do |norm_bucket| 
                      .marker{ class: (norm_bucket.name == competency_data[:avg_score][:bucket] ? 'active' : ''), style: "width: #{marker_width}%"}
                        %span
                          = norm_bucket.name if norm_bucket.name == competency_data[:avg_score][:bucket]
                  .clr
              .clr
      .divider3
