= form_for @trait, :as => :trait, :url => mrf_trait_path(@trait), method: :put do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company_ids
    = f.text_field :company_ids, value: @trait.company_ids.join(',');
  .actions
    = f.submit 'Update'
