= render partial: "shared/reports/pdf/oac_report_header.pdf.haml"
.data_points_competency_wise
  .inner
    .blue_heading.big-text
      Competency wise Data Points
    .divider1
    - 2.times do
      .frame
        .heading.pull-left
          Result Orientation          
        .heading.pull-right
          Novice
        .clr
        .divider1
        .padding-all2.no-t-padding
          = render :partial => "oac/exercises/reports/competency_reports/pdf/competency_data_points/score_description"
          = render :partial => "oac/exercises/reports/competency_reports/pdf/competency_data_points/behaviors_measured_graph"
          = render :partial => "oac/exercises/reports/competency_reports/pdf/competency_data_points/strengths_improvement"
          = render :partial => "oac/exercises/reports/competency_reports/pdf/competency_data_points/competency_specific_score"
      .divider1
