= render partial: "shared/reports/pdf/oac_report_header"

- top_competencies = get_top_competencies(@report)
- bottom_competencies = get_bottom_competencies(@report)
.top_bottom_competencies
  .inner
    %h1.small-text.white
      Relative Strengths &amp; Areas of Development
    .caption.top.pull-left{ style: "width: 40%" }
      Relative Strengths
    .caption.bottom.pull-left{ style: "width: 40%" }
      Relative Areas of Development
    .clr
    %table
      -2.times do |index|
        %tr
          %td{ style: "width: 50%" }
            - competency = top_competencies[index]
            - if competency
              .legend.big-text
                = competency[1][:name]
              = @report.report_data[:super_competency_configuration][:overall_configuration][competency[0]][:definition]
            - else
              .muted
                Not available          
          %td.space 
          %td{ style: "width: 50%" }
            - competency = bottom_competencies[index]
            - if competency
              .legend.big-text
                = competency[1][:name]
              = @report.report_data[:super_competency_configuration][:overall_configuration][competency[0]][:definition]
            - else
              .muted
                Not available
  .divider1
