.send-assessment
  .heading
    %i.icon-envelope
    Email Settings
  .divider2
  = render :partial => "mrf/assessments/candidate_assessments/mail_body_for_candidate_invitation"
  .clr
  .divider2
  = render :partial => "mrf/assessments/candidate_assessments/mail_body_for_stakeholder_invitation"  
  .clr  
= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'
= javascript_include_tag 'mrf/add_candidates'          
