.candidate-mrf-show
  .span15.huge-text.first
    .divider1
    #{@assessment.id} - #{@assessment.name}
  .pull-right  
    %a.btn.btn-info.big-text.big.bold{:href => new_company_mrf_assessment_path(@company.id)}
      Create a new 360&#176; Profiling Exercise
    %br  
    %br  
    %a.big-text.big.pull-right{:href => add_company_mrf_assessment_candidate_assessments_path(@company.id,@assessment.id)}
      Add Candidates  
  .clr
  .divider2
  = render :partial => "shared/360/candidate-content-sub-nav"

  .padding-all2.border-warning.shifted-up1    
    .list-snippet-titles.big-text.clearfix
      - if @candidate_assessments.present?
        .span3.first
          CID
        .span8
          Candidate Name
        .span8
          Email-ID
        .span6
          Allowed Stakeholder Types
        .span2
        .clr
        .divider1          
        %ul
          - @candidate_assessments.each do |candidate_assessment|
            %li.list-snippet.extra-medium-text
              .divider1
              .span3.first
                = candidate_assessment.candidate_id
              .span8
                = candidate_assessment.candidate.name
              .span8
                = candidate_assessment.candidate.email
              .span6
                = candidate_assessment.stakeholder_types.join(", ")
              .span2
                = link_to "Edit", edit_company_mrf_assessment_candidate_assessment_path(@company.id,@assessment.id, candidate_assessment.id)
              .clr
      - else
        .alert.medium-text.text-center
          No candidates present
    .divider2
    .pull-right
      = render :partial => "shared/pagination", :locals => { :objects => @candidate_assessments}
    .clr
