- content_for :stylesheets do
  = wicked_pdf_stylesheet_link_tag "toolkit/main-layout"
  = wicked_pdf_stylesheet_link_tag "reports_html"
  = wicked_pdf_stylesheet_link_tag "shared"
  
- content_for :body do
  = render :partial => "shared/360/mrf_report_header"
  .report.mrf
    = yield
    = render :partial => "shared/360/footer"  

= render :file => 'layouts/haml'
