= form_tag import_assessments_factor_scores_users_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Import Candidate Scores for Multiple Assessments
    = fields_for "import" do |f|
      %p
        Zipped XLS File
        = f.file_field "file"
      = f.hidden_field :email, :value => current_user.email

    .actions
      = submit_tag "Import Scores"
