= form_for :user, url: download_pdf_reports_users_path, multipart: true, :method => :post do |f|
  
  %fieldset
    %legend 
      %strong Download PDF Report 
    = f.fields_for "args" do |f|
      %p
        Assessment ID's (comma seprated): 
        = f.text_field :assessment_id
      %p
        XLS File:
        = f.file_field "file"
      = f.hidden_field :email, :value => current_user.email

  .actions
    = submit_tag 'Download'
