%div{ style: "margin-left:50px;" }
  %br/
  = render :partial => 'users_management/import_form'
  %br/
  = render :partial => 'users_management/export_form'
  %br/
  = render :partial => 'users_management/validation_progress'
  %br/
  = render :partial => 'users_management/user_responses'
  %br/
  = render :partial => 'users_management/user_reports'
  %br/
  = render :partial => 'users_management/user_report_urls'
  %br/
  = render :partial => 'users_management/download_pdf_reports'
  %br/
  = render :partial => 'users_management/user_factor_scores'
  %br/
  = render :partial => 'users_management/assessments_factor_scores'
  %br/
  = render :partial => 'users_management/assessments_import_user_scores'
  %br/
  = render :partial => 'users_management/update_candidate_stage'
  %br/
  = render :partial => 'users_management/import_user_scores'
  %br/
  = render :partial => 'users_management/send_360_invitations_to_users'
  %br/
  = link_to 'Back', users_path
