%div{ style: "margin-left:50px;" }
  %br/
  = render :partial => 'users_management/user_responses'
  %br/
  = render :partial => 'users_management/user_report_urls'
  %br/
  = render :partial => 'users_management/download_pdf_reports'
  %br/
  = render :partial => 'users_management/assessments_factor_scores'
  %br/
  = render :partial => 'users_management/assessments_import_user_scores'
  %br/
  = link_to 'Back', users_path
