- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

= form_for @survey, :as => :survey, :url => add_traits_company_exit_survey_path(:company_id => params[:company_id], :id => params[:id]), multipart: true, method: :put do |f|
  .order_enable_items
    .page-title
      = @survey.name
    .divider2
    = render :partial => "shared/exit/navigation-sub-nav"
    .divider2
    .big-text
      Smileys
    - index = 1 
    - @item_groups.each do |item_group|
      .span18
        %label.pull-left
          %input{ type: "hidden", name: "items[#{index}][type]", value: item_group.class.name.gsub('Vger::Resources::','') }
          %input{ type: "hidden", name: "items[#{index}][id]", value: item_group.id }
          %input{ type: "checkbox", name: "items[#{index}][selected]", class: "item_group", checked: true }
          #{item_group.body}
      .span5 
        %label   
          %input.pull-left{ type: "checkbox", name: "items[#{index}][enable_comment]", class: "item_group", checked: false }  
          Enable Comment
      .span5    
        %select.pull-right{ name: "items[#{index}][order]", style: "width: 100px" }
          - 100.times do |order|
            %option{ value: order+1, selected: index == order+1 }
              = order+1  
      .clr
      %br/    
      - index += 1
    .big-text
      Reasons
    - @items.each do |item|
      .span18
        %label.pull-left
          #{item.body}
          %input{ type: "hidden", name: "items[#{index}][type]", value: item.class.name.gsub('Vger::Resources::','') }
          %input{ type: "hidden", name: "items[#{index}][id]", value: item.id }
          %input{ type: "checkbox", name: "items[#{index}][selected]", class: "item", checked: true }
      .span5 
        %label   
          %input.pull-left{ type: "checkbox", name: "items[#{index}][enable_comment]", class: "item", checked: true }  
          Enable Comment
      .span5
        %select.pull-right{ name: "items[#{index}][order]", style: "width: 100px" }
          - 100.times do |order|
            %option{ value: order+1, selected: index == order+1 }
              = order+1
        - index += 1        
      .clr
      %br/
    - @subjective_items.each do |item|
      .span18
        %label.pull-left
          #{item.body}
          %input{ type: "hidden", name: "items[#{index}][type]", value: item.class.name.gsub('Vger::Resources::','') }
          %input{ type: "hidden", name: "items[#{index}][id]", value: item.id }
          %input{ type: "checkbox", name: "items[#{index}][selected]", class: "item", checked: true }
          %input.pull-left{ type: "checkbox", name: "items[#{index}][enable_comment]", class: "item", checked: false, style: "display:none;" }  
      .span10
        %select.pull-right{ name: "items[#{index}][order]", style: "width: 100px" }
          - 100.times do |order|
            %option{ value: order+1, selected: index == order+1 }
              = order+1
        - index += 1        
      .clr
      %br/  

  .clr

  = f.submit "Proceed", :class=>" btn btn-info large-text pull-right"

  .clr
