.details-exit
  .span18.huge-text.first
    .divider1
    #{@survey.id} - #{@survey.name}
  %a.btn.btn-info.pull-right.big-text.big.bold{:href => new_company_exit_survey_path(@company)}
    Create a new Exit Survey
  .clr
  .divider2
  = render :partial => "shared/exit/survey-sub-nav"
  .padding-all2.border-warning.shifted-up1
    .pull-left.extra-medium-text
      .span5.first
        Total Candidates: #{@total_candidates}
      .span5.first
        Elements Included: #{@survey.survey_elements.size}
      .clr
      .divider1
    %a.btn.btn-info.pull-right.big-text.big.bold{:href => add_candidates_company_exit_survey_path(@company.id,@survey.id)}
      Add Candidates
    .clr
    .divider1
