.trait-show.mrf
  .span18.huge-text.first
    .divider1
    #{@survey.id} - #{@survey.name}
  %a.btn.btn-info.pull-right.big-text.big.bold{:href => new_company_exit_survey_path(@company)}
    Create a new Exit Survey
  .clr
  .divider2
  = render :partial => "shared/exit/survey-sub-nav"
  .padding-all2.border-warning.shifted-up1
    - if (@survey.survey_traits.present?)
      .big-text.font-bold
        .pull-left
          Elements Measured: #{@survey.survey_traits.size}
        .clr
      .divider1
      %ul.clearfix.scores_listing.first
        - @survey.survey_traits.each do |survey_trait|
          %li
            = survey_trait.trait.name
      .divider2

