.span3.gray_border.divider6
  = render_display_image(user, :type => :large)
.span11
  .biggest_text
    #{ user.name }
    - if user.sex
      %span.faded_light (#{ user.sex })
  - if extract_course(user_prof_infos)
    .divider1
    %i.icon-book
    %strong Education:
    %span #{ extract_course(user_prof_infos) }

  - if extract_current_location(user_prof_infos)
    .divider1
    %i.icon-map-marker
    %strong Current Location:
    %span #{ extract_current_location(user_prof_infos) }

  - if user.email
    .divider1
    %i.icon-envelope
    %strong Email:
    %span
      %a{:href => "mailto:#{ user.email }"} #{ user.email }

  - if user.phone
    .divider1
    %i.icon-phone
    %strong Contact Number:
    %span #{ user.phone }
