- location = @job.locations.first
.divider2
.page-title
  Job Details
.divider2
.span2.first.bg-warning.divider4.suitcase-icon
.pannel.divider4.span28.first
  .span
    .color-warning.extra-medium-text
      = @job.title
    .divider1
    .medium-text
      = @job.description
  .clr
.clr
.divider1

.span1.first.bg-success.text-center.white.large-text
  %i.icon-map-marker.line-height2
.pannel.pull-left
  .span7
    %span.medium-text.color-success
      Location:
    = location ? location.name : "-"
  .clr

.span1.bg-success.text-center.white.large-text
  %i.icon-calendar.line-height2
.pannel.pull-left
  .span6
    %span.medium-text.color-success
      Posted on date: 
    = hdate @job.posted_on, "-"
  .clr

.span1.bg-success.text-center.white.large-text
  %i.icon-copy.line-height2
.pannel.pull-left
  .span6
    %span.medium-text.color-success
      Number of application:  
    %a{ href: company_jq_job_candidate_jobs_path(params[:company_id],@job.id) }  
      = @all_candidate_jobs_count
  .clr

.span1.bg-success.text-center.white.large-text
  %i.icon-minus-sign.line-height2
.pannel.pull-left
  .span6
    %span.medium-text.color-success
      Number of ignored: 
    %a{ href: company_jq_job_candidate_jobs_path(params[:company_id],@job.id) }    
      = @ignored_candidate_jobs_count
  .clr
.clr

.divider1

.bg-success
  .span1.first.text-center
    %i.icon-file.icon-2x.white.line-height2.less-padding-all1
  .pannel.span29
    .span3.medium-text.color-success
      Job Description:
    .span25.first
      = @job.description
    .clr
  .clr

.divider1
-#
  .span10.first
    .pannel.success-border-l
      .left-offset1
        .span1.color-success
          %i.icon-trophy.large-text
        .pull-left.medium-text.color-success
          Responsibilities
        .clr
        .divider1
       
        %ul.disc.left-offset1
          %li Budget Management 
          %li Executive Support
          %li Event Coordination

    .divider1

    .pannel.success-border-l
      .left-offset1
        .span1.color-success
          %i.icon-edit.large-text
        .pull-left.medium-text.color-success
          Must-have skills
        .clr
        .divider1
       
        %ul.disc.left-offset1
          %li Think Strategically
          %li Collect and Analyze Data
          %li Communicate
          %li Get Things Done  

    .divider1

    .pannel.success-border-l
      .left-offset1
        .span1.color-success
          %i.icon-check.large-text
        .pull-left.medium-text.color-success
          Nice-to-have skills
        .clr
        .divider1
       
        %ul.disc.left-offset1
          %li Market understanding
          %li Customer focused
  .span20.pull-right
    .pannel.success-border-l
      .left-offset1
        .span1.bullseye-icon
        .pull-left.medium-text.color-success
          Any specific job questions
        .clr
        .divider1
       
        %ol.disc.left-offset1
          %li 
            Why do you want to work for this company? Why are you interested in this job?
            .divider1

          %li 
            Have you done this kind of work before?
            .divider1

          %li 
            What kind of training or qualifications do you have?
            .divider1

          %li 
            Tell me about yourself. Why should we hire you?
            .divider1

          %li 
            What do you do in your spare time?
            .divider1

          %li 
            What do you think of working in a group?
            .divider1
  .clr

.divider1

.pannel.success-border-l
  .left-offset1
    .span1.color-success
      %i.icon-play-circle.large-text
    .span22.medium-text.color-success
      Video Questions
    .span3.medium-text.color-success.text-center
      Time allowed
    .clr
    .divider1
   
    %ol.disc.left-offset1
      - @interview_questions.each do |interview_question|
        %li
          %div
            .span22
              = interview_question.body
            .span3.text-center
              = "#{interview_question.allowed_time/60}:#{interview_question.allowed_time%60} mins"
            .clr
          .divider1
.divider4
