= f.hidden_field :type, value: "Suitability::Option"
.field
  = f.label :body
  %input{type:'text',name:'item[options_attributes][new_options][body]'}
.field  
  = f.label :score
  %input{type:'text',name:'item[options_attributes][new_options][score]'}
.field  
  = f.label :active
  = f.check_box :active
