%h3 Edit suitability item

= render 'form', method: :put, url: suitability_item_path(@item.id), item: @item
%br
%br
%br
%h4 Options
%br

- if @item.behaviour != Vger::Resources::Suitability::Behavior::SITUATIONAL
  = link_to 'Add Option', suitability_item_add_option_path(params[:id], :option_type => 'Suitability::Option'), remote: true
- else
  %b Situational items can have only one option. 
  
#options_container
  - Vger::Resources::Suitability::Option.where(:query_options => { :item_id => @item.id }).all.each do |option|
    = render :partial => 'suitability/options/form', :locals => { :option => option,method: :put, url: suitability_item_option_path(params[:id],option.id), item_id: params[:id], factor_id: params[:factor_id] } 

%br
- if @item.item_group_id
  = link_to "Back", suitability_item_group_path(@item.item_group_id)  
- else
  = link_to "Back", suitability_factor_path(@item.factor_id)

