%h3 Item #{@item.id}
%p
  %b Item:
  = @item.body
  %br
  %b Behavior:
  = @item.behaviour
  %br
  %b Difficulty Level:
  = @item.difficulty_level
  %br
  %b Max score:
  = @item.max_score
  %br
  %b Active:
  = @item.active
  %br
  %b Help Text:
  = @item.help_text
  %br
  %b Language:
  = @item.language
  %br
  %b Reference Item ID:
  = @item.reference_item_id ? (link_to @item.reference_item_id, suitability_item_path(@item.reference_item_id)) : "Not Available"
%br
= link_to "Edit", edit_suitability_item_path(params[:id])
\|
- if @item.item_group_id
  = link_to "Back", suitability_item_group_path(@item.item_group_id)
- else
  = link_to "Back", suitability_factor_path(@item.factor_id)

%br
%br
%div
  %h3
    Options added for this item
    %br
%table
  %tr
    %th
      ID
    %th
      Body
    %th
      Score
    %th
      Active
    %th
      Order
    %th
      Reference Item
    %th
  - Vger::Resources::Suitability::Option.where(:query_options => { :item_id => @item.id }).all.each do |option|
    %tr
      %td
        = link_to option.id, suitability_item_option_path(params[:id], option.id)
      %td{ width: "40%" }
        = link_to option.body, suitability_item_option_path(params[:id], option.id)
      %td
        = option.score
      %td
        = option.active
      %td
        = option.option_order
      %td
        = option.reference_option_id ? option.reference_option_id : "Not Available"
      %td
        = link_to "Edit", edit_suitability_item_option_path(params[:id], option.id)
