- url = @resource.id.present? ? self.send("#{resource_name.singularize}_path",@resource) : self.send("#{resource_name}_path")
= form_for @resource, as: resource_name.singularize, url: url do |f|
  = @resource.error_messages.to_a.join("<br/>").html_safe
  - form_fields.each do |index_column|
    - next if index_column.to_s == 'id'
    .field
      = f.label index_column
      = f.text_field index_column
  .field
    = f.label "Added Permissions"
  .field
    - @permissions.select{|x| @resource.permission_ids.include?(x.id) }.each_with_index do |permission,index|
      .span6
        %label{ style: "cursor: pointer;" }
          %input{ type: "checkbox", name: "role[permission_ids][]", value: permission.id, checked: @resource.permission_ids.include?(permission.id) }
          = permission.name  
      - if (index+1) % 4 == 0
        .clr
        %br
    .clr    
  .field
    = f.label "Search"
    %input{ type: "text", id: "inputPermission" }
  .field
    - @permissions.select{|x| @resource.permission_ids.exclude?(x.id) }.each_with_index do |permission,index|
      .span6{ class: "permission", "data-name" => "#{permission.name}", "data-subject" => "#{permission.subject_class}" }
        %label{ style: "cursor: pointer;" }
          %input{ type: "checkbox", name: "role[permission_ids][]", value: permission.id, checked: @resource.permission_ids.include?(permission.id) }
          = permission.name  
      - if (index+1) % 4 == 0
        .clr
        %br
    .clr    
  .action
    = f.submit  
:javascript
  $("#inputPermission").keyup(function() {
    if($(this).val().length > 0) {
      var term = $(this).val();
      $(".permission").each(function(){
        if($(this).find("input").is(":checked")) {
        } else {
          var regex = new RegExp(term,'i');
          if($(this).data("subject").match(regex) || $(this).data("name").match(regex)){
            $(this).show();
          } else {
            $(this).hide();
          }
        }
      });
    } else {
      $(".permission").show();
    }
  });
