%h2
  Showing details of #{resource_name.singularize.titleize} - #{@resource.id}
%table{ cellspacing: 5, cellpadding: 5 }
  - form_fields.each do |index_column|
    %tr
      %td 
        %h4
          #{index_column.to_s.titleize}:
      %td #{@resource.send(index_column).to_s}
  %tr
    %td 
      %h4
        Permissions:
    %td 
      %table
        %tr
          %th Name
          %th Action
          %th Class
        - @resource.permissions.sort_by(&:subject_class).each do |permission|
          %tr
            %td #{permission.name}
            %td #{permission.action_name}
            %td #{permission.subject_class}
.links
  = link_to "Edit", send("edit_#{resource_name.singularize}_path",@resource)
  \|
  = link_to "Back", send("#{resource_name}_path")
