.assessments-list
  .span14.page-title.first
    .divider1
    Online Assessment Center
  %a.btn.btn-info.big.big-text.pull-right.span{:href => new_company_oac_exercise_path(@company.id), :title => "Click Here To Create new Assessment Center"}
    Create New Assessment Center
  .clr
  .divider2
  .list-snippet-titles.extra-medium-text.clearfix
    .span2.first.bold
      AID
    .span4.bold
      Created On
    .span9.bold
      Assessment Title
    .span4.bold
      View Details
    .span4.bold
      %a{:href=>"#"}
        Completed by
    .span3.bold
      %a{:href=>"#"}
        Sent to 
    .span2.bold
      Status
    .divider2          
  %ul
    - @exercises.each do |exercise|
      %li.list-snippet.border-bottom-grayLighter.medium-text
        - assessment_url = landing_page_for_oac_exercise(exercise)
        .span2.first
          %a{:href=> assessment_url, :title =>  ""} 
            = exercise.id
        .span4
          %a{:href => assessment_url, :title => "Date"} 
            -# = Date.parse(assessment.created_at).strftime("%d/%m/%Y")
            = hdate exercise.created_at
        .span9.info-block
          %a{:href=> assessment_url, :title => "Assessment Name"}  
            = exercise.name
        .span3.text-center
          %a{:href=> assessment_url, :title => "View Details"}
            %i.icon-eye-open
        .span3.text-center.left-offset1
          %a{:href=> assessment_url, :title=>"#{exercise.completed_count}"}  
            = exercise.completed_count
        .span2.text-center.left-offset1
          %a{:href=> assessment_url, :title=>"#{exercise.sent_count}"}  
            = exercise.sent_count
        .span2.left-offset1
          = exercise.workflow_status
        .clr
        .divider1
  .divider2
  .pull-right
    = render :partial => "shared/pagination", :locals => { :objects => @exercises }
  .clr
