- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"

- content_for :stylesheets do
  = stylesheet_link_tag "jstree"

.container
  .page-title
    Enter Details
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"

  = form_for @exercise, as: :exercise, url: company_oac_exercises_path(@company.id), html:  {id: "assessment_form"} do |f|
    %input{:id => "input_config", :name => "exercise[report_configuration]", :value => "" ,:type => "hidden"}
    %input{:id => "report_type", :value => "oac", :type => "hidden"}
    %input{:id => "input_company_id", :value => @company.id, :type => "hidden"}
    %input{:id => "set_assessment_type", :value => "super_competency", :type => "hidden"}
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Enter Assessment Center Title
        = f.text_field :name, placeholder: "Assessment Center Title", class: "span8"
      .clr
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Industry:
        %select.span8{ name: "exercise[industry_id]" }
          %option{ value: "" }
            Select Industry
          - @industries.each do |industry_id, industry|
            %option{ value: industry.id, selected: @exercise.industry_id.to_i == industry.id }
              = industry.name
    .divider1
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Function:
        %select.span8{ name: "exercise[functional_area_id]" }
          %option{ value: "" }
            Select Function
          - @functional_areas.each do |functional_area_id, functional_area|
            %option{ value: functional_area.id, selected: @exercise.functional_area_id.to_i == functional_area.id }
              = functional_area.name  
    .divider1
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Experience Level:
        %select.span8{ name: "exercise[job_experience_id]" }
          %option{ value: "" }
            Select Experience
          - @job_experiences.each do |job_experience_id, job_experience|
            %option{ value: job_experience.id, selected: @exercise.job_experience_id.to_i == job_experience.id }
              = job_experience.display_text
    .divider1
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Factual Information Form:
        %select.span8{name: "exercise[defined_form_id]" }
          - @defined_forms.each do |defined_form|
            %option{ value: defined_form.id, selected: (@exercise.defined_form_id.to_s == defined_form.id.to_s) }
              = defined_form.name
    .divider1  

    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Enter Cover Letter Content:
        .clr
        .divider1
        = f.text_area :cover_letter, rows: 10, placeholder: "#{@exercise.cover_letter}", class: "span16"
      .clr
    .divider2
    %input{ class: "btn pull-right btn-info big-text big font-bold", type: "Submit", value: "Proceed" }
    .clr

  = render :partial => "shared/report_configuration"
  .clr
  .divider1
