.container
  .page-title
    Select Behaviors
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"
  = form_for @exercise, as: :exercise, url: select_competencies_company_oac_exercise_path(@company.id, @exercise.id), html: { method: :put } do |f|
    .assessments-list
      .list-snippet-titles.extra-medium-text.clearfix
        .span5.first.bold
          Competencies
        - @exercise_tools.each do |exercise_tool|
          .span3.text-center.bold
            = exercise_tool.tool.display_name
        .span3
          Weightage
        .span3
          From Bucket
        .span3
          To Bucket      
        .divider3          
      %ul
        - @competencies.sort_by{|competency| competency.modules.size }.reverse.each do |competency|
          %li.list-snippet.border-bottom-grayLighter.medium-text{ class: (@non_selected_competencies.include?(competency) ? "alert alert-error" : "") }
            .span5.first
              = competency.name
            - @exercise_tools.each_with_index do |exercise_tool, index|
              - exercise_tool.competency_configuration ||= {}
              - checked = exercise_tool.competency_configuration.keys.map(&:to_i).include?(competency.id.to_i)
              = render :partial => "competency_configuration", locals: { competency: competency, exercise_tool: exercise_tool }
              - if competency.modules.include?(exercise_tool.tool.name)
                %label.span3.text-center
                  %input{:type => "checkbox", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][enabled]", value: 1, checked: checked}
              - else
                %label.span3.text-center
                  = "-"    
            - @exercise.competency_configuration ||= {}
            - @exercise.competency_configuration[competency.id.to_s] ||= {}
            - @exercise.competency_configuration[competency.id.to_s][:desired_range] ||= {}
            - selected = @exercise.competency_configuration[competency.id.to_s][:desired_range][:from_bucket] || @super_competency_score_buckets.map(&:id).min
            %input.span3{  type: "number", max: 1, min: 0, step: 0.01, name: "exercise[competency_configuration][#{competency.id}][weightage]", value: (@exercise.competency_configuration[competency.id.to_s][:weightage] || 1) }
            %select.span3{ name: "exercise[competency_configuration][#{competency.id}][desired_range][from_bucket]" }
              - @super_competency_score_buckets.each do |norm_bucket|
                %option{ value: norm_bucket.id, selected: norm_bucket.id == selected.to_i }
                  = norm_bucket.name
            - selected = @exercise.competency_configuration[competency.id.to_s][:desired_range][:to_bucket] || @super_competency_score_buckets.map(&:id).max
            %select.span3{ name: "exercise[competency_configuration][#{competency.id}][desired_range][to_bucket]" }
              - @super_competency_score_buckets.each do |norm_bucket|
                %option{ value: norm_bucket.id, selected: norm_bucket.id == selected.to_i }
                  = norm_bucket.name
            .clr
            .divider1
    .divider2
    %input.pull-right.btn.btn-info.big-text.big.font-bold{ type: "submit", value: "Proceed" }
    .clr

