.container
  .page-title
    Select Super Competencies
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"
  = form_for @exercise, as: :exercise, url: select_super_competencies_company_oac_exercise_path(@company.id, @exercise.id), html: { method: :put } do |f|
    .assessments-list
      .list-snippet-titles.extra-medium-text.clearfix
        .span6.first.bold
          Select Competencies
        .divider3          
      %ul
        - @exercise.super_competency_configuration ||= {}
        - @super_competencies.sort_by{|super_competency| super_competency.modules.size }.reverse.each do |super_competency|
          - checked = @exercise.super_competency_configuration.keys.map(&:to_i).include?(super_competency.id.to_i)
          - @exercise.super_competency_configuration[super_competency.id.to_s] ||= {}
          %li.list-snippet.border-bottom-grayLighter.medium-text
            %input.span2{:type => "hidden", name: "exercise[super_competency_configuration][#{super_competency.id}][name]", value: super_competency.name}
            %label.span6.first
              %input.span2{:type => "checkbox", name: "exercise[super_competency_configuration][#{super_competency.id}][enabled]", value: 1, checked: checked}
              &nbsp;
              = "#{super_competency.name}"
            %input{:type => "hidden", name: "exercise[super_competency_configuration][#{super_competency.id}][name]", value: super_competency.name}
            - @exercise.super_competency_configuration[super_competency.id.to_s][:desired_range] ||= {}
            - selected = @exercise.super_competency_configuration[super_competency.id.to_s][:desired_range][:from_bucket] || @super_competency_score_buckets.map(&:id).min
            %select.span4{ name: "exercise[super_competency_configuration][#{super_competency.id}][desired_range][from_bucket]" }
              - @super_competency_score_buckets.each do |norm_bucket|
                %option{ value: norm_bucket.id, selected: norm_bucket.id == selected.to_i }
                  = norm_bucket.name
            - selected = @exercise.super_competency_configuration[super_competency.id.to_s][:desired_range][:to_bucket] || @super_competency_score_buckets.map(&:id).max
            %select.span4{ name: "exercise[super_competency_configuration][#{super_competency.id}][desired_range][to_bucket]" }
              - @super_competency_score_buckets.each do |norm_bucket|
                %option{ value: norm_bucket.id, selected: norm_bucket.id == selected.to_i }
                  = norm_bucket.name
            %input.span4{ name: "exercise[super_competency_configuration][#{super_competency.id}][weightage]", placeholder: "Weightage", value: (@exercise.super_competency_configuration[super_competency.id.to_s][:weightage] || 1)}
            %textarea.span4{ name: "exercise[super_competency_configuration][#{super_competency.id}][definition]", placeholder: "Definition", rows: 5}
              = @exercise.super_competency_configuration[super_competency.id.to_s][:definition] || super_competency.description
            .clr
            .divider1
        .clr
        .divider1
    .divider2
    %input.pull-right.btn.btn-info.big-text.big.font-bold{ type: "submit", value: "Proceed" }
    .clr

