= content_for :stylesheets do
  = stylesheet_link_tag 'recruiters/jobs'

- content_for :recruiter_title do
  .recruiter_title
    .content
      .main
        Job Preview
    .content
      .divider1
      .medium_text
        Your job has not been posted yet. Take a look at the information you entered.
      .divider1
- content_for :sidebar do
  .job_flow_lhs
    %ul
      - section_matched = false
      - Rails.application.config.recruiters[:job_posting_sections].each_with_index do |(section, title), index|
        %li{:class => section == @section ? (section_matched = true; "active") : (section_matched ? "" : "done")}
          #{ index + 1 }. #{ title }
  -#
    .job_flow_lhs
      %ul
        %li.done
          1. Job Description
        %li.active
          2. Candidate Requirement
        %li
          3. Candidate Preference
        %li
          4. Compensation &amp; Logistics
        %li
          5. Miscellaneous
        %li
          6. Contact Details
        %li
          7. Preview
  = render :partial => "recruiters/shared/help_block"

.rec_rhs
  %form.form-horizontal

    .form-actions.yellow_bg.margin_top
      .span8.first.medium_text
        If everything looks okay, scroll down to bottom and click on 
        %strong
          "Post Job" 
        to post the job.
      %button.pull-right{:class => "btn btn-info offset1", :type => "button"}
        %strong Post Job
      
      .clr

    
    .preview
      .heading.gray_bg
        Job Description
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Job Title
        .description.span10
          = @job.other["job_title"]
          -# Mahindra Satyam IT Job at Hyderabad, Bangalore, Pune: Technical Lead
      .section  
        .medium_text.text_right.span5
          %strong Functional Area of this Role
        .description.span10
          Legal
      .section  
        .medium_text.text_right.span5
          %strong Job Profile
        .description.span10
          Managerial
      .section  
        .medium_text.text_right.span5
          %strong Number of Openings
        .description.span10
          1
      .section  
        .medium_text.text_right.span5
          %strong Job Location
        .description.span10
          .highlight_badge.span
            Pune
          .highlight_badge.span
            Mumbai

      .heading.gray_bg
        Job Requirements
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Years of Work Experience
        .description.span10
          2-6 yrs of Experience
      .section  
        .medium_text.text_right.span5
          %strong Qualifications
        .description.span10
          B. Tech in  IT 
      .section  
        .medium_text.text_right.span5
          %strong Must Have Skills
        .description.span10
          - 2.times do
            .highlight_badge.span
              Bookkeeping - 2 yrs
      .section  
        .medium_text.text_right.span5
          %strong Nice to have Skills
        .description.span10
          - 2.times do
            .highlight_badge.span
              Bookkeeping
      .section  
        .medium_text.text_right.span5
          %strong Job Description
        .description.span10
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.

      .heading.gray_bg
        Hiring Preferences
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Industries
        .description.span10
          - 2.times do
            .highlight_badge
              Advertising, Public Relations, Market Research, Events
      .section  
        .medium_text.text_right.span5
          %strong Locations
        .description.span10
          .highlight_badge.span
            Pune
          .highlight_badge.span
            Mumbai
      .section  
        .medium_text.text_right.span5
          %strong Communication Skills
        .description.span10
          .span3
            Spoken English
          .span3
            jst Implmnt stars,css later
          .span3
            Average
          .clr
          .span3
            Written English
          .span3
            jst Implmnt stars,css later
          .span3
            Excellent
      .section  
        .medium_text.text_right.span5
          %strong Behavioral Traits
        .description.span10
          -3.times do
            .highlight_badge.span
              Probleme solving
      .section  
        .medium_text.text_right.span5
          %strong Gender
        .description.span10
          Male
      .section  
        .medium_text.text_right.span5
          %strong Marital Status
        .description.span10
          No Preference 

      .heading.gray_bg
        Compensation &amp; Logistics
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Type of Employment
        .description.span10
          .highlight_badge.span
            Part time 
      .section  
        .medium_text.text_right.span5
          %strong Annual Salary
        .description.span10
          Rs. xy to yz in Lakhs/Year 
          .faded_light
            Do not disclose salary to candidates
      .section  
        .medium_text.text_right.span5
          %strong Perks Offered
        .description.span10
          - 3.times do
            .highlight_badge.span8.first
              Relocation Assistance 
          .highlight_badge.span8.first
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
      .section  
        .medium_text.text_right.span5
          %strong Shift Timings
        .description.span10
          - 3.times do
            .highlight_badge.span
              Day shift
      .section  
        .medium_text.text_right.span5
          %strong Weekly Offs on
        .description.span10
          .highlight_badge.span
            Saturday
          .highlight_badge.span
            Sunday
      .section  
        .medium_text.text_right.span5
          %strong Additional Information
        .description.span10
          - 2.times do
            .highlight_badge.span8.first
              Involves Travel
         

      .heading.gray_bg
        Additional Details
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Application Instructions
        .description.span10
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      .section  
        .medium_text.text_right.span5
          %strong Are there specific companies where your required candidates would be working currently?
        .description.span10
          ABC Corporation, XYZ Limited, YNL.com
      .section  
        .medium_text.text_right.span5
          %strong Are there other job profiles such candidates have in the industry?
        .description.span10
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper  dignissim
      .section  
        .medium_text.text_right.span5
          %strong Keywords or buzzwords that such candidates write on their profiles?
        .description.span10
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper  dignissim
      .section  
        .medium_text.text_right.span5
          %strong Are there any kind of people that you do not want to hire?
        .description.span10
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper  dignissim

      .heading.gray_bg
        Recruiter Details
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Company Name    
        .description.span10
          XYZ Corporation
      .section  
        .medium_text.text_right.span5
          %strong About Company    
        .description.span10
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      .section  
        .medium_text.text_right.span5
          %strong Company  Website    
        .description.span10
          XYZ@gmail.com
      .section  
        .medium_text.text_right.span5
          %strong Location    
        .description.span10
          Pune
      .section  
        .medium_text.text_right.span5
          %strong Address    
        .description.span10
          Lorem ipsum dolor sit amet,

      .heading.gray_bg
        Recruiter Contact Details
        .pull-right
          %a{:href => "#", :title => "Edit this section"}
            Edit
      .section  
        .medium_text.text_right.span5
          %strong Job ID (Internal)    
        .description.span10
          ID-12345678
      .section  
        .medium_text.text_right.span5
          %strong Application URL (if any)    
        .description.span10
          Lorem ipsum dolor sit amet, consectetur
      .section  
        .medium_text.text_right.span5
          %strong Hiring Manager Name    
        .description.span10
          = current_user.name
      .section  
        .medium_text.text_right.span5
          %strong Phone Number    
        .description.span10
          = current_user.phone
      .section  
        .medium_text.text_right.span5
          %strong Email id    
        .description.span10
          = current_user.email
    .form-actions
      %a.pull-left{:class => "", :href => "#"}
        Previous
      %button.pull-right{:class => "btn btn-info offset1", :type => "button"}
        %strong Post Job
      %a.pull-right{:class => "", :href => "#"}
        %strong save and continue later
      .clr




























  


























 
































