.usage
  %b.extra-medium-text
    Add Subscriptions in Account: #{@child.id} - #{@child.name}
  .divider2  
  %b.extra-medium-text
    Unassigned Subscriptions: #{@company.unassigned_invitations_count}
  .divider2  
  .span12
    = form_tag(url: assign_subscriptions_company_path(@company.id, @child.id), method: :post) do |f|
      .span12
        .medium-text
          = label_tag "Number of subscriptions"
        = text_field_tag :no_of_invitations, "", class: "fw"
      .clr  
      .divider1
      .pull-right
        = submit_tag "Assign", class: "btn btn-warning"
      .clr
