%ul.competency-list.pull-left
  - competency_scores.each do |competency_name, competency_score|
    - scale_values = get_scale_calculations_for_competency(competency_score, @company_norm_buckets)
    %li
      - klass = (scale_values[:scored_weight] >= scale_values[:from_norm_bucket_weight]) ? "favorable" : "less_favorable"    
      .span1.first.hexagon-icon{:class =>  klass}
      -#toggle class".less_favorable" and "favorable"
      .competency-name.span12.line-height-normal.no-border.first
        = competency_name
      .scale.span8.pull-right.overview_scale
        .scale_inner
          - locals_hash = { scale_values: scale_values }
          - section_value.each do |section|
            - locals = Hash[section["locals"].map { |key, value| [key.to_sym, locals_hash[key.to_sym]] }]
            = render :partial => section["path"], :locals => locals.merge(locals_hash)

          .line{ style: "left: #{scale_values[:scale_offset]}%; width: #{scale_values[:scale_width] }%" }
          .marker_container
            - @company_norm_buckets.each do |company_norm_bucket|
              .marker{ class: company_norm_bucket.norm_bucket_ids.include?(competency_score[:grade_uid]) ? "active #{klass}" : "#{klass}", style: "width: #{scale_values[:marker_width]}%"}
                %span
                  = company_norm_bucket.norm_bucket_ids.include?(competency_score[:grade_uid]) ? company_norm_bucket.name : ""
            .clr
      .clr
.clr
