%ul.competency-list
  - scale_values = get_scale_and_marker_width(@company_norm_buckets)
  - competency_scores.each do |competency_name, competency_score|
    - klass = "favorable"
    %li
      .competency-name.span14.line-height-normal.no-border
        = competency_name
      .scale.overview_scale.span12.pull-right
        .scale_inner{ style: "margin-right: #{ -scale_values[:scale_offset] }%" }
          .line{ style: "left: #{ scale_values[:scale_offset] }%; width: #{scale_values[:scale_width] }%" }
          .marker_container
            - @company_norm_buckets.each do |company_norm_bucket|
              .marker{ class: company_norm_bucket.norm_bucket_ids.include?(competency_score[:grade_uid]) ? "active #{klass}" : "#{klass}", style: "width: #{scale_values[:marker_width]}%"}
                %span
                  = company_norm_bucket.norm_bucket_ids.include?(competency_score[:grade_uid]) ? company_norm_bucket.name : ""
            .clr
      .clr
.clr
