.overview-title
  .pull-left.text-left
    - section_value.each do |section|
      - locals = Hash[section["locals"].map { |key, value| [key.to_sym, competency_scores_hash[key.to_sym]] }]
      = render :partial => section["path"], :locals => locals
    .clr
  .scale.span12.pull-right
    - range_offset = 100 / (@company_norm_buckets.size * 2) 
    - range_width = 100 - (100/@company_norm_buckets.size) 
    - line_width = 100 - (100/(@company_norm_buckets.size - 1)) 
    - marker_width = 100 / @company_norm_buckets.size 
    - range_right_offset = marker_width / 2 
    .scale_inner{ style: "margin-right: #{ -range_right_offset }%" }

      .line{ style: "left: #{ range_offset }%; width: #{line_width }%" }
      .marker_container
        - @company_norm_buckets.each do |norm_bucket|
          .marker{ style: "width: #{ marker_width }%" }
            %span
              - if norm_bucket.name.split(" ").size == 1
                %br/
              = norm_bucket.name.split(" ").join("<br/>").html_safe
            .arrow_box
              .arrow
          .marker_info{ style: "left: #{ range_offset / 2 }%; width: #{ line_width }%" }
            = norm_bucket.description
        .clr
  .clr
  
.divider1
