.overview-title
  .pull-left.text-left
    - section_value.each do |section|
      - locals = Hash[section["locals"].map { |key, value| [key.to_sym, competency_scores_hash[key.to_sym]] }]
      = render :partial => section["path"], :locals => locals
    .clr
  .scale.span12.pull-right
    - scale_values = get_scale_and_marker_width(@company_norm_buckets)
    .scale_inner{ style: "margin-right: #{ -scale_values[:scale_offset] }%" }

      .line{ style: "left: #{scale_values[:scale_offset]}%; width: #{scale_values[:scale_width]}%" }
      .marker_container
        - @company_norm_buckets.each do |norm_bucket|
          .marker{ style: "width: #{scale_values[:marker_width]}%" }
            %span
              - if norm_bucket.name.split(" ").size == 1
                %br/
              = norm_bucket.name.split(" ").join("<br/>").html_safe
            .arrow_box
              .arrow
          .marker_info{ style: "left: #{scale_values[:scale_offset]/ 2 }%; width: #{scale_values[:scale_width]}%" }
            = norm_bucket.description
        .clr
  .clr
  
.divider1
