- content_for :stylesheets do
  = wicked_pdf_stylesheet_link_tag "shared/reports/benchmarks/factor_benchmark"

.bargraph
  %ul.bars.clearfix
    - @norm_buckets.each_with_index do |norm_bucket,index|
      %li{ class: "bar#{index+1}", style: "height: #{benchmarks[:scores][norm_bucket.name][:score]}%;background: #{benchmarks[:scores][norm_bucket.name][:color]}"}
  %ul.label
    - @norm_buckets.each_with_index do |norm_bucket,index|
      %li #{norm_bucket.name}
  %ul.y-axis
    - 6.times do |index|
      %li 
        #{100 - index *20}%
    %li.units

  .graph_title
    Score
