- if @report.report_data[:competency360_competencies_visual_data_points]
  .classic_report
    .scores_competencies_graph.descending_order.descending_overall_score
      .traits_under_graph
        .divider2
        .large-text.bold
          Average Overall Score
        .clr
        .divider1
        .graph_container
          .left_sec.pull-left
            .divider2
            %ul
              %li
                .span5.large-text.first.trait_title
                  360&#176 Score
                  
                .stakeholder_rating.medium-text.pull-left
                  = competency_scores[:average_score_excluding_self][:points] || "-"
                .clr

          .right_sec.span22.pull-right
            .classic_competency_graph
              .classic_competency_graph_scale
                .block.pull-left
                  = @competency_graph_buckets.first.min_val
                - @competency_graph_buckets[1..@competency_graph_buckets.length-1].each do |competency_graph_bucket|
                  .block.pull-left{:style=>"width: #{870/(@competency_graph_buckets.size-1)}px; text-align: right"}
                    = competency_graph_bucket.min_val
                .clr
              .graph
                .graph_content
                  - old_min = @competency_graph_buckets.first.min_val
                  - old_max = @competency_graph_buckets.last.max_val
                  - if competency_scores[:average_score_excluding_self][:points]
                    - percent_360 = convertToRange(old_min, old_max, 0, 100, competency_scores[:average_score_excluding_self][:points])
                    - percent_360 = percent_360 == 0 ? 5 : percent_360
                  - else
                    - percent_360 = 0
                  .divider1
                  .descending_graph_bar.max{:style => "width: #{percent_360}%; background: #a119a6"}
                  .divider2
          .clr
