#overview.section01
  .overall_report.container
    .divider6
    .user-name.pull-left
    .final-score.pull-right
      360&#176; Profiling Group Report
    .clr
    .divider1
    - if @report.report_data[:mrf_report_show_completion_status]
      - completed_count = 0
      - sent_count = 0
      - Hash[@report.report_data[:feedback_stats]].each do |role, status|
        - completed_count += status[:completed]
        - sent_count += status[:sent]
      .completion-status.pull-right
        Completion Status: #{completed_count} out of #{sent_count}
      .clr
    .divider3
    .extra-medium-text
      360&#176; Profiling: 
      = @report.report_data[:assessment][:name]
      .divider1
      Report Generated On: 
      = hdate(@report.report_data[:generated_at])
      .divider1
      Candidates Included: 
      = @report.report_data[:total_candidates]
    .divider2
