- job = job_template_struct
= form_tag recruiters_jobs_path(:id => @job.uuid, :section => @section), :method => :put, "data-job_requirements" => true, :class => "form-horizontal margin", "data-job_posting_form" => true do
  = hidden_field_tag "continue_later", false
  .control-group
    %label.control-label
      Years of Work Experience* Required
    .controls
      %label.radio.span4
        %input#optionsRadios1{:checked => @job.work_experience.to_i == 1, :name => "work_experience", :type => "radio", :value => 1}
          Experienced
      %label.radio.span4
        %input#optionsRadios2{:checked => @job.work_experience.to_i == 2, :name => "work_experience", :type => "radio", :value => 2}
          Fresher
      .clr
      .exp_slider
        %input{:name => "workex", :type => "slider", :data => {"work-ex-level" => true}}
  .control-group
    %label.control-label
      Qualification - Preffered 
    .controls
      = select_tag("qualification[degree_diploma][]", options_from_collection_for_select(@master_data[:degree_diploma], "id", "name"), :prompt => "Select Degree/Diploma", :class => "span5 first fl_none", "data-preselect" => @job.try(:qualification).try(:degree_diploma).try(:first))
      = select_tag("qualification[specialization][]", options_from_collection_for_select(@master_data[:specializations], "id", "name"), :prompt => "Select Specialization", :class => "span4", "data-preselect" => @job.try(:qualification).try(:specialization).try(:first))
  .control-group
    %label.control-label
      Must Have Skills* 
    .controls
      = select_tag("job_skill_must_skill_id", options_from_collection_for_select(@master_data[:skills], "id", "name"), :prompt => "Select a Skills", :class => "span5 first fl_none", "data-must_skill_degree_diploma" => true, "data-preselect" => @job.try(:skill).try(:must).try(:skill_id).try(:first))
      = select_tag("job_skill_must_exp", skill_experience_options, :prompt => "Select Experience", :class => "span4", "data-must_skill_pseudo_select" => true, "data-preselect" => @job.try(:skill).try(:must).try(:experience).try(:first))
      %div{:data => {"preferred-must_skill-container" => true}}
  .control-group
    %label.control-label
      Nice to Have Skills
    .controls
      = select_tag("job_skill_nice_skill_id", options_from_collection_for_select(@master_data[:skills], "id", "name"), :prompt => "Select a Skills", :class => "span9 first fl_none", "data-nice_skill_pseudo_select" => true, "data-preselect" => @job.try(:skill).try(:nice).try(:skill_id).try(:first))
      %div{:data => {"preferred-nice_skill-container" => true}}

  .control-group
    %label.control-label
      Job Description
    .controls
      = text_area_tag("description", @job.try(:description), :placeholder => "Type job roles, responsibilities and any additional details here", :class => "span9 first", :rows => "4")

  .form-actions
    %a.pull-left{:class => "", :href => recruiters_jobs_path(:id => @job.uuid, :section => @prev_section)}
      Previous
    %button.pull-right{:class => "btn btn-info offset1", :type => "submit"}
      %strong Next Step
    %a.pull-right{:class => "", :href => "#", :data => {"continue_later" => true}}
      %strong save and continue later
    .clr

%script{id: "must_skill_display_template", type: "text/x-template"}
  = render :partial => "recruiters/jobs/edit/job_requirements/skills_snippet_must", locals: {skills_snippet: skill_template_struct}
%script{id: "nice_skill_display_template", type: "text/x-template"}
  = render :partial => "recruiters/jobs/edit/job_requirements/skills_snippet_nice", locals: {skills_snippet: skill_template_struct}