.statistic
  = render :partial => "shared/sub-nav"
  .inn.first
    .page-title
      Usage
  .inn.gray-gradient
    .stat_graph
      .span5
        .graph
          - total = @company.subscription.assessments_purchased rescue 0
          - sent_percentage = 0
          - completed_percentage = 0
          - if total != 0
            - sent_percentage = ((@company.assessment_statistics[:assessments_sent].to_i * 100) / total)
            - completed_percentage = ((@company.assessment_statistics[:assessments_completed].to_i * 100) / total)
          .column.darkBlue-bg{:style => "width: #{sent_percentage}%"}
          .column.lightBlue-bg{:style => "width: #{completed_percentage}%"}
          //.column.orange-bg{:style => "width: 20%"}
      .span13
        .large-text
          %b Tests
        .divider1
        .span6.first
          %span.icon-stop.darkBlue-bg
          %span Total Tests Sent:  
          %b.large-text
            #{@company.assessment_statistics[:assessments_sent].to_i}
        .span
          %span.icon-stop.lightBlue-bg
          %span Total Tests Answered:  
          %b.large-text
            #{@company.assessment_statistics[:assessments_completed].to_i}
          //%br/
          //%br/
          //%span.icon-stop.orange-bg 
          //%span Total Tests Remaining:  
          //%span.large-text
          //153
      .clr
    .usage_list
      .divider1
      .head
        .span4
          Subscriptions
        .span3
          Tests Bought
        .span3
          Tests Sent
        .span3
          Tests Answered
        .span3
          Activated Date        
        .span3
          Valid Till
        .span
          Status
        .clr
      .divider1
      %ul
        - 3.times do
          %li
            .span4
              Subscription 1
            .span3
              %b 34
            .span3
              455
            .span3
              55
            .span3
              %b 28/12/2014
            .span3
              %b 28/12/2014
            .span.alert-text
              Active
              //toggle btween :".success-text" and ".alert-text"
            .clr


