.statistic
  = render :partial => "shared/sub-nav"
  .inn.first
    .page-title
      Usage
  .inn.gray-gradient
    .stat_graph
      .span5
        .graph
          - total = @company.assessment_statistics[:assessments_purchased]
          - assessments_sent = @company.assessment_statistics[:assessments_sent]
          - assessments_completed = @company.assessment_statistics[:assessments_completed]
          - sent_percentage = 0
          - completed_percentage = 0
          - if total != 0 && assessments_sent != 0
            - sent_percentage = ((assessments_sent.to_i * 100) / total)
            - completed_percentage = ((assessments_completed.to_i * 100) / assessments_sent)
          .column.darkBlue-bg{:style => "width: 100%"}
          .column.lightBlue-bg{:style => "width: #{completed_percentage}%"}
          //.column.orange-bg{:style => "width: 20%"}
      .span13
        .large-text
          %b Tests
        .divider1
        .span6.first
          %span.icon-stop.darkBlue-bg
          %span Total Tests Sent:  
          %b.large-text
            #{@company.assessment_statistics[:assessments_sent].to_i}
        .span
          %span.icon-stop.lightBlue-bg
          %span Total Tests Answered:  
          %b.large-text
            #{@company.assessment_statistics[:assessments_completed].to_i}
          //%br/
          //%br/
          //%span.icon-stop.orange-bg 
          //%span Total Tests Remaining:  
          //%span.large-text
          //153
      .clr
    .usage_list
      .divider1
      .head
        .span4
          Subscriptions
        .span3
          Tests Bought
        .span3
          Tests Sent
        .span3
          Tests Answered
        .span3
          Activated Date        
        .span3
          Valid Till
        .span
          Status
        .clr
      .divider1
      %ul
        - @subscriptions.each_with_index do |subscription, index|
          %li
            .span4
              Subscription #{@subscriptions.length - index}
            .span3
              %b #{subscription.assessments_purchased}
            .span3
              #{subscription.assessments_sent}
            .span3
              #{subscription.assessments_completed}
            .span3
              - valid_from = Date.parse(subscription.valid_from)
              %b #{valid_from.strftime("%d/%m/%Y")}
            .span3
              - valid_to = Date.parse(subscription.valid_to)
              %b #{valid_to.strftime("%d/%m/%Y")}
            .span{ class: (valid_to >= Date.today) ? "success-text" : "alert-text" }
              #{(valid_to >= Date.today) ? "Active" : "Expired"}
              //toggle btween :".success-text" and ".alert-text"
            .clr
            
    .pull-right
      = paginate @subscriptions            
    .clr  


