%table
  %tr
    %th Id
    %th Body
    %th Trait ID
    %th Active
    %th Edit
  - items.each do |item|
    %tr
      %td{ width: "5%" }
        = link_to item.id, functional_item_path(item.id)
      %td{ width: "30%" }
        = link_to item.body, functional_item_path(item.id)
      %td{ width: "10%" }
        = item.trait_id
      %td{ width: "10%" }
        = item.active
      %td{ width: "20%" }
        = link_to "Edit", edit_functional_item_path(item.id)

