%input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][id]", value: exercise_tool.id}
%input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][name]", value: competency.name}
%input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][weightage]", value: (exercise_tool.competency_configuration[competency.id.to_s][:weightage] rescue 1)}
%input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][desired_range][from_bucket]", value: (exercise_tool.competency_configuration[competency.id.to_s][:desired_range][:from_bucket] rescue @norm_buckets.map(&:id).min)}
%input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][desired_range][to_bucket]", value: (exercise_tool.competency_configuration[competency.id.to_s][:desired_range][:to_bucket] rescue @norm_buckets.map(&:id).max)}
- competency.factors.each do |factor|
  - factor = Vger::Resources::Suitability::Factor.new(factor["factor"])
  %input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][traits][#{factor.id}][weightage]", value: (exercise_tool.competency_configuration[competency.id.to_s][:traits][factor.id.to_s][:weightage] rescue 1)}
  %input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][traits][#{factor.id}][name]", value: factor.name}
  %input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][traits][#{factor.id}][desired_range][from_bucket]", value: (exercise_tool.competency_configuration[competency.id.to_s][:traits][factor.id.to_s][:desired_range][:from_bucket] rescue @norm_buckets.map(&:id).min)}
  %input{:type => "hidden", name: "exercise[exercise_tools_attributes][#{exercise_tool.id}][competency_configuration][#{competency.id}][traits][#{factor.id}][desired_range][to_bucket]", value: (exercise_tool.competency_configuration[competency.id.to_s][:traits][factor.id.to_s][:desired_range][:to_bucket] rescue @norm_buckets.map(&:id).max)}
