.container
  .page-title
    Select Tools
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"

  = form_for @exercise, as: :exercise, url: select_tools_company_oac_exercises_path(@company.id) do |f|
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Enter Assessment Center Title
        = f.text_field :name, placeholder: "Assessment Center Title", class: "span8"
      .clr
      .divider2

      %ul.clearfix
        - @tools.each do |tool|
          %li.span10
            %label.big-text.default.span5
              %input{:type=>"checkbox"}
              = tool.name
            %select.span4
              -5.times do |index|
                %option
                  #{index}
            .clr
            .divider1
      
    
    .divider2
    %btn.pull-right.btn.btn-info.big-text.big.font-bold
      Proceed
    .clr

