.container
  .page-title
    Select Tools
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"

  = form_for @exercise, as: :exercise, url: select_tools_company_oac_exercises_path(@company.id) do |f|
    .span22.margin-auto
      .control-group.span20
        %label.big-text.default.span8
          Enter Assessment Center Title
        = f.text_field :name, placeholder: "Assessment Center Title", class: "span8"
      .clr
      .divider2

      %ul.clearfix
        - @tools.each_with_index do |tool, index|
          %input{ type: "hidden", name: "exercise[exercise_tools_attributes][#{index}][assessment_type]", value: tool.assessment_class }
          %input{ type: "hidden", name: "exercise[exercise_tools_attributes][#{index}][user_exercise_type]", value: tool.user_exercise_type }
          %li.span10
            %label.big-text.default.span5
              %input{:type=>"checkbox", name: "exercise[exercise_tools_attributes][#{index}][tool_id]", value: tool.id}
              = tool.name
            %select.span4{ name: "exercise[exercise_tools_attributes][#{index}][tool_order]" }
              - @tools.size.times do |index|
                %option{ value: index+1 }
                  #{index+1}
            .clr
            .divider1
      
    
    .divider2
    %input{ class: "btn pull-right btn-info big-text big font-bold", type: "Submit", value: "Proceed" }
    .clr

