- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
.container
  .page-title
    Set Weightage
  .divider1
  = render :partial => "shared/oac/oac-creation-sub-nav"
  = form_for @exercise, as: :exercise, url: set_weightage_company_oac_exercise_path(@company.id, @exercise.id), html: { method: :put } do |f|
    .weightage-container.clearfix
      .tabs.span5.extra-medium-text
        - @exercise_tools.each_with_index do |exercise_tool, index|
          %a{:href => "#", :title => exercise_tool.tool.name.titleize, class: "box#{index+1}_tab #{(index == 0 ? 'active':'')}"}
            = exercise_tool.tool.name.titleize
      .boxes.span25.pull-right.first
        - @exercise_tools.each_with_index do |exercise_tool, index|
          %div{ class: "box#{index+1} #{(index==0 ? 'show': '')}" }
            = render :partial => "set_competency_traits_weightage", :locals => {:exercise_tool => exercise_tool}

    .divider2
    %input.pull-right.btn.btn-info.big-text.big.font-bold{ type: "submit", value: "Proceed" }
  = javascript_include_tag "oac/set_weightage_oac"
