.gray-dark.margin-auto.span16
  .test-text-to-send.medium-text
    .extra-medium-text.span2.first
      To
    .massage-body.italic.span13
      = @candidate.name
    .clr
    .divider1
    .extra-medium-text.span2.first
      Subject
    .massage-body.italic.span13
      #{@candidate.name}, you have not answered #{@company.name}'s Assessment.
    .clr
    .divider1
    .extra-medium-text.span2.first
      Message
    .massage-body.italic.span13
      %p
        Hello #{@candidate.name},
      %p
        This is a reminder email.
        %b #{@company.name}
        has arranged for you to complete a Jombay Questionaire.
      %p
        To proceed, please click the weblink listed below or visit it by copy-pasting the URL into your web browser's address bar.
      %p
        %b
          URL: &lt;candidate specific url&gt;
      %p
        If you face any technical difficulties or have any queries please feel free to reach us at
        %a{:href=>"mailto:prakhar@jombay.com", :title=>"For any queries Mail to Prakhar"}
          prakhar@jombay.com.
        %br
        You can also call us at
        %b+91 87960 29607
      %p
        Best Regards,
        %br/
        - if ["SuperAdmin"].include? current_user.type
          Prakhar Srivastava
          %br
          Jombay
        - else
          = current_user.name
          %br/
          #{@company.name}
        %br/
    .clr

    = form_for @survey, as: :survey, url: controller.send_reminder_company_retention_survey_path(@company.id, @survey.id), method: :put, html: { class: 'pull-right span' } do |f|
      %input{:type => "hidden", name: "candidate_survey_id", :value => @candidate_survey.id}
      %input.btn.btn-warning.large-text{:type => "submit", :value => "Send"}
    %a.pull-right.line-height3{:href=> request.env["HTTP_REFERER"], :title => "cancel"}
      Cancel
    .clr
