.candidate-list
  .span15.page-title.first
    .divider1
    AID #{@survey.id} - #{@survey.name}
  %a.btn.btn-warning.pull-right.big-text.big.span{ href: add_candidates_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id]) }
    Send this survey
  %a.extra-medium-text.pull-right.line-height3{:href => new_company_retention_survey_path(:company_id => params[:company_id]), :title => "Click Here To Create Custom survey"}
    Create New Custom survey
  .clr
  .divider2
  = render :partial => "shared/retention/survey-sub-nav"
  .clr
  .padding-all2.border-warning.shifted-up1
    .filter-status.pull-right
      = form_for :search, url: candidates_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id]), method: :get, html: { id: "candidates_search_form" } do |f|
        - params[:search] ||= {}
        .medium-text.muted.line-height2.pull-left
          Show survey takers with Status
        %select.span3{name: "search[status]", onchange: "document.getElementById('candidates_search_form').submit();"}
          - test_status_options.each do |status,name|
            %option{ value: status, selected: (params[:search][:status] == status) }
              = name
        .clr
    .clr
    .divider2
    .list-snippet-titles.extra-medium-text.clearfix
      .span3.first
        = sort_link "ATID", candidates_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id]), :id, params[:search]

      .span8
        = sort_link "Survey Taker", candidates_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id]), :name, params[:search]
      .span9
        = sort_link "Survey Status", candidates_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id]), :status, params[:search]
      .clr
      .divider1
    - if @candidates.empty?
      .alert.medium-text
        - if params[:search].present?
          No results found!
        - else
          Survey not sent to any Candidates. To send this survey,
          %a{ href: add_candidates_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id]), title: "Send survey" } Click here
    - else
      %ul
        - @candidates.each do |candidate|
          - candidate_survey = @candidate_surveys.select{|x| x.candidate_id == candidate.id }.first
          - status = test_statuses[candidate_survey.status]
          - report = @reports[candidate_survey.id].to_a[0]
          %li.list-snippet.medium-text
            .divider1
            .span3.first
              %a{:href=> candidate_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=>"#{candidate.id}"} #{candidate.id}
            .span8.info-block
              %a{:href=> candidate_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=>"#{ h candidate.name}"}
                = h candidate.name
            .span9
              %a{:href=> candidate_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title=> "#{report.present? ? 'Complete' : 'Pending'}" }
                = status
                as of #{htime candidate_survey.updated_at} Hrs, #{hdate candidate_survey.updated_at}
            .span4
              - if report
                - if report.status == Vger::Resources::retention::Report::Status::UPLOADED
                  - url =  s3_report_company_retention_survey_path(:company_id => params[:company_id], :candidate_id => candidate.id, :report_id => report.id, :view_mode => "html")
                  %a{:href => url, :title => "View Report", target: "_blank"}
                    %i.icon-file{:style=>"font-size: 21px; line-height: 20px;"}
                    View Report
                - else
                  %i.icon-spinner.icon-spin
                  Generating report...
              - else
                - if candidate_survey.status == Vger::Resources::Retention::CandidateSurvey::Status::READY_FOR_SCORING
                  %i.icon-spinner.icon-spin
                  Generating report...
                - elsif candidate_survey.status == Vger::Resources::Retention::CandidateSurvey::Status::SCORED
                  = status
                - else
                  %a{:href => send_reminder_company_retention_survey_path(:company_id => params[:company_id], :id => params[:id], :candidate_id => candidate.id), :title => "Send Reminder"}
                    %i.icon-time
                    Send Reminder
            .clr
      .divider3
    .pull-right
      = render :partial => "shared/pagination", :locals => { :objects => @candidate_surveys}
    .clr
