.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag("jombay-logo.png")
      .big-text.gray-dark.padding-all1.pull-left
        = @report.report_hash[:candidate][:name][0..30]
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          %li
            %a{:href => "#overview"}
              Overview
          %li
            %a{:href => "#traits"}
              Traits
          %li
            %a{:href => "#scores"}
              Scores
          %li
            %a{:href => "#developement_guide"}
              Developement Guide
          %li
            %a{:href => "#manager_guideline"}
              Manager Guideline
          %li.right
        = link_to "Printable PDF", company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report.report_hash[:company][:id], :candidate_id => @report.report_hash[:candidate][:id], :custom_assessment_id => @report.report_hash[:assessment][:id], :id => @report.id, :format => "pdf", :view_mode => "pdf", :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "btn btn-warning span print-btn"
        .clr
- if @view_mode == "html"
  - if @report.report_hash[:enable_feedback]
    = link_to "Submit Feedback", company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report.report_hash[:company][:id], :candidate_id => @report.report_hash[:candidate][:id], :custom_assessment_id => @report.report_hash[:assessment][:id], :id => @report.id, :format => "html", :view_mode => "feedback", :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "submit-feedback btn btn-info"

.feedback-container
  #feedback
    .container
      .inner
        .pull-right
          .left
          .fields.pull-left
            - if @view_mode == "html"
              = link_to "Submit Feedback", company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report.report_hash[:company][:id], :candidate_id => @report.report_hash[:candidate][:id], :custom_assessment_id => @report.report_hash[:assessment][:id], :id => @report.id, :format => "html", :view_mode => "feedback", :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "submit-feedback btn btn-warning inverse"
            - if @view_mode == "feedback"
              .medium-text.color-warning.pull-left
                Report Feedback
              = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
                .pull-left
                  %label.pull-left Email ID
                  %input.span4{:type => "text"}
                  .clr
              = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
                %input.pull-left{:type => "text", :placeholder => "Enter Email ID to confirm feedback"}
              %input.btn.btn-warning.inverse.span{:type => "submit", :value => "Submit"}
              .clr
          .right
          .clr
        .clr
      .clr
.divider3
