- content_for :jquery do
  = wicked_pdf_javascript_include_tag "jquery"
  = wicked_pdf_javascript_include_tag "jquery_ujs"
.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag(asset_path("jombay-logo.png"))
      .big-text.gray-dark.padding-all1.pull-left{ title: @report.report_hash[:candidate][:name] }
        = @report.report_hash[:candidate][:name].truncate(25)
      .pull-right
        - section_value.each do |section|
          = render :partial => section["path"], locals: { section_value: section["children"] }
= wicked_pdf_javascript_include_tag 'common'
