- content_for :jquery do
  = wicked_pdf_javascript_include_tag "jquery"
  = wicked_pdf_javascript_include_tag "jquery_ujs"
.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag("#{Rails.application.config.action_controller.asset_host}/#{asset_path("jombay-logo.png")}")
      .big-text.gray-dark.padding-all1.pull-left{ title: @report.report_hash[:candidate][:name] }
        = @report.report_hash[:candidate][:name].truncate(28)
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          %li
            %a.scroll{:href => "#guidelines", :title => " Guide to giving Feedback "}
              Guide to giving Feedback      
          %li
            %a.scroll{:href => "#scores", :title => "Scores on Traits"}
              Scores on Traits
          %li.right
        .pull-left.feedback-email-form
          -# Toggel ".error" upon error - at above Line
          .divider1
            .error-message
              Your Email ID is needed to confirm feedback. Please enter it below & click Submit.
          = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
            .ie.pull-left
              %label.pull-left Email ID
              %input.span4{type: "text", :name => "feedback[email]", :id => "feedback_email"}
              .clr
          = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
            %input.pull-left{type: "text", :name => "feedback[email]", :placeholder => "Enter Email ID to confirm feedback", :id => "feedback_email"}

          %input.btn.btn-warning.inverse.span{:type => "submit", :value => "Submit"}
          .clr

.divider3
= wicked_pdf_javascript_include_tag 'common'  
