- content_for :jquery do
  = wicked_pdf_javascript_include_tag "jquery"
  = wicked_pdf_javascript_include_tag "jquery_ujs"
.header-container
  #header
    .container
      .logo.pull-left.pull-left
        = image_tag("#{Rails.application.config.action_controller.asset_host}/#{asset_path("jombay-logo.png")}")
      .big-text.gray-dark.padding-all1.pull-left{ title: @report.report_hash[:candidate][:name] }
        = @report.report_hash[:candidate][:name].truncate(30)
      .pull-right
        %ul#nav.clearfix.pull-left
          %li.left
          %li
            %a.scroll{:href => "#overview", :title => "Overview"}
              Overview
          %li
            %a.scroll{:href => "#traits", :title => "Traits Measured in this Assessment"}
              Traits
          %li
            %a.scroll{:href => "#scores", :title => "Scores of Traits measured in this Assessment"}
              Scores
          - if @report.report_hash[:enable_post_assessment_guidelines]    
            %li
              %a.scroll{:href => "#developement_guide", :title => "Development Guide for the Assessment Taker"}
                = @report.report_hash[:candidate_stage].to_sym == :candidate ? "Interview Guide" : "Development Guide"
            - if @report.report_hash[:candidate_stage].to_sym != :candidate && @report.report_hash[:guidelines_for_candidate_manager].present?    
              %li
                %a.scroll{:href => "#manager_guideline", :title => "Guidelines for Assessment Taker's Manager"}
                  Manager Guidelines
          %li.right
        = link_to "Printable PDF", company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report.report_hash[:company][:id], :candidate_id => @report.report_hash[:candidate][:id], :custom_assessment_id => @report.report_hash[:assessment][:id], :id => @report.id, :format => "pdf", :view_mode => "pdf", :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "btn btn-warning span print-btn"
        - if @report.report_hash[:assessment][:is_jombay_pearson_test]
          .span
            %img.pull-right{:src => "#{Rails.application.config.action_controller.asset_host}/#{asset_path("talent-lens.png")}"}
          .clr
- if @report.report_hash[:enable_feedback]
  .feedback-container
    #feedback
      .container
        .inner
          .pull-right
            .left
            .fields.pull-left
              - if @view_mode == "html"
                = link_to "Submit Feedback", company_custom_assessment_candidate_candidate_assessment_report_url(:company_id => @report.report_hash[:company][:id], :candidate_id => @report.report_hash[:candidate][:id], :custom_assessment_id => @report.report_hash[:assessment][:id], :id => @report.id, :format => "html", :view_mode => "feedback", :host => Rails.application.config.action_mailer.default_url_options[:host]), :class => "submit-feedback btn btn-warning inverse"
              - if @view_mode == "feedback"
                .medium-text.color-warning.pull-left
                  Report Feedback
                = surround '<!--[if IE]>'.html_safe, '<![endif]-->'.html_safe do
                  .pull-left
                    %label.pull-left Email ID
                    %input.span4{type: "text", :name => "feedback[email]", :id => "feedback_email"}
                    .clr
                = surround '<!--[if !IE]><!-->'.html_safe, '<!--<![endif]-->'.html_safe do
                  %input.pull-left{type: "text", :name => "feedback[email]", :placeholder => "Enter Email ID to confirm feedback", :id => "feedback_email"}
      
                %input.btn.btn-warning.inverse.span{:type => "submit", :value => "Submit"}
                .clr
            .right
            .clr
          .clr
        .clr
.divider3
= wicked_pdf_javascript_include_tag 'common'  
