.user-list
  .span13.page-title.first
    .divider1
    Exercise #{@exercise.id} - #{@exercise.name}
  %a.btn.btn-info.big.big-text.pull-right.span{:href => new_company_oac_exercise_path(@company.id), :title => "Click Here To Create new Assessment Center"}
    Create New Assessment Center
  %a.btn.btn-info.big.big-text.pull-right.span{:href=>add_candidates_company_oac_exercise_path(:company_id => params[:company_id], :id => params[:id]), :title=>"View All Candidates"}
    Add Candidates
  .clr
  = render :partial => "shared/oac/oac_assessment_sub_nav"
  .clr
  .padding-all2.border-warning.shifted-up1
    .list-snippet-titles.extra-medium-text.clearfix
      .span3.first
        ATID
      %div{ class: @company.subscription_mgmt ? 'span5' : 'span10' }
        Assessment Taker
      .span8
        Status
      .span4
        Action
      .clr
      .divider1
    %ul
      - @user_exercises.each do |user_exercise|
        %li.list-snippet.medium-text
          .divider1
          .span3.first
            %a{:href=> "", :title=>"User Id"} 
              =user_exercise.user.id
          .info-block{ class: @company.subscription_mgmt ? 'span5' : 'span10' }
            %a{:href=> candidate_company_oac_exercise_path(@company.id, @exercise.id, user_exercise.user_id), :title=>"View Details"}
              =user_exercise.user.name
          .span8
            %a{:href=> "", :title=> "Status" }
              = render :partial => "oac/exercises/user_exercises/user_status/#{user_exercise.status}", :locals => {:updated_at => user_exercise.updated_at}
          .span4
            %a{:href=> send_reminder_company_oac_exercise_url(@company.id, @exercise.id, user_exercise.user_id), :title=> "Send Reminder" }
              Send Reminder
          .clr
    .divider3
    .pull-right
      -# = render :partial => "shared/pagination", :locals => { :objects => @user_assessments}
    .clr
= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'
