%li
  .left_sec
    .caption
      #{trait_score[:trait][:name]}
    .divider2
    .content
      .trait_rating.max
        .left
          Maximum Rating
        .right
          = trait_score[:max_score_excluding_self][:bucket]            
        .clr

      .trait_rating.min
        .left
          Minimum Rating
        .right
          = trait_score[:min_score_excluding_self][:bucket]
        .clr

      .trait_rating.self
        .left
          Self Rating
        .right
          = trait_score[:average_score_self][:bucket]
        .clr

      .trait_rating.score
        .left
          Assessment Score
        .right
          = trait_score[:assessment_rating]
        .clr
      .divider1

      .overall_average
        %p.big-text
          Overall Average
        .divider1
        .snippet.including
          Including Self Rating: 
          = trait_score[:average_score_including_self][:bucket].present? ? trait_score[:average_score_including_self][:bucket] : "NA"
        .divider1
        .snippet.excluding
          Excluding Self Rating: 
          = trait_score[:average_score_excluding_self][:bucket].present? ? trait_score[:average_score_excluding_self][:bucket] : "NA"
        .divider1
  .right-sec.span17
    .divider2
    .caption.text-center
      Average Rating by Stakeholders
    .divider3
    - trait_score[:role_wise_scores].each do |role_wise_name, role_wise_score|
      .stakeholders-rating-snippet
        .stakeholders-name.pull-left
          = role_wise_name.titleize
        .stakeholders-rating-slider.pull-left 
          -@norm_buckets.each_with_index do |norm_bucket|
            .marker{:class => norm_bucket.name == role_wise_score[:bucket] ? 'active' : '' }
              -# add ".active" to ".marker"
              .arrow
              .score
                = norm_bucket.name
          .clr
          - klass = ''
          -@norm_buckets.each_with_index do |norm_bucket|
            - if norm_bucket.name == role_wise_score[:bucket]
              - klass = 'hide'
          .alert.alert-error{:class => klass}
            No Responses Yet
        .clr
        .divider3
  .clr
.divider1

