= form_tag import_from_google_drive_suitability_job_factor_norms_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload new factor norms
    = fields_for "import" do |f|
      = f.fields_for "file" do |f|
        %p
          Google Spreadsheet Url : 
          = f.text_field "url"
        %p
          Worksheet Names(separated by comma,keep empty to import all)
          = f.text_field "worksheets"
      %p
        Notification Email : 
        = f.text_field :email, :value => "notifications@jombay.com"

    .actions
      = submit_tag 'Upload Factor Norms'
