:ruby 
  unless defined? options
    options = {}
  end

= content_for :stylesheets do
  = stylesheet_link_tag 'lib/awesome-font'
  = stylesheet_link_tag 'recruiters/layout'
  = stylesheet_link_tag 'recruiters/shared/footer_no_column'
  


= content_for :jquery do
  = javascript_include_tag "lib/jquery-1.7.1.min"

= content_for :javascript_libs do
  = javascript_include_tag "lib/bootstrap/transition"
  = javascript_include_tag "lib/bootstrap/dropdown"
  = javascript_include_tag "lib/bootstrap/tab"
  = javascript_include_tag "lib/bootstrap/collapse"
  = javascript_include_tag "lib/bootstrap/modal"
  = javascript_include_tag "lib/jquery.timeago"
  = javascript_include_tag "lib/jquery.validate.1.9"
  = javascript_include_tag "lib/bootstrap.validate.overrides"
  = javascript_include_tag "lib/handlebars-1.0.0.beta.6"

= content_for :body do
  %div#wrapper
    - if content_for?(:main_header)
      = yield (:main_header)
    - else
      = render :partial => "recruiters/shared/header"

    - if content_for?(:notification_bar)
      = yield (:notification_bar)
    - else
      = render :partial => "recruiters/shared/notification_bar"
    
    - if content_for?(:content)
      = yield(:content)
    - else
      = yield

    - if content_for?(:footer)
      = yield (:footer)
    - else
      - cache([:main_footer, 12_12_2012].join(".")) do
        = render :partial => "recruiters/shared/footer"

    
= render :file => 'layouts/haml', :locals => {:options => {:body_class => "normal_header"}}

