- export_fields = YAML.load(File.read("#{Rails.root}/config/exports/suitability/report_summary.yml"))
.creat-test-show
  .span13.page-title.first
    .divider1
    AID  #{@assessment.id} - #{@assessment.name}
  - url = new_company_custom_assessment_path(:company_id => params[:company_id])
  = render :partial => "shared/create_custom_assessment_link", :locals => { :url => url}
  %a.btn.btn-warning.pull-right.big-text.big.span{ href: add_users_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
    Send this Assessment
  .clr
  .divider2

  = render :partial => "shared/suitability/user_sub_nav_#{@assessment.assessment_type}"
  .clr
  .padding-all1.border-warning.shifted-up1
    - if @user_assessments.present?
      .list-snippet-titles.extra-medium-text.clearfix.pull-left
        .span3.first
          = sort_link "ATID", reports_url, :id, params[:search]
        .span8
          = sort_link "Assessment Taker", reports_url, :name, params[:search]
        .span4
          Assessment Status 
        .clr
      - if is_superuser?
        .span4.pull-right
          %a.label.label-warning.label-small.small-text{ href: export_feedback_scores_url, }
            Export Feedback Scores
      .clr
      .divider1
      %ul
        - @user_assessments.each do |user_assessment|
          %li.list-snippet.medium-text
            .divider1
              - user_profile_url =  user_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id], :user_id => user_assessment.user_id)
            .span3.first
              %a{:href=> user_profile_url, :title => user_assessment.id} 
                = user_assessment.user_id 
            .span8            
              %a{:href=> user_profile_url } 
                = user_assessment.user.name
            .span10
              %a{:href=> user_profile_url, :title => user_assessment.completed_at}
                Completed as of
                #{htime(user_assessment.completed_at)} Hrs,
                #{hdate(user_assessment.completed_at)}
            .span
              - report = user_assessment.user_assessment_reports.first
              = render :partial => "suitability/custom_assessments/user_assessments/report_status/#{report.status}", locals: { report: report, user_assessment: user_assessment }
            .clr
      .divider2
      .pull-right
        %input.pull-left.btn.btn-warning.medium-text{id:"export_form", type: "submit", value: "Email Reports Summary" }
        .clr
      .clr
      .divider1
      .pull-right
        = form_tag trigger_report_downloader_url, method: :get do |f|
          .medium-text.pull-left.line-height2.bold
            %input{ name: "date_range", class: "daterangepicker" }
          .medium-text.pull-left
            &nbsp;&nbsp;&nbsp;
          %input.pull-left.btn.btn-warning.medium-text{ type: "submit", value: "Download PDF Reports" }
          .clr
      .clr
      .divider2
      .pull-right
        = render :partial => "shared/pagination", :locals => { :objects => @user_assessments}
      .clr
    - else
      .alert.medium-text
        No reports available! This can happen if no one has completely answered this assessment or if reports are still being generated.
  .divider3
- url = email_reports_company_custom_assessment_path(:company_id => params[:company_id], :id => params[:id])

- content_for :daterangepicker do
  .medium-text.pull-left.line-height2.bold
    %input{ name: "date_range", class: "daterangepicker" }
= render :partial => "shared/export_popup_box",:locals => {:fields => export_fields, :url => url }

- content_for :stylesheets do
  = stylesheet_link_tag "jquery-ui/jquery.comiseo.daterangepicker"
  = stylesheet_link_tag "jquery-ui/jquery-ui"
- content_for :jquery do
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs"
  = javascript_include_tag "suitability/reports"
  = javascript_include_tag "shared/export_popup"
    
    
