= javascript_include_tag 'jquery'
= javascript_include_tag 'jquery_ujs'

- template = @templates[0]
- content_for :email_partial do
  %span.extra-medium-text.span2.first.show
    Message
  .massage-body.italic.span15.medium-text
    - if template
      = template.preview(:body).html_safe
    - else
      - if params[:candidate_stage] == Vger::Resources::User::Stage::CANDIDATE
        = render :partial => "suitability/custom_assessments/user_assessments/mail_body_for_user"
      - else
        = render :partial => "suitability/custom_assessments/user_assessments/mail_body_for_employee"
  .clr

.send-reminder
  .page-title
    .divider1
    Send Reminder
  .divider3
  - url = send_reminder_to_user_url(@user, @user_assessment)
  = form_for @assessment, :as => :assessment, :url => url, multipart: true, method: :put, html: { class: "create-test-form", message: "Are you sure you want to send this reminder ?" } do |f|
    = render :partial => "shared/email_template", :locals => { :templates => @templates, :email_headline => "Following is the Preview of the email that Assessment takers will receive."}
    .clr
    .divider2
    %a.line-height3{:href=> request.env["HTTP_REFERER"], :title => "cancel"}
      Cancel
    %input.btn.btn-warning.large-text.pull-right{:type => "submit", :value => "Send"}
    .clr  

= javascript_include_tag 'add_users'
