%h1 All Suitability Recommendations
- if can? :create, "Suitability::Recommendation"
  = link_to "Manage Suitability Recommendation", manage_suitability_recommendations_path
.pagination.pull-right
  = paginate @recommendations        
.clr  
%table
  %tr
    %th
      ID
    %th
      UID
    %th
      Name
  - @recommendations.each do |recommendation|
    %tr 
      %td
        = recommendation.id
      %td
        = recommendation.body
      %td
        = recommendation.overall_fitment_grade.name
.pagination.pull-right
  = paginate @recommendations
.clr   
