%h1 All locations
- if can? :create, "Location"
  = link_to "Manage Locations", manage_locations_path  
  
.pagination.pull-right        
  = paginate @locations
.clr     

%table
  %tr
    %th ID
    %th Name
    %th Type
    %th Parent
  - for location in @locations do
    %tr
      %td 
        = location.id
      %td 
        = location.name
      %td 
        = location.location_type
      %td 
        = location.parent_id    

%br
.pagination.pull-right        
  = paginate @locations        
.clr     
