<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
%html
  %head
    = favicon_link_tag "favicon.ico"
    = yield :stylesheets
    = yield :jquery
    = yield :meta_tags
  %body
    = yield :body
    = yield :javascripts
    -# Block for page javascript.  Custom page js goes here.
    = yield :custom_javascripts
    = render :partial => "shared/preload_images"
