- content_for :stylesheets do
  = stylesheet_link_tag "companies"
  = stylesheet_link_tag "jq"
- content_for :footer do
  .divider3
  = render :partial => "shared/footer"
- content_for :content do
  .jq
    .container
      = yield
= render :file => 'layouts/jit'
