= form_tag controller.import_via_s3_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload #{controller.resource_name.humanize}
    = fields_for "import" do |f|
      = f.hidden_field :activation_host, value: Rails.application.config.domain['idp_url'].gsub("http://", '')
      %p
        XLS File
        = f.file_field "file"
      %p
        Company ID : 
        = f.text_field :company_id
  
    .actions
      = submit_tag "Upload #{controller.resource_name.humanize}"
