- content_for :stylesheets do
  = stylesheet_link_tag "training_requirements_report"  

.create-test.creat-test-show
  .inn.first
    .page-title.pull-left
      Test #{@assessment.id} - #{@assessment.name}
    %a.btn.pull-right{ href: add_candidates_company_assessment_path(:company_id => params[:company_id], :id => params[:id]) }
      .link-color Send This Test
  .clr
  .inn.gray-gradient
    .pull-left
      = render :partial => "shared/candidate-content-sub-nav"
    .span10.pull-right.text-right
      - if !@assessment.report_types.include?(Vger::Resources::Suitability::Assessment::ReportType::TRAINING_REQUIREMENT)
        %a.btn.btn-info.pull-right{:href => enable_training_requirements_report_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Enable Training Requirements Report for this test"}
          Enable Training Requirements Report
      - else
        - if @assessment_report && @assessment_report.status == Vger::Resources::Suitability::AssessmentReport::Status::UPLOADED
          %a.pull-right{:href => download_training_requirements_report_company_assessment_path(:company_id => params[:company_id], :id => params[:id], :format => :pdf), :title => "Download Training Requirements Report as PDF", target: "_blank"}
            Download a PDF version of Training Requirements Report    
    .clr
    .divider2
    - if @assessment.report_types.include?(Vger::Resources::Suitability::Assessment::ReportType::TRAINING_REQUIREMENT)
      - if @assessment_report && @assessment_report.report_data.present?
        .summary.padding-all1.clearfix
          .span
            %b.show.pull-left 
              Industry: 
            .span6
              = @assessment.industry.name rescue '-'
          .span
            %b.show.pull-left 
              Functional Area: 
            .span6
              = @assessment.functional_area.name rescue '-'
          .span
            %b.show.span
              Experience Level: 
            .span 
              = @assessment.job_experience.display_text rescue '-'
        .divider1
        .pull-left.medium-text
          Results last updated: #{htime @assessment.updated_at} Hrs, #{hdate @assessment.updated_at}
        .pull-right.text-right
          %b.medium-text Training Requirements Sent: 
          %b.large-text #{@company.assessmentwise_statistics[:sent][@assessment.id.to_s] rescue 0}
          %span.left-offset1
            %b.medium-text Training Requirements Taken: 
            %b.large-text #{@company.assessmentwise_statistics[:completed][@assessment.id.to_s] rescue 0}
        .clr.divider1
        .training_requirements_report
          .graph
            = render :partial => "shared/reports/training_requirements/h_graph"
          .divider1  
          - factor_scores = @assessment_report.report_data[:factor_scores]
          - factor_scores = Hash[factor_scores.keys[0..9].map{|key| [key,factor_scores[key]] }]
          = render :partial => "shared/reports/training_requirements/factor_scores", :locals => { :factor_scores => factor_scores }
          .divider3
      - else
        .alert-info.padding-all1
          %b{ class: "medium-text", style: "color: black;" }
            Training Requirements calculation is in progress.
    - else
      .alert-info.padding-all1
        %b{ class: "medium-text", style: "color: black;" }
          Training Requirements calculation hasn't been enabled for this test. Please use the button above or to enable it 
          %a{:href => enable_training_requirements_report_company_assessment_path(:company_id => params[:company_id], :id => params[:id]), :title => "Edit Test"}
            click here 
