= form_tag import_from_google_drive_suitability_norm_buckets_path, multipart: true, :method => :post do
  %fieldset
    %legend 
      %strong Upload new suitability norm buckets
    = fields_for "import" do |f|
      = f.fields_for "file" do |f|
        %p
          Google Spreadsheet Url : 
          = f.text_field "url"
        %p
          Worksheet Names(separated by comma,keep empty to import all)
          = f.text_field "worksheets", :value => ''
      %p
        Notification Email : 
        = f.text_field :email, :value => "product@jombay.com"

    .actions
      = submit_tag 'Upload Suitability norm buckets'
